<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Create Audit Report
                                <div class="page-title-subheading">Capture Audit Details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Create Audit Report</h5>
                            <form id="auditForm" class="col-md-10 mx-auto" method="get" th:action="@{/audit-trails/}" >
                                <div class="form-group">
                                    <label for="username"><span style="color: red">* </span>User Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="entityName"><span style="color: red">* </span>Entity Name</label>
                                    <select name="entityName" id="entityName" class="form-control" required>
                                        <option value="">Select</option>
                                        <option th:each="entityName: ${classes}"
                                                th:text="${entityName.getSimpleName()}"
                                                th:value="${entityName.getSimpleName()}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a type="button" class="btn btn-primary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card" th:if="${audits}">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Audit Report</h5>
                            <div class="row" id="revisions">
                                <div class="col-md-12">
                                    <table class="mb-0 table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Entity Name</th>
                                            <th>Activities</th>
                                            <!--<th>Revision</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="auditable : ${audits}">
                                            <!--<td>Entity Name</td>
                                            <td>User Name</td>
                                            <td>TimeStamp</td>-->
                                            <td th:text="${username}"></td>
                                            <td th:text="${auditable.getEntityName()}"></td>
                                            <td th:text="${auditable.getAuditableAttributesString()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script>
    $("#reports-link").addClass("mm-active");
    $("#reports-link-roles").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
