<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

    <style>
        .rep_problem-title {
            font-size: 30px;
        }

        .ph1-consumer-report .rep_problem-title, .ph1-merchant-report .rep_problem-title {
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #2c2e2f;
            margin: 0;
            padding-bottom: 26px;
        }

        h1, .vx_text-1 {
            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: 300;
            text-transform: none;
            font-family: 'PayPal-Sans-Big', sans-serif;
        }
        </style>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">

                <div class="col-md-12" th:if="${message}">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="rep_problem-title vx_text-1" th:text="${message}"></h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" th:unless="${message}">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="text-center">
                                <!--<h4 class="rep_problem-title vx_text-1">ZEEPAY, switching you to financial flexibility.</h4>-->
                                <img src="/zpas/images/zeepay_banner.jpg" alt="Zeepay Banner" width="50%" height="60%">

                            </div>
                        </div>
                    </div>
                </div>
                <!--
                ###=================================================================================================###
                //    _____       _           _ _
//   |  __ \     | |         | | |
//   | |__) |   _| |_    __ _| | |  _   _  ___  _   _ _ __   _ __   __ _  __ _  ___
//   |  ___/ | | | __|  / _` | | | | | | |/ _ \| | | | '__| | '_ \ / _` |/ _` |/ _ \
//   | |   | |_| | |_  | (_| | | | | |_| | (_) | |_| | |    | |_) | (_| | (_| |  __/
//   |_|    \__,_|\__|  \__,_|_|_|  \__, |\___/ \__,_|_|    | .__/ \__,_|\__, |\___|
//                                   __/ |                  | |           __/ |
//                    _             |___/ _         _   _   |_|          |___/      _   _
//                   | |           | |   (_)       | | | |   (_)                   | | (_)
//     ___ ___  _ __ | |_ ___ _ __ | |_   _ _ __   | |_| |__  _ ___   ___  ___  ___| |_ _  ___  _ __
//    / __/ _ \| '_ \| __/ _ \ '_ \| __| | | '_ \  | __| '_ \| / __| / __|/ _ \/ __| __| |/ _ \| '_ \
//   | (_| (_) | | | | ||  __/ | | | |_  | | | | | | |_| | | | \__ \ \__ \  __/ (__| |_| | (_) | | | |
//    \___\___/|_| |_|\__\___|_| |_|\__| |_|_| |_|  \__|_| |_|_|___/ |___/\___|\___|\__|_|\___/|_| |_|
//
//
                ###=================================================================================================###
                -->
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
