<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Digital Signature
                                <div class="page-title-subheading">
                                    Additional security provisions
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!--<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                                    class="btn-shadow mr-3 btn btn-dark">
                                <i class="fa fa-star"></i>
                            </button>-->
                            <div class="d-inline-block">
                                <button type="button" class="btn-shadow btn btn-primary" data-toggle="modal"
                                        data-target="#createElectronicSignatureModal">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    New Signature
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Purpose</th>
                                <th>Copy Duplicate Code</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="electronicSignature :${electronicSignatures}"
                                th:id="'row'+${electronicSignature.getId()}">
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                            title="View" onclick="viewModal(this.id)"
                                            th:id="${electronicSignature.getId()}">
                                        <i class="fa fa-eye"></i></button>
                                </td>
                                <td th:id="'name'+${electronicSignature.getId()}"
                                    th:text="${electronicSignature.getRelatedDocument().getPurpose()}"></td>
                                <td th:text="${electronicSignature.getRelatedDocument().getCopyDuplicate()}"></td>
                                <td th:id="'status'+${electronicSignature.getId()}"
                                    th:text="${electronicSignature.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                <td th:text="${formatter.format(electronicSignature.getDateCreated())}"></td>
                                <td>
                                    <span th:if="${electronicSignature.getEntityStatus().name() != 'DELETED'}">
                                        <!--<button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                title="Edit" onclick="edit_college(this.id)"
                                                th:id="'EditBtn'+${electronicSignature.getId()}">
                                            <i class="fa fa-edit"></i></button>-->

                                       <span th:if="${electronicSignature.getEntityStatus().name() != 'ACTIVE'}">
                                            <button type="button" class="btn btn-primary"
                                                    th:id="'ApproveBtn'+${electronicSignature.getId()}"
                                                    data-toggle="tooltip"
                                                    title="Approve" onclick="approve_college(this.id)">
                                        <i class="fa fa-check"></i></button>
                                       </span>

                                        <span th:if="${electronicSignature.getEntityStatus().name() != 'DISAPPROVED'}">
                                            <button type="button" class="btn btn-warning" data-toggle="tooltip"
                                                    title="Disapprove"
                                                    th:id="'RejectBtn'+${electronicSignature.getId()}"
                                                    onclick="reject_college(this.id)">
                                                <i class="fa fa-window-close"></i></button>
                                        </span>


                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
                                            th:id="'DeleteBtn'+${electronicSignature.getId()}"
                                            onclick="delete_college(this.id)"><i
                                            class="fa fa-trash"></i></button>
                                    </span>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Create Electronic Signature Modal -->
<div class="modal fade" id="createElectronicSignatureModal" tabindex="-1" role="dialog"
     aria-labelledby="createElectronicSignatureModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Electronic Signature</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<h6 class="modal-title"><strong>New Electronic Signature</strong></h6>-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical"
                              action="/zpas/electronicsignature">
                            <ul class="forms-wizard">

                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Document</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Contact Address</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-8">
                                        <em>4</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="fiFormElements" class="form-wizard-content">

                                <div id="step-2">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               id="signedIndicator" name="signedIndicator">
                                                        <label for="signedIndicator">Signed Indicator</label>
                                                        <div class="valid-feedback">Sweet! that name is available</div>
                                                        <small class="form-text text-muted">Indication whether the
                                                            document must be signed or not.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="documentPurpose">Purpose</label>
                                                    <input id="documentPurpose" required name="documentPurpose"
                                                           type="text" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Specifies the function of the
                                                        document.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="documentVersion">Version</label>
                                                    <input id="documentVersion" required name="documentVersion"
                                                           type="text" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Unambiguous identification of
                                                        the version of a document.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="copyDuplicateCode">Copy Duplicate Code</label>
                                                    <select name="copyDuplicateCode" id="copyDuplicateCode"
                                                            class="form-control">
                                                        <option th:each="copyDuplicateCode: ${copyDuplicateCodes}"
                                                                th:value="${copyDuplicateCode.name()}"
                                                                th:text="${copyDuplicateCode.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Specifies if this document is a
                                                        copy, a duplicate, or a duplicate of a copy.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="documentTypeCode">Copy Duplicate Code</label>
                                                    <select name="documentTypeCode" id="documentTypeCode"
                                                            class="form-control">
                                                        <option th:each="documentTypeCode: ${documentTypeCodes}"
                                                                th:value="${documentTypeCode.name()}"
                                                                th:text="${documentTypeCode.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Specifies the type of the
                                                        document, for example commercial invoice.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="dataSetTypeCode">DataSet Type Code</label>
                                                    <select name="dataSetTypeCode" id="dataSetTypeCode"
                                                            class="form-control">
                                                        <option th:each="dataSetTypeCode: ${dataSetTypeCodes}"
                                                                th:value="${dataSetTypeCode.name()}"
                                                                th:text="${dataSetTypeCode.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Unambiguous identification of
                                                        the version of a document.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="languageCode">Language Code</label>
                                                    <select name="languageCode" id="languageCode" class="form-control">
                                                        <option th:each="languageCode: ${languageCodes}"
                                                                th:value="${languageCode.name()}"
                                                                th:text="${languageCode.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Language used for textual
                                                        information in the document.
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="addressType">Address Type</label>
                                                    <select name="addressType" id="addressType" class="form-control">
                                                        <option th:each="addressType: ${addressTypes}"
                                                                th:value="${addressType.name()}"
                                                                th:text="${addressType.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Specifies the type of address.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="streetName">Street Name</label>
                                                    <input id="streetName" required name="streetName" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Name of a street or
                                                        thoroughfare.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="streetBuildingIdentification">Building
                                                        Identification</label>
                                                    <input id="streetBuildingIdentification" required
                                                           name="streetBuildingIdentification" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Number that identifies the
                                                        position of a building on a street.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="townName">Town Name</label>
                                                    <input id="townName" required name="townName" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Name of a built-up area, with
                                                        defined boundaries, and a local government.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="state">State</label>
                                                    <input id="state" required name="state" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Organised political community or
                                                        area forming a part of a federation.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="buildingName">Building Name</label>
                                                    <input id="buildingName" required name="buildingName" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Name of the building or house.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="floor">Floor</label>
                                                    <input id="floor" required name="floor" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Floor or storey within a
                                                        building.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="districtName">District Name</label>
                                                    <input id="districtName" name="districtName" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Name of a district, ie, a part
                                                        of a town or region.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="province">Province</label>
                                                    <input id="province" name="province" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">A territory governed as an
                                                        administrative or political unit of a country.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="countryName">Country Name</label>
                                                    <input id="countryName" name="countryName" type="text"
                                                           class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Name by which a country is
                                                        known. It is normally the name attached to the ISO country code.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-8">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Finished!</div>
                                        <div class="results-title">You arrived at the last form wizard step!
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                    <!--
                                                                        <div class="validation-error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</div>
                                    -->
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Edit ElectronicSignature Modal -->
<div class="modal fade" id="editElectronicSignatureModal" tabindex="-1" role="dialog"
     aria-labelledby="editElectronicSignatureModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Electronic Signature</strong></h6>
                <form class="" method="post" name="editElectronicSignatureForm" id="editElectronicSignatureForm"
                      th:action="@{/electronicsignature/edit}" th:object="${electronicSignature}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="editName">Name</label>
                                    <input type="text" class="form-control" id="editName" name="name" required>
                                    <small class="form-text text-muted">Name of the college (Grouping of the
                                        signatories)
                                    </small>
                                </div>
                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" th:id="editButtonSubmit"
                                                class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="modal fade" id="viewModalDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Electronic Signature Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!--<div class="row">
                <div class="col-md-8">

                <h5 class="modal-title"><strong>Electronic Signature Details</strong></h5>
                </div>
                </div>-->


                <div class="row">
                    <div class="col-md-8">
                        <div id="accordion" class="accordion-wrapper mb-3">
                            <div class="card">
                                <div id="partyRoleHeading" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#partyRole"
                                            aria-expanded="false" aria-controls="partyRole"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Contact Address</h5></button>
                                </div>
                                <div data-parent="#accordion" id="partyRole" class="collapse">
                                    <div class="card-body">
                                        <div class="row">
                                            <table class="mb-0 table table-bordered">
                                                <tr>
                                                    <th>Address Type</th>
                                                    <td id="addressTypeTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Street Name</th>
                                                    <td id="streetNameTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Street Building Identification</th>
                                                    <td id="streetBuildingIdentificationTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Town Name</th>
                                                    <td id="townNameTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>State</th>
                                                    <td id="stateTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Building Name</th>
                                                    <td id="buildingNameTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Floor</th>
                                                    <td id="floorTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>District Name</th>
                                                    <td id="districtNameTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Province</th>
                                                    <td id="provinceTemp"></td>
                                                </tr>
                                                <tr>
                                                    <th>Country Name</th>
                                                    <td id="countryNameTemp"></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="signatureConditionHeading" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#signatureCondition"
                                            aria-expanded="false" aria-controls="signatureCondition"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Signature Condition</h5></button>
                                </div>
                                <div data-parent="#accordion" id="signatureCondition" class="collapse">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--<table class="mb-0 table table-bordered">
                                                    <tr>
                                                        <th>Contract Description</th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="tooltip"
                                                                    title="Edit"
                                                                    onclick="edit_accountcontract(this.id)"
                                                                    th:id="'EditBtn'">
                                                                <i class="fa fa-edit"></i></button>
                                                        </td>
                                                    </tr>

                                                </table>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="generalInformationHeading" class="card-header">
                                    <button type="button" data-toggle="collapse"
                                            data-target="#generalInformation"
                                            aria-expanded="true" aria-controls="generalInformation"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Document Information</h5>
                                    </button>
                                </div>
                                <div data-parent="#accordion" id="generalInformation"
                                     aria-labelledby="generalInformationHeading" class="collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="mb-0 table table-bordered">
                                                    <tr>
                                                        <th>Purpose</th>
                                                        <td id="documentPurposeTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Copy Duplicate Code</th>
                                                        <td id="copyDuplicateCodeTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Document Type Code</th>
                                                        <td id="documentTypeCodeTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Signed Indicator</th>
                                                        <td id="signedIndicatorTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Language Code</th>
                                                        <td id="languageCodeTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>DataSet Type Code</th>
                                                        <td id="dataSetTypeCodeTemp"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Version</th>
                                                        <td id="documentVersionTemp"></td>
                                                    </tr>

                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="card">
                                <div id="periodHeading" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#period"
                                            aria-expanded="false" aria-controls="period"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Period</h5></button>
                                </div>
                                <div data-parent="#accordion" id="period" aria-labelledby="periodHeading"
                                     class="collapse">
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12"
                                                         th:each="period: ${cashAccountMandate.getValidityPeriod()}">
                                                        <table class="mb-0 table table-bordered">
                                                            <tr>
                                                                <th>From</th>
                                                                <td th:text="${formatter.format(period.getFromDateTime())}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>To</th>
                                                                <td th:text="${formatter.format(period.getToDateTime())}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>
</div>
</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script>
    $("#signatories-link").addClass("mm-active");
</script>
<script>

    function viewModal(id) {

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/electronicsignature/ajaxRequest/" + id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data);
                    $("#documentPurposeTemp").text(data.object.documentPurpose);
                    $("#copyDuplicateCodeTemp").text(data.object.copyDuplicateCode);
                    $("#documentTypeCodeTemp").text(data.object.documentTypeCode);
                    $("#signedIndicatorTemp").text(data.object.signedIndicator);
                    $("#languageCodeTemp").text(data.object.languageCode);
                    $("#dataSetTypeCodeTemp").text(data.object.dataSetTypeCode);
                    $("#documentVersionTemp").text(data.object.documentVersion);
                    $("#addressTypeTemp").text(data.object.addressType);
                    $("#streetBuildingIdentificationTemp").text(data.object.streetBuildingIdentification);
                    $("#streetNameTemp").text(data.object.streetName);
                    $("#townNameTemp").text(data.object.townName);
                    $("#stateTemp").text(data.object.state);
                    $("#buildingNameTemp").text(data.object.buildingName);
                    $("#floorTemp").text(data.object.floor);
                    $("#districtNameTemp").text(data.object.districtName);
                    $("#provinceTemp").text(data.object.province);
                    $("#countryNameTemp").text(data.object.countryName);
                }
                $('#viewModalDetails').modal('show');
            },
            error: function (e) {
                console.log("ERROR : ", e);
                $('#viewModalDetails').modal('show');
            }
        });

    }

    function edit_college(final_id) {
        var id = final_id.replace(/EditBtn/g, '');
        console.log('The reject id is ' + final_id);

        console.log('Edit college id ' + id);
        var collegeName = $("#name" + id).text();


        $("#editId").val(id);
        $("#editName").val(collegeName);
        $('#editElectronicSignatureModal').modal('show');
    }

    function fire_ajax_submit() {

        var search = {};
        search["username"] = $("#username").val();

        // $("#btn-search").prop("disabled", true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/zpas/api/search",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            },
            error: function (e) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + e.responseText + "</pre>";
                $('#feedback').html(json);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);

            }
        });

    }

    function approve_college(id) {
        var final_id = id.replace(/ApproveBtn/g, '');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/electronicsignature/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#ApproveBtn' + final_id).hide();
                    $('#RejectBtn' + final_id).show();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_college(id) {
        var final_id = id.replace(/RejectBtn/g, '');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/electronicsignature/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#ApproveBtn' + final_id).show();
                    $('#RejectBtn' + final_id).hide();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_college(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/electronicsignature/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $("#row" + final_id).remove();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editElectronicSignatureForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/electronicsignature/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        $('#status' + response.object.id).text(response.object.entityStatus.replace(/_/g, ' '));
                        $('#name' + response.object.id).text(response.object.name);
                    } else {
                        //Notification
                    }
                    $('#editElectronicSignatureModal').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>


</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
