<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Create User Profile
                                <div class="page-title-subheading">Capture Profile details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <span id="userRoleLevelSpan" style="display: none;" th:text="${session.highestUserRoleLevel}"></span>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Create Profile</h5>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="/zpas/profile" th:object="${profile}">
                                <div class="form-group"
                                     th:if="${T(zw.co.esolutions.zpas.utilities.enums.RoleLevel).CLIENT.name().equals(session.highestUserRoleLevel)}">
                                </div>
                                <div class="form-group"
                                     th:unless="${T(zw.co.esolutions.zpas.utilities.enums.RoleLevel).CLIENT.name().equals(session.highestUserRoleLevel)}">
                                    <label for="profileLevel">Profile Level</label>
                                    <select name="profileLevel" id="profileLevel" class="form-control" required>
                                        <option value="">Select</option>
                                        <option th:each="profileLevel: ${profileLevels}"
                                                th:value="${profileLevel.name()}"
                                                th:text="${profileLevel.name().replace('_', ' ')}"></option>
                                    </select>
                                </div>

                                <div id="financialInstitutionDiv" style="display: none" class="form-group"
                                     th:if="${T(zw.co.esolutions.zpas.utilities.enums.RoleLevel).SYSTEM.name().equals(session.highestUserRoleLevel)}">
                                    <label for="financialInstitution">Financial Institution</label>
                                    <select id="financialInstitution" name="financialInstitutionId"
                                            class="form-control">
                                        <option value="">Select</option>
                                        <option th:each="financialInstitution: ${financialInstitutions}"
                                                th:value="${financialInstitution.getId()}"
                                                th:text="${financialInstitution.getName()}"></option>
                                    </select>
                                </div>

                                <div class="form-group" id="searchPersonDiv">
                                    <label for="person">Profile Person</label>
                                    <select name="personId" id="person" class="form-control" required>
                                        <!--<option value="AK">Alaska</option>-->
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="firstNames">First names</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstNames" name="firstNames"
                                               placeholder="First names"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="lastName">Last name</label>
                                    <div>
                                        <input type="text" class="form-control" id="lastName" name="lastName"
                                               placeholder="Last name"/>
                                    </div>
                                </div>

                                <!--
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div>
                                        <input type="text" class="form-control" id="username" name="username"
                                               placeholder="Username"/>
                                        <small id="usernameInfo" class="text-success"></small>
                                        <small id="usernameError" class="text-danger"></small>
                                    </div>
                                </div>
                                -->

                                <div class="form-group">
                                    <label for="email">Email <span class="text-warning"><i>Your email is also your username.</i></span></label>
                                    <div>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
                                        <small id="emailError" class="text-danger"></small>
                                        <small id="emailInfo" class="text-success"></small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="phoneNumber">Phone number</label>
                                    <div>
                                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                               placeholder="Phone number"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="mobileNumber">Mobile number</label>
                                    <div>
                                        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                                               placeholder="Mobile number"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="userRoles">User roles</label>
                                    <div>
                                        <select multiple="multiple" class="multiselect-dropdown form-control"
                                                id="userRoles" name="userRoles">
                                            <option th:each="role: ${roles}" th:value="${role.getId()}"
                                                    th:text="${role.getName().replace('_', ' ')}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button id="submitButton" type="submit" disabled class="btn btn-primary">Submit</button>

                                    <a type="button" th:href="'/zpas/profile/manage'" class="btn btn-primary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/profile/profile.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
