<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>View User Profile
                                <div class="page-title-subheading">View User Profile
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Profile Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/profile/manage}">
                                                <i class="nav-link-icon lnr-list"></i>
                                                <span>
                                                        Manage Profiles
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${profile}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <a href="#" id="profileActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right">
                                    <button sec:authorize="hasAuthority('ROLE_DISABLE_PROFILE')" th:if="${profile.enabled}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="disableProfileTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Disable
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_ENABLE_PROFILE')" th:if="${not profile.enabled}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="enableProfileTriggerButton"
                                            class="mb-2 mr-2 btn btn-success">Enable
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_UNLOCK_PROFILE')" th:if="${profile.locked}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="unlockProfileTriggerButton"
                                            class="mb-2 mr-2 btn btn-warning">Unlock
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_APPROVE_PROFILE')"
                                            th:if="${profile.canBeApproved()}"
                                            type="button" class="btn mr-2 mb-2 btn-primary" role="button"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="approveProfileTriggerButton">
                                        Approve
                                    </button>
                                    <button type="button" class="btn mr-2 mb-2 btn-primary" role="button"
                                            data-toggle="modal" data-target="#editProfileDetails" id="editProfileButton">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Profile View</h5>
                        <span style="display: none;" id="profileIdSpan" th:text="${profile.getId()}"></span>
                        <span style="display: none;" id="profileNameSpan" th:text="${profile.getFirstNames() + ' ' + profile.getLastName()}"></span>
                        <span class="pull-right"></span>
                        <div class="row">
                            <div class="col-md-8">
                                <table class="mb-0 table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>First Names</th>
                                        <td th:id="'firstNames' + ${profile.getId()}" th:text="${profile.firstNames}"></td>
                                    </tr>

                                    <tr>
                                        <th>Last Name</th>
                                        <td th:id="'lastName' + ${profile.getId()}" th:text="${profile.lastName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Email</th>
                                        <td th:id="'email' + ${profile.getId()}" th:text="${profile.email}"></td>
                                    </tr>

                                    <tr>
                                        <th>Username</th>
                                        <td th:id="'username' + ${profile.getId()}" th:text="${profile.username}"></td>
                                    </tr>

                                    <tr>
                                        <th>Mobile Number</th>
                                        <td th:id="'mobileNumber' + ${profile.getId()}" th:text="${profile.mobileNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Phone Number</th>
                                        <td th:id="'phoneNumber' + ${profile.getId()}" th:text="${profile.phoneNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Profile Type</th>
                                        <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(profile.profileType)}"></td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td th:id="'status' + ${profile.getId()}" th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(profile.status)}"></td>
                                    </tr>

                                    <tr>
                                        <th>Date Created</th>
                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(profile.dateCreated))}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-dark">Roles</h5>
                                <ol th:if="${profile.userRoles}">
                                    <li th:each="role: ${profile.userRoles}" th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(role.getName())}"></li>
                                </ol>
                                <h5 class="text-dark">Employers</h5>
                                <ol th:if="${employers}">
                                    <li th:each="employer: ${employers}" th:text="${employer.getName()}"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<div class="modal fade" id="editProfileDetails" tabindex="-1" role="dialog" aria-labelledby="editProfileDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Person Name Details</strong></h6>
                <form class="" method="post" name="editProfileDetailForm" id="editProfileDetailForm"
                      th:action="@{/profile/edit}" th:object="${profile}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editFirstNames">First Names</label>
                                        <input type="text" class="form-control" id="editFirstNames" name="firstNames"
                                               required>
                                        <small class="form-text text-muted"> First Names
                                        </small>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editLastName">Last Name</label>
                                        <input type="text" class="form-control" id="editLastName" name="lastName"
                                               required>
                                        <small class="form-text text-muted"> Last Name
                                        </small>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editEmail">Email</label>
                                        <input type="email" class="form-control" id="editEmail" name="email" required>
                                        <small class="form-text text-muted"> Email
                                        </small>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editUsername">Username</label>
                                        <input type="text" class="form-control" id="editUsername" name="username"
                                               required>
                                        <small class="form-text text-muted"> Username
                                        </small>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editMobileNumber">Mobile Number</label>
                                        <input type="number" class="form-control" id="editMobileNumber"
                                               name="mobileNumber" required>
                                        <small class="form-text text-muted"> Mobile Number
                                        </small>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editPhoneNumber">Phone Number</label>
                                        <input type="number" class="form-control" id="editPhoneNumber"
                                               name="phoneNumber" required>
                                        <small class="form-text text-muted"> Phone Number
                                        </small>
                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm" data-dismiss="modal">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#profiles-link").addClass("mm-active");
    $("#profiles-link-users").addClass("mm-active");


    $("#disableProfileTriggerButton").on("click", function() {
        var profileId = $("#profileIdSpan").text();
        var profileName = $("#profileNameSpan").text();
        $("#confirmationMessage").html("<b>You are about to disable profile for "
            + profileName + " </b><br><br><b>Are you sure?</b>");
        $("#actionSpan").text("disable");
    });

    $("#enableProfileTriggerButton").on("click", function() {
        var profileId = $("#profileIdSpan").text();
        var profileName = $("#profileNameSpan").text();
        $("#confirmationMessage").html("<b>You are about to enable profile for "
            + profileName + " </b><br><br><b>Are you sure?</b>");
        $("#actionSpan").text("enable");
    });

    $("#unlockProfileTriggerButton").on("click", function() {
        var profileId = $("#profileIdSpan").text();
        var profileName = $("#profileNameSpan").text();
        $("#confirmationMessage").html("<b>You are about to unlock profile for "
            + profileName + " </b><br><br><b>Are you sure?</b>");
        $("#actionSpan").text("unlock");
    });

    $("#approveProfileTriggerButton").on("click", function() {
        var profileId = $("#profileIdSpan").text();
        var profileName = $("#profileNameSpan").text();
        $("#confirmationMessage").html("<b>You are about to approve profile for "
            + profileName + " </b><br><br><b>Are you sure?</b>");
        $("#actionSpan").text("approve");
    });

    $("#rejectPaymentTriggerButton").on("click", function() {
        var profileId = $("#profileIdSpan").text();
        var profileName = $("#profileNameSpan").text();
        $("#confirmationMessage").html("<b style='color: red'>You are about to reject profile for "
            + profileName + " </b><br><br><b style='color: red'>Are you sure?</b>");
        $("#actionSpan").text("reject");
    });




    $("#confirmActionButton").on("click", function() {
        var requestedAction = $("#actionSpan").text();
        switch (requestedAction) {
            case "disable":
                disableProfile();
                break;
            case "enable":
                enableProfile();
                break;
            case "unlock":
                unlockProfile();
                break;
            case "approve":
                approveProfile();
                break;
            case "reject":
                rejectProfile();
                break;
        }
    });


    function disableProfile() {
        var paymentId = $("#profileIdSpan").text();
        var rejectProfileLink = "/zpas/profile/disable/" + profileId;
        var actionLink = $("#profileActionLink");
        actionLink.prop("href", rejectProfileLink);
        actionLink.find("span").click();
    }

    function enableProfile() {
        var profileId = $("#profileIdSpan").text();
        var enableProfileLink = "/zpas/profile/enable/" + profileId;
        var actionLink = $("#profileActionLink");
        actionLink.prop("href", enableProfileLink);
        actionLink.find("span").click();
    }

    function unlockProfile() {
        var profileId = $("#profileIdSpan").text();
        var unlockProfileLink = "/zpas/profile/unlock/" + profileId;
        var actionLink = $("#profileActionLink");
        actionLink.prop("href", unlockProfileLink);
        actionLink.find("span").click();
    }

    function approveProfile() {
        var profileId = $("#profileIdSpan").text();
        var enableProfileLink = "/zpas/profile/approve/" + profileId;
        var actionLink = $("#profileActionLink");
        actionLink.prop("href", enableProfileLink);
        actionLink.find("span").click();
    }

    function rejectProfile() {
        var profileId = $("#profileIdSpan").text();
        var unlockProfileLink = "/zpas/profile/unlock/" + profileId;
        var actionLink = $("#profileActionLink");
        actionLink.prop("href", unlockProfileLink);
        actionLink.find("span").click();
    }
</script>
<script th:inline="javascript">

    $("#editProfileButton").on("click", function() {
        var id = $("#profileIdSpan").text();

        console.log('profile id ' + id);

        $("#editId").val(id);

        //Getting the birth name from the view
        var firstNames = $("#firstNames" + id).text();
        var lastName = $("#lastName" + id).text();
        var email = $("#email" + id).text();
        var username = $("#username" + id).text();
        console.log("Username:" + username);
        var mobileNumber = $("#mobileNumber" + id).text();
        var phoneNumber = $("#phoneNumber" + id).text();

        //Setting the birth name in thr modal form
        $("#editFirstNames").val(firstNames);
        $("#editLastName").val(lastName);
        $("#editEmail").val(email);
        $("#editUsername").val(username);
        $("#editMobileNumber").val(mobileNumber);
        $("#editPhoneNumber").val(phoneNumber);
    });

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editProfileDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/profile/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#firstNames' + response.object.id).text(response.object.firstNames);
                        $('#lastName' + response.object.id).text(response.object.lastName);
                        $('#email' + response.object.id).text(response.object.email);
                        $('#username' + response.object.id).text(response.object.username);
                        $('#mobileNumber' + response.object.id).text(response.object.mobileNumber);
                        $('#phoneNumber' + response.object.id).text(response.object.phoneNumber);
                        $('#status' + response.object.id).text(response.object.status);

                    } else {
                        //Notification
                    }
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
