<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Account Update</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Update Account
                                <div class="page-title-subheading">Update Account Details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <!--<h5 class="card-title">Create Currency</h5>-->
                            <form id="accountForm" class="col-md-10 mx-auto" th:action="@{/accounts/update/{id}(id=${cashAccount.id})}" th:object="${cashAccount}" method="post">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="number">Account Number <span
                                                    style="color: #ff1428">*</span></label>
                                            <input name="number" id="number" type="text" class="form-control" th:value="${cashAccount.identification.number}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="name">Account Name <span
                                                    style="color: #ff1428">*</span></label>
                                            <input name="name" id="name" type="text" class="form-control" th:value="${cashAccount.identification.name}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label th:for="cashAccountType">Account Type <span
                                                    style="color: #ff1428">*</span></label>
                                            <select name="cashAccountType" id="cashAccountType"
                                                    class="form-control">
                                                <option th:value="${cashAccount.cashAccountType}" th:text="${cashAccount.cashAccountType}"></option>
                                                <option th:each="cashAccountType: ${cashAccountTypeCodes}"
                                                        th:value="${cashAccount.cashAccountType}"
                                                        th:text="${cashAccountType.name()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label th:for="level">Account Level <span
                                                    style="color: #ff1428">*</span></label>
                                            <select name="level" id="level"
                                                    class="form-control">
                                                <option th:value="${cashAccount.level}" th:text="${cashAccount.level}"></option>
                                                <option th:each="accountLevel: ${accountLevelCodes}"
                                                        th:value="${accountLevel}"
                                                        th:text="${accountLevel.name()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="virtualCode">Virtual Code <span style="color: #ff1428">*</span></label>
                                            <input name="virtualCode" id="virtualCode" type="text" th:value="${cashAccount.virtualCode}" class="form-control">
                                            <small id="virtualCodeInfoErrors" class="form-text text-danger">Virtual Id is required.</small>
                                            <small id="virtualCodeInfo" class="form-text text-success"></small>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="purpose">Account Purpose</label>
                                            <input name="purpose" id="purpose" type="text" th:value="${cashAccount.purpose}" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="bBAN">BBAN</label>
                                            <input name="bBAN" id="bBAN" placeholder="Basic Bank Acc No." type="text"
                                                   th:value="${cashAccount.identification.BBAN}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="iBAN">IBAN <span
                                                    style="color: #ff1428">*</span></label>
                                            <input name="iBAN" id="iBAN" placeholder="International Bank Acc No." type="text"
                                                   th:value="${cashAccount.identification.IBAN}" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="baseCurrency">Base Currency </label>
                                            <select name="baseCurrency" id="baseCurrency"
                                                    class="form-control">
                                                <option th:value="${cashAccount.baseCurrency.getCodeName()}" th:text="${cashAccount.baseCurrency.getCodeName()}"></option>
                                                <option th:each="currency: ${currencies}"
                                                        th:value="${currency.getCode()}"
                                                        th:text="${currency.getCode()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a th:href="@{/accounts/view/{id}(id=${cashAccount.id})}" class="btn btn-warning">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" src="/zpas/js/account/create_account.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
