<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>View Account</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <span style="display: none" th:id="'cashAccountId'" th:text="${cashAccount.id}"></span>
                            <div><span th:text="${accountOwnerName}"></span>'s Account
                                <div class="page-title-subheading">Account to or from which a cash entry is made.</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary" th:href="@{/clients/details/{id}(id=${accountOwnerId})}">
                                        <span>
                                            <i class="fa fa-history"></i>
                                        </span> Account Owner Details
                                </a>
                                <a class="btn btn-primary"
                                   sec:authorize="hasAuthority('ROLE_UPDATE_ACCOUNT')"
                                   th:href="@{/accounts/edit/{id}(id=${cashAccount.id})}">
                                        <span>
                                            <i class="fa fa-pen"></i>
                                        </span> Edit
                                </a>
                                <a class="btn btn-primary"
                                   sec:authorize="hasAuthority('ROLE_APPROVE_ACCOUNT')"
                                   th:if="${cashAccount.getStatus().getStatus().equals(T(zw.co.esolutions.zpas.enums.AccountStatusCode).Pending)}"
                                   th:href="@{/accounts/approve/{id}(id=${cashAccount.id})}">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span> Approve
                                </a>
                                <a class="btn btn-warning"
                                   sec:authourize="hasAuthority('ROLE_REJECT_ACCOUNT')"
                                   th:if="${cashAccount.getStatus().getStatus().equals(T(zw.co.esolutions.zpas.enums.AccountStatusCode).Pending)}"
                                   th:href="@{/accounts/reject/{id}(id=${cashAccount.id})}">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Reject
                                </a>
                                <!--th:if="${cashAccount.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"-->
                                <a class="btn btn-danger"
                                   sec:authourize="hasAuthority('ROLE_DELETE_ACCOUNT')"
                                   th:href="@{/accounts/delete/{id}(id=${cashAccount.id})}">
                                        <span>
                                            <i class="fa fa-trash"></i>
                                        </span> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">
                                    <a class="btn btn-primary" id="mandateHoldersButton" href="#" data-toggle="modal" data-target="#mandateHolders">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Signatory Details
                                    </a>
                                    <!--<a class="btn btn-primary" id="initiatorsButton" href="#" data-toggle="modal" data-target="#initiators">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Initiator(s)
                                    </a>-->
                                    <a class="btn btn-primary" th:href="@{/cash-account-mandate/all/{cashAccountId}(cashAccountId=${cashAccount.id})}">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Add Mandate
                                    </a>
                                    <button class="btn btn-info" data-toggle="modal" data-target="#accountInfoRequestModal">
                                        <span>
                                            <i class="fa fa-info"></i>
                                        </span> Account Info Request
                                    </button>

                                    <a class="btn btn-primary" id="enversAuditViewButton" href="#" data-toggle="modal" data-target="#enversAuditView">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Audit Log
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="accountIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#accountIdentification"
                                                aria-expanded="true" aria-controls="accountIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Account Information</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="accountIdentification" aria-labelledby="accountIdentificationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row" >
                                                <table class="mb-0 table table-bordered">
                                                    <tr>
                                                        <th>Financial Institution</th>
                                                        <td th:text="${fiName}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Account Name</th>
                                                        <td th:text="${cashAccount.identification.name}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Number</th>
                                                        <td th:text="${cashAccount.identification.number}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Type</th>
                                                        <td th:text="${cashAccount.cashAccountType}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Level</th>
                                                        <td th:text="${cashAccount.level}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Purpose</th>
                                                        <td th:text="${cashAccount.purpose}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Base Currency</th>
                                                        <td th:text="${cashAccount.baseCurrency.codeName}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Basic Bank Acc No.</th>
                                                        <td th:text="${cashAccount.identification.BBAN}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>International Bank Acc No.</th>
                                                        <td th:text="${cashAccount.identification.IBAN}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Status</th>
                                                        <td th:text="${cashAccount.status.status}"></td>
                                                    </tr>

                                                    <!--<tr>
                                                        <th>Blocked</th>
                                                        <td th:if="${cashAccount.status.blocked}" th:text="Yes"></td>
                                                        <td th:unless="${cashAccount.status.blocked}" th:text="No"></td>
                                                    </tr>
                                                    <tr th:if="${cashAccount.status.blocked}">
                                                        <th>Blocked Reason</th>
                                                        <td th:text="${cashAccount.status.blockedReason}"></td>
                                                    </tr>-->

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>

<!--Start Account Info Request Modal-->
<div class="modal fade" id="accountInfoRequestModal" tabindex="-1" role="dialog" aria-labelledby="accountInfoRequestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="reqTitle">Account Information Request</strong></h6>
                <form class="" method="post" th:action="@{/accounts/info-request}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">

                                <div class="position-relative form-group">
                                    <label for="reqType">Type</label>
                                    <select name="requestType" id="reqType"
                                            class="form-control">
                                        <option value=""><--Select an option--></option>
                                        <option th:each="requestType: ${requestTypes}"
                                                th:value="${requestType.name()}"
                                                th:text="${requestType.name()}">
                                        </option>
                                    </select>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="accountId" th:value="${cashAccount.id}" name="id" type="hidden">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Account Info Request Modal-->



<!-- Signature -->
<div class="modal fade" id="mandateHolders" tabindex="-1" role="dialog"
     aria-labelledby="mandateHoldersLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">Signature Details</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark" id="initiatorBtn">Initiators</button>
                                <button class="btn btn-outline-dark" id="signatoryBtn">Signatories</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive initiator-table">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="signaturesInitiatorTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">There are no payment initiator(s)  registered.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive signatories-table" style="display: none">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="signaturesSignatoriesTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3" class="text-center">There are no payment signatories registered.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-block clearfix card-footer">

                    <div class="float-right">
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of signature-->


<!-- Evers Audit Modal-->

<div class="modal fade" id="enversAuditView" tabindex="-1" role="dialog"
     aria-labelledby="enversAuditViewLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title"><strong>Audit Log</strong></h5>

                <div class="row mt-2 mb-2">
                    <div class="col-md-12">
                        <table class="mb-0 table table-bordered" id="enversAuditViewTable">
                        </table>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="text-right">
                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                data-dismiss="modal"><i class="fa fa-window-close"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/account/accounts.js"></script>
<script type="text/javascript" src="/zpas/js/enversaudit/audit_account.js"></script>

<!--<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script> -->
<script>
    $("#accounts-link").addClass("mm-active");
</script>

</body>
</html>