<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>View Hub Config</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>View Hub Config
                                <div class="page-title-subheading">Hub config for a specific BIC</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!-- START-->
                            <span style="display:none;" id="hubConfigIdSpan"
                                  th:text="${hubConfiguration.getId()}"></span>
                            <span style="display:none;" id="editUrl"
                                  th:text="${hubConfiguration.getId()}"></span>
                            <span th:if="${hubConfiguration.getEntityStatus().name() != 'DELETED'}">
                                        <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block d-inline-block dropdown"
                                                onclick="edit_hub_config_details(this.id)"
                                                sec:authorize="hasAuthority('ROLE_UPDATE_HUB_CONFIGURATION')"
                                                th:id="'EditBtn'+${hubConfiguration.getId()}">
                                            <i class="fa fa-edit btn-icon-wrapper"> </i> Edit
                                        </button>

                                            <span th:if="${hubConfiguration.getEntityStatus().name() != 'ACTIVE' && hubConfiguration.getEntityStatus().name() != 'DISAPPROVED'}">
                                                <button class="mb-2 mr-2 btn btn-success btn-block d-inline-block dropdown"
                                                    data-toggle="modal" data-target="#confirmApproveConfigurationModal"
                                                    sec:authorize="hasAuthority('ROLE_APPROVE_HUB_CONFIGURATION')"
                                                    th:id="'ApproveBtn'+${hubConfiguration.getId()}">
                                                     <i class="fa fa-check btn-icon-wrapper"> </i> Approve
                                                 </button>
                                            </span>

                                            <span th:if="${hubConfiguration.getEntityStatus().name() != 'DISAPPROVED' && hubConfiguration.getEntityStatus().name() != 'ACTIVE'}">
                                                <button class="mb-2 mr-2 btn btn-warning btn-block d-inline-block dropdown"
                                                        data-toggle="modal"
                                                        data-target="#confirmRejectConfigurationModal"
                                                        sec:authorize="hasAuthority('ROLE_REJECT_HUB_CONFIGURATION')"
                                                        th:id="'RejectBtn'+${hubConfiguration.getId()}">
                                                    <i class="fa fa-window-close btn-icon-wrapper"> </i> Disapprove
                                                </button>
                                            </span>

                                                <button class="mb-2 mr-2 btn btn-danger btn-sm btn-block d-inline-block dropdown"
                                                        data-toggle="modal"
                                                        data-target="#confirmDeleteConfigurationModal"
                                                        sec:authorize="hasAuthority('ROLE_DELETE_HUB_CONFIGURATION')"
                                                        th:id="'DeleteBtn'+${hubConfiguration.getId()}">
                                                    <i class="fa fa-trash btn-icon-wrapper"> </i> Delete
                                                </button>
                                        </span>
                            <!-- END-->
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="accountIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse"
                                                data-target="#accountIdentification"
                                                aria-expanded="true" aria-controls="accountIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">HUB CONFIGURATION INFORMATION</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="currencyIdentification"
                                         aria-labelledby="currencyIdentificationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table" style="border: none">
                                                    <tr>
                                                        <th>BIC</th>
                                                        <td th:id="'BIC'+${hubConfiguration.getId()}"
                                                            th:text="${hubConfiguration.getBIC()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>URI</th>
                                                        <td th:id="'uri'+${hubConfiguration.getId()}"
                                                            th:text="${hubConfiguration.getUri()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Client Cert Path</th>
                                                        <td th:id="'clientCertPath'+${hubConfiguration.getId()}"
                                                            th:text="${hubConfiguration.getClientCertPath()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Client Key Path</th>
                                                        <td th:id="'clientKeyPath'+${hubConfiguration.getId()}"
                                                            th:text="${hubConfiguration.getClientKeyPath()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Hub Config Status</th>
                                                        <td th:id="'entityStatus'+${hubConfiguration.getId()}"
                                                            th:text="${hubConfiguration.getEntityStatus()}"></td>
                                                    </tr>

                                                    <tr th:if="${hubConfiguration.getDateCreated()}">
                                                        <th>Date Created</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(hubConfiguration.dateCreated))}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>
<!-- Edit Hub Config Modal -->
<div class="modal fade" id="editHubConfigDetails" tabindex="-1" role="dialog"
     aria-labelledby="editHubConfigDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Hub Config Details</strong></h6>
                <form class="" method="post" name="editHubConfigDetailForm" id="editHubConfigDetailForm"
                      th:action="@{/hubConfigs/edit/}" th:object="${hubConfiguration}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editBIC">BIC</label>
                                        <input type="text" class="form-control" id="editBIC" name="BIC" required>

                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editUri">URI</label>
                                        <input type="text" class="form-control" id="editUri" name="uri">

                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editClientCertPath">Client Cert Path</label>
                                        <input type="text" class="form-control" id="editClientCertPath"
                                               name="clientCertPath">

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editClientKeyPath">Client Key Path</label>
                                        <input type="text" class="form-control" id="editClientKeyPath"
                                               name="clientKeyPath">

                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!--Show Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteConfigurationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteConfigurationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteConfigurationModalLabel">Delete Hub Config</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to delete Hub Configuration?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="delete_hub_config()" data-dismiss="modal">Yes,
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Delete Modal -->

<!--Show Confirm Approve Modal -->
<div class="modal fade" id="confirmApproveConfigurationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmApproveConfigurationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmApproveConfigurationModalLabel">Approve Hub Config</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: green">Are you sure you want to approve Hub Configuration?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="approve_hub_config()" data-dismiss="modal">Yes,
                    Approve
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Approve Modal -->

<!--Show Confirm Reject Modal -->
<div class="modal fade" id="confirmRejectConfigurationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmRejectConfigurationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRejectConfigurationModalLabel">Reject Hub Config</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to reject Hub Configuration?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="reject_hub_config()" data-dismiss="modal">Yes,
                    Reject
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Reject Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#hubconfigs-link").addClass("mm-active");
</script>
<script>
    function goToEdit(id) {

    }

    function approve_hub_config() {
        var hubConfigId = $("#hubConfigIdSpan").text();

        console.log('The approve id is ' + hubConfigId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/hubConfigs/approve/" + hubConfigId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    //$('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#entityStatus' + hubConfigId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_hub_config() {
        //var final_id = id.replace(/RejectBtn/g, '');
        var hubConfigId = $("#hubConfigIdSpan").text();

        console.log('The reject id is ' + hubConfigId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/hubConfigs/reject/" + hubConfigId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + hubConfigId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_hub_config() {
        var hubConfigId = $("#hubConfigIdSpan").text();
        // var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + hubConfigId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/hubConfigs/delete/" + hubConfigId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + hubConfigId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

<script>
    function editPage() {
        var id = $("#editUrl").text();
        window.location.href = "/zpas/hubConfigs/edit/" + id;
    }

</script>

<script th:inline="javascript">

    function edit_hub_config_details(final_id) {
        var id = final_id.replace(/EditBtn/g, '');
        console.log('The edit for hub config id is ' + final_id);

        console.log('hub config id ' + id);

        $("#editId").val(id);

        //Getting the hub config details from the view
        var BIC = $("#BIC" + id).text();
        var uri = $("#uri" + id).text();
        var clientCertPath = $("#clientCertPath" + id).text();
        var clientKeyPath = $("#clientKeyPath" + id).text();

        //Setting the hub config details in the modal form
        $("#editBIC").val(BIC);
        $("#editUri").val(uri);
        $("#editClientCertPath").val(clientCertPath);
        $("#editClientKeyPath").val(clientKeyPath);

        $('#editHubConfigDetails').modal('show');
    }

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editHubConfigDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/hubConfigs/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#BIC' + response.object.id).text(response.object.BIC);
                        $('#uri' + response.object.id).text(response.object.uri);
                        $('#clientCertPath' + response.object.id).text(response.object.clientCertPath);
                        $('#clientKeyPath' + response.object.id).text(response.object.clientKeyPath);
                        $('#entityStatus' + response.object.id).text(response.object.entityStatus);

                    } else {
                        //Notification
                    }
                    $('#editHubConfigDetails').modal('hide');
                    location.reload();
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script>
    $("#hubconfigs-link-manage").addClass("mm-active");
</script>
</body>
</html>