<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Payments
                                <div class="page-title-subheading">Payments</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div th:if="${payments}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Acc</th>
                                <th>Beneficiary Bank</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row" th:each="payment: ${payments}" th:id="${payment.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/view/' + ${payment.getId()}"
                                       th:text="${payment.getEndToEndId()}"></a>
                                </td>
                                <td th:if="${payment.getValueDate()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(payment.getValueDate()))}"></span>
                                </td>
                                <td th:unless="${payment.getValueDate()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:text="${payment.getBeneficiaryName()}"
                                    th:id="'beneficiaryName-' + ${payment.getId()}"></td>
                                <td th:text="${payment.getBeneficiaryAccount()}"
                                    th:id="'beneficiaryAccount-' + ${payment.getId()}"></td>
                                <td th:text="${payment.getBeneficiaryBank()}"
                                    th:id="'beneficiaryAccount-' + ${payment.getId()}"></td>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getClass().getSimpleName())}"></td>
                                <td class="text-right" th:if="${payment.getAmount()}">
                                    <span th:if="${payment.getAmount().getCurrency()}"
                                          th:text="${payment.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${payment.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(payment.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${payment.getAmount()}" th:text="''"></td>
                                <td th:text="${payment.getLatestPaymentStatusString()}"></td>
                                <td>
                                    <!--<button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-info pull-left"
                                            data-trigger="focus" data-toggle="popover"
                                            title="<b>Verified Account Information</b>"
                                            data-html="true"
                                            th:attr="data-content=${'<div>Beneficiary Name: ' + payment.getVerifiedBeneficiaryName()
                                            + '<br>Bank: ' + payment.getVerifiedBankName()
                                            + '<br>Account Number: ' + payment.getVerifiedAccountNumber()
                                            + '<br>Account Name: ' + payment.getVerifiedAccountName()
                                            + '<br>Additional Info: ' + payment.getVerificationNarrative() + '</div>'}">
                                        <i class="lnr-eye btn-icon-wrapper"> </i>
                                    </button>-->

                                    <a th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}" role="button" class="btn btn-primary" data-toggle="tooltip"
                                       data-placement="top" title="Approve" th:href="'/zpas/payments/multiple-approve/' + ${payment.getId()}"><i class="fa fa-check" aria-hidden="false"></i></a>
                                    <a role="button" class="btn btn-danger" data-toggle="tooltip"
                                       data-placement="top" title="Reject" th:href="'/zpas/payments/multiple-reject/' + ${payment.getId()}"><i class="fa fa-window-close" aria-hidden="false"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Acc</th>
                                <th>Beneficiary Bank</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${payments}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find payments.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/payments/payments.js"></script>
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-multiple-approve").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
