<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Create Bulk
                                <div class="page-title-subheading">Create bulk payment by filling in the form below
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <div id="smartwizard">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Account Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Payment Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="position-relative form-group" th:if="${account}">
                                            <label for="accountId" class="">Select Account</label>
                                            <select name="accountId" id="accountId" class="form-control" readonly>
                                                <option th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionName()} + ')'"
                                                        th:value="${account.getId()}" selected></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group" th:unless="${account}">
                                            <label for="accountId" class="">Select Account</label>
                                            <select name="accountId" id="accountId" class="form-control">
                                                <option th:each="clientAccount: ${clientAccounts}"
                                                        th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionName()} + ')'"
                                                        th:value="${clientAccount.getId()}"></option>
                                            </select>
                                        </div>
                                        <!--
                                        <div class="position-relative form-group">
                                            <label for="totalAmount" class="">Total Amount</label>
                                            <input name="amount" id="totalAmount" placeholder="Enter total amount" min="1" type="number" step="0.01" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="currencyName" class="">Currency Name</label>
                                            <input name="currencyName" id="currencyName" placeholder="Enter Currency Name" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="currencyCode" class="">Currency Code</label>
                                            <input name="currencyCode" id="bulkCurrencyCode" placeholder="Enter Currency Code" type="text" class="form-control">
                                        </div>
                                        -->
                                        <div class="position-relative form-group">
                                            <label for="valueDate" class="">Value Date</label>
                                            <input name="valueDate" id="valueDate" type="date" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="purpose" class="">Purpose</label>
                                            <textarea name="purpose" id="purpose" class="form-control"></textarea>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="paymentType" class="">Type</label>
                                            <select name="paymentType" id="paymentType" class="form-control">
                                                <option th:each="paymentTypeCode: ${paymentTypeCodes}"
                                                        th:value="${paymentTypeCode.name()}"
                                                        th:text="${paymentTypeCode.name()} + ' (' + ${paymentTypeCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="priority" class="">Priority</label>
                                            <select name="priority" id="priority" class="form-control">
                                                <option th:each="priorityCode: ${priorityCodes}"
                                                        th:value="${priorityCode.name()}"
                                                        th:text="${priorityCode.name()} + ' (' + ${priorityCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="paymentInstrument" class="">Instrument</label>
                                            <select name="paymentInstrument" id="paymentInstrument" class="form-control">
                                                <option th:each="paymentInstrumentCode: ${paymentInstrumentCodes}"
                                                        th:value="${paymentInstrumentCode.name()}"
                                                        th:text="${paymentInstrumentCode.name()} + ' (' + ${paymentInstrumentCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Account Information<p>Enter your account information below</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">

                                                <div class="main-card mb-3 card">
                                                    <div class="card-body"><h5 class="card-title">Capture bulk payment
                                                        information</h5>
                                                        <form class="">
                                                            <div class="form-row">
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="beneficiaryName" class="">Beneficiary
                                                                            Name</label>
                                                                        <input name="beneficiaryName"
                                                                               id="beneficiaryName"
                                                                               placeholder="Enter Beneficiary Name"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="nationalId" class="">National
                                                                            Id</label>
                                                                        <input name="nationalId" id="nationalId"
                                                                               placeholder="Enter National ID"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="destinationBin" class="">Destination
                                                                            BIN</label>
                                                                        <input name="destinationBin" id="destinationBin"
                                                                               placeholder="Destination BIN"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="beneficiaryAccount" class="">Beneficiary
                                                                            Account</label>
                                                                        <input name="beneficiaryAccount"
                                                                               id="beneficiaryAccount"
                                                                               placeholder="Enter Beneficiary Account"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="amount" class="">Amount</label>
                                                                        <input name="amount" id="amount"
                                                                               placeholder="Amount"
                                                                               type="number" class="form-control" min="1">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="paymentTypeCode" class="">Payment Type Code</label>
                                                                        <select name="paymentTypeCode"
                                                                                id="paymentTypeCode"
                                                                                class="form-control">
                                                                            <option th:each="paymentTypeCode: ${paymentTypeCodes}"
                                                                                    th:value="${paymentTypeCode.name()}"
                                                                                    th:text="${paymentTypeCode.name()} + ' (' + ${paymentTypeCode.getCodeName()} + ')'"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="currencyCode" class="">Currency
                                                                            Code</label>
                                                                        <input name="currencyCodeName" id="currencyCode"
                                                                               placeholder="Currency Code"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="position-relative form-group">
                                                                        <label for="paymentPurpose" class="">Payment
                                                                            Purpose</label>
                                                                        <input name="paymentPurpose" id="paymentPurpose"
                                                                               placeholder="Payment Purpose"
                                                                               type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button role="button" type="button" id="addPayment" class="mt-2 btn btn-primary">Add</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <table style="width: 100%;" id="example"
                                                   class="table table-hover table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Beneficiary Name</th>
                                                    <th>National ID</th>
                                                    <th>Destination BIN</th>
                                                    <th>Beneficiary Account</th>
                                                    <th>Payment Type</th>
                                                    <th>Payment Purpose</th>
                                                    <th>Amount</th>
                                                    <th>Action</th>

                                                </tr>
                                                </thead>
                                                <tbody id="payment-entries-section">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Finished!</div>
                                        <div class="results-title">You arrived at the last form wizard
                                            step!
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button id="submitBulk" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn"
                                    class="btn-shadow float-left btn btn-link">Clear
                            </button>
                            <button type="button" id="next-btn"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/payments/create_bulk.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-create").addClass("mm-active");
</script>

</body>
</html>
