<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-graph text-success">
                                </i>
                            </div>
                            <div>Make payment
                                <div class="page-title-subheading">Make payment to a beneficiary</div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <form id="smartwizard" method="post" th:action="@{/payments/make-payment}">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Payment Type</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Destination Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Payment Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>Source Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <em>5</em><span>Confirm Payment Information</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="form-row">
                                        <div class="offset-3 col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="makePaymentRequestType" class="">Select the type of
                                                    payment</label>
                                                <select name="makePaymentRequestType" id="makePaymentRequestType"
                                                        class="form-control">
                                                    <option value="">Select Payment Type</option>
                                                    <option th:if="${requestedPaymentType}"
                                                            th:each="makePaymentRequestType: ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).values()}"
                                                            th:value="${makePaymentRequestType.name()}"
                                                            th:selected="${makePaymentRequestType.name().equals(requestedPaymentType)}"
                                                            th:text="${makePaymentRequestType.name().replace('_', ' ')}"></option>
                                                    <option th:unless="${requestedPaymentType}"
                                                            th:each="makePaymentRequestType: ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).values()}"
                                                            th:value="${makePaymentRequestType.name()}"
                                                            th:text="${makePaymentRequestType.name().replace('_', ' ')}"></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="step-2">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Destination Account Information<p>Enter destination account information below</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-12 zimra-payment-info">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="zimra-payment-info text-center"
                                                                         style="display: none;">
                                                                        <p class="text-primary assessment-info"></p>
                                                                        <table id="assessment-info-table"
                                                                               style="display: none;"
                                                                               class="mb-0 table table-bordered">
                                                                            <tbody>
                                                                            <tr>
                                                                                <th width="30%" scope="row">Amount</th>
                                                                                <td width="70%" class="amountInfo"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th width="30%" scope="row">Year</th>
                                                                                <td width="70%" class="yearInfo"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th width="30%" scope="row">Office
                                                                                    Code
                                                                                </th>
                                                                                <td width="70%" class="officeInfo"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <h5 class="card-title">Select the assessment to pay
                                                                        against</h5>
                                                                    <fieldset class="position-relative form-group">
                                                                        <div class="position-relative form-check"
                                                                             th:each="assessmentValidationResponse: ${assessmentValidationResponses}">
                                                                            <label class="form-check-label">
                                                                                <input name="assessmentNumber"
                                                                                       data-th-attr="data-assNo=${assessmentValidationResponse.getOfficeCode()},
                                                                                       data-amount=${assessmentValidationResponse.getAssessmentValidationGetResponse().getAmount()}"
                                                                                       onclick="setAssessmentInfo(this.value, this.getAttribute('data-assNo'), this.getAttribute('data-amount'));"
                                                                                       type="radio"
                                                                                       class="form-check-input"
                                                                                       th:value="${assessmentValidationResponse.getAssessmentNumber()}"
                                                                                       th:text="${assessmentValidationResponse.getShortSummary()}">
                                                                            </label>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="zimra-payment-info"
                                                                         style="display: none;">
                                                                        <div class="position-relative form-group">
                                                                            <label for="zimraAssessmentNumber" class="">ZIMRA
                                                                                Assessment Number</label>
                                                                            <input name="zimraAssessmentNumber"
                                                                                   id="zimraAssessmentNumber"
                                                                                   type="text"
                                                                                   class="form-control">
                                                                            <small class="text-info assessment-info">
                                                                                Enter the ZIMRA Assessment Number from
                                                                                the
                                                                                portal
                                                                            </small>
                                                                            <button id="zimraAssessmentButton"
                                                                                    type="button"
                                                                                    class="btn btn-primary pull-right">
                                                                                Get
                                                                                Assessment
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="zimra-payment-info assessment-info-table"
                                                                         style="display: none;">
                                                                        <div class="position-relative form-group">
                                                                            <label for="zimraOfficeCode" class="">Office
                                                                                Code</label>
                                                                            <input name="zimraOfficeCode"
                                                                                   id="zimraOfficeCode"
                                                                                   type="text" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="zimra-payment-info"
                                                                         style="display: none;">
                                                                        <div class="position-relative form-group">
                                                                            <label for="taxIdentificationNumber"
                                                                                   class="">Business
                                                                                Partner Number</label>
                                                                            <input th:value="${taxIdentificationNumber}"
                                                                                   class="form-control" type="text"
                                                                                   placeholder="Business Partner Number"
                                                                                   name="businessPartnerNumber"
                                                                                   id="businessPartnerNumber"/>
                                                                            <small class="text-info">Enter your
                                                                                Business Partner
                                                                                Number for the ZIMRA payment
                                                                            </small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="offset-3 col-md-6 credit-transfer-info"
                                                             style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label class="">You can use Virtual Id to capture
                                                                    destination account</label>
                                                                <select name="virtualIdCapture"
                                                                        id="virtualIdCapture" class="form-control">

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <hr class="col-md-12 mr-1 ml-1 credit-transfer-info">
                                                        <div class=" col-md-12 credit-transfer-info">
                                                            <div class="position-relative form-group">
                                                                <div class="text-center">
                                                                    <h5 class="text-dark">OR</h5>
                                                                    <label class="">Capture the destination
                                                                        account information manually</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 credit-transfer-info"
                                                             style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="destinationFinancialInstitutionId" class="">Destination
                                                                    Bank</label>
                                                                <select name="destinationFinancialInstitutionId"
                                                                        id="destinationFinancialInstitutionId"
                                                                        class="form-control">
                                                                    <option value="">Please select</option>
                                                                    <option th:each="financialInstitution: ${financialInstitutions}"
                                                                            th:text="${financialInstitution.getName()}"
                                                                            th:value="${financialInstitution.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 credit-transfer-info"
                                                             style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="destinationAccountNumber" class="">
                                                                    Destination
                                                                    Account Number</label>
                                                                <input th:if="${beneficiary}" class="form-control"
                                                                       type="text"
                                                                       th:value="${beneficiary.accountNumber}"
                                                                       name="destinationAccountNumber"
                                                                       id="destinationAccountNumber"/>

                                                                <input th:unless="${beneficiary}"
                                                                       class="form-control"
                                                                       type="text"
                                                                       placeholder="Destination Account Number"
                                                                       name="destinationAccountNumber"
                                                                       id="destinationAccountNumber"/>

                                                                <small id="destinationAccountInfo"
                                                                       class="text-info"></small>
                                                                <small id="destinationAccountDanger"
                                                                       class="text-info"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 tax-authority-info" style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="taxAuthorityId" class="">Tax
                                                                    Authority</label>
                                                                <select name="taxAuthorityId" id="taxAuthorityId"
                                                                        class="form-control">
                                                                    <option value="">Select Tax Authority</option>
                                                                    <option th:each="taxAuthority: ${taxAuthorities}"
                                                                            th:text="${taxAuthority.getName()}"
                                                                            th:value="${taxAuthority.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 tax-authority-info" style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="taxAuthoritySubOfficeCode" class="">Tax
                                                                    Authority Payment Office</label>
                                                                <select name="taxAuthoritySubOfficeCode"
                                                                        id="taxAuthoritySubOfficeCode"
                                                                        class="form-control">
                                                                    <option value="">Select Tax Authority Payment
                                                                        Office
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 company-info" style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="taxIdentificationNumber" class="">Business
                                                                    Partner Number</label>
                                                                <input th:if="${taxIdentificationNumber}"
                                                                       class="form-control" type="text"
                                                                       th:value="${taxIdentificationNumber}"
                                                                       name="taxIdentificationNumber"
                                                                       id="taxIdentificationNumber"/>

                                                                <input th:unless="${taxIdentificationNumber}"
                                                                       class="form-control" type="text"
                                                                       placeholder="Business Partner Number"
                                                                       name="taxIdentificationNumber"
                                                                       id="taxIdentificationNumber"/>
                                                                <small class="text-info credit-transfer-info">Enter the
                                                                    Business Partner
                                                                    Number for the company you are paying
                                                                </small>
                                                                <small class="text-info tax-authority-info">Enter your
                                                                    Business Partner
                                                                    Number for the tax payment
                                                                </small>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 merchant-info" style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="merchantId" class="">Merchant</label>
                                                                <select name="merchantId" id="merchantId"
                                                                        class="form-control">
                                                                    <option value="">Select Merchant</option>
                                                                    <option th:each="merchant: ${merchants}"
                                                                            th:text="${merchant.getName()}"
                                                                            th:value="${merchant.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 merchant-info" style="display: none;">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <div class="position-relative form-group">
                                                                        <label for="merchantAccountNumber" class="">Merchant
                                                                            Account Number</label>
                                                                        <input th:if="${merchantAccountNumber}"
                                                                               class="form-control" type="text"
                                                                               th:value="${merchantAccountNumber}"
                                                                               name="merchantAccountNumber"
                                                                               id="merchantAccountNumber"/>

                                                                        <input th:unless="${merchantAccountNumber}"
                                                                               class="form-control" type="text"
                                                                               placeholder="Merchant Account Number"
                                                                               name="merchantAccountNumber"
                                                                               id="merchantAccountNumber"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <label for="pickExistingMerchantModalTriggerBtn"
                                                                           class="">Select
                                                                        Saved Merchant Accounts</label>
                                                                    <button type="button" class="btn btn-primary"
                                                                            id="pickExistingMerchantModalTriggerBtn"
                                                                            data-toggle="modal"
                                                                            data-target="#pickExistingMerchantModal">
                                                                        Pick Existing
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 credit-transfer-info"
                                                             style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="beneficiaryName" class="">Beneficiary
                                                                    Name</label>

                                                                <input th:if="${beneficiary}" name="beneficiaryName"
                                                                       id="beneficiaryName"
                                                                       type="text" th:value="${beneficiary.name}"
                                                                       class="form-control">

                                                                <input th:unless="${beneficiary}" name="beneficiaryName"
                                                                       id="beneficiaryName"
                                                                       placeholder="Enter Beneficiary Name" type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-6" id="paymentInstrumentDiv"
                                                             style="display: none">
                                                            <div class="position-relative form-group">
                                                                <label for="paymentInstrument"
                                                                       class="">Instrument</label>
                                                                <select name="paymentInstrument" id="paymentInstrument"
                                                                        class="form-control">
                                                                    <option th:each="paymentInstrumentCode: ${paymentInstrumentCodes}"
                                                                            th:value="${paymentInstrumentCode.name()}"
                                                                            th:text="${paymentInstrumentCode.name()} + ' (' + ${paymentInstrumentCode.getCodeName()} + ')'"></option>
                                                                </select>
                                                            </div>
                                                        </div>-->
                                                        <div class="col-md-12" style="display: none"
                                                             id="savePartyMerchantAccountDetailsDiv">
                                                            <button type="button" class="btn btn-primary"
                                                                    id="capturePartyMerchantIdentificationModalTriggerBtn"
                                                                    data-toggle="modal"
                                                                    data-target="#capturePartyMerchantIdentificationModal">
                                                                Save Merchant Account Details
                                                            </button>
                                                        </div>
                                                        <div class="col-md-12 text-center company-info"
                                                             style="display: none"
                                                             id="verifyBPNDiv">
                                                            <button type="button" class="btn btn-primary"
                                                                    id="verifyBpnTriggerBtn"
                                                                    data-toggle="modal"
                                                                    data-target="#verifyBPNModal">
                                                                Verify BPN
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Payment Information<p>Enter payment information below</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-6 tax-authority-info" style="display: none;">
                                                            <div class="position-relative form-group">
                                                                <label for="taxTypeCode" class="">Tax Type</label>
                                                                <select name="taxTypeCode" id="taxTypeCode"
                                                                        class="form-control">
                                                                    <option value="">Select Tax Type</option>
                                                                    <option th:each="taxTypeCode: ${T(zw.co.esolutions.zpas.enums.TaxTypeCode).values()}"
                                                                            th:text="${taxTypeCode.name()}"
                                                                            th:value="${taxTypeCode.getCodeName()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="purpose" class="">Purpose Code</label>
                                                                <select name="purpose" id="purpose"
                                                                        class="form-control">
                                                                    <option th:each="purposeCode: ${purposeCodes}"
                                                                            th:value="${purposeCode.getCodeName()}"
                                                                            th:text="${purposeCode.name()} + ' (' + ${purposeCode.getCodeName()} + ')'"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="beneficiaryReference" class="">Beneficiary
                                                                    Reference</label>
                                                                <input name="beneficiaryReference" rows="2"
                                                                       id="beneficiaryReference"
                                                                       placeholder="Beneficiary Reference"
                                                                       type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="clientReference" class="">Your
                                                                    Reference</label>
                                                                <input name="clientReference" rows="2"
                                                                       id="clientReference"
                                                                       placeholder="Your Reference"
                                                                       type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="amount" class="">Amount</label>
                                                                <input class="form-control" type="number" step="0.01"
                                                                       name="amount" id="amount"/>

                                                                <!--value="1.00" min="1"-->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="valueDate" class="">Value Date</label>
                                                                <input name="valueDate" id="valueDate" type="date"
                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                       th:min="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" id="paymentTypeDiv">
                                                            <div class="position-relative form-group">
                                                                <label for="paymentType" class="">Type</label>
                                                                <select name="paymentType" id="paymentType"
                                                                        class="form-control">
                                                                    <option th:each="paymentTypeCode: ${paymentTypeCodes}"
                                                                            th:value="${paymentTypeCode.name()}"
                                                                            th:text="${paymentTypeCode.name()} + ' (' + ${paymentTypeCode.getCodeName()} + ')'"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="priority" class="">Priority</label>
                                                                <select name="priority" id="priority"
                                                                        class="form-control">
                                                                    <option th:each="priorityCode: ${priorityCodes}"
                                                                            th:value="${priorityCode.name()}"
                                                                            th:text="${priorityCode.name()} + ' (' + ${priorityCode.getCodeName()} + ')'"></option>
                                                                </select>
                                                                <small class="form-text text-danger"
                                                                       id="priorityMessage">
                                                                    Selecting a High Priority may incur extra charges.
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-6" id="paymentInstrumentDiv" style="display: none">
                                                            <div class="position-relative form-group">
                                                                <label for="paymentInstrument"
                                                                       class="">Instrument</label>
                                                                <select name="paymentInstrument" id="paymentInstrument"
                                                                        class="form-control">
                                                                    <option th:each="paymentInstrumentCode: ${paymentInstrumentCodes}"
                                                                            th:value="${paymentInstrumentCode.name()}"
                                                                            th:text="${paymentInstrumentCode.name()} + ' (' + ${paymentInstrumentCode.getCodeName()} + ')'"></option>
                                                                </select>
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Source Account Information<p>Select the account you are paying from</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="offset-3 col-md-6" th:if="${account}">
                                                            <div class="position-relative form-group">
                                                                <label for="sourceAccountId" class="">Select source
                                                                    account</label>
                                                                <select name="sourceAccountId" id="sourceAccountId"
                                                                        class="form-control" readonly>
                                                                    <option
                                                                            th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionShortName()} + ')'"
                                                                            th:title="${account.getCurrentCashBalanceString()}"
                                                                            th:value="${account.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="offset-3 col-md-6" th:unless="${account}">
                                                            <div class="position-relative form-group">
                                                                <label for="sourceAccountId" class="">Select source
                                                                    account</label>
                                                                <select name="sourceAccountId" id="sourceAccountId"
                                                                        class="form-control">
                                                                    <option value="">Please select</option>
                                                                    <option th:each="clientAccount: ${clientAccounts}"
                                                                            th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionShortName()} + ')'"
                                                                            th:title="${clientAccount.getCurrentCashBalanceString()}"
                                                                            th:value="${clientAccount.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-5">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Payment Information Captured!</div>
                                        <div class="results-title">You have captured all the information necessary for
                                            your payment. If you are sure the information is correct, proceed with your
                                            payment.
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <table class="mb-0 table table-bordered">
                                                <tbody>
                                                <tr class="accountNumberInfo" style="display: none;">
                                                    <th width="30%" scope="row">Destination Account</th>
                                                    <td width="70%" class="destinationAccountInfo"></td>
                                                </tr>
                                                <tr>
                                                    <th width="30%" scope="row">Amount</th>
                                                    <td width="70%" class="amountInfo"></td>
                                                </tr>
                                                <tr class="zimra-payment-info">
                                                    <th width="30%" scope="row">Year</th>
                                                    <td width="70%" class="yearInfo"></td>
                                                </tr>
                                                <tr class="zimra-payment-info">
                                                    <th width="30%" scope="row">Office
                                                        Code
                                                    </th>
                                                    <td width="70%" class="officeInfo"></td>
                                                </tr>
                                                <tr>
                                                    <th width="30%" scope="row">Payment Type</th>
                                                    <td width="70%" class="paymentType"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Proceed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn"
                                    class="btn-shadow float-left btn btn-link">Reset
                            </button>
                            <button type="button" id="next-btn"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<!-- Capture Identification for Party Merchant Account Modal -->
<div class="modal fade" id="verifyBPNModal" tabindex="-1" role="dialog"
     aria-labelledby="verifyBPNModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verifyBPNModalLabel">Company Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="fa-3x text-center" id="progress-loader">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div class="fa-3x text-center text-success" id="progress-done">
                            <i class="fa fa-check"></i>
                        </div>
                        <table class="table table-bordered table-striped" id="show-info">
                            <tbody>
                            <tr>
                                <th class="width-20">Company Name:</th>
                                <td id="companyName"></td>
                            </tr>
                            <tr>
                                <th>BPN:</th>
                                <td id="bpn"></td>
                            </tr>
                            <tr>
                                <th>Tax Clearance Validity:</th>
                                <td id="validityPeriod"></td>
                            </tr>
                            <tr>
                                <th>Extra:</th>
                                <td id="exists"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <p class="text-danger" id="verificationError" style="display: none;"><i>Verification error</i>
                        </p>
                        <p class="text-success" id="verificationSuccess" style="display: none;"><i>Verification
                            complete</i></p>
                        <p class="text-info" id="verificationInfo" style="display: none;"><i>Verification in
                            progress...</i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeVerifyModal" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Capture Identification for Party Merchant Account Modal -->

<!-- Capture Identification for Party Merchant Account Modal -->
<div class="modal fade" id="capturePartyMerchantIdentificationModal" tabindex="-1" role="dialog"
     aria-labelledby="capturePartyMerchantIdentificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="capturePartyMerchantIdentificationModalLabel">Merchant Details
                    Identification Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="identification" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="identification" id="identification"
                               placeholder="Enter a name to identify this particular account information" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="savePartyMerchantAccountDetailsBtn" class="btn btn-primary"
                        data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Capture Identification for Party Merchant Account Modal -->

<!-- Pick Existing Merchant Account Modal -->
<div class="modal fade" id="pickExistingMerchantModal" tabindex="-1" role="dialog"
     aria-labelledby="pickExistingMerchantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pickExistingMerchantModalLabel">Select Merchant To Pay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="identification" class="col-form-label">Name:</label>
                        <div class="position-relative form-group">
                            <label for="merchantAccountId" class="">Saved Merchant Accounts</label>
                            <select name="merchantAccountId" id="merchantAccountId" class="form-control">
                                <option value="">Select Merchant Account</option>
                                <option th:each="partyMerchantAccount: ${partyMerchantAccounts}"
                                        th:text="${partyMerchantAccount.identification + '('
                                        + partyMerchantAccount.merchant.name + '-' + partyMerchantAccount.accountNumber}"
                                        th:value="${partyMerchantAccount.getId()}"
                                        onclick="selectPartyMerchantAccount()"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeSelectExistingMerchantBtn" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Select
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Pick Existing Merchant Account Modal -->

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/zpas/js/moment.js"></script>
<script type="text/javascript" src="/zpas/js/payments/create_payment.js"></script>
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
