<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Pagination Test</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}"/>
        <th th:text="#{msg.name}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iStat : ${individualPaymentsPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${book.id}"/>
        <td th:text="${book.dateCreated}"/>
    </tr>
    </tbody>
</table>
<div th:if="${individualPaymentsPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${individualPaymentsPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==individualPaymentsPage.number + 1} ? active"></a>
</div>
</body>
</html>