<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-graph text-success">
                                </i>
                            </div>
                            <div>Request Payment
                                <div class="page-title-subheading">Send a payment request to people who owe you money.</div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <form id="smartwizard" method="post" th:action="@{/payments/requests}">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Destination Account Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Debtor Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Payment Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="form-row">
                                        <div class="offset-3 col-md-6">
                                            <div class="position-relative form-group" th:if="${account}">
                                                <label for="destinationAccountId" class="">Destination Account</label>
                                                <select name="destinationAccountId" id="destinationAccountId"
                                                        class="form-control" readonly>
                                                    <option th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionName()} + ')'"
                                                            th:value="${account.getId()}" selected></option>
                                                </select>
                                            </div>
                                            <div class="position-relative form-group" th:unless="${account}">
                                                <label for="destinationAccountId" class="">Destination Account</label>
                                                <select name="destinationAccountId" id="destinationAccountId"
                                                        class="form-control">
                                                    <option value="">Select</option>
                                                    <option th:each="clientAccount: ${clientAccounts}"
                                                            th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionName()} + ')'"
                                                            th:value="${clientAccount.getId()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Debtor Information<p>Enter payment information below</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group row">
                                                                <div class="col-md-6">
                                                                    <label class="">Use Virtual Id</label>
                                                                    <select name="virtualIdCapture" id="virtualIdCapture" class="form-control">

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="sourceAccountNumber" class="">OR Source Account Number</label>
                                                                    <input th:if="${beneficiary}" class="form-control"
                                                                           type="text"
                                                                           th:value="${beneficiary.accountNumber}"
                                                                           name="sourceAccountNumber"
                                                                           id="sourceAccountNumber"/>

                                                                    <input th:unless="${beneficiary}"
                                                                           class="form-control"
                                                                           type="text"
                                                                           placeholder="Source Account Number"
                                                                           name="sourceAccountNumber"
                                                                           id="sourceAccountNumber"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="sourceFinancialInstitutionId" class="">Source/Debtor Bank</label>
                                                                <select name="sourceFinancialInstitutionId"
                                                                        id="sourceFinancialInstitutionId"
                                                                        class="form-control">
                                                                    <option value="">Select</option>
                                                                    <option th:each="financialInstitution: ${financialInstitutions}"
                                                                            th:text="${financialInstitution.getName()}"
                                                                            th:value="${financialInstitution.getId()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="debtorName" class="">Debtor Name</label>

                                                                <input th:if="${beneficiary}" name="debtorName"
                                                                       id="debtorName"
                                                                       type="text" th:value="${beneficiary.name}"
                                                                       class="form-control">

                                                                <input th:unless="${beneficiary}" name="debtorName"
                                                                       id="debtorName"
                                                                       placeholder="Enter Debtor Name" type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <input style="display: none;" name="debtorId" id="debtorId" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div id="accordion" class="accordion-wrapper mb-3">
                                        <div class="card">
                                            <div id="headingOne" class="card-header">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        class="text-left m-0 p-0 btn btn-link btn-block">
                                                    <span class="form-heading">Payment Information<p>Enter payment information below</p></span>
                                                </button>
                                            </div>
                                            <div data-parent="#accordion" id="collapseOne"
                                                 aria-labelledby="headingOne" class="collapse show">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="purpose" class="">Purpose</label>
                                                                <input name="purpose" rows="2" id="purpose"
                                                                       placeholder="Purpose of Payment"
                                                                       type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="amount" class="">Amount</label>
                                                                <input class="form-control" type="number" step="0.01"
                                                                       value="1.00" min="1" name="amount"
                                                                       id="amount"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="dueDate" class="">Due Date</label>
                                                                <input name="dueDate" id="dueDate" type="date"
                                                                       th:min="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Payment Information Captured!</div>
                                        <div class="results-title">You have captured all the information necessary for
                                            your payment request. You are requesting a payment of <span id="amountConfirmation"></span>
                                            from <span id="debtorNameConfirmation"></span>. If you are sure the information is correct, proceed with your
                                            payment request.
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Proceed
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn"
                                    class="btn-shadow float-left btn btn-link">Reset
                            </button>
                            <button type="button" id="next-btn"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/payments/payment_obligations.js"></script>
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
