<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>

    <title>Bulk Upload Errors</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>

</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Bulk Upload Errors
                                <div class="page-title-subheading">Bulk Upload Errors</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary" th:href="@{/payments/upload}">
                                        <span>
                                            <i class="fa fa-backward"></i>
                                        </span>
                                    Upload Bulk Payment
                                </a>
                                <!--<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Payment Actions
                                </button>-->
                                <!--<div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item" th:href="@{/payments/upload}">
                                            <a class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>Upload Bulk</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div th:if="${invalidEntries}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Beneficiary Name</th>
                                <th>Destination FI</th>
                                <th>Beneficiary Account</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row" th:each="individualEntry: ${invalidEntries}">

                                <td th:text="${individualEntry.getBeneficiaryName()}"></td>
                                <td th:text="${individualEntry.getDestinationBIC()}"></td>
                                <td th:text="${individualEntry.getBeneficiaryAccount()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Beneficiary Name</th>
                                <th>Destination FI</th>
                                <th>Beneficiary Account</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${invalidEntries}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>There are no invalid entries.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/payments/payments.js"></script>
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-manage").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
