<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-display1 icon-gradient bg-premium-dark">
                                </i>
                            </div>
                            <div>
                                Upload Bulk Payment
                                <div class="page-title-subheading">
                                    Upload payments from an Excel, CSV or SFI file.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical"
                              action="/zpas/payments/upload" enctype="multipart/form-data">
                            <input style="display: none" type="text" id="phonesJson" name="phonesJson">
                            <input style="display: none" type="text" id="addressesJson" name="addressesJson">
                            <input style="display: none" type="text" id="postalAddressesJson"
                                   name="postalAddressesJson">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Source Account Information</span>
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Amount And Currency</span>
                                    </a>
                                </li>
                                -->
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Bulk Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Bulk File</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>Upload</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="position-relative form-group" th:if="${account}">
                                            <label for="accountId" class="">Select Account</label>
                                            <select name="accountId" id="accountId" class="form-control" readonly>
                                                <option th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionName()} + ')'"
                                                        th:value="${account.getId()}" selected></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group" th:unless="${account}">
                                            <label for="accountId" class="">Select Account</label>
                                            <select name="accountId" id="accountId" class="form-control">
                                                <option th:each="clientAccount: ${clientAccounts}"
                                                        th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionName()} + ')'"
                                                        th:value="${clientAccount.getId()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div id="step-2">
                                    <div class="card">
                                        <div class="position-relative form-group">
                                            <label for="currencyName" class="">Currency Name</label>
                                            <input name="currencyName" id="currencyName" placeholder="Enter Currency Name" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="currencyCode" class="">Currency Code</label>
                                            <input name="currencyCode" id="currencyCode" placeholder="Enter Currency Code" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div id="step-2">
                                    <div class="card">
                                        <!--<div class="position-relative form-group">-->
                                        <!--<label for="valueDate" class="">Value Date</label>-->
                                        <!--<input name="valueDate" id="valueDate" type="date" class="form-control">-->
                                        <!--</div>-->
                                        <div class="position-relative form-group">
                                            <label for="clientReference" class="">Client Reference</label>
                                            <textarea name="clientReference" id="clientReference" class="form-control"></textarea>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="purpose" class="">Purpose Code</label>
                                            <select name="purpose" id="purpose" class="form-control">
                                                <option th:each="purposeCode: ${purposeCodes}"
                                                        th:value="${purposeCode.getCodeName()}"
                                                        th:text="${purposeCode.name()} + ' (' + ${purposeCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="paymentType" class="">Type</label>
                                            <select name="paymentType" id="paymentType" class="form-control">
                                                <option th:each="paymentTypeCode: ${paymentTypeCodes}"
                                                        th:value="${paymentTypeCode.name()}"
                                                        th:text="${paymentTypeCode.name()} + ' (' + ${paymentTypeCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="priority" class="">Priority</label>
                                            <select name="priority" id="priority" class="form-control">
                                                <option th:each="priorityCode: ${priorityCodes}"
                                                        th:value="${priorityCode.name()}"
                                                        th:text="${priorityCode.name()} + ' (' + ${priorityCode.getCodeName()} + ')'"></option>
                                            </select>
                                            <small class="form-text text-danger" id="priorityMessage">
                                                Selecting a High Priority may incur extra charges.
                                            </small>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="paymentInstrument" class="">Instrument</label>
                                            <select name="paymentInstrument" id="paymentInstrument"
                                                    class="form-control">
                                                <option th:each="paymentInstrumentCode: ${paymentInstrumentCodes}"
                                                        th:value="${paymentInstrumentCode.name()}"
                                                        th:text="${paymentInstrumentCode.name()} + ' (' + ${paymentInstrumentCode.getCodeName()} + ')'"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="card">
                                        <div class="position-relative form-group">
                                            <label for="paymentsFile" class="">Payments File</label>
                                            <input name="paymentsFile" id="paymentsFile" type="file"
                                                   class="form-control-file"
                                                   data-max-file-size="100M" accept=".csv,.xls,.xlsx,.xml,.zip,.sfi">
                                            <small class="form-text text-muted">
                                                Pick a file. Only SFI, XML and CSV formats supported.
                                            </small>
                                        </div>
                                        <div class="position-relative form-check">
                                            <label for="verifyAccountInfo" class="form-check-label">
                                                <input name="verifyAccountInfo" id="verifyAccountInfo"
                                                       type="checkbox" class="form-check-input">
                                                Verify Account Details?
                                            </label>
                                        </div>
                                        <div class="position-relative form-check">
                                            <label for="stopWhenFailedVerification" class="form-check-label">
                                                <input name="stopWhenFailedVerification"
                                                       id="stopWhenFailedVerification" type="checkbox"
                                                       class="form-check-input">
                                                Stop payment when verification fails?
                                            </label>
                                        </div>
                                        <div class="position-relative form-check">
                                            <label for="batchBookingEnabled" class="form-check-label">
                                                <input name="batchBookingEnabled"
                                                       id="batchBookingEnabled" type="checkbox" checked
                                                       class="form-check-input">
                                                Enable Batch booking?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Bulk Ready for upload</div>
                                        <div class="results-title">If you are sure your information is correct, you can
                                            upload your bulk now.
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-upload").addClass("mm-active");

    $("#priority").on("change", function () {
        console.log("priority changed. Value is: ", this.value);
        if (this.value == 'High') {
            $("#priorityMessage").show();
        } else {
            $("#priorityMessage").hide();
        }
    });
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
