<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Payment Obligations
                                <div class="page-title-subheading">Payment Obligations</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/payments/obligations}">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>Refresh</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div th:if="${paymentObligations}" class="main-card mb-3 card">
                    <div class="card-header">
                        <h6 class="modal-title">Search Obligations</h6>
                    </div>
                    <div class="card-body">
                        <form id="searchForm" class="" method="get" th:action="@{/payments/obligations}">
                            <div class="position-relative form-group">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <input class="form-control my-0 py-1 red-border" name="searchPhrase"
                                           id="searchInput" type="text"
                                           placeholder="Search by payment reference or beneficiary name"
                                           aria-label="Search" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text red lighten-3" id="searchIcon"><i
                                                class="fas fa-search text-grey" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-group-append">
                                        <span>&nbsp;&nbsp;</span>
                                        <span class="input-group-text red lighten-3" data-toggle="modal" data-target="#filterObligationsModal">
                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div th:if="${paymentObligationsRaisedByClient}" class="main-card mb-3 card">
                    <div class="card-header">
                        <h4 class="card-title">Payment request you have made</h4>
                    </div>
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Due date</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-obligation-row" th:each="paymentObligation: ${paymentObligationsRaisedByClient}" th:id="${paymentObligation.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/obligations/view/' + ${paymentObligation.getId()}"
                                       th:text="${paymentObligation.getId()}"></a>
                                </td>
                                <td th:if="${paymentObligation.getPaymentDueDate()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getPaymentDueDate()))}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getPaymentDueDate()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:if="${paymentObligation.getDateCreated()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getDateCreated()))}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getDateCreated()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:if="${paymentObligation.getObligationStatus()}" th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentObligation.getObligationStatus())}"></td>
                                <td th:unless="${paymentObligation.getObligationStatus()}" th:text="''"></td>
                                <td th:if="${paymentObligation.getAmount()}">
                                    <span th:if="${paymentObligation.getAmount().getCurrency()}"
                                          th:text="${paymentObligation.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${paymentObligation.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(paymentObligation.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getAmount()}" th:text="''"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Due date</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${paymentObligationsRaisedByClient}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>You have no payment obligations.</h2>
                        </div>
                    </div>
                </div>

                <div th:if="${paymentObligationsTargetingClient}" class="main-card mb-3 card">
                    <div class="card-header">
                        <h4 class="card-title">Payment Authorisation Requests</h4>
                    </div>
                    <div class="card-body">
                        <table style="width: 100%;" id="example2" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Due date</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-obligation-row" th:each="paymentObligation: ${paymentObligationsTargetingClient}" th:id="${paymentObligation.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/obligations/view/' + ${paymentObligation.getId()}"
                                       th:text="${paymentObligation.getId()}"></a>
                                </td>
                                <td th:if="${paymentObligation.getPaymentDueDate()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getPaymentDueDate()))}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getPaymentDueDate()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:if="${paymentObligation.getDateCreated()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getDateCreated()))}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getDateCreated()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:if="${paymentObligation.getObligationStatus()}" th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentObligation.getObligationStatus())}"></td>
                                <td th:unless="${paymentObligation.getObligationStatus()}" th:text="''"></td>
                                <td th:if="${paymentObligation.getAmount()}">
                                    <span th:if="${paymentObligation.getAmount().getCurrency()}"
                                          th:text="${paymentObligation.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${paymentObligation.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(paymentObligation.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${paymentObligation.getAmount()}" th:text="''"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Due date</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${paymentObligationsTargetingClient}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>You have no payment obligations.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/payments/payment_obligations.js"></script>
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-manage-obligations").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
