<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Payment
                                <div class="page-title-subheading">Payment Details.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary" href="/zpas/payments/">
                                        <span>
                                            <i class="fa fa-backward"></i>
                                        </span> Back
                                </a>

                                <a class="btn btn-primary" id="signaturesButton" href="#" data-toggle="modal"
                                   data-target="#signatures">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Signature Details
                                </a>

                                <!--<button type="button" class="btn-shadow btn btn-primary"
                                        th:id="'CPCRBtn'+${payment.getId()}"
                                        onclick="customer_payment_cancellation_request(this.id)">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-question fa-w-20"></i>
                                        </span>
                                    Customer Payment Cancellation
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:id="'CNRBtn'+${payment.getId()}"
                                        onclick="claim_non_receipt_request(this.id)">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-question fa-w-20"></i>
                                        </span>
                                    Claim Non Receipt
                                </button>-->

                                <span style="display: none" id="paymentIdForModal" th:text="${payment.id}"></span>
                                <span style="display: none" id="paymentEndToEndId"
                                      th:text="${payment.getEndToEndId()}"></span>
                                <span style="display: none" id="verifyPaymentBeneficiaryInfo"
                                      th:text="${payment.verificationNeeded()}"></span>

                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        th:if="${!payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)
                                        && !payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)
                                        && payment.getRelatedInvestigationCase() == null }"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Payment Request
                                </button>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <!--<li class="nav-item" th:if="${isPaymentCancellationAction}">-->
                                        <li class="nav-item">
                                            <a class="nav-link" id="customerPaymentCancellationRequestModalBtn"
                                               data-toggle="modal" data-target="#createPaymentRequestModal">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>Payment Cancellation</span>
                                            </a>

                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" id="claimNoneReceiptModalBtn" data-toggle="modal"
                                               data-target="#createPaymentRequestModal">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>Claim Non Receipt</span>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${payment}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <span id="paymentIdSpan" style="display: none;" th:text="${payment.getId()}"></span>
                                <span id="paymentReferenceSpan" style="display: none;"
                                      th:text="${payment.getEndToEndId()}"></span>
                                <a href="#" id="paymentActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right" th:if="${payment}">
                                    <a th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment) && payment.getBulkPayment() != null}"
                                       class="mb-2 mr-2 btn btn-primary" th:href="'/zpas/payments/view/' + ${payment.getBulkPayment().getId()}">
                                        View Bulk Payment
                                    </a>
                                    <button data-toggle="modal" data-target="#paymentStatusHistoryModal"
                                            class="mb-2 mr-2 btn btn-primary">Status History
                                    </button>
                                    <button th:if="${!payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT) && !payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL) && !payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_VERIFICATION)}"
                                            data-toggle="modal" data-target="#resolvePaymentModal"
                                            class="mb-2 mr-2 btn btn-primary">Resolve Payment
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_SEND_PROOF_OF_PAYMENT')"
                                            th:if="${payment.canSendProofOfPayment()}"
                                            data-toggle="modal" data-target="#sendProofOfPaymentModal"
                                            class="mb-2 mr-2 btn btn-primary">Send Proof Of Payment
                                    </button>
                                    <!--
                                    <button sec:authorize="hasAuthority('ROLE_INITIATE_PAYMENT')"
                                            th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).ACTIVE) or payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_DISPATCH)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="initiatePaymentTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Initiate Payment
                                    </button>
                                    -->
                                    <button th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="submitPaymentTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Submit For Approval
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_APPROVE_PAYMENT')"
                                            th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="approvePaymentTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Approve
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_REJECT_PAYMENT')"
                                            th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="rejectPaymentTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Reject
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_DELETE_PAYMENT')"
                                            th:if="${payment.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="deletePaymentTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Delete
                                    </button>

                                    <button data-toggle="modal" data-target="#investigationCasesModal" class="mb-2 mr-2 btn btn-primary">
                                        Payment Investigation Cases
                                    </button>

                                    <a class="mb-2 mr-2 btn btn-primary" href=""> <i class="fa fa-recycle"></i> Refresh</a>

                                </div>
                                <div class="pull-right" th:unless="${payment}">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${payment}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Payment Information</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${payment.getEndToEndId()}">
                                                <th scope="row">Reference</th>
                                                <td th:text="${payment.getEndToEndId()}"></td>
                                            </tr>
                                            <tr th:if="${payment.getAdjustments()}">
                                                <th scope="row">Charge/Adjustments</th>
                                                <td>
                                                    <p th:text="${payment.getAdjustments().getCurrency().getCodeName()} + ' ' + ${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(payment.getAdjustments().getAmount().doubleValue())}"></p>
                                                    <p th:text="${payment.getAdjustments().getChargeRate()}"></p>
                                                    <p th:text="${payment.getAdjustments().getReason()}"></p>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment.getAccount()}">
                                                <th scope="row">Account</th>
                                                <td th:text="${payment.getAccount().getIdentification().getNumber()}"></td>
                                            </tr>
                                            <tr th:if="${payment.getPaymentInstrument()}">
                                                <th scope="row">Payment Instrument</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getPaymentInstrument().name())}"></td>
                                            </tr>
                                            <tr th:if="${payment.getOriginalPayment()}">
                                                <th scope="row">Original Payment</th>
                                                <td>
                                                    <a th:href="'/zpas/payments/view/' + ${payment.getOriginalPayment().getId()}"></a>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment.getAmount()}">
                                                <th scope="row">Amount</th>
                                                <td>
                                                    <span th:if="${payment.getAmount().getCurrency()}"
                                                          th:text="${payment.getAmount().getCurrency().getCodeName()}"></span>
                                                    <span th:if="${payment.getAmount()}"
                                                          th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(payment.getAmount().getAmount().doubleValue())}"></span>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Payment Reference</th>
                                                <td id="beneficiaryDetailsPaymentReference"
                                                    th:text="${payment.getEndToEndId()}"></td>
                                            </tr>
                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Beneficiary Name</th>
                                                <td id="beneficiaryDetailsName"
                                                    th:text="${payment.getBeneficiaryName()}"></td>
                                            </tr>
                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Beneficiary Bank</th>
                                                <td id="beneficiaryDetailsBank"
                                                    th:text="${payment.getBeneficiaryBank()}"></td>
                                            </tr>
                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Beneficiary Account</th>
                                                <td id="beneficiaryDetailsAccount"
                                                    th:text="${payment.getBeneficiaryAccount()}"></td>
                                            </tr>
                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.BulkPayment)}">
                                                <th scope="row">Number of transactions</th>
                                                <td th:text="${payment.getGroups().size()}"></td>
                                            </tr>
                                            <tr th:if="${payment}">
                                                <th scope="row">Type of Payment</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getClass().getSimpleName())}"></td>
                                            </tr>
                                            <tr th:if="${payment.paymentRelatedIdentifications != null and payment.paymentRelatedIdentifications.size() > 0}">
                                                <th scope="row">Own Reference</th>
                                                <td th:text="${payment.paymentRelatedIdentifications.get(0).getCounterpartyReference()}"></td>
                                            </tr>
                                            <tr th:if="${payment.paymentRelatedIdentifications != null and payment.paymentRelatedIdentifications.size() > 0}">
                                                <th scope="row">Beneficiary Reference</th>
                                                <td th:text="${payment.paymentRelatedIdentifications.get(0).getCreditorReference()}"></td>
                                            </tr>
                                            <tr th:if="${payment.paymentRelatedIdentifications != null and payment.paymentRelatedIdentifications.size() > 0}">
                                                <th scope="row">Purpose</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getPurpose())}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Payment Status</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getLatestPaymentStatusString())}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${payment.getValueDate()}">
                                                <th scope="row">Value Date</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(payment.getValueDate()))}"></td>
                                            </tr>
                                            <tr th:if="${payment.getDateCreated()}">
                                                <th scope="row">Date Created</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(payment.getDateCreated()))}"></td>
                                            </tr>
                                            <tr th:if="${payment.getPriority()}">
                                                <th scope="row">Priority</th>
                                                <td th:text="${payment.getPriority().name()}"></td>
                                            </tr>
                                            <tr th:if="${payment.getInstructedAmount()}">
                                                <th scope="row">Instructed Amount</th>
                                                <td>
                                                    <div th:if="${payment.getInstructedAmount()}">
                                                        <span th:if="${payment.getInstructedAmount().getCurrency()}"
                                                              th:text="${payment.getInstructedAmount().getCurrency().getCodeName()}"></span>
                                                        <span th:if="${payment.getInstructedAmount().getAmount()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(payment.getInstructedAmount().getAmount().doubleValue())}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment.getType()}">
                                                <th scope="row">Payment Type</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getType().name())}"></td>
                                            </tr>
                                            <tr th:if="${payment.getCurrencyOfTransfer()}">
                                                <th scope="row">Currency Of Transfer</th>
                                                <td th:if="${payment.getCurrencyOfTransfer()}"
                                                    th:text="${payment.getCurrencyOfTransfer().getCodeName()}"></td>
                                                <td th:unless="${payment.getCurrencyOfTransfer()}" th:text="''"></td>
                                            </tr>
                                            <tr th:if="${payment.getCreditMethod() != null and payment.getCreditMethod().size() > 0}">
                                                <th scope="row">Credit Method</th>
                                                <td>
                                                    <ul>
                                                        <li th:each="creditMethod: ${payment.getCreditMethod()}"
                                                            th:text="${creditMethod.getMethod().name()}"></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr th:if="${(payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)) and payment.getBulkPayment() != null}">
                                                <th scope="row">Bulk Reference</th>
                                                <td th:if="${payment.getBulkPayment()}">
                                                    <a th:href="'/zpas/payments/view/' + ${payment.getBulkPayment().getId()}"
                                                       th:text="${payment.getBulkPayment().getEndToEndId()}"></a>
                                                </td>
                                                <td th:unless="${payment.getBulkPayment()}" th:text="''"></td>
                                            </tr>
                                            <tr th:if="${payment.contributionScheduleId != null}">
                                                <th scope="row">Contribution Schedule</th>
                                                <td>
                                                    <a th:href="'/zpas/nssa/payments/view/' + ${payment.contributionScheduleId}">View Contribution</a>
                                                </td>
                                                <td th:unless="${payment.getBulkPayment()}" th:text="''"></td>
                                            </tr>
                                            <tr th:if="${remittanceInfoMap != null and remittanceInfoMap.size() > 0}">
                                                <th scope="row">Remittance Information</th>
                                                <td>
                                                    <a href="#" role="button" data-toggle="modal"
                                                       data-target="#remittanceInformationModal"
                                                       class="btn btn-primary">Show Remittance Information</a>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment.getExtraDetails() != null and payment.getExtraDetails().size() > 0}">
                                                <th scope="row">Extra Details</th>
                                                <td>
                                                    <a href="#" role="button" data-toggle="modal"
                                                       data-target="#extraDetailsModal"
                                                       class="btn btn-primary">Show Extra Details</a>
                                                </td>
                                            </tr>
                                            <tr th:if="${payment.verificationNeeded()}">
                                                <th scope="row">Verification</th>
                                                <td th:id="'fa-' + ${payment.getEndToEndId()}">
                                                    Verificatin in progress
                                                    <i class="fa fa-spinner fa-spin fa-fw text-primary"
                                                       aria-hidden="true"></i>
                                                </td>
                                            </tr>

                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Organisation SSR</th>
                                                <td id="organisationSsr"
                                                    th:text="${payment.getOrganisationSsr()}"></td>
                                            </tr>

                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">Business Partner Number</th>
                                                <td id="organisationBpn"
                                                    th:text="${payment.getOrganisationBpn()}"></td>
                                            </tr>

                                            <tr th:if="${payment instanceof T(zw.co.esolutions.zpas.model.IndividualPayment)}">
                                                <th scope="row">NSSA Status</th>
                                                <td id="nssaStatus"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="col-md-12 mt-1" th:if="${payment.paymentRelatedIdentifications}">
                                        <table class="mb-0 table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>End to End ID</th>
                                                <th>Instruction ID</th>
                                                <th>Transaction ID</th>
                                                <th>Execution ID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="payment-row"
                                                th:each="paymentIdentification: ${payment.paymentRelatedIdentifications}">
                                                <td th:if="${paymentIdentification.endToEndIdentification}"
                                                    th:text="${paymentIdentification.endToEndIdentification}"></td>
                                                <td th:unless="${paymentIdentification.endToEndIdentification}"
                                                    th:text="''"></td>

                                                <td th:if="${paymentIdentification.instructionIdentification}"
                                                    th:text="${paymentIdentification.instructionIdentification}"></td>
                                                <td th:unless="${paymentIdentification.instructionIdentification}"
                                                    th:text="''"></td>

                                                <td th:if="${paymentIdentification.transactionIdentification}"
                                                    th:text="${paymentIdentification.transactionIdentification}"></td>
                                                <td th:unless="${paymentIdentification.transactionIdentification}"
                                                    th:text="''"></td>

                                                <td th:if="${paymentIdentification.executionIdentification}"
                                                    th:text="${paymentIdentification.executionIdentification}"></td>
                                                <td th:unless="${paymentIdentification.executionIdentification}"
                                                    th:text="''"></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>End to End ID</th>
                                                <th>Instruction ID</th>
                                                <th>Transaction ID</th>
                                                <th>Execution ID</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${payment}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find payment.</h2>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${payment instanceof T(zw.co.esolutions.zpas.model.BulkPayment)}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">

                                <h5 class="card-title">Payments Summary</h5>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th>Accepted Payments</th>
                                                <td th:text="${acceptedPaymentsCount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th>Rejected Payments</th>
                                                <td th:text="${rejectedPaymentsCount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${payment} and ${payment instanceof T(zw.co.esolutions.zpas.model.BulkPayment)}"
                     class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Account</th>
                                <th>Beneficiary Bank</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th th:if="${payment.verificationNeeded()}">Verification</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row"
                                th:each="individualPayment, iStat: ${individualPaymentsPage.content}"
                                th:id="${individualPayment.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/view/' + ${individualPayment.getId()}"
                                       th:text="${individualPayment.getEndToEndId()}"></a>
                                </td>
                                <td th:if="${individualPayment.getValueDate()}"
                                    th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(individualPayment.getValueDate()))}"></td>
                                <td th:unless="${individualPayment.getValueDate()}" th:text="'---'"></td>
                                <td th:text="${individualPayment.getBeneficiaryName()}"
                                    th:id="'beneficiaryName-' + ${individualPayment.getId()}"></td>
                                <td th:text="${individualPayment.getBeneficiaryAccount()}"
                                    th:id="'beneficiaryAccount-' + ${individualPayment.getId()}"></td>
                                <td th:text="${individualPayment.getBeneficiaryBank()}"
                                    th:id="'beneficiaryAccount-' + ${individualPayment.getId()}"></td>
                                <!--<td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(individualPayment.getClass().getSimpleName())}"></td>-->
                                <td class="text-right" th:if="${individualPayment.getAmount()}">
                                    <span th:if="${individualPayment.getAmount().getCurrency()}"
                                          th:text="${individualPayment.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${individualPayment.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(individualPayment.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${individualPayment.getAmount()}" th:text="''"></td>
                                <td th:text="${individualPayment.getLatestPaymentStatusString()}"></td>
                                <td th:if="${payment.verificationNeeded()}"
                                    class="text-center" th:id="'fa-' + ${individualPayment.getEndToEndId()}">
                                    Verification In Progress
                                    <i class="fa fa-spinner fa-spin fa-fw text-primary" aria-hidden="true"></i>
                                </td>
                                <td>
                                    <button class="mb-1 mr-1 btn-icon btn-icon-only btn-pill btn btn-info pull-left"
                                            data-trigger="focus" data-toggle="popover"
                                            title="<b>Verified Account Information</b>"
                                            data-html="true"
                                            th:attr="data-content=${'<div>Beneficiary Name: ' + individualPayment.getVerifiedBeneficiaryName()
                                            + '<br>Bank: ' + individualPayment.getVerifiedBankName()
                                            + '<br>Account Number: ' + individualPayment.getBeneficiaryAccount()
                                            + '<br>Account Name: ' + individualPayment.getVerifiedAccountName()
                                            + '<br>Additional Info: ' + individualPayment.getVerificationNarrative() + '</div>'}">
                                        <i class="lnr-eye btn-icon-wrapper"> </i>
                                    </button>
                                    <i th:if="${individualPayment.getVerifiedSuccessfully().equals(true)}"
                                       class="fa fa-check text-success pull-right" aria-hidden="true"
                                       data-toggle="tooltip"
                                       title="Account verification was successfully.">&nbsp;&nbsp;</i>
                                    <i th:if="${individualPayment.getVerifiedSuccessfully().equals(false)}"
                                       class="fa fa-times text-warning pull-right" aria-hidden="true"
                                       data-toggle="tooltip" title="Account verification failed.">&nbsp;&nbsp;</i>
                                    <i th:if="${individualPayment.canRejectPayment().equals(true)}"
                                       th:id="${individualPayment.id}"
                                       th:attr="data-reference=${individualPayment.getEndToEndId()}"
                                       class="fa fa-trash text-danger pull-right reject-payment-trigger"
                                       aria-hidden="true"
                                       data-toggle="modal" data-target="#confirmationModal">&nbsp;&nbsp;</i>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Account</th>
                                <th>Beneficiary Bank</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th th:if="${payment.verificationNeeded()}">Verification</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <div id="pagination-container"></div>
                                </div>
                            </div>


                            <span id="currentPageSpan" style="display: none;" th:text="${currentPage}"></span>
                            <span id="totalPagesCountSpan" style="display: none;" th:text="${individualPaymentsPage.totalPages}"></span>
                            <span id="totalElementsSpan" style="display: none;" th:text="${individualPaymentsPage.getTotalElements()}"></span>
                            <a class="page-link" id="goToPageLink" style="display: none"
                               th:href="@{${paymentUrl}(size=10, page=${'replace_page_number'})}"><span>Click me</span></a>
                        </div>
                    </div>
                </div>

                <div th:unless="${payment} and ${payment instanceof T(zw.co.esolutions.zpas.model.BulkPayment)}"
                     class="main-card mb-3 card">

                    <div class="col-md-12" style="display: none;">
                        <div class="pull-right">
                            <div id="pagination-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--Send Proof of Payment Modal -->
<div class="modal fade" id="sendProofOfPaymentModal" tabindex="-1" role="dialog"
     aria-labelledby="sendProofOfPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendProofOfPaymentModalLabel">Proof Of Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="proofOfPaymentForm" th:if="${payment}" th:action="@{/messaging/proof-of-payment}">
                    <input style="display: none;" type="text" id="paymentId" name="paymentId"
                           th:value="${payment.getId()}"/>
                    <div class="form-group">
                        <label for="recipientName" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" name="recipientName" id="recipientName"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email"/>
                    </div>
                </form>
                <p th:unless="${payment}">No Payment found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="proofOfPaymentCloseButton" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="sendProofOfPaymentButton" class="btn btn-primary" data-dismiss="modal">Send
                    PoP
                </button>
            </div>
        </div>
    </div>
</div>

<!--End Send Proof of Payment Modal -->

<!--Start Resolve Payment Modal -->
<div class="modal fade" id="resolvePaymentModal" tabindex="-1" role="dialog"
     aria-labelledby="resolvePaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resolvePaymentModalLabel">Resolve Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Current Status: <span th:text="${payment.getLatestPaymentStatusString()}"></span>
                </h5>
                <form id="resolvePaymentForm" th:if="${payment}" th:action="@{/payments/resolve}" method="post">
                    <input style="display: none;" type="text" id="paymentIdResolve" name="paymentId"
                           th:value="${payment.getId()}"/>
                    <div class="form-group">
                        <label for="newStatus" class="col-form-label">New Status:</label>
                        <select name="newStatus" id="newStatus"
                                class="form-control">
                            <option value="">--Select new status--</option>
                            <option th:each="paymentStatus: ${paymentStatuses}"
                                    th:value="${paymentStatus.name()}"
                                    th:text="${paymentStatus}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="col-form-label">Reason:</label>
                        <input type="text" class="form-control" name="reason" id="reasonPaymentResolve"/>
                    </div>

                    <div class="form-group pull-right">
                        <button type="button" id="resolvePaymentCloseButton" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" id="resolvePaymentButton" class="btn btn-primary">Submit
                        </button>
                    </div>
                </form>
                <p th:unless="${payment}">No Payment found.</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!--End Resolve Payment Modal -->

<!--Remittance Information Modal -->
<div class="modal fade" id="remittanceInformationModal" tabindex="-1" role="dialog"
     aria-labelledby="remittanceInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remittance Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" th:if="${remittanceInfoMap}">
                    <table class="mb-0 table">
                        <tbody>
                        <tr th:each="entry: ${remittanceInfoMap.entrySet()}">
                            <th scope="row" th:text="${entry.getKey()}"></th>
                            <td th:text="${entry.getValue()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:unless="${remittanceInfoMap}">No Remittance Information found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Remittance Information Modal -->

<!--Extra Details Modal -->
<div class="modal fade" id="extraDetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="extraDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Extra Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" th:if="${payment.getExtraDetails() != null}">
                    <table class="mb-0 table">
                        <tbody>
                        <tr th:each="extraDetail: ${payment.getExtraDetails()}">
                            <td th:text="${extraDetail.getDetail()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:unless="${payment.getExtraDetails() != null}">No Extra Details found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Extra Details Modal -->

<!--Payment Status History Modal -->
<div class="modal fade" id="paymentStatusHistoryModal" tabindex="-1" role="dialog"
     aria-labelledby="paymentStatusHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Status History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Statuses</h5>
                <div class="table-responsive" th:if="${payment}">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payment Status</th>
                            <th>Status Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="paymentStatus: ${payment.getPaymentStatus()}">
                            <th scope="row" th:if="${paymentStatus.getDateCreated()}"
                                th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentStatus.getDateCreated()))}"></th>
                            <th scope="row" th:unless="${paymentStatus.getDateCreated()}" th:text="'---'"></th>

                            <td th:if="${paymentStatus.getStatus()}"
                                th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentStatus.getStatus().name())}"></td>
                            <td th:unless="${paymentStatus.getStatus()}" th:text="''"></td>

                            <td th:if="${paymentStatus.statusReason}">
                                <ul>
                                    <li th:each="statusReason: ${paymentStatus.statusReason}"
                                        th:text="${statusReason.reason}"></li>
                                </ul>
                            </td>
                            <td th:unless="${paymentStatus.statusReason}" th:text="''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:unless="${payment}">No Payment found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Payment Status History Modal -->

<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<!-- Start Payment Cancellation request Modal-->
<div class="modal fade" id="createPaymentRequestModal" tabindex="-1" role="dialog"
     aria-labelledby="createPaymentRequestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="reqTitle"></strong></h6>
                <form class="" method="post" th:action="@{/payments/request}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="reason">Reason</label>
                                    <textarea type="text" class="form-control" id="reason" name="reason"
                                              required></textarea>
                                    <small class="form-text text-muted">Reason of the query
                                    </small>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <label for="paymentReqType">Type</label>
                                    <input type="text" class="form-control" id="paymentReqType" name="requestType">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <label for="paymentReqId">Id</label>
                                    <input type="text" class="form-control" id="paymentReqId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Payment Cancellation request Modal-->


<!-- Signature -->
<div class="modal fade" id="signatures" tabindex="-1" role="dialog"
     aria-labelledby="signaturesLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">Signature Details</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark" id="signedBtn">Signed</button>
                                <button class="btn btn-outline-dark" id="pendingBtn">Pending</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive signed-table">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover"
                               id="signaturesSignedTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Date Signed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">No one has signed yet.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive pending-table" style="display: none">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover"
                               id="signaturesPendingTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3" class="text-center">There are no pending signatories.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-block clearfix card-footer">

                    <div class="float-right">
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of signature-->

<!--Start of Payment Investigation Cases Modal-->
<div class="modal fade" id="investigationCasesModal" tabindex="-1" role="dialog"
     aria-labelledby="investigationCasesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="investigationCasesModalLabel">Payment Investigation Cases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:if="${paymentInvestigationCases}">
                <div class="main-card mb-3 card" >
                    <div class="card-body">
                        <a class="btn btn-primary" style="display: none" href="#"
                           id="BtnToTriggerCase" data-toggle="modal"
                           data-target="#investigationCaseStatus"></a>
                        <a class="btn btn-primary" style="display: none" href="#"
                           id="BtnToTriggerResolution" data-toggle="modal"
                           data-target="#investigationCaseResolution"></a>
                        <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>Case Id</th>
                                <th>Case Type</th>
                                <th>Cancellation Reason</th>
                                <!--                                            <th>Investigation Case Reference</th>-->
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="investigationCase : ${paymentInvestigationCases}">
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd-MM-yyyy HH:mm a').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(investigationCase.getCreationDateTime()))}"></td>
                                <td>  <a th:href="'/zpas/resolution/center/view/' + ${investigationCase.getId()}" th:text="${investigationCase.getIdentification()}"> </a></td>
                                <td th:text="${investigationCase.getCaseType()}">Case Type</td>
                                <td th:text="${investigationCase.getCancellationReason()}">
                                    Cancellation Reason
                                </td>
                                <!--  <td th:text="${investigationCase.getInvestigationResolution().get(0).getInvestigationCaseReference()}">
                                  </td>-->
                                <td th:text="${investigationCase.getStatus().get(0).getCaseStatus().getCodeName()}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div th:unless="${paymentInvestigationCases}" class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Sorry, could not find any cases.</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End of Payment Investigation Cases Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script type="text/javascript" src="/zpas/js/pagination/pagination.js"></script>
<script type="text/javascript" src="/zpas/js/payments/payments.js"></script>

<script type="application/javascript">

    $(document).ready(function () {
        // Enables popover
        // $("[data-toggle=popover]").popover();

        var verifyPaymentInfo = $("#verifyPaymentBeneficiaryInfo").text();
        console.log("Verify payment info: ", verifyPaymentInfo);
        if (verifyPaymentInfo == "true" || verifyPaymentInfo == true) {
            if (!!window.EventSource) {
                var eventSource = new EventSource("/payments/sse/infinite/" + $("#paymentIdForModal").text());

                function add(message) {
                    console.log(message);
                    // var element = document.createElement("li");
                    // element.innerHTML = message;
                    // elements.appendChild(element);
                }

                eventSource.onmessage = function (e) {
                    var message = JSON.parse(e.data);

                    updatePaymentVerificationProgressIndicator(message);
                    if (message.sseMessages) {
                        if (message.sseMessages.length > 0) {
                            $.each(message.sseMessages, function (index, verificationStatus) {
                                updatePaymentVerificationProgressIndicator(verificationStatus);
                            });
                        }
                    }

                    if (message.status == "SUCCESS") {
                        console.log("Message status:", message.status);
                        location.reload();
                    }

                    if (message.status == "TIMED_OUT") {
                        console.log("Message status:", message.status);
                        location.reload();
                    }

                    add(message.text);
                };

                eventSource.onopen = function (e) {
                    add('connection was opened');
                };

                eventSource.onerror = function (e) {
                    if (e.readyState == EventSource.CONNECTING) {
                        add('event: CONNECTING');
                    } else if (e.readyState == EventSource.OPEN) {
                        add('event: OPEN');
                    } else if (e.readyState == EventSource.CLOSING) {
                        add('event: CLOSING');
                        // eventSource.close();
                    } else if (e.readyState == EventSource.CLOSED) {
                        add('event: CLOSED');
                        // eventSource.close();
                    }
                };
            } else {
                alert('The browser does not support Server-Sent Events');
            }
        } else {
            console.log("No verification requested for this payment");
        }
    });

    function updatePaymentVerificationProgressIndicator(verificationStatus) {
        var targetId = "#fa-" + verificationStatus.requestId;
        console.log("Target Id is:", targetId);
        console.log("Verification status is:", verificationStatus.status);
        switch (verificationStatus.status) {
            case "SUCCESS":
                $(targetId).html("Verified &nbsp; <i class=\"fa fa-check fa-fw text-success\" aria-hidden=\"true\"></i>");
                break;
            case "FAILED":
                $(targetId).html("Incorrect Beneficiary Info &nbsp; <i class=\"fa fa-times fa-fw text-danger\" aria-hidden=\"true\"></i>");
                break;
            case "IN_PROGRESS":
                // html = "Verification in progress &nbsp; <i class=\"fa fa-spinner fa-spin fa-fw text-primary\" aria-hidden=\"true\">";
                break;
        }

    }

</script>
<!--End of scripts-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
