<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Payment Obligation
                                <div class="page-title-subheading">Payment Obligation Details.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                            <div class="d-inline-block dropdown">

                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Actions
                                </button>

                                <span style="display: none;" id="paymentObligationIdSpan" th:text="${paymentObligation.getId()}"></span>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>Refresh</span>
                                            </a>

                                        </li>
                                        <li th:if="${paymentObligation.getObligationStatus() == 'PENDING_AUTHORISATION' or paymentObligation.getObligationStatus() == 'PARTIALLY_AUTHORISED'}" class="nav-item">
                                            <a class="nav-link" id="approvePaymentActivationRequestBtn"
                                               data-toggle="modal" data-target="#confirmationModal">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>Approve</span>
                                            </a>

                                        </li>

                                        <li th:if="${paymentObligation.getObligationStatus() == 'PENDING_AUTHORISATION'}" class="nav-item">
                                            <a class="nav-link" id="rejectPaymentActivationRequestBtn"
                                               data-toggle="modal"
                                               data-target="#confirmationModal">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>Reject</span>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${paymentObligation}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <span id="paymentIdSpan" style="display: none;"
                                      th:text="${paymentObligation.getId()}"></span>
                                <a href="#" id="paymentRequestActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right" th:if="${paymentObligation}">
                                    <button data-toggle="modal" data-target="#paymentStatusHistoryModal"
                                            class="mb-2 mr-2 btn btn-primary">Status History
                                    </button>
                                </div>
                                <div class="pull-right" th:unless="${paymentObligation}">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${paymentObligation}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Obligation Information</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${paymentObligation.getId()}">
                                                <th scope="row">Reference</th>
                                                <td th:text="${paymentObligation.getId()}"></td>
                                            </tr>

                                            <tr th:if="${paymentObligation.getAmount()}">
                                                <th scope="row">Control Sum</th>
                                                <td>
                                                    <span th:if="${paymentObligation.getAmount().getCurrency()}"
                                                          th:text="${paymentObligation.getAmount().getCurrency().getCodeName()}"></span>
                                                    <span th:if="${paymentObligation.getAmount()}"
                                                          th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(paymentObligation.getAmount().getAmount().doubleValue())}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Obligation Status</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentObligation.getObligationStatus())}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${paymentObligation.getDateCreated()}">
                                                <th scope="row">Date Created</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getDateCreated()))}"></td>
                                            </tr>
                                            <tr th:if="${paymentObligation.getPaymentDueDate()}">
                                                <th scope="row">Payment Due Date</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentObligation.getPaymentDueDate()))}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${paymentObligation}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find paymentObligation.</h2>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Bank</th>
                                <th>Beneficiary Acc</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row" th:each="paymentOffset: ${paymentObligation.paymentOffset}"
                                th:id="${paymentOffset.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/view/' + ${paymentOffset.getId()}"
                                       th:text="${paymentOffset.getId()}"></a>
                                </td>
                                <td th:if="${paymentOffset.getValueDate()}"
                                    th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentOffset.getValueDate()))}"></td>
                                <td th:unless="${paymentOffset.getValueDate()}" th:text="'---'"></td>
                                <td th:text="${paymentOffset.getBeneficiaryName()}" th:id="'beneficiaryName-' + ${paymentOffset.getId()}"></td>
                                <td th:text="${paymentOffset.getBeneficiaryBank()}" th:id="'beneficiaryBank-' + ${paymentOffset.getId()}"></td>
                                <td th:text="${paymentOffset.getBeneficiaryAccount()}" th:id="'beneficiaryBank-' + ${paymentOffset.getId()}"></td>
                                <!--<td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentOffset.getClass().getSimpleName())}"></td>-->
                                <td class="text-right" th:if="${paymentOffset.getAmount()}">
                                    <span th:if="${paymentOffset.getAmount().getCurrency()}"
                                          th:text="${paymentOffset.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${paymentOffset.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(paymentOffset.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${paymentOffset.getAmount()}" th:text="''"></td>
                                <td th:if="${paymentOffset.getEntityStatus()}" th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentOffset.getEntityStatus())}"></td>
                                <td th:unless="${paymentOffset.getEntityStatus()}" th:text="''"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Bank</th>
                                <th>Beneficiary Acc</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/payments/payment_obligations.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-manage-obligations").addClass("mm-active");
</script>
<!--End of scripts-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
