<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Payments
                                <div class="page-title-subheading">Payments</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Payment Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/payments/make-payment}">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>Make Payment</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" th:href="@{/payments/upload}">
                                            <a class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>Upload Bulk</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${payments}" class="main-card mb-3 card">
                    <div class="card-header">
                        <h6 class="modal-title">Search/Filter Payments</h6>
                    </div>
                    <div class="card-body">
                        <form id="searchForm" class="" method="get" th:action="@{/payments/}">
                            <div class="position-relative form-group">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <input class="form-control my-0 py-1 red-border" name="searchPhrase"
                                           id="searchInput" type="text"
                                           placeholder="Search by payment reference or beneficiary name"
                                           aria-label="Search">
                                    <div class="input-group-append">
                                        <span class="input-group-text red lighten-3" id="searchIcon"><i
                                                class="fas fa-search text-grey" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="accountId" class="">By Source Account</label>
                                        <select name="accountId" id="accountId" class="form-control">
                                            <option value=""></option>
                                            <option th:each="clientAccount: ${clientAccounts}"
                                                    th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ')'"
                                                    th:value="${clientAccount.getId()}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="paymentInstrument" class="">By payment instrument</label>
                                        <select name="paymentInstrument" id="paymentInstrument" class="form-control">
                                            <option value=""></option>
                                            <option th:each="paymentInstrumentCode: ${paymentInstrumentCodes}"
                                                    th:value="${paymentInstrumentCode.name()}"
                                                    th:text="${paymentInstrumentCode.name()} + ' (' + ${paymentInstrumentCode.getCodeName()} + ')'"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label for="paymentType" class="">By type</label>
                                        <select name="paymentType" id="paymentType" class="form-control">
                                            <option value=""></option>
                                            <option th:each="paymentTypeCode: ${paymentTypeCodes}"
                                                    th:value="${paymentTypeCode.name()}"
                                                    th:text="${paymentTypeCode.name()} + ' (' + ${paymentTypeCode.getCodeName()} + ')'"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <div class="position-relative form-group">
                                            <label for="valueDateFrom" class="">From</label>
                                            <input name="valueDateFrom" id="valueDateFrom" type="datetime-local"
                                                   class="form-control">
                                            <small class="form-text text-danger">
                                                Filter payments by their value date.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <div class="position-relative form-group">
                                            <label for="valueDateTo" class="">To</label>
                                            <input name="valueDateTo" id="valueDateTo" type="datetime-local"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <div class="position-relative form-group">
                                            <label for="dateCreatedFrom" class="">From</label>
                                            <input name="dateCreatedFrom" id="dateCreatedFrom" type="datetime-local"
                                                   class="form-control">
                                            <small class="form-text text-danger">
                                                Filter payments by their creation date.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <div class="position-relative form-group">
                                            <label for="dateCreatedTo" class="">To</label>
                                            <input name="dateCreatedTo" id="dateCreatedTo" type="datetime-local"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input style="display: none;" name="specialPayee" id="specialPayee" value="all">

                            <div class="position-relative form-group">
                                <div class="text-right">
                                    <button type="button" id="clearSearchAndFilterCriteria" class="btn-shadow btn-wide btn btn-link btn-sm">Clear</button>
                                    <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">Filter</button>
                                    <button type="button" onclick="getZimraPayments()" class="btn-shadow btn-wide btn btn-success btn-sm">Zimra Only</button>
                                    <button type="button" onclick="getNssaPayments()" class="btn-shadow btn-wide btn btn-success btn-sm">Nssa Only</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div th:if="${payments}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Acc</th>
                                <th>Beneficiary Bank</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row" th:each="payment: ${payments}" th:id="${payment.getId()}">
                                <td>
                                    <a th:href="'/zpas/payments/view/' + ${payment.getId()}"
                                       th:text="${payment.getEndToEndId()}"></a>
                                </td>
                                <td th:if="${payment.getValueDate()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(payment.getValueDate()))}"></span>
                                </td>
                                <td th:unless="${payment.getValueDate()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:text="${payment.getBeneficiaryName()}"
                                    th:id="'beneficiaryName-' + ${payment.getId()}"></td>
                                <td th:text="${payment.getBeneficiaryAccount()}"
                                    th:id="'beneficiaryAccount-' + ${payment.getId()}"></td>
                                <td th:text="${payment.getBeneficiaryBank()}"
                                    th:id="'beneficiaryAccount-' + ${payment.getId()}"></td>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(payment.getClass().getSimpleName())}"></td>
                                <td class="text-right" th:if="${payment.getAmount()}">
                                    <span th:if="${payment.getAmount().getCurrency()}"
                                          th:text="${payment.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${payment.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(payment.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:unless="${payment.getAmount()}" th:text="''"></td>
                                <td th:text="${payment.getLatestPaymentStatusString()}"></td>
                                <td>
                                    <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-info pull-left"
                                            data-trigger="focus" data-toggle="popover"
                                            title="<b>Verified Account Information</b>"
                                            data-html="true"
                                            th:attr="data-content=${'<div>Beneficiary Name: ' + payment.getVerifiedBeneficiaryName()
                                            + '<br>Bank: ' + payment.getVerifiedBankName()
                                            + '<br>Account Number: ' + payment.getVerifiedAccountNumber()
                                            + '<br>Account Name: ' + payment.getVerifiedAccountName()
                                            + '<br>Additional Info: ' + payment.getVerificationNarrative() + '</div>'}">
                                        <i class="lnr-eye btn-icon-wrapper"> </i>
                                    </button>
                                    <i th:if="${payment.getVerifiedSuccessfully().equals(true)}"
                                       class="fa fa-check text-success pull-right" aria-hidden="true"
                                       data-toggle="tooltip" title="Account verification was successfully."></i>
                                    <i th:unless="${payment.getVerifiedSuccessfully().equals(false)}"
                                       class="fa fa-close text-danger pull-right" aria-hidden="true"
                                       data-toggle="tooltip" title="Account verification failed."></i>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Value date</th>
                                <th>Beneficiary Name</th>
                                <th>Beneficiary Acc</th>
                                <th>Beneficiary Bank</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${payments}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find payments.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/payments/payments.js"></script>
<script>
    $("#payments-link").addClass("mm-active");
    $("#payments-link-manage").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
