<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Digital Signature Control
                                <div class="page-title-subheading">
                                    Manage grouping of users known as College
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!--<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                                    class="btn-shadow mr-3 btn btn-dark">
                                <i class="fa fa-star"></i>
                            </button>-->
                            <div class="d-inline-block">
                                <button type="button" class="btn-shadow btn btn-primary" data-toggle="modal"
                                        data-target="#createCollegeModal">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    New College
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="profileGroup :${profileGroups}" th:id="'row'+${profileGroup.getId()}">
                                <td th:id="'name'+${profileGroup.getId()}" th:text="${profileGroup.getName()}"></td>
                                <td th:id="'status'+${profileGroup.getId()}"
                                    th:text="${profileGroup.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                <td th:text="${formatter.format(profileGroup.getDateCreated())}"></td>
                                <td>
                                    <span th:if="${profileGroup.getEntityStatus().name() != 'DELETED'}">
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                title="Edit" onclick="edit_college(this.id)" th:id="'EditBtn'+${profileGroup.getId()}">
                                            <i class="fa fa-edit"></i></button>

                                       <span th:if="${profileGroup.getEntityStatus().name() != 'ACTIVE'}">
                                            <button type="button" class="btn btn-primary"
                                                    th:id="'ApproveBtn'+${profileGroup.getId()}" data-toggle="tooltip"
                                                    title="Approve" onclick="approve_college(this.id)">
                                        <i class="fa fa-check"></i></button>
                                       </span>

                                        <span th:if="${profileGroup.getEntityStatus().name() != 'DISAPPROVED'}">
                                            <button type="button" class="btn btn-warning" data-toggle="tooltip"
                                                    title="Disapprove" th:id="'RejectBtn'+${profileGroup.getId()}"
                                                    onclick="reject_college(this.id)">
                                                <i class="fa fa-window-close"></i></button>
                                        </span>


                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
                                            th:id="'DeleteBtn'+${profileGroup.getId()}" onclick="delete_college(this.id)"><i
                                            class="fa fa-trash"></i></button>
                                    </span>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Create College Modal -->
<div class="modal fade" id="createCollegeModal" tabindex="-1" role="dialog" aria-labelledby="createCollegeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>New College</strong></h6>
                <form class="" method="post" th:action="@{/college}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                    <small class="form-text text-muted">Name of the college (Grouping of the
                                        signatories)
                                    </small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Edit College Modal -->
<div class="modal fade" id="editCollegeModal" tabindex="-1" role="dialog" aria-labelledby="editCollegeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit College</strong></h6>
                <form class="" method="post" name="editCollegeForm" id="editCollegeForm" th:action="@{/college/edit}" th:object="${profileGroup}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="editName" name="name" required>
                                    <small class="form-text text-muted">Name of the college (Grouping of the
                                        signatories)
                                    </small>
                                </div>
                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" th:id="editButtonSubmit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script>

    function edit_college(final_id) {
        var id = final_id.replace(/EditBtn/g,'');
        console.log('The reject id is ' + final_id);

        console.log('Edit college id ' + id);
        var collegeName = $("#name" + id).text();



        $("#editId").val(id);
        $("#editName").val(collegeName);
        $('#editCollegeModal').modal('show');
    }

    function fire_ajax_submit() {

        var search = {};
        search["username"] = $("#username").val();

        // $("#btn-search").prop("disabled", true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/zpas/api/search",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            },
            error: function (e) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + e.responseText + "</pre>";
                $('#feedback').html(json);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);

            }
        });

    }

    function approve_college(id) {
        var final_id = id.replace(/ApproveBtn/g,'');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/college/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#ApproveBtn' + final_id).hide();
                    $('#RejectBtn' + final_id).show();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_college(id) {
        var final_id = id.replace(/RejectBtn/g,'');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/college/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#ApproveBtn' + final_id).show();
                    $('#RejectBtn' + final_id).hide();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_college(id) {
        var final_id = id.replace(/DeleteBtn/g,'');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/college/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $("#row" + final_id).remove();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editCollegeForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/college/edit',
                $(this).serialize(),
                function (response) {
                console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        $('#status' + response.object.id).text(response.object.entityStatus.replace(/_/g, ' '));
                        $('#name' + response.object.id).text(response.object.name);
                    } else {
                        //Notification
                    }
                    $('#editCollegeModal').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>


</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
