<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-error-text{
            color: red;
        }
        .my-custom-scrollbar {
            position: relative;
            height: 300px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
    <title>Create Client</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">
    <script src="/zpas/js/country_region/crs.min.js"></script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Create Client
                                <div class="page-title-subheading">Capture details for the Client
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button style="display: none" id="displayIDCardErrorModalButton" data-toggle="modal" data-target="#idCardNumberValidationModal"></button>

                            </div>
                        </div>
                    </div>
                </div>
                <span display="none" id="personIdSpan" th:text="${personId}"></span>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical" action="/zpas/clients" th:object="${clientCreationDTO}">
                            <input style="display: none" type="text" id="phonesJson" name="phonesJson">
                            <input style="display: none" type="text" id="addressesJson" name="addressesJson">
<!--
                            <input style="display: none" type="text" id="postalAddressesJson" name="postalAddressesJson">
-->
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Person Name</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2a">
                                        <em>2a</em><span>Primary Identification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2b">
                                        <em>2b</em><span>Person Identification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2c">
                                        <em>2c</em><span>Virtual Identification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Place Of Birth</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>General Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <em>5</em><span>Employment Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-6">
                                        <em>6</em><span>Contact Points</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-7">
                                        <em>7</em><span>Place Of Residence</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-8">
                                        <em>7</em><span>Client Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-9">
                                        <em>8</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="fiFormElements" class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="namePrefix"><span style="color: red">* </span>Name Prefix</label>
                                                    <select id="namePrefix" name="namePrefix" class="form-control">
                                                        <option th:each="np: ${namePrefixes}"
                                                                th:value="${np}"
                                                                th:text="${np.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="birthName"><span style="color: red">* </span>Birth Name</label>
                                                    <input id="birthName" name="birthName" type="text" class="form-control" th:field="*{birthName}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's first Name</small>
                                                </div>
                                                <div th:if="${#fields.hasErrors('birthName')}" th:errors="*{birthName}">Birth Name Error</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="middleName">Middle Name</label>
                                                    <input id="middleName" name="middleName" type="text" class="form-control" th:field="*{middleName}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's middle name</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="givenName"><span style="color: red">* </span>Given Name</label>
                                                    <input id="givenName" name="givenName" type="text" class="form-control" th:field="*{givenName}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's last name</small>
                                                </div>
                                                <div th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}">Gender Error</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="nameSuffix">Name Suffix</label>
                                                    <input id="nameSuffix" name="nameSuffix" type="text" class="form-control" th:field="*{nameSuffix}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's name suffix</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2a">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="typeOfIdentification">Type of Identification</label>
                                                    <select id="typeOfIdentification" name="typeOfIdentification" class="form-control" th:field="*{typeOfIdentification}">
                                                        <option value="">Select Type Of Identification</option>
                                                        <option th:each="typeOfIdentification: ${typeOfIdentifications}"
                                                                th:value="${typeOfIdentification}"
                                                                th:text="${typeOfIdentification.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="identityCardNumber"><span style="color: red">* </span>National Identity Number</label>
                                                    <input id="identityCardNumber" name="identityCardNumber" type="text" class="form-control"
                                                           th:field="*{identityCardNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's identity card number</small>
                                                    <small id="identityCardNumberError" class="text-danger"></small>
                                                    <small id="identityCardNumberInfo" class="text-success"></small>
                                                    <div class="form-error-text"
                                                         th:if="${#fields.hasErrors('identityCardNumber')}"
                                                         th:errors="*{identityCardNumber}">Identity Card Number Error</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="nationalRegistrationNumber"><span style="color: red">* </span>National Registration Number</label>
                                                    <input id="nationalRegistrationNumber" name="nationalRegistrationNumber" type="text" class="form-control" th:field="*{nationalRegistrationNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's national registration number</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="step-2b">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="passportNumber">Passport Number</label>
                                                    <input id="passportNumber" name="passportNumber" type="text" class="form-control" th:field="*{passportNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's passport number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="alienRegistrationNumber">Alien Registration Number</label>
                                                    <input id="alienRegistrationNumber" name="alienRegistrationNumber" type="text" class="form-control" th:field="*{alienRegistrationNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's alien registration number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="driversLicenseNumber">Drivers License Number</label>
                                                    <input id="driversLicenseNumber" name="driversLicenseNumber" type="text" class="form-control" th:field="*{driversLicenseNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's drivers license number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="socialSecurityNumber">Social Security Number</label>
                                                    <input id="socialSecurityNumber" name="socialSecurityNumber" type="text" class="form-control" th:field="*{socialSecurityNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's social security number </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="employerIdentificationNumber">Employer's Identification Number</label>
                                                    <input id="employerIdentificationNumber" name="employerIdentificationNumber" type="text" class="form-control" th:field="*{employerIdentificationNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's employer's identification number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="taxIdentificationNumber">Tax Identification Number</label>
                                                    <input id="taxIdentificationNumber" name="taxIdentificationNumber" type="text" class="form-control" th:field="*{taxIdentificationNumber}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's tax identification number</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2c">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <label for="virtualId"><span style="color: red">* </span>Virtual Id</label>
                                                <input name="virtualId" id="virtualId" type="text" class="form-control">
                                                <small id="virtualIdInfoErrors" class="form-text text-danger">Virtual Id is required.</small>
                                                <small id="virtualIdInfo" class="form-text text-success"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="buildingName">Building Name</label>
                                                    <input name="buildingName" id="buildingName"
                                                           placeholder="Building Name" type="text" class="form-control"  th:field="*{buildingName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="streetName">Street Name</label>
                                                    <input name="streetName" id="streetName"
                                                           placeholder="street Name" type="text" class="form-control" th:field="*{streetName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="townName"><span style="color: red">* </span>Town Name</label>
                                                    <input name="townName" id="townName" placeholder="Town Name"
                                                           type="text" class="form-control" th:field="*{townName}">
                                                    <div class="form-error-text" th:if="${#fields.hasErrors('townName')}" th:errors="*{townName}">Town name Error</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="districtName">District Name</label>
                                                    <input name="districtName" id="districtName"
                                                           placeholder="District Name" type="text" class="form-control" th:field="*{districtName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="regionIdentification">Region Name</label>
                                                    <input name="regionIdentification" id="regionIdentification"
                                                           placeholder="Region Identification" type="text" class="form-control" th:field="*{regionIdentification}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="postOfficeBox">Post Office Box</label>
                                                    <input name="postOfficeBox" id="postOfficeBox"
                                                           placeholder="Post Office Box" type="text"
                                                           class="form-control" th:field="*{postOfficeBox}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="state">State</label>
                                                    <input name="state" id="state" placeholder="State"
                                                           type="text" class="form-control" th:field="*{state}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="countryIdentification"><span style="color: red">* </span>Country</label>
                                                    <select id="countryIdentification" name="countryIdentification"
                                                            class="form-control crs-country" data-region-id="province" data-default-option="Select a country">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="province"><span style="color: red">* </span>Province</label>
                                                    <select name="province" id="province" class="form-control" data-blank-option="No country selected" data-default-option="Select a province"></select>
                                                    <div class="form-error-text" th:if="${#fields.hasErrors('province')}" th:errors="*{province}">Province Error</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="step-4">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="gender"><span style="color: red">* </span>Gender</label>
                                                    <select id="gender" name="gender" class="form-control">
                                                        <option th:each="gender: ${genders}"
                                                                th:value="${gender.name()}"
                                                                th:text="${gender.name()}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-error-text" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="language"><span style="color: red">* </span>Language</label>
                                                    <select id="language" name="language" class="form-control">
                                                        <option th:each="language: ${languages}"
                                                                th:value="${language.name()}"
                                                                th:text="${language.getName()}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-error-text" th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language Error</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="birthDate"><span style="color: red">* </span>Birth Date</label>
                                                    <input name="birthDate" id="birthDate" type="date"
                                                           class="form-control"
                                                           th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                           th:min="${T(java.time.OffsetDateTime).now().minusYears(200).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                           th:max="${T(java.time.OffsetDateTime).now().minusYears(16).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                           th:field="*{birthDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's Birth Date</small>
                                                    <div th:if="${#fields.hasErrors('gender')}" th:errors="*{birthDate}">Gender Error</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="profession">Profession</label>
                                                    <input id="profession" name="profession" type="text"
                                                           class="form-control" th:field="*{profession}"/>
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's profession</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="businessFunctionTitle">Business Function Title</label>
                                                    <input id="businessFunctionTitle" name="businessFunctionTitle" type="text" class="form-control" th:field="*{businessFunctionTitle}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's Business Function Title</small>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="residentialStatus">Residential Status</label>
                                                    <select id="residentialStatus" name="residentialStatus" class="form-control" >
                                                        <option th:each="residentialStatus: ${residentialStatuses}"
                                                                th:value="${residentialStatus.name()}"
                                                                th:text="${residentialStatus.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="civilStatus">Civil Status</label>
                                                    <select id="civilStatus" name="civilStatus" class="form-control">
                                                        <option th:each="civilStatus: ${civilStatuses}"
                                                                th:value="${civilStatus.name()}"
                                                                th:text="${civilStatus.name()}"
                                                                th:field="*{civilStatus}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <!--<div class="position-relative form-group">
                                                    <label for="deathDate">Death Date</label>
                                                    <input name="deathDate" id="deathDate" type="text"
                                                           class="form-control"
                                                           />
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's Death Date</small>
                                                </div>-->
                                                <div class="position-relative form-group">
                                                    <label for="citizenshipStartDate">Citizenship Start Date</label>
                                                    <input name="citizenshipStartDate" id="citizenshipStartDate" type="date"
                                                           class="form-control"
                                                           th:field="*{citizenshipStartDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's citizenship's start Date</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="citizenshipEndDate">Citizenship End Date</label>
                                                    <input name="citizenshipEndDate" id="citizenshipEndDate" type="date"
                                                           class="form-control"
                                                           th:field="*{citizenshipEndDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's citizenship's end Date</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-5">
                                    <div class="card-body">
                                        <div class="position-relative form-group">
                                            <label for="sourceOfWealth">Source Of Wealth</label>
                                            <input id="sourceOfWealth" name="sourceOfWealth" type="text" class="form-control" th:field="*{sourceOfWealth}">
                                            <div class="invalid-feedback">You will not be able to see this</div>
                                            <small class="form-text text-muted">Client's Source of Wealth</small>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="salaryRange">Salary Range</label>
                                            <input id="salaryRange" name="salaryRange" type="text" class="form-control" th:field="*{salaryRange}">
                                            <div class="invalid-feedback">You will not be able to see this</div>
                                            <small class="form-text text-muted">Client's salary range</small>
                                        </div>
                                        <div class="position-relative form-group">
                                            <fieldset class="position-relative form-group" id="employeeTerminationIndicator" name="employeeTerminationIndicator">
                                                <label>Are you employed?</label>
                                                <div class="position-relative form-check">
                                                    <label class="form-check-label">
                                                        <input name="employeeTerminationIndicator" type="radio" class="form-check-input"
                                                               th:radiogroup="${#bools.isTrue(employeeTerminationIndicator)}"> YES</label>
                                                </div>
                                                <div class="position-relative form-check">
                                                    <label class="form-check-label">
                                                        <input name="employeeTerminationIndicator" type="radio" class="form-check-input"
                                                               th:radiogroup="${#bools.isFalse(employeeTerminationIndicator)}"> NO</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="position-relative form-group">
                                            <!--<label th:for="employingParty">Employer</label>
                                            <select id="employingParty" name="employingParty" class="form-control" th:field="*{employingParty}">
                                                <option value="">Select Employer</option>
                                                <option th:each="organisation: ${organisations}"
                                                        th:value="${organisation.getId()}"
                                                        th:text="${organisation.getOrganisationIdentification().get(0).getBICFI()}">
                                                </option>
                                            </select>-->
                                            <label for="employingParty">Employer</label>
                                            <select name="employingParty" id="employingParty" style="width: 100%"
                                                    class="form-control">
                                            </select>
                                            <small class="form-text text-muted">Employing Party role</small>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-6">
                                    <div class="card-body">

                                        <div class="position-relative form-group">
                                            <label for="phones">Phones</label>
                                            <div id="phones" class="row">
                                                <div class="col-md-4">
                                                    <label for="phoneNumber"><span style="color: red">* </span>Phone Number</label>
                                                    <input id="phoneNumber" type="text" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="mobileNumber">Mobile Number</label>
                                                    <input id="mobileNumber" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="faxNumber">Fax Number</label>
                                                    <input id="faxNumber" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative form-group">
                                            <small style="display: none" id="phonesInfo"
                                                   class="form-text text-danger">
                                                Provide at least one phone field
                                            </small>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <button type="button" role="button" id="addPhoneBtn" class="btn btn-primary">Add Phone
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="otherAddresses">Other Addresses</label>
                                            <div id="otherAddresses" class="row">
                                                <div class="col-md-6">
                                                    <label for="emailAddress">Email Address</label>
                                                    <input id="emailAddress" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="uRLAddress">URL Address</label>
                                                    <input id="uRLAddress" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="telexAddress">Telex Address</label>
                                                    <input id="telexAddress" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="teletextAddress">Tele Text Address</label>
                                                    <input id="teletextAddress" type="text" class="form-control"/>
                                                    <div class="valid-feedback">Sweet! that name is available</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="iSDNAddress">ISDN Address</label>
                                            <input id="iSDNAddress" type="text" class="form-control"/>
                                            <div class="valid-feedback">Sweet! that name is available</div>
                                        </div>
                                        <div class="position-relative form-group">
                                            <small style="display: none" id="addressesInfo"
                                                   class="form-text text-danger">Provide at least one address field
                                            </small>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <button type="button" role="button" id="addAddressBtn" class="btn btn-primary">Add
                                                            Address
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <table style="width: 100%;" id="phone-addresses"
                                               class="table table-hover table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Phone #</th>
                                                <th>Mobile #</th>
                                                <th>Fax #</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody id="phone-addresses-table-body">

                                            </tbody>
                                        </table>
                                        <br><br>

                                        <table style="width: 100%;" id="electronic-addresses"
                                               class="table table-hover table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Email Address</th>
                                                <th>URL Address</th>
                                                <th>Telex Address</th>
                                                <th>Tele Text Address</th>
                                                <th>ISDN Address</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody id="electronic-addresses-table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="step-7">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-header ">
                                                        <h6 class="modal-title">Residential Address Information</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label th:for="residenceAddressType">Address Type</label>
                                                                    <select name="residenceAddressType" id="residenceAddressType"
                                                                            class="form-control">
                                                                        <option th:each="addressType: ${addressTypes}"
                                                                                th:value="${addressType.name()}"
                                                                                th:text="${addressType.name()}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residencePostOfficeBox">Post Office Box</label>
                                                                    <input name="residencePostOfficeBox" id="residencePostOfficeBox"
                                                                           placeholder="Post Office Box" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceStreetName">Street Name</label>
                                                                    <input name="residenceStreetName" id="residenceStreetName"
                                                                           placeholder="Street Name" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceTownName">Town Name</label>
                                                                    <input name="residenceTownName" id="residenceTownName"
                                                                           placeholder="Town Name"
                                                                           type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceDistrictName">District Name</label>
                                                                    <input name="residenceDistrictName" id="residenceDistrictName"
                                                                           placeholder="District Name" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceState">State</label>
                                                                    <input name="residenceState" id="residenceState" placeholder="State"
                                                                           type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceCountryId"><span style="color: red">* </span>Country</label>
                                                                    <select id="residenceCountryId" name="residenceCountryId"
                                                                            class="form-control crs-country" data-region-id="residenceProvince" data-default-option="Select a country">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="residenceProvince">Province</label>
                                                                <select name="residenceProvince" id="residenceProvince" class="form-control" data-blank-option="No country selected" data-default-option="Select a province"></select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residencePostCodeIdentification">Post Code Identification</label>
                                                                    <input name="residencePostCodeIdentification"
                                                                           id="residencePostCodeIdentification"
                                                                           placeholder="Post Code Identification" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceMailDeliverySubLocation">Mail Delivery Sub-Location</label>
                                                                    <input name="residenceMailDeliverySubLocation"
                                                                           id="residenceMailDeliverySubLocation"
                                                                           placeholder="Mail Delivery Sub-Location" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-header">
                                                        <h6 class="modal-title">Department Information</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="plcOfRegDepartment">Department</label>
                                                                    <input name="department" id="plcOfRegDepartment"
                                                                           placeholder="Department" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="plcOfRegSubDepartment">Sub Department</label>
                                                                    <input name="subDepartment" id="plcOfRegSubDepartment"
                                                                           placeholder="Sub Department" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-header">
                                                        <h6 class="modal-title">Building Identification Information</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceBuildingName">Building Name</label>
                                                                    <input name="residenceBuildingName" id="residenceBuildingName"
                                                                           placeholder="Building Name" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceFloor">Floor</label>
                                                                    <input name="residenceFloor" id="residenceFloor" placeholder="Floor"
                                                                           type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceStreetBuildingIdentification">Street Building Identification</label>
                                                                    <input name="residenceStreetBuildingIdentification"
                                                                           id="residenceStreetBuildingIdentification"
                                                                           placeholder="Street Building Identification" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceBlock">Block</label>
                                                                    <input name="residenceBlock" id="residenceBlock" placeholder="Block"
                                                                           type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceSuiteIdentification">Suite Identification</label>
                                                                    <input name="residenceSuiteIdentification"
                                                                           id="residenceSuiteIdentification"
                                                                           placeholder="Suite Identification" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="residenceBuildingIdentification">Building Identification</label>
                                                                    <input name="residenceBuildingIdentification"
                                                                           id="residenceBuildingIdentification"
                                                                           placeholder="Building Identification" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-row">
                                            <div class="col-md-12">
                                                <div class="main-card mb-3 card">
                                                    <div class="card-header">
                                                        <h6 class="modal-title">Other</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="plcOfRegDistrictSubDivisionIdentification">District Sub Division Identification</label>
                                                                    <input name="districtSubDivisionIdentification"
                                                                           id="plcOfRegDistrictSubDivisionIdentification"
                                                                           placeholder="District Sub Division Identification"
                                                                           type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="position-relative form-group">
                                                                    <label for="plcOfRegLot">Lot</label>
                                                                    <input name="lot" id="plcOfRegLot" placeholder="Lot" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div id="step-8">
                                    <div class="card-body">
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="profileEmail"><span style="color: red">* </span>Email Address (This is also your username)</label>
                                                        <input id="profileEmail" name="emailAddress" type="text" class="form-control">
                                                        <div class="invalid-feedback">You will not be able to see this</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="profileMobileNumber"><span style="color: red">* </span>Mobile Number</label>
                                                        <input id="profileMobileNumber" name="mobileNumber" type="text" class="form-control">
                                                        <div class="invalid-feedback">You will not be able to see this</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="userRoles"><span style="color: red">* </span>Client Roles</label>
                                                        <select multiple="multiple" class="form-control" id="userRoles" name="userRoles">
                                                            <option th:each="role: ${roles}"
                                                                    th:value="${role.getId()}"
                                                                    th:text="${role.getName().replace('_', ' ')}"></option>
                                                            </select>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                <div id="step-9">
                                    <div class="card-body">
                                        <h4>Confirm Details</h4>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                    <h6 id="confirmTitle">General Information</h6>
                                                    <table class="mb-0 table table-bordered mt-2" id="confirmTable">
                                                        <tr>
                                                            <td>Birth Name</td>
                                                            <td id="birthNametd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Given Name</td>
                                                            <td id="givenNametd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>National Registration Number</td>
                                                            <td id="nationalRegistrationNumbertd"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-6 ml-6">
                                                    <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                        <i class="fa fa-save"></i>
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3 mb-3"></div>
                                    </div>
                                    <!--
                                                                        <div class="validation-error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</div>
                                    -->
                                </div>

                                <!--<div id="step-9">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Finished!</div>
                                        <div class="results-title">You arrived at the last form wizard step!
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
&lt;!&ndash;
                                    <div class="validation-error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</div>
&ndash;&gt;
                                </div>-->
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Id Card Number Verification-->
<div class="modal fade" id="idCardNumberValidationModal" tabindex="-1" role="dialog"
     aria-labelledby="idCardNumberValidationLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--                <h6 class="modal-title"><strong>Mandate Holder(s)</strong></h6>-->



                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="row"><h5 class="menu-header-title text-capitalize text-primary">Id Card Number Exists</h5></div>
                        <!--<div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">Last Week</button>
                                <button class="btn btn-outline-dark">All Month</button>
                            </div>
                        </div>-->
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <tr>
                                <th>First Name</th>
                                <td id="firstNameIDV"></td>
                            </tr>
                            <tr>
                                <th>Given Name</th>
                                <td id="givenNameIDV"></td>
                            </tr>
                            <tr>
                                <th>Id Card Number</th>
                                <td id="identityCardNumberIDV"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info fade show" role="alert" id="idCardNumberValidationMsg"></div>
                        </div>
                    </div>
                </div>


                <div class="d-block clearfix card-footer">
                    <div class="float-left">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                    <div class="float-right">
                        <!--<button class="btn-wide btn-shadow btn btn-primary btn-sm">View Person</button>
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm">View Account</button>-->
                        <a class="btn btn-primary" style="color: white;" onclick="viewPerson()">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> View Client
                        </a>
                    </div>
                </div>


                <!--<table class="mb-0 table table-bordered" id="mandateHolderTable"></table>-->
                <!--<div class="col-md-12">
                    <div class="text-right">
                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<form style="display:none;" id="fiForm" method="post" action="/zpas/financial-institutions">

</form>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/clients/client.js"></script>
<script type="text/javascript" src="/zpas/js/clients/person_contact_points.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

<!--End of scripts-->
<script>
    $("#clients-link").addClass("mm-active");
    $("#clients-link-register-client").addClass("mm-active");
</script>

<script type="text/javascript">
    
    $("#birthName").on('change', function (e) {
        $("#birthNametd").html($("#birthName").val());
    });

    $("#givenName").on('change', function (e) {
        $("#givenNametd").html($("#givenName").val());
    });

    $("#nationalRegistrationNumber").on('change', function (e) {
        $("#nationalRegistrationNumbertd").html($("#nationalRegistrationNumber").val());
    });

</script>
<script>
    $('.date-month-year-date-format').datetimepicker({
        format: 'dd/mm/yyyy',
        pickTime: false,
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<script>
    <!--Validate the user id card number -->
    $("#identityCardNumber").change("focusout", function () {

        var idCardNumber = this.value;
        console.log("The captured value is " + idCardNumber);

        $.ajax({
            url: "/zpas/clients/validate/" + idCardNumber,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log("The id card number response is " + JSON.stringify(data));
                if (data.code === "00") {
                    console.log("The id card number is not in the system. Continue ...");

                } else {
                    $("#displayIDCardErrorModalButton").click();
                    $("#idCardNumberValidationMsg").html(data.message);

                    $("#firstNameIDV").html(data.firstName);
                    $("#givenNameIDV").html(data.givenName);
                    $("#identityCardNumberIDV").html(data.identityCardNumber);
                    $("#personIdSpan").html(data.personId);

                }
            },
            error: function (data) {
                console.log("An error occurred while validating the id card number " + data);
            }
        });
    });
</script>
<script>
    function viewPerson() {
        var personId = $("#personIdSpan").text();

        console.log("Person Id is :" + personId);

        document.location.href = "/clients/details/" + personId ;

    }
</script>
</body>

</html>