<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Client
                                <div class="page-title-subheading">Details for Client</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                         <!--   <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                                <i class="fa fa-star"></i>
                            </button> -->
                            <div class="d-inline-block dropdown">
                                <a class="btn btn-info" th:href="@{/clients/update/{personId}(personId=${person.id})}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-money-check"></i>
                                        </span>
                                    Edit
                                </a>
                                <a class="btn btn-info" th:href="@{/accounts/register/{clientId}(clientId=${person.id})}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-money-check"></i>
                                        </span>
                                    Register Account
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>
                                                        Inbox
                                                    </span>
                                                <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>
                                                        Book
                                                    </span>
                                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>
                                                        Picture
                                                    </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a disabled class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>
                                                        File Disabled
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="personNameHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#PersonName"
                                                aria-expanded="false" aria-controls="PersonName"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Name</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="PersonName" class="collapse">
                                        <div class="card-body">
                                            <div class="row"  th:each="personIdentification: ${person.personIdentification}">
                                                <div class="col-md-12" th:each="personName: ${personIdentification.personName}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Birth Name</th>
                                                            <td th:text="${personName.birthName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Middle Name</th>
                                                            <td th:text="${personName.middleName}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Drivers' License Number</th>
                                                            <td th:text="${personIdentification.driversLicenseNumber.value}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Given Name</th>
                                                            <td th:text="${personName.givenName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Name Suffix</th>
                                                            <td th:text="${personName.nameSuffix}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="personIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#personIdentification"
                                                aria-expanded="false" aria-controls="personIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Identification</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="personIdentification" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="personIdentification: ${person.personIdentification}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Identity Card Number</th>
                                                            <td th:text="${personIdentification.identityCardNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Passport Number</th>
                                                            <td th:text="${personIdentification.passportNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Alien Registration Number</th>
                                                            <td th:text="${personIdentification.alienRegistrationNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Drivers' License Number</th>
                                                            <td th:text="${personIdentification.driversLicenseNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Social Security Number</th>
                                                            <td th:text="${personIdentification.socialSecurityNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Employer Identification Number</th>
                                                            <td th:text="${personIdentification.employerIdentificationNumber}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="placeOfBirthHeading" class="b-radius-0 card-header">
                                        <button type="button" data-toggle="collapse" data-target="#placeOfBirth"
                                                aria-expanded="false" aria-controls="placeOfBirth"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Place of Birth</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="placeOfBirth" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="placeOfBirth: ${person.placeOfBirth.address}">
                                                    <table class="mb-0 table table-bordered">
                                                        <!--<tr>
                                                            <th>Address Type</th>
                                                            <td th:text="${placeOfBirth.addressType.name()}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Building Name</th>
                                                            <td th:text="${placeOfBirth.buildingName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Street Name</th>
                                                            <td th:text="${placeOfBirth.streetName}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Street Building Identification</th>
                                                            <td th:text="${placeOfBirth.streetBuildingIdentification.value}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Town Name</th>
                                                            <td th:text="${placeOfBirth.townName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>District Name</th>
                                                            <td th:text="${placeOfBirth.districtName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Region Identification</th>
                                                            <td th:text="${placeOfBirth.regionIdentification}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Province</th>
                                                            <td th:text="${placeOfBirth.province}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>State</th>
                                                            <td th:text="${placeOfBirth.state}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Post Office Box</th>
                                                            <td th:text="${placeOfBirth.postOfficeBox}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Country Identification</th>
                                                            <td th:text="${placeOfBirth.countryIdentification.value}"></td>
                                                        </tr>-->
                                                        <!--<tr>
                                                            <th>Postal Code Identification</th>
                                                            <td th:text="${placeOfBirth.postCodeIdentification.value}"></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Floor</th>
                                                            <td th:text="${placeOfBirth.floor.value}"></td>
                                                        </tr>-->
                                                        <!--<tr>
                                                            <th>Department</th>
                                                            <td th:text="${placeOfBirth.department.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Sub Department</th>
                                                            <td th:text="${placeOfBirth.subDepartment.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Suite Identification</th>
                                                            <td th:text="${placeOfBirth.suiteIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Building Identification</th>
                                                            <td th:text="${placeOfBirth.buildingIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Mail Delivery Sub Location</th>
                                                            <td th:text="${placeOfBirth.mailDeliverySubLocation.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Block</th>
                                                            <td th:text="${placeOfBirth.block.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>District Sub Division Identification</th>
                                                            <td th:text="${placeOfBirth.districtSubDivisionIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>lot</th>
                                                            <td th:text="${placeOfBirth.lot.value}"></td>
                                                        </tr>-->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="generalInformationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#generalInformation"
                                                aria-expanded="true" aria-controls="generalInformation"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">General Information</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="generalInformation" aria-labelledby="generalInformationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Gender</th>
                                                            <td th:text="${person.gender.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Language</th>
                                                            <td th:text="${person.language.getName()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Birth Date</th>
                                                            <td th:text="${person.getBirthDate()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Profession</th>
                                                            <td th:text="${person.profession}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Business Function Title</th>
                                                            <td th:text="${person.businessFunctionTitle}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Employing Party Role</th>
                                                            <td th:text="${person.employingParty.getEmployee()}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Contact Person Role</th>
                                                            <td th:text="${person.contactPersonRole.getRole()}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Civil Status</th>
                                                            <td th:text="${person.civilStatus.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Citizenship Start Date</th>
                                                            <td th:text="${person.getCitizenshipStartDate()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Citizenship End Date</th>
                                                            <td th:text="${person.getCitizenshipEndDate()}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="personProfileHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#personProfile"
                                                aria-expanded="false" aria-controls="personProfile"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Profile</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="personProfile" aria-labelledby="personProfileHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="mb-0 table table-bordered">
                                                            <tr>
                                                                <th>Source Of Wealth</th>
                                                                <td th:text="${person.personProfile.sourceOfWealth}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Salary Range</th>
                                                                <td th:text="${person.personProfile.salaryRange}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Employee Termination Indicator</th>
                                                                <td th:text="${person.personProfile.getEmployeeTerminationIndicator()}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#clients-link").addClass("mm-active");
</script>
</body>
</html>