<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-error-text{
            color: red;
        }
    </style>
    <title>My Profile</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Profile
                                <div class="page-title-subheading">
                                    View your profile from here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div>
                            <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>National Identity Number</th>
                                    <th>Profession</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="person : ${persons}" th:data-thing="${person.id}" onclick="viewPersonDetails(this.getAttribute('data-thing'));">
                                    <td th:text="${person.getPersonIdentification().get(0).getPersonName().get(0).getBirthName()}">Birth Name</td>
                                    <td th:text="${person.getPersonIdentification().get(0).getPersonName().get(0).getGivenName()}">Given Name</td>
                                    <td th:text="${person.getPersonIdentification().get(0).getIdentityCardNumber()}">Given Name</td>
                                    <td th:text="${person.getProfession()}">Profession</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    function viewPersonDetails(personId) {
        window.location.href = "/clients/details/" + personId;
    }
</script>

</body>
</html>