<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Client</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Search for Client
                                <div class="page-title-subheading"><!--Capture details for the Client-->
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form method="get" class="forms-wizard-vertical" action="/zpas/clients/search" th:object="${search}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <input name="search" id="searchInput" placeholder="Search Given Name" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" id="searchButton" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                    <a class="btn btn-primary"
                                       th:href="@{/clients/view/all}">
                                        <span>
                                            <i class="fa fa-eye"></i>
                                        </span> View All
                                    </a>
                                </div>
                            </div>

                            <div>
                                <h5>Search Results</h5>
                                <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Birth Name</th>
                                        <th>Middle Name</th>
                                        <th>Given Name</th>
                                        <th>Name Suffix</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="search : ${search}" th:data-thing="${search.id}" onclick="viewPersonDetails(this.getAttribute('data-thing'));">
                                        <td th:text="${search.getPersonIdentification().get(0).getPersonName().get(0).getBirthName()}">Text ...</td>
                                        <td th:text="${search.getPersonIdentification().get(0).getPersonName().get(0).getMiddleName()}">Text ...</td>
                                        <td th:text="${search.getPersonIdentification().get(0).getPersonName().get(0).getGivenName()}">Text ...</td>
                                        <td th:text="${search.getPersonIdentification().get(0).getPersonName().get(0).getNameSuffix()}">Text...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#clients-link").addClass("mm-active");
    $("#clients-link-search-client").addClass("mm-active");
</script>

<script>
    function viewPersonDetails(personId) {
        window.location.href = "/clients/details/" + personId;
    }
</script>


</body>

</html>