<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Client</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Update Client
                                <div class="page-title-subheading">Edit details for the Client
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical" th:object="${clientCreationDTO}" action="/zpas/clients/update">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Person Name</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Person Identification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Place Of Birth</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>General Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <em>5</em><span>Person Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-8">
                                        <em>6</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="fiFormElements" class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="namePrefix">Name Prefix</label>
                                                    <select id="namePrefix" name="namePrefix" class="form-control">
                                                        <option th:each="namePrefix: ${namePrefixes}"
                                                                th:selected="(${namePrefix.name().equals(clientCreationDTO.getNamePrefix())})"
                                                                th:value="${namePrefix.name()}"
                                                                th:text="${namePrefix.name()}" ></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="birthName">Birth Name</label>
                                                    <input id="birthName" name="birthName" type="text" th:value="${clientCreationDTO.getBirthName()}" class="form-control" required/>
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's Birth Name</small>
                                                </div>
                                            </div>
                                        </div>

                                       <input id="id" name="id" style="display: none;" th:value="${clientCreationDTO.getId()}">

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="middleName">Middle Name</label>
                                                    <input id="middleName" name="middleName" th:value="${clientCreationDTO.getMiddleName()}" type="text" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's middle name</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="givenName">Given Name</label>
                                                    <input id="givenName" name="givenName" type="text" th:value="${clientCreationDTO.getGivenName()}" class="form-control" required>
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's given name</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="nameSuffix">Name Suffix</label>
                                                    <input id="nameSuffix" name="nameSuffix" type="text" th:value="${clientCreationDTO.getNameSuffix()}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's name suffix</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="identityCardNumber">National Identity Number</label>
                                                    <input id="identityCardNumber" name="identityCardNumber" type="text" th:value="${clientCreationDTO.identityCardNumber}" class="form-control" required>
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's identity card number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="passportNumber">Passport Number</label>
                                                    <input id="passportNumber" name="passportNumber" type="text" th:value="${clientCreationDTO.passportNumber}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's passport number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="alienRegistrationNumber">Alien Registration Number</label>
                                                    <input id="alienRegistrationNumber" name="alienRegistrationNumber" type="text" th:value="${clientCreationDTO.alienRegistrationNumber}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's alien registration number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="driversLicenseNumber">Drivers License Number</label>
                                                    <input id="driversLicenseNumber" name="driversLicenseNumber" type="text" th:value="${clientCreationDTO.driversLicenseNumber}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's drivers license number</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="socialSecurityNumber">Social Security Number</label>
                                                    <input id="socialSecurityNumber" name="socialSecurityNumber" type="text" th:value="${clientCreationDTO.socialSecurityNumber}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's social security number </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="employerIdentificationNumber">Employer's Identification Number</label>
                                                    <input id="employerIdentificationNumber" name="employerIdentificationNumber" type="text" th:value="${clientCreationDTO.employerIdentificationNumber}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's employer's identification number</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <!--<div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="addressType">Address Type</label>
                                                    <select name="addressType" id="addressType" class="form-control">
                                                        <option th:each="addressType: ${addressTypes}"
                                                                th:value="${addressType.name()}"
                                                                th:text="${addressType.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>-->
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="buildingName">Building Name</label>
                                                    <input name="buildingName" id="buildingName" type="text" th:value="${clientCreationDTO.buildingName}" class="form-control" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="streetName">Street Name</label>
                                                    <input name="streetName" id="streetName"
                                                           placeholder="street Name" type="text" th:value="${clientCreationDTO.streetName}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="townName">Town Name</label>
                                                    <input name="townName" id="townName" th:value="${clientCreationDTO.townName}"
                                                           type="text" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="districtName">District Name</label>
                                                    <input name="districtName" id="districtName" th:value="${clientCreationDTO.districtName}"
                                                           placeholder="District Name" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="regionIdentification">Region Name</label>
                                                    <input name="regionIdentification" id="regionIdentification" th:value="${clientCreationDTO.regionIdentification}"
                                                           placeholder="Region Identification" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="streetBuildingIdentification">Street Building
                                                        Identification</label>
                                                    <input name="streetBuildingIdentification"
                                                           id="streetBuildingIdentification"
                                                           placeholder="Street Building Identification" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="postCodeIdentification">Post Code
                                                        Identification</label>
                                                    <input name="postCodeIdentification"
                                                           id="postCodeIdentification"
                                                           placeholder="Post Code Identification" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>-->
                                        <!--<div class="form-row">

                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="floor">Floor</label>
                                                    <input name="floor" id="floor" placeholder="Floor"
                                                           type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="province">Province</label>
                                                    <input name="province" id="province" placeholder="Province" th:value="${clientCreationDTO.province}"
                                                           type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="state">State</label>
                                                    <input name="state" id="state" placeholder="State" th:value="${clientCreationDTO.state}"
                                                           type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="postOfficeBox">Post Office Box</label>
                                                    <input name="postOfficeBox" id="postOfficeBox" th:value="${clientCreationDTO.postOfficeBox}"
                                                           placeholder="Post Office Box" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="countryIdentification">Country</label>
                                                    <input name="countryIdentification" th:value="${clientCreationDTO.countryIdentification}"
                                                           id="countryIdentification"
                                                           placeholder="Country Identification" type="text"
                                                           class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="department">Department</label>
                                                    <input name="department" id="department"
                                                           placeholder="Department" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="subDepartment">Sub Department</label>
                                                    <input name="subDepartment" id="subDepartment"
                                                           placeholder="Sub Department" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>-->
                                        <!--<div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="suiteIdentification">Suite
                                                        Identification</label>
                                                    <input name="suiteIdentification" id="suiteIdentification"
                                                           placeholder="Suite Identification" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="buildingIdentification">Building
                                                        Identification</label>
                                                    <input name="buildingIdentification"
                                                           id="buildingIdentification"
                                                           placeholder="Building Identification" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>-->
                                        <!--<div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="mailDeliverySubLocation">Mail Delivery
                                                        Sub-Location</label>
                                                    <input name="mailDeliverySubLocation"
                                                           id="mailDeliverySubLocation"
                                                           placeholder="Mail Delivery Sub-Location" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="block">Block</label>
                                                    <input name="block" id="block" placeholder="Block"
                                                           type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>-->

                                        <!--<div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="districtSubDivisionIdentification">District Sub
                                                        Division Identification</label>
                                                    <input name="districtSubDivisionIdentification"
                                                           id="districtSubDivisionIdentification"
                                                           placeholder="District Sub Division Identification"
                                                           type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="lot">Lot</label>
                                                    <input name="lot" id="lot" placeholder="Lot" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="country">Country</label>
                                            <select id="country" name="country" class="form-control">
                                                <optgroup label="Pacific Time Zone">
                                                    <option value="CA">California</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="WA">Washington</option>
                                                </optgroup>
                                            </select>
                                            <div class="valid-feedback">Sweet! that name is available</div>
                                            <small class="form-text text-muted">Country for the Place of Birth of the Client.
                                            </small>
                                        </div>-->


                                    </div>

                                </div>
                                <div id="step-4">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="gender">Gender</label>
                                                    <select id="gender" name="gender" class="form-control">
                                                        <option th:each="gender: ${genders}"
                                                                th:selected="(${gender.name().equals(clientCreationDTO.getGender())})"
                                                                th:value="${gender.name()}"
                                                                th:text="${gender.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="language">Language</label>
                                                    <select id="language" name="language" class="multiselect-dropdown form-control">
                                                        <option th:each="language: ${languages}"
                                                                th:selected="(${language.name().equals(clientCreationDTO.getLanguage())})"
                                                                th:value="${language.name()}"
                                                                th:text="${language.getName()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="birthDate">Birth Date</label>
                                                    <input name="birthDate" id="birthDate" type="date" th:value="${clientCreationDTO.birthDate}"
                                                           class="form-control"
                                                           />
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's Birth Date</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="profession">Profession</label>
                                                    <input id="profession" name="profession" type="text" th:value="${clientCreationDTO.profession}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's profession</small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="position-relative form-group">
                                             <label for="nationality">Nationality</label>
                                             <select id="nationality" name="nationality" class="form-control">
                                                 <optgroup label="Eastern Time Zone">
                                                     <option value="CT">Connecticut</option>
                                                     <option value="DE">Delaware</option>
                                                 </optgroup>
                                             </select>
                                             <div class="invalid-feedback">Oh noes! that name is already taken</div>
                                             <small class="form-text text-muted">Client's nationality</small>
                                         </div>-->
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="businessFunctionTitle">Business Function Title</label>
                                                    <input id="businessFunctionTitle" name="businessFunctionTitle" type="text" th:value="${clientCreationDTO.businessFunctionTitle}" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Client's Business Function Title</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="employingParty">Employing Party Role</label>
                                                    <select id="employingParty" name="employingParty" class="form-control" th:value="${clientCreationDTO.employingParty}">
                                                        <optgroup label="Eastern Time Zone" >
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                        </optgroup>
                                                    </select>
                                                    <div class="invalid-feedback">Oh noes! that name is already taken</div>
                                                    <small class="form-text text-muted">Employing Party role</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="contactPersonRole">Contact Person Role</label>
                                                    <select id="contactPersonRole" name="contactPersonRole" class="multiselect-dropdown form-control" th:value="${clientCreationDTO.contactPersonRole}">
                                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                                            <option value="AK">Alaska</option>
                                                            <option value="HI">Hawaii</option>
                                                        </optgroup>
                                                        <optgroup label="Pacific Time Zone">
                                                            <option value="CA">California</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="WA">Washington</option>
                                                        </optgroup>
                                                    </select>
                                                    <div class="invalid-feedback">Oh noes! that name is already taken
                                                    </div>
                                                    <small class="form-text text-muted">Client's contact person role</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label th:for="civilStatus">Civil Status</label>
                                                    <select id="civilStatus" name="civilStatus" class="form-control">
                                                        <option th:each="civilStatus: ${civilStatuses}"
                                                                th:selected="(${civilStatus.name().equals(clientCreationDTO.getCivilStatus())})"
                                                                th:value="${civilStatus.name()}"
                                                                th:text="${civilStatus.name()}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <!--<div class="position-relative form-group">
                                                    <label for="deathDate">Death Date</label>
                                                    <input name="deathDate" id="deathDate" type="text"
                                                           class="form-control"
                                                           />
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's Death Date</small>
                                                </div>-->
                                                <div class="position-relative form-group">
                                                    <label for="citizenshipStartDate">Citizenship Start Date</label>
                                                    <input name="citizenshipStartDate" id="citizenshipStartDate" type="date" th:value="${clientCreationDTO.citizenshipStartDate}"
                                                           class="form-control"
                                                           />
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's citizenship's start Date</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="citizenshipEndDate">Citizenship End Date</label>
                                                    <input name="citizenshipEndDate" id="citizenshipEndDate" type="date" th:value="${clientCreationDTO.citizenshipEndDate}"
                                                           class="form-control"
                                                           />
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Client's citizenship's end Date</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-5">
                                    <div class="card-body">
                                        <div class="position-relative form-group">
                                            <label for="sourceOfWealth">Source Of Wealth</label>
                                            <input id="sourceOfWealth" name="sourceOfWealth" type="text" class="form-control" th:value="${clientCreationDTO.sourceOfWealth}">
                                            <div class="invalid-feedback">You will not be able to see this</div>
                                            <small class="form-text text-muted">Client's Source of Wealth</small>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="salaryRange">Salary Range</label>
                                            <input id="salaryRange" name="salaryRange" type="text" class="form-control" th:value="${clientCreationDTO.salaryRange}">
                                            <div class="invalid-feedback">You will not be able to see this</div>
                                            <small class="form-text text-muted">Client's salary range</small>
                                        </div>
                                        <!--<div class="position-relative form-group">
                                            <label for="employeeTerminationIndicator">Employee Termination Indicator</label>
                                            <input id="employeeTerminationIndicator" name="employeeTerminationIndicator" type="text" class="form-control">
                                            <div class="invalid-feedback">You will not be able to see this</div>
                                            <small class="form-text text-muted">Client's employee termination indicator</small>
                                        </div>-->
                                        <div class="position-relative form-group">
                                            <!--<label for="employeeTerminationIndicator"  id="employeeTerminationIndicator" >Employee Termination Indicator</label>
                                            <input name="employeeTerminationIndicator" type="checkbox" class="form-control"
                                                   th:checked="${person.personProfile.employeeTerminationIndicator.value}" checked>TRUE<br>-->
                                            <!--<input name="employeeTerminationIndicator" type="checkbox" class="form-control"
                                                   th:checked="${employeeTerminationIndicator.value}">FALSE<br>-->

                                            <fieldset class="position-relative form-group" id="employeeTerminationIndicator" name="employeeTerminationIndicator">
                                                <label>Still an employee</label>
                                                <div class="position-relative form-check">
                                                    <label class="form-check-label">
                                                        <input name="employeeTerminationIndicator" type="radio" class="form-check-input"
                                                               th:radiogroup="${#bools.isTrue(employeeTerminationIndicator)}"> TRUE</label>
                                                </div>
                                                <div class="position-relative form-check">
                                                    <label class="form-check-label">
                                                        <input name="employeeTerminationIndicator" type="radio" class="form-check-input"
                                                               th:radiogroup="${#bools.isFalse(employeeTerminationIndicator)}"> FALSE</label>
                                                </div>
                                            </fieldset>

                                        </div>

                                    </div>
                                </div>

                                <div id="step-8">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Finished!</div>
                                        <div class="results-title">You arrived at the last form wizard step!
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form style="display:none;" id="fiForm" method="post" action="/zpas/financial-institutions">

</form>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/zpas/js/clients/client.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#clients-link").addClass("mm-active");
</script>

</body>

</html>