<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Client
                                <div class="page-title-subheading">Details for Client</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary"
                                   th:href="@{/notificationconfiguration/all/{partyId}(partyId=${person.id})}">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Notification Configs
                                </a>
                                <!--<a class="btn btn-primary" th:href="@{/clients/update/{personId}(personId=${person.id})}">
                                        <span> &lt;!&ndash;class="btn-icon-wrapper pr-2 opacity-7"&ndash;&gt;
                                            <i class="fa fa-pen"></i>
                                        </span>
                                    Edit
                                </a>-->
                                <a id="approveClientLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-primary"
                                   sec:authorize="hasAuthority('ROLE_APPROVE_CLIENT')"
                                   th:if="${person.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL) ||
                                   person.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_EDIT_APPROVAL)}"
                                   data-toggle="modal" data-target="#approveClientModal" id="apdelrejbtn">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span> Approve
                                </a>
                                <a id="rejectClientLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-warning"
                                   sec:authorize="hasAuthority('ROLE_REJECT_CLIENT')"
                                   th:if="${person.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                   data-toggle="modal" data-target="#rejectClientModal" id="apdelrejbtn">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Reject
                                </a>
                                <a id="deleteClientLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-danger"
                                   sec:authorize="hasAuthority('ROLE_DELETE_CLIENT')"
                                   th:if="${person.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                   data-toggle="modal" data-target="#deleteClientModal" id="apdelrejbtn">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Delete
                                </a>
                                <a class="btn btn-info"
                                   sec:authorize="hasAuthority('ROLE_CREATE_ACCOUNT')"
                                   th:href="@{/accounts/register/{clientId}(clientId=${person.id})}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-money-check"></i>
                                        </span>
                                    Add Account
                                </a>
                                <button class="btn btn-info" type="button" onclick="viewAccountsModal()" data-toggle="modal" data-target="#viewAccountsModal">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    View Accounts
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="personNameHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#PersonName"
                                                aria-expanded="false" aria-controls="PersonName"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Name</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="PersonName" class="collapse show">

                                        <!--Client id for fetching accounts-->
                                        <span id="clientId" th:text="${person.id}" style="display: none"></span>

                                        <div class="card-body">
                                            <div class="row"  th:each="personIdentification: ${person.personIdentification}">
                                                <div class="col-md-12" th:each="personName: ${personIdentification.personName}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Name Prefix</th>
                                                            <td th:id="'namePrefix'+${personName.getId()}" th:text="${personName.namePrefix.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Birth Name</th>
                                                            <td th:id="'birthName'+${personName.getId()}" th:text="${personName.birthName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Middle Name</th>
                                                            <td th:id="'middleName'+${personName.getId()}" th:text="${personName.middleName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Given Name</th>
                                                            <td th:id="'givenName'+${personName.getId()}" th:text="${personName.givenName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Name Suffix</th>
                                                            <td th:id="'nameSuffix'+${personName.getId()}" th:text="${personName.nameSuffix}"></td>
                                                        </tr>
                                                    </table>

                                                    <button type="button" class="btn btn-primary edit-person-details" data-toggle="modal"
                                                            data-target="#editPersonNameDetails" th:id="'EditBtn'+${personName.getId()}">
                                                        <i class="fa fa-edit"></i></button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="personIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#personIdentification"
                                                aria-expanded="false" aria-controls="personIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Identification</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="personIdentification" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="personIdentification: ${person.personIdentification}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Type Identification</th>
                                                            <td th:id="'typeOfIdentification'+${personIdentification.getId()}" th:text="${personIdentification.typeOfIdentification.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Identity Card Number</th>
                                                            <td th:id="'identityCardNumber'+${personIdentification.getId()}" th:text="${personIdentification.identityCardNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Passport Number</th>
                                                            <td th:id="'passportNumber'+${personIdentification.getId()}" th:text="${personIdentification.passportNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Alien Registration Number</th>
                                                            <td th:id="'alienRegistrationNumber'+${personIdentification.getId()}" th:text="${personIdentification.alienRegistrationNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Drivers' License Number</th>
                                                            <td th:id="'driversLicenseNumber'+${personIdentification.getId()}" th:text="${personIdentification.driversLicenseNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Social Security Number</th>
                                                            <td th:id="'socialSecurityNumber'+${personIdentification.getId()}" th:text="${personIdentification.socialSecurityNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Employer Identification Number</th>
                                                            <td th:id="'employerIdentificationNumber'+${personIdentification.getId()}" th:text="${personIdentification.employerIdentificationNumber}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Party Type</th>
                                                            <td th:text="${personIdentification.partyType.name()}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Tax Identification Number</th>
                                                            <td th:id="'taxIdentificationNumber'+${personIdentification.getId()}" th:text="${personIdentification.taxIdentificationNumber}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>National Registration Number</th>
                                                            <td th:id="'nationalRegistrationNumber'+${personIdentification.getId()}" th:text="${personIdentification.nationalRegistrationNumber}"></td>
                                                        </tr>
                                                    </table>
                                                    <button type="button" class="btn btn-primary edit-person-identification"
                                                            data-toggle="modal" data-target="#editPersonIdentificationDetails"
                                                             th:id="'EditBtn'+${personIdentification.getId()}">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="placeOfBirthHeading" class="b-radius-0 card-header">
                                        <button type="button" data-toggle="collapse" data-target="#placeOfBirth"
                                                aria-expanded="false" aria-controls="placeOfBirth"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Place of Birth</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="placeOfBirth" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="placeOfBirth: ${person.placeOfBirth.address}">
                                                    <table class="mb-0 table table-bordered">
                                                        <!--<tr>
                                                            <th>Address Type</th>
                                                            <td th:text="${placeOfBirth.addressType.name()}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Building Name</th>
                                                            <td th:id="'buildingName'+${placeOfBirth.getId()}" th:text="${placeOfBirth.buildingName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Street Name</th>
                                                            <td th:id="'streetName'+${placeOfBirth.getId()}" th:text="${placeOfBirth.streetName}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Street Building Identification</th>
                                                            <td th:text="${placeOfBirth.streetBuildingIdentification.value}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Town Name</th>
                                                            <td th:id="'townName'+${placeOfBirth.getId()}" th:text="${placeOfBirth.townName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>District Name</th>
                                                            <td th:id="'districtName'+${placeOfBirth.getId()}" th:text="${placeOfBirth.districtName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Region Identification</th>
                                                            <td th:id="'regionIdentification'+${placeOfBirth.getId()}" th:text="${placeOfBirth.regionIdentification}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Province</th>
                                                            <td th:id="'province'+${placeOfBirth.getId()}" th:text="${placeOfBirth.province}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>State</th>
                                                            <td th:id="'state'+${placeOfBirth.getId()}" th:text="${placeOfBirth.state}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Post Office Box</th>
                                                            <td th:id="'postOfficeBox'+${placeOfBirth.getId()}" th:text="${placeOfBirth.postOfficeBox}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Country Identification</th>
                                                            <td th:text="${placeOfBirth.countryIdentification.value}"></td>
                                                        </tr>-->
                                                        <!--<tr>
                                                            <th>Postal Code Identification</th>
                                                            <td th:text="${placeOfBirth.postCodeIdentification.value}"></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Floor</th>
                                                            <td th:text="${placeOfBirth.floor.value}"></td>
                                                        </tr>-->
                                                        <!--<tr>
                                                            <th>Department</th>
                                                            <td th:text="${placeOfBirth.department.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Sub Department</th>
                                                            <td th:text="${placeOfBirth.subDepartment.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Suite Identification</th>
                                                            <td th:text="${placeOfBirth.suiteIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Building Identification</th>
                                                            <td th:text="${placeOfBirth.buildingIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Mail Delivery Sub Location</th>
                                                            <td th:text="${placeOfBirth.mailDeliverySubLocation.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Block</th>
                                                            <td th:text="${placeOfBirth.block.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>District Sub Division Identification</th>
                                                            <td th:text="${placeOfBirth.districtSubDivisionIdentification.value}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>lot</th>
                                                            <td th:text="${placeOfBirth.lot.value}"></td>
                                                        </tr>-->
                                                    </table>
                                                    <button type="button" class="btn btn-primary edit-place-of-birth"  data-toggle="modal"
                                                            data-target="#editPlaceOfBirthDetails" th:id="'EditBtn'+${person.placeOfBirth.getId()}">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="generalInformationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#generalInformation"
                                                aria-expanded="true" aria-controls="generalInformation"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">General Information</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="generalInformation" aria-labelledby="generalInformationHeading" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Gender</th>
                                                            <td th:id="'gender'+${person.getId()}"  th:text="${person.gender.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Language</th>
                                                            <td th:id="'language'+${person.getId()}"  th:text="${person.language.getName()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Birth Date</th>
                                                            <td th:id="'birthDate'+${person.getId()}" th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(person.getBirthDate()))}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Profession</th>
                                                            <td th:id="'profession'+${person.getId()}" th:text="${person.profession}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Business Function Title</th>
                                                            <td th:id="'businessFunctionTitle'+${person.getId()}" th:text="${person.businessFunctionTitle}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Employer</th>
                                                            <td th:id="'employingParty'+${person.getId()}" th:text="${person.employingParty.Player()}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Employer</th>
                                                            <td th:id="'employingParty'+${person.getId()}" th:if="${person.employingParty}" th:text="${person.employingParty.getEmployee()}"></td>
                                                            <td th:id="'employingParty'+${person.getId()}" th:unless="${person.employingParty}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Residential Status</th>
                                                            <td th:if="${person.residentialStatus}" th:text="${person.residentialStatus.name()}"></td>
                                                            <td th:unless="${person.residentialStatus}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Civil Status</th>
                                                            <td th:id="'civilStatus'+${person.getId()}" th:text="${person.civilStatus.name()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Citizenship Start Date</th>
                                                            <td th:id="'citizenshipStartDate'+${person.getId()}" th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(person.getCitizenshipStartDate()))}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Citizenship End Date</th>
                                                            <td th:id="'citizenshipEndDate'+${person.getId()}" th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(person.getCitizenshipEndDate()))}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Status</th>
                                                            <td th:id="'status'+${person.getId()}"  th:text="${person.entityStatus}"></td>
                                                        </tr>
                                                    </table>
                                                    <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                            title="Edit" onclick="edit_general_information_details(this.id)" th:id="'EditBtn'+${person.getId()}">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="personProfileHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#personProfile"
                                                aria-expanded="false" aria-controls="personProfile"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Person Profile</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="personProfile" aria-labelledby="personProfileHeading" class="collapse">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="mb-0 table table-bordered">
                                                            <tr>
                                                                <th>Source Of Wealth</th>
                                                                <td th:if="${person.personProfile}" th:id="'sourceOfWealth'+${person.personProfile.getId()}" th:text="${person.personProfile.sourceOfWealth}"></td>
                                                                <td th:unless="${person.personProfile}" th:id="'sourceOfWealth'" th:text="''"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Salary Range</th>
                                                                <td th:if="${person.personProfile}" th:id="'salaryRange'+${person.personProfile.getId()}" th:text="${person.personProfile.salaryRange}"></td>
                                                                <td th:unless="${person.personProfile}" th:id="'salaryRange'" th:text="''"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Employee Termination Indicator</th>
                                                                <td th:if="${person.personProfile}" th:id="'employeeTerminationIndicator'+${person.personProfile.getId()}" th:text="${person.personProfile.getEmployeeTerminationIndicator()}"></td>
                                                                <td th:unless="${person.personProfile}" th:id="'employeeTerminationIndicator'" th:text="''"></td>
                                                            </tr>

                                                        </table>
                                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" th:if="${person.personProfile}"
                                                                title="Edit" onclick="edit_person_profile_details(this.id)" th:id="'EditBtn'+${person.personProfile.getId()}">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="contactPointHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#contactPoint"
                                                aria-expanded="false" aria-controls="contactPoint"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Contact Points</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="contactPoint" aria-labelledby="contactPointHeading" class="collapse">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="row" th:each="contactPoint: ${person.contactPoint}">
                                                    <div class="col-md-12" th:if="${contactPoint instanceof T(zw.co.esolutions.zpas.model.PhoneAddress)}">
                                                        <table class="mb-0 table table-bordered">
                                                            <tr>
                                                                <th width="30%">Phone Number</th>
                                                                <td width="70%" th:if="${contactPoint.phoneNumber}" th:text="${contactPoint.phoneNumber}"></td>
                                                                <td width="70%" th:unless="${contactPoint.phoneNumber}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">Fax Number</th>
                                                                <td width="70%" th:if="${contactPoint.faxNumber}" th:text="${contactPoint.faxNumber}"></td>
                                                                <td width="70%" th:unless="${contactPoint.faxNumber}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">Mobile Number</th>
                                                                <td width="70%" th:if="${contactPoint.mobileNumber}" th:text="${contactPoint.mobileNumber}"></td>
                                                                <td width="70%" th:unless="${contactPoint.mobileNumber}" th:text="'No Value'"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-12" th:if="${contactPoint instanceof T(zw.co.esolutions.zpas.model.ElectronicAddress)}">
                                                        <table class="mb-0 table table-bordered">
                                                            <tr>
                                                                <th width="30%">Email Address</th>
                                                                <td width="70%" th:if="${contactPoint.emailAddress}" th:text="${contactPoint.emailAddress}"></td>
                                                                <td width="70%" th:unless="${contactPoint.emailAddress}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">URL Address</th>
                                                                <td width="70%" th:if="${contactPoint.uRLAddress}" th:text="${contactPoint.uRLAddress}"></td>
                                                                <td width="70%" th:unless="${contactPoint.uRLAddress}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">Telex Address</th>
                                                                <td width="70%" th:if="${contactPoint.telexAddress}" th:text="${contactPoint.telexAddress}"></td>
                                                                <td width="70%" th:unless="${contactPoint.telexAddress}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">Teletex Address</th>
                                                                <td width="70%" th:if="${contactPoint.teletextAddress}" th:text="${contactPoint.teletextAddress}"></td>
                                                                <td width="70%" th:unless="${contactPoint.teletextAddress}" th:text="'No Value'"></td>
                                                            </tr>
                                                            <tr>
                                                                <th width="30%">ISDN Address</th>
                                                                <td width="70%" th:if="${contactPoint.iSDNAddress}" th:text="${contactPoint.iSDNAddress}"></td>
                                                                <td width="70%" th:unless="${contactPoint.iSDNAddress}" th:text="'No Value'"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>
<!-- Edit Person Name Details Modal -->
<div class="modal fade" id="editPersonNameDetails" tabindex="-1" role="dialog" aria-labelledby="editPersonNameDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Person Name Details</strong></h6>
                <form class="" method="post" name="editPersonNameDetailForm" id="editPersonNameDetailForm" th:action="@{/clients/edit/person/name/details}" th:object="${personName}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editBirthName">Birth Name</label>
                                        <input type="text" class="form-control"  id="editBirthName" name="birthName" required>
                                        <small class="form-text text-muted"> Birth name of person
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editMiddleName">Middle Name</label>
                                        <input type="text" class="form-control"  id="editMiddleName" name="middleName" required>
                                        <small class="form-text text-muted"> Middle name of person
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editGivenName">Given Name</label>
                                        <input type="text" class="form-control"  id="editGivenName" name="givenName" required>
                                        <small class="form-text text-muted"> Given name of person
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editNameSuffix">Name Suffix</label>
                                        <input type="text" class="form-control"  id="editNameSuffix" name="nameSuffix" required>
                                        <small class="form-text text-muted"> Name suffix of person
                                        </small>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button id="submitPersonNameDetails" type="button" data-dismiss="modal" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Edit Person Identification Details Modal -->
<div class="modal fade" id="editPersonIdentificationDetails" tabindex="-1" role="dialog" aria-labelledby="editPersonIdentificationDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Person Identification Details</strong></h6>
                <form class="" method="post" name="editPersonIdentificationDetailForm" id="editPersonIdentificationDetailForm" th:action="@{/clients/edit/person/identification/details}" th:object="${personIdentification}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editPersonIdentificationId">Id</label>
                                    <input type="text" class="form-control" id="editPersonIdentificationId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editIdentityCardNumber">Identity Card Number</label>
                                        <input type="text" class="form-control"  id="editIdentityCardNumber" name="identityCardNumber" required>
                                        <small class="form-text text-muted"> Identity Card Number of person
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editPassportNumber">Passport Number</label>
                                        <input type="text" class="form-control"  id="editPassportNumber" name="passportNumber">
                                        <small class="form-text text-muted"> Passport Number of person
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editAlienRegistrationNumber">Alien Registration Number</label>
                                        <input type="text" class="form-control"  id="editAlienRegistrationNumber" name="alienRegistrationNumber">
                                        <small class="form-text text-muted"> Alien Registration Number of person
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editDriversLicenseNumber">Driver's Licence Number</label>
                                        <input type="text" class="form-control"  id="editDriversLicenseNumber" name="driversLicenseNumber">
                                        <small class="form-text text-muted"> Driver's Licence Number of person
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editSocialSecurityNumber">Social Security Number</label>
                                        <input type="text" class="form-control"  id="editSocialSecurityNumber" name="socialSecurityNumber">
                                        <small class="form-text text-muted"> Social Security Number of person
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editEmployerIdentificationNumber">Employer Identification Number</label>
                                        <input type="text" class="form-control"  id="editEmployerIdentificationNumber" name="employerIdentificationNumber">
                                        <small class="form-text text-muted"> Employer Identification Number of person
                                        </small>
                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button id="submitPersonIdentificationDetails" type="button" data-dismiss="modal" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Edit Person Profile Details Modal -->
<div class="modal fade" id="editPersonProfileDetails" tabindex="-1" role="dialog" aria-labelledby="editPersonProfileDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Person Profile Details</strong></h6>
                <form class="" method="post" name="editPersonProfileDetailForm" id="editPersonProfileDetailForm" th:action="@{/clients/edit/person/profile/details}" th:object="${personProfile}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editPersonProfileId">Id</label>
                                    <input type="text" class="form-control" id="editPersonProfileId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editIdentityCardNumber">Source of Wealth</label>
                                        <input type="text" class="form-control"  id="editSourceOfWealth" name="sourceOfWealth">
                                        <small class="form-text text-muted"> Source of wealth of person
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editSalaryRange">Salary Range</label>
                                        <input type="number" class="form-control"  id="editSalaryRange" name="salaryRange">
                                        <small class="form-text text-muted"> Salary range of person
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editEmployeeTerminationIndicator">Are you employed?</label>
                                        <input type="text" class="form-control"  id="editEmployeeTerminationIndicator" name="employeeTerminationIndicator">
                                        <small class="form-text text-muted"> Is person still employed
                                        </small>
                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button id="submitPersonProfileDetails" type="button" data-dismiss="modal" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Edit Place of Birth Details Modal -->
<div class="modal fade" id="editPlaceOfBirthDetails" tabindex="-1" role="dialog" aria-labelledby="editPlaceOfBirthDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Place Of Birth Details</strong></h6>
                <form class="" method="post" name="editPlaceOfBirthDetailForm" id="editPlaceOfBirthDetailForm" th:action="@{/clients/edit/place/of/birth/details}" th:object="${placeOfBirth}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editPlaceOfBirthId">Id</label>
                                    <input type="text" class="form-control" id="editPlaceOfBirthId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">
                                    <div class="position-relative form-group">
                                        <label for="editBuildingName">Building Name</label>
                                        <input type="text" class="form-control"  id="editBuildingName" name="buildingName">
                                        <small class="form-text text-muted"> Building name
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editStreetName">Street Name</label>
                                        <input type="text" class="form-control"  id="editStreetName" name="streetName">
                                        <small class="form-text text-muted"> Street name
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editTownName">Town Name</label>
                                        <input type="text" class="form-control"  id="editTownName" name="townName">
                                        <small class="form-text text-muted"> Town name
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editDistrictName">District Name</label>
                                        <input type="text" class="form-control"  id="editDistrictName" name="districtName">
                                        <small class="form-text text-muted"> District name
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editRegionIdentification">Region</label>
                                        <input type="text" class="form-control"  id="editRegionIdentification" name="regionIdentification">
                                        <small class="form-text text-muted"> Region
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editProvince">Province</label>
                                        <input type="text" class="form-control"  id="editProvince" name="province">
                                        <small class="form-text text-muted"> Province
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editState">State</label>
                                        <input type="text" class="form-control"  id="editState" name="state">
                                        <small class="form-text text-muted"> State
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editPostOfficeBox">Post Office Box</label>
                                        <input type="text" class="form-control"  id="editPostOfficeBox" name="postOfficeBox">
                                        <small class="form-text text-muted"> Post office box
                                        </small>
                                    </div>


                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="button" class="btn-shadow btn-wide btn btn-success btn-sm"
                                        data-dismiss="modal">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Edit General Information Details Modal -->
<div class="modal fade" id="editGeneralInformationDetails" tabindex="-1" role="dialog" aria-labelledby="editGeneralInformationDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit General Information</strong></h6>
                <form class="" method="post" name="editGeneralInformationForm" id="editGeneralInformationDetailForm" th:action="@{/clients/edit/general/information/details}" th:object="${person}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editGeneralInformationId">Id</label>
                                    <input type="text" class="form-control" id="editGeneralInformationId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">
                                    <div class="position-relative form-group">
                                        <!--<label th:for="gender">Gender</label>-->
                                        <!--<select th:field="*{gender}" id="editGender" name="gender" class="form-control">-->
                                            <!--<option th:each="gender: ${genders}"-->
                                                    <!--th:value="${gender.name()}"-->
                                                    <!--th:text="${gender.name()}"></option>-->
                                        <!--</select>-->
                                        <input name="gender" id="editGender" type="date" class="form-control"
                                               />


                                    </div>
                                    <div class="position-relative form-group">
                                        <label th:for="language">Language</label>
                                        <!--<select id="editLanguage" name="language" class="multiselect-dropdown form-control">-->
                                            <!--<option th:each="language: ${languages}"-->
                                                    <!--th:selected="(${language.name().equals(person.getLanguage())})"-->
                                                    <!--th:value="${language.name()}"-->
                                                    <!--th:text="${language.getName()}"></option>-->
                                        <!--</select>-->
                                        <input name="language" id="editLanguage" type="date" class="form-control"
                                               />


                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editBirthDate">Birth Date</label>
                                        <input name="birthDate" id="editBirthDate" type="text" class="form-control"
                                               data-toggle="datepicker-year"/>
                                        <div class="valid-tooltip">Sweet! that name is available</div>
                                        <small class="form-text text-muted">Client's Birth Date</small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editProfession">Profession</label>
                                        <input id="editProfession" name="profession" type="text" class="form-control">
                                        <div class="invalid-feedback">You will not be able to see this</div>
                                        <small class="form-text text-muted">Client's profession</small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editBusinessFunctionTitle">Business Function Title</label>
                                        <input id="editBusinessFunctionTitle" name="businessFunctionTitle" type="text" class="form-control">
                                        <div class="invalid-feedback">You will not be able to see this</div>

                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editEmployingParty">Employing Party</label>
                                        <input id="editEmployingParty" name="employingParty" type="text" class="form-control">
                                        <div class="invalid-feedback">You will not be able to see this</div>

                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editCivilStatus">Civil Status</label>
                                        <input id="editCivilStatus" name="civilStatus" type="text" class="form-control">
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editCitizenshipStartDate">Citizenship Start Date</label>
                                        <input id="editCitizenshipStartDate" name="citizenshipStartDate" type="text" class="form-control">

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editCitizenshipEndDate">Citizenship End Date</label>
                                        <input id="editCitizenshipEndDate" name="citizenshipEndDate" type="text" class="form-control">

                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!--View Account Modal-->
<div class="modal fade bd-example-modal-lg" id="viewAccountsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Financial Institution</th>
                            <!--th>Account Name</th-->
                            <th>Account Number</th>
                            <th>Basic Bank Acc No.</th>
                            <th>International Bank Acc No.</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="accounts">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveClientModal" tabindex="-1" role="dialog"
     aria-labelledby="approveClientLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="approveClientTitle">Confirm Approve</strong></h6>
                <form class="" method="post" name="approveClientForm" id="approveClientForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to approve?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitApproveClient" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm" th:href="@{/clients/approve/{id}(id=${person.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectClientModal" tabindex="-1" role="dialog"
     aria-labelledby="rejectClientLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="rejectClientTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectClientForm" id="rejectClientForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitRejectClient" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm" th:href="@{/clients/reject/{id}(id=${person.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteClientLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="deleteClientTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectClientForm" id="deleteClientForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitDeleteClient" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm" th:href="@{/clients/delete/{id}(id=${person.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">


</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script type="text/javascript" src="/zpas/js/clients/person_contact_points.js"></script>

<!--End of scripts-->
<script>
    $("#clients-link").addClass("mm-active");
</script>

<script>
    $("#submitApproveClient").click(function () {
        var id = $("#clientId").text();
        $("#approveClientLink").prop("href", "/zpas/clients/approve/" + id);
        $("#approveClientLink").find("span").click();
    });

    $("#submitRejectClient").click(function () {
        var id = $("#clientId").text();
        $("#rejectClientLink").prop("href", "/zpas/clients/reject/" + id);
        $("#rejectClientLink").find("span").click();
    });

    $("#submitDeleteClient").click(function () {
        var id = $("#clientId").text();
        $("#deleteClientLink").prop("href", "/zpas/clients/delete/" + id);
        $("#deleteClientLink").find("span").click();
    });


</script>

<script>

    function viewAccountDetails(accountId) {
        window.location.href = "/zpas/accounts/view/" + accountId;
    }

    function fetchAccounts() {
        var clientId = $("#clientId").text();
        console.log("clientId: " + clientId);
        var accountRows = $("#accounts");
        var accountsHtml = "";

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/accounts/clients/fetch/" + clientId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data.object);
                $.each(data.object, function (index, account) {
                    console.log("account: " + JSON.stringify(account));
                    accountsHtml += "<tr><td>" + account.fiName + "</td>"
                        + "<td>" + account.accNo + "</td>"
                        + "<td>" + account.bban + "</td>"
                        + "<td>" + account.iban + "</td>"
                        + "<td id=\"actiontd" + account.id + "\"><a id=\"itemButton" + account.id + "\" role=\"button\" class=\"btn btn-info\" data-toggle=\"tooltip\"\n" +
                        "                                        data-placement=\"top\" title='View More Account Details' \n" +
                        "                                        onclick=\"viewAccountDetails('" + account.id + "')\">\n" +
                        "                                            <i class=\"fa fa-eye\" aria-hidden=\"false\"></i>\n" +
                        "                                        </a></td>\n" +
                        "</tr>";
                });
                accountRows.html(accountsHtml);
                /*if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);

                }*/
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function viewAccountsModal() {
        fetchAccounts();
    }
</script>

<script th:inline="javascript">

    $(".edit-person-details").click(function () {

        var id = this.id.replace(/EditBtn/g,'');
        console.log('The edit for person name details id is ' + id);

        console.log('person name id ' + id);
        var collegeName = $("#name" + id).text();

        $("#editId").val(id);

        //Getting the birth name from the view
        var birthName = $("#birthName"+id).text();
        var middleName = $("#middleName"+id).text();
        var givenName = $("#givenName"+id).text();
        var nameSuffix = $("#nameSuffix"+id).text();

        //Setting the birth name in thr modal form
        $("#editBirthName").val(birthName);
        $("#editMiddleName").val(middleName);
        $("#editGivenName").val(givenName);
        $("#editNameSuffix").val(nameSuffix);

       // $('#editPersonNameDetails').modal('show');
    });

    $("#submitPersonNameDetails").click(function () {
        $("#editPersonNameDetailForm").submit();
    });

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editPersonNameDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/clients/edit/person/name/details',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#birthName' + response.object.id).text(response.object.birthName);
                        $('#middleName' + response.object.id).text(response.object.middleName);
                        $('#givenName' + response.object.id).text(response.object.givenName);
                        $('#nameSuffix' + response.object.id).text(response.object.nameSuffix);
                        // $('#name' + response.object.id).text(response.object.name);
                    } else {
                        //Notification
                    }
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">

    $(".edit-person-identification").click(function () {
        var id = this.id.replace(/EditBtn/g,'');
        console.log('The edit for person identification details id is ' + id);

        console.log('person identification id ' + id);
        var collegeName = $("#name" + id).text();

        $("#editPersonIdentificationId").val(id);

        //Getting the details from the view
        var identityCardNumber = $("#identityCardNumber"+id).text();
        var socialSecurityNumber = $("#socialSecurityNumber"+id).text();
        var driversLicenseNumber = $("#driversLicenseNumber"+id).text();
        var alienRegistrationNumber = $("#alienRegistrationNumber"+id).text();
        var passportNumber = $("#passportNumber"+id).text();
        var employerIdentificationNumber = $("#employerIdentificationNumber"+id).text();


        //Setting the details in the modal form
        $("#editIdentityCardNumber").val(identityCardNumber);
        $("#editSocialSecurityNumber").val(socialSecurityNumber);
        $("#editDriversLicenseNumber").val(driversLicenseNumber);
        $("#editAlienRegistrationNumber").val(alienRegistrationNumber);
        $("#editPassportNumber").val(passportNumber);
        $("#editEmployerIdentificationNumber").val(employerIdentificationNumber);


       // $('#editPersonIdentificationDetails').modal('show');
    });

    $("#submitPersonIdentificationDetails").click(function () {
        $("#editPersonIdentificationDetailForm").submit();
    });


    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editPersonIdentificationDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/clients/edit/person/identification/details',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        console.log("Response object ID: " + response.object.id)
                        $('#identityCardNumber' + response.object.id).text(response.object.identityCardNumber);
                        $('#socialSecurityNumber' + response.object.id).text(response.object.socialSecurityNumber);
                        $('#driversLicenseNumber' + response.object.id).text(response.object.driversLicenseNumber);
                        $('#alienRegistrationNumber' + response.object.id).text(response.object.alienRegistrationNumber);
                        $('#passportNumber' + response.object.id).text(response.object.passportNumber);
                        $('#employerIdentificationNumber' + response.object.id).text(response.object.employerIdentificationNumber);

                    } else {
                        //Notification
                    }
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">

    $(".edit-person-profile").click(function () {

        //edit-place-of-birth
        var id = this.id.replace(/EditBtn/g,'');
        console.log('The edit for person profile details id is ' + id);

        console.log('person profile id ' + id);
        var collegeName = $("#name" + id).text();

        $("#editPersonProfileId").val(id);

        //Getting the details from the view
        var sourceOfWealth = $("#sourceOfWealth"+id).text();
        var salaryRange = $("#salaryRange"+id).text();
        var employeeTerminationIndicator = $("#employeeTerminationIndicator"+id).text();



        //Setting the details in the modal form
        $("#editSourceOfWealth").val(sourceOfWealth);
        $("#editSalaryRange").val(salaryRange);
        $("#editEmployeeTerminationIndicator").val(employeeTerminationIndicator);



        //$('#editPersonProfileDetails').modal('show');
    });


    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editPersonProfileDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/clients/edit/person/profile/details',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        console.log("Response object ID: " + response.object.id);
                        $('#sourceOfWealth' + response.object.id).text(response.object.sourceOfWealth);
                        $('#salaryRange' + response.object.id).text(response.object.salaryRange);
                        $('#employeeTerminationIndicator' + response.object.id).text(response.object.employeeTerminationIndicator);

                    } else {
                        //Notification
                    }
                   // $('#editPersonProfileDetails').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">

    $(".edit-place-of-birth").click(function () {
        var id = this.id.replace(/EditBtn/g,'');
        console.log('The edit for place of birth details id is ' + id);

        console.log('place of birth id ' + id);

        $("#editPlaceOfBirthId").val(id);

        //Getting the details from the view
        var buildingName = $("#buildingName"+id).text();
        var streetName = $("#streetName"+id).text();
        var townName = $("#townName"+id).text();

        //Setting the details in the modal form
        $("#editBuildingName").val(buildingName);
        $("#editStreetName").val(streetName);
        $("#editTownName").val(townName);

      //  $('#editPlaceOfBirthDetails').modal('show');
    });

    $("#submitPlaceOfBirthDetails").click(function () {
        $("#editPlaceOfBirthDetailForm").submit();
    });


    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editPlaceOfBirthDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/clients/edit/place/of/birth/details',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        console.log("Response object ID: " + response.object.id)
                        $('#buildingName' + response.object.id).text(response.object.buildingName);
                        $('#streetName' + response.object.id).text(response.object.streetName);
                        $('#townName' + response.object.id).text(response.object.townName);

                    } else {
                        //Notification
                    }
                    //$('#editPlaceOfBirthDetails').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">

    function edit_general_information_details(final_id) {
        var id = final_id.replace(/EditBtn/g,'');
        console.log('The edit for general information details id is ' + final_id);

        console.log('person id ' + id);
        var collegeName = $("#name" + id).text();

        $("#editGeneralInformationId").val(id);

        //Getting the details from the view
        var gender = $("#gender"+id).text();
        var language = $("#language"+id).text();
        var birthDate = $("#birthDate"+id).text();
        var profession = $("#profession"+id).text();
        var businessFunctionTitle = $("#businessFunctionTitle"+id).text();
        var employingParty = $("#employingParty"+id).text();
        var civilStatus = $("#civilStatus"+id).text();
        var citizenshipStartDate = $("#citizenshipStartDate"+id).text();
        var citizenshipEndDate = $("#citizenshipEndDate"+id).text();

        //Setting the details in the modal form
        $("#editGender").val(gender);
        $("#editLanguage").val(language);
        $("#editBirthDate").val(birthDate);
        $("#editProfession").val(profession);
        $("#editBusinessFunctionTitle").val(businessFunctionTitle);
        $("#editEmployingParty").val(employingParty);
        $("#editCivilStatus").val(civilStatus);
        $("#editCitizenshipStartDate").val(citizenshipStartDate);
        $("#editCitizenshipEndDate").val(citizenshipEndDate);

        $('#editGeneralInformationDetails').modal('show');
    }

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editGeneralInformationDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/clients/edit/general/information/details',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        console.log("Response object ID: " + response.object.id)
                        $('#gender' + response.object.id).text(response.object.gender);
                        $('#language' + response.object.id).text(response.object.language);
                        $('#birthDate' + response.object.id).text(response.object.birthDate);
                        $('#profession' + response.object.id).text(response.object.profession);
                        $('#businessFunctionTitle' + response.object.id).text(response.object.businessFunctionTitle);
                        $('#employingParty' + response.object.id).text(response.object.employingParty);
                        $('#civilStatus' + response.object.id).text(response.object.civilStatus);
                        $('#citizenshipStartDate' + response.object.id).text(response.object.citizenshipStartDate);
                        $('#citizenshipEndDate' + response.object.id).text(response.object.citizenshipEndDate);


                    } else {
                        //Notification
                    }
                    $('#editGeneralInformationDetails').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>

</body>
</html>