<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>View Financial Institutions
                                <div class="page-title-subheading">
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Financial Institution Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/financial-institutions/create-page}">
                                                <i class="nav-link-icon lnr-users"></i>
                                                <span>
                                                        Register Financial Institution
                                                    </span>
                                            </a>
                                        </li>
                                        <!--<li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>
                                                        Book
                                                    </span>
                                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>
                                                        Picture
                                                    </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a disabled class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>
                                                        File Disabled
                                                    </span>
                                            </a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div th:if="${financialInstitutions}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>BICFI</th>
                                <th>Legal Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="financialInstitution : ${financialInstitutions}" th:data-thing="${financialInstitution.id}" onclick="viewFinancialInstitutionDetails(this.getAttribute('data-thing'));">
                                <td th:text="${financialInstitution.getOrganisationIdentification().get(0).getBICFI()}">givenName</td>
                                <td th:text="${financialInstitution.getOrganisationIdentification().get(0).getOrganisationName().get(0).getLegalName()}">legalName</td>
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd-MM-yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(financialInstitution.getDateCreated()))}"></td>
                                <td th:text="${financialInstitution.getEntityStatus()}">status</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>BICFI</th>
                                <th>Legal Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/epay/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/epay/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/epay/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/epay/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/epay/js/alerts/notification.js"></script>
<script type="text/javascript" src="/epay/js/general/general.js"></script>
<!--End of scripts-->
<script>
    function viewFinancialInstitutionDetails(financialInstitutionId) {
        window.location.href = "/zpas/financial-institutions/details/" + financialInstitutionId;
    }
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
