<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Financial Institution
                                <div class="page-title-subheading">Details for Financial Institution</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row" th:if="${financialInstitution}">
                        <div class="col-lg-12" th:if="${!financialInstitution.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).ACTIVE)}">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                <span id="financialInstitutionIdSpan" style="display: none;" th:text="${financialInstitution.getId()}"></span>
                                    <a href="#" id="financialInstitutionActionLink" style="display: none;"><span>click</span></a>
                                    <div class="pull-right" th:if="${financialInstitution}">
                                        <button th:if="${financialInstitution.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                                data-toggle="modal" data-target="#confirmationModal" id="submitFinancialInstitutionTriggerButton"
                                                class="mb-2 mr-2 btn btn-primary">Submit for Approval
                                        </button>
                                        <button th:if="${financialInstitution.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                                data-toggle="modal" data-target="#confirmationModal" id="approveFinancialInstitutionTriggerButton"
                                                class="mb-2 mr-2 btn btn-primary">Approve
                                        </button>
                                        <button th:if="${financialInstitution.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                                data-toggle="modal" data-target="#confirmationModal" id="rejectFinancialInstitutionTriggerButton"
                                                class="mb-2 mr-2 btn btn-danger">Reject
                                        </button>
                                        <a class="mb-2 mr-2 btn btn-primary"
                                           th:href="@{/clients/view/employees/{financialInstitutionId}(financialInstitutionId=${financialInstitution.getId()})}">
                                        <span>
                                            <i class="fa fa-eye"></i>
                                        </span> View Employees
                                        </a>
                                        <button th:if="${financialInstitution.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                                data-toggle="modal" data-target="#confirmationModal" id="deleteFinancialInstitutionTriggerButton"
                                                class="mb-2 mr-2 btn btn-danger">Delete
                                        </button>
                                    </div>
                                    <div class="pull-right" th:unless="${financialInstitution}">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="organisationIdentificationHeading" class="b-radius-0 card-header">
                                        <button type="button" data-toggle="collapse" data-target="#organisationIdentification"
                                                aria-expanded="true" aria-controls="organisationIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Organisation Identification</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="organisationIdentification" class="collapse show">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="organisationIdentification: ${financialInstitution.organisationIdentification}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">BIC FI Identifier</th>
                                                            <td width="70%" th:id="'bICFI'+${organisationIdentification.getId()}" th:if="${organisationIdentification.bICFI}" th:text="${organisationIdentification.bICFI}"></td>
                                                            <td width="70%" th:unless="${organisationIdentification.bICFI}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Any BIC Identifier</th>
                                                            <td width="70%" th:id="'anyBIC'+${organisationIdentification.getId()}" th:if="${organisationIdentification.anyBIC}" th:text="${organisationIdentification.anyBIC}"></td>
                                                            <td width="70%" th:unless="${organisationIdentification.anyBIC}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">BIC Non FI Identifier</th>
                                                            <td width="70%" th:id="'bICNonFI'+${organisationIdentification.getId()}" th:if="${organisationIdentification.bICNonFI}" th:text="${organisationIdentification.bICNonFI}"></td>
                                                            <td width="70%" th:unless="${organisationIdentification.bICNonFI}" th:text="''"></td>
                                                        </tr>
                                                        <tr th:if="${otherBICList}">
                                                            <th width="30%">Other BICs</th>
                                                            <td width="70%" th:id="'otherBC'+${organisationIdentification.getId()}" th:if="${otherBICList}" th:text="${otherBICList}"></td>
                                                            <td width="70%" th:unless="${otherBICList}" th:text="''"></td>
                                                        </tr>

                                                        <tr>
                                                            <th width="30%">Bank Party Identification</th>
                                                            <td width="70%" th:id="'bankPartyIdentification'+${organisationIdentification.getId()}" th:if="${organisationIdentification.bankPartyIdentification}" th:text="${organisationIdentification.bankPartyIdentification}"></td>
                                                            <td width="70%" th:unless="${organisationIdentification.bankPartyIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Tax Identification Number</th>
                                                            <td width="70%" th:id="'taxIdentificationNumber'+${organisationIdentification.getId()}" th:if="${organisationIdentification.taxIdentificationNumber}" th:text="${organisationIdentification.taxIdentificationNumber}"></td>
                                                            <td width="70%" th:unless="${organisationIdentification.taxIdentificationNumber}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Organisation Names</th>
                                                            <td width="70%" th:if="${organisationIdentification.organisationName}">
                                                                <div class="row" th:each="organisationName: ${organisationIdentification.organisationName}">
                                                                    <div class="col-md-12">
                                                                        <table class="mb-0 table table-bordered">
                                                                            <tr>
                                                                                <th width="30%">Legal Name</th>
                                                                                <td width="70%" th:id="'legalName'+${organisationIdentification.getId()}" th:if="${organisationName.legalName}" th:text="${organisationName.legalName}"></td>
                                                                                <td width="70%" th:unless="${organisationName.legalName}" th:text="'No Value'"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th width="30%">Trading Name</th>
                                                                                <td width="70%" th:id="'tradingName'+${organisationIdentification.getId()}" th:if="${organisationName.tradingName}" th:text="${organisationName.tradingName}"></td>
                                                                                <td width="70%" th:unless="${organisationName.tradingName}" th:text="'No Value'"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th width="30%">Short Name</th>
                                                                                <td width="70%" th:id="'shortName'+${organisationIdentification.getId()}" th:if="${organisationName.shortName}" th:text="${organisationName.shortName}">No Value</td>
                                                                                <td width="70%" th:unless="${organisationName.shortName}" th:text="'No Value'">No Value</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width="70%" th:unless="${organisationIdentification.bankPartyIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th></th>
                                                            <td class="text-center">
                                                                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                                        title="Edit" onclick="edit_organisation_identification_details(this.id)" th:id="'EditBtn'+${organisationIdentification.getId()}">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="generalInformationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#generalInformation"
                                                aria-expanded="false" aria-controls="generalInformation"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">General Information</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="generalInformation" aria-labelledby="generalInformationHeading" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Purpose</th>
                                                            <td th:id="'purpose'+${financialInstitution.getId()}" width="70%" th:if="${financialInstitution.purpose}" th:text="${financialInstitution.purpose}"></td>
                                                            <td width="70%" th:unless="${financialInstitution.purpose}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">SSR</th>
                                                            <td th:id="'ssr'+${financialInstitution.getId()}" width="70%" th:if="${financialInstitution.ssr}" th:text="${financialInstitution.ssr}"></td>
                                                            <td width="70%" th:unless="${financialInstitution.ssr}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">NSSA Business Partner Number</th>
                                                            <td th:id="'ssr'+${financialInstitution.getId()}" width="70%" th:if="${financialInstitution.nssaBusinessPartnerNumber}" th:text="${financialInstitution.nssaBusinessPartnerNumber}"></td>
                                                            <td width="70%" th:unless="${financialInstitution.nssaBusinessPartnerNumber}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Virtual ID</th>
                                                            <td width="70%" th:if="${financialInstitution.virtualId}" th:text="${financialInstitution.virtualId}"></td>
                                                            <td width="70%" th:unless="${financialInstitution.virtualId}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Virtual Suffix</th>
                                                            <td width="70%" th:if="${financialInstitution.virtualSuffix}" th:text="'@' + ${financialInstitution.virtualSuffix}"></td>
                                                            <td width="70%" th:unless="${financialInstitution.virtualSuffix}" th:text="''"></td>
                                                        </tr>
                                                    </table>
                                                    <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                            title="Edit" onclick="edit_general_information_details(this.id)" th:id="'EditBtn'+${financialInstitution.getId()}">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="placeOfOperationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#placeOfOperation"
                                                aria-expanded="false" aria-controls="placeOfOperation"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Place of Operation</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="placeOfOperation" class="collapse">
                                        <div class="card-body">
                                            <div class="row" th:each="placeOfOperation: ${financialInstitution.placeOfOperation}">
                                                <div class="col-md-12" th:each="address: ${placeOfOperation.address}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Address Type</th>
                                                            <td width="70%" th:if="${address.addressType}" th:text="${address.addressType}"></td>
                                                            <td width="70%" th:unless="${address.addressType}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Name</th>
                                                            <td width="70%" th:if="${address.streetName}" th:text="${address.streetName}"></td>
                                                            <td width="70%" th:unless="${address.streetName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Building Identification</th>
                                                            <td width="70%" th:if="${address.streetBuildingIdentification}" th:text="${address.streetBuildingIdentification}"></td>
                                                            <td width="70%" th:unless="${address.streetBuildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Code Identification</th>
                                                            <td width="70%" th:if="${address.postCodeIdentification}" th:text="${address.postCodeIdentification}"></td>
                                                            <td width="70%" th:unless="${address.postCodeIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Town Name</th>
                                                            <td width="70%" th:if="${address.townName}" th:text="${address.townName}"></td>
                                                            <td width="70%" th:unless="${address.townName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">State</th>
                                                            <td width="70%" th:if="${address.state}" th:text="${address.state}"></td>
                                                            <td width="70%" th:unless="${address.state}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Name</th>
                                                            <td width="70%" th:if="${address.buildingName}" th:text="${address.buildingName}"></td>
                                                            <td width="70%" th:unless="${address.buildingName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Floor</th>
                                                            <td width="70%" th:if="${address.floor}" th:text="${address.floor}"></td>
                                                            <td width="70%" th:unless="${address.floor}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Name</th>
                                                            <td width="70%" th:if="${address.districtName}" th:text="${address.districtName}"></td>
                                                            <td width="70%" th:unless="${address.districtName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Region Identification</th>
                                                            <td width="70%" th:if="${address.regionIdentification}" th:text="${address.regionIdentification}"></td>
                                                            <td width="70%" th:unless="${address.regionIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">County Identification</th>
                                                            <td width="70%" th:if="${address.countyIdentification}" th:text="${address.countyIdentification}"></td>
                                                            <td width="70%" th:unless="${address.countyIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Office Box</th>
                                                            <td width="70%" th:if="${address.postOfficeBox}" th:text="${address.postOfficeBox}"></td>
                                                            <td width="70%" th:unless="${address.postOfficeBox}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Province</th>
                                                            <td width="70%" th:if="${address.province}" th:text="${address.province}"></td>
                                                            <td width="70%" th:unless="${address.province}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Department</th>
                                                            <td width="70%" th:if="${address.department}" th:text="${address.department}"></td>
                                                            <td width="70%" th:unless="${address.department}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Sub Department</th>
                                                            <td width="70%" th:if="${address.subDepartment}" th:text="${address.subDepartment}"></td>
                                                            <td width="70%" th:unless="${address.subDepartment}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Country</th>
                                                            <td width="70%" th:if="${address.country}" th:text="${address.country.name}"></td>
                                                            <td width="70%" th:unless="${address.country}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Suite Identification</th>
                                                            <td width="70%" th:if="${address.suiteIdentification}" th:text="${address.suiteIdentification}"></td>
                                                            <td width="70%" th:unless="${address.suiteIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Identification</th>
                                                            <td width="70%" th:if="${address.buildingIdentification}" th:text="${address.buildingIdentification}"></td>
                                                            <td width="70%" th:unless="${address.buildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Mail Delivery SubLocation</th>
                                                            <td width="70%" th:if="${address.mailDeliverySubLocation}" th:text="${address.mailDeliverySubLocation}"></td>
                                                            <td width="70%" th:unless="${address.mailDeliverySubLocation}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Block</th>
                                                            <td width="70%" th:if="${address.block}" th:text="${address.block}"></td>
                                                            <td width="70%" th:unless="${address.block}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Lot</th>
                                                            <td width="70%" th:if="${address.lot}" th:text="${address.lot}"></td>
                                                            <td width="70%" th:unless="${address.lot}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Sub Division Identification</th>
                                                            <td width="70%" th:if="${address.districtSubDivisionIdentification}" th:text="${address.districtSubDivisionIdentification}"></td>
                                                            <td width="70%" th:unless="${address.districtSubDivisionIdentification}" th:text="''"></td>
                                                        </tr>
                                                    </table>
                                                    <hr><br>
                                                </div>
                                                <div class="col-md-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="placeOfRegistrationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#placeOfRegistration"
                                                aria-expanded="false" aria-controls="placeOfRegistration"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Place of Registration</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="placeOfRegistration" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:each="placeOfRegistration: ${financialInstitution.placeOfRegistration.address}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Address Type</th>
                                                            <td width="70%" th:if="${placeOfRegistration.addressType}" th:text="${placeOfRegistration.addressType.name()}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.addressType}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Name</th>
                                                            <td width="70%" th:if="${placeOfRegistration.streetName}" th:text="${placeOfRegistration.streetName}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.streetName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Building Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.streetBuildingIdentification}" th:text="${placeOfRegistration.streetBuildingIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.streetBuildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Code Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.postCodeIdentification}" th:text="${placeOfRegistration.postCodeIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.postCodeIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Town Name</th>
                                                            <td width="70%" th:if="${placeOfRegistration.townName}" th:text="${placeOfRegistration.townName}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.townName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">State</th>
                                                            <td width="70%" th:if="${placeOfRegistration.state}" th:text="${placeOfRegistration.state}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.state}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Name</th>
                                                            <td width="70%" th:if="${placeOfRegistration.buildingName}" th:text="${placeOfRegistration.buildingName}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.buildingName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Floor</th>
                                                            <td width="70%" th:if="${placeOfRegistration.floor}" th:text="${placeOfRegistration.floor}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.floor}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Name</th>
                                                            <td width="70%" th:if="${placeOfRegistration.districtName}" th:text="${placeOfRegistration.districtName}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.districtName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Region Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.regionIdentification}" th:text="${placeOfRegistration.regionIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.regionIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">County Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.countyIdentification}" th:text="${placeOfRegistration.countyIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.countyIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Office Box</th>
                                                            <td width="70%" th:if="${placeOfRegistration.postOfficeBox}" th:text="${placeOfRegistration.postOfficeBox}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.postOfficeBox}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Province</th>
                                                            <td width="70%" th:if="${placeOfRegistration.province}" th:text="${placeOfRegistration.province}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.province}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Department</th>
                                                            <td width="70%" th:if="${placeOfRegistration.department}" th:text="${placeOfRegistration.department}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.department}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Sub Department</th>
                                                            <td width="70%" th:if="${placeOfRegistration.subDepartment}" th:text="${placeOfRegistration.subDepartment}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.subDepartment}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Country</th>
                                                            <td width="70%" th:if="${placeOfRegistration.country}" th:text="${placeOfRegistration.country.name}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.country}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Suite Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.suiteIdentification}" th:text="${placeOfRegistration.suiteIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.suiteIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.buildingIdentification}" th:text="${placeOfRegistration.buildingIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.buildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Mail Delivery SubLocation</th>
                                                            <td width="70%" th:if="${placeOfRegistration.mailDeliverySubLocation}" th:text="${placeOfRegistration.mailDeliverySubLocation}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.mailDeliverySubLocation}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Block</th>
                                                            <td width="70%" th:if="${placeOfRegistration.block}" th:text="${placeOfRegistration.block}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.block}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Lot</th>
                                                            <td width="70%" th:if="${placeOfRegistration.lot}" th:text="${placeOfRegistration.lot}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.lot}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Sub Division Identification</th>
                                                            <td width="70%" th:if="${placeOfRegistration.districtSubDivisionIdentification}" th:text="${placeOfRegistration.districtSubDivisionIdentification}"></td>
                                                            <td width="70%" th:unless="${placeOfRegistration.districtSubDivisionIdentification}" th:text="''"></td>
                                                        </tr>
                                                    </table>
                                                    <hr><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div id="sortCodesHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#sortCodes"
                                                aria-expanded="false" aria-controls="sortCodes"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Sort Codes</h5></button>
                                    </div>

                                    <div data-parent="#accordion" id="sortCodes" class="collapse">
                                        <div class="card-body">
                                            <div class="row" th:each="scode: ${financialInstitution.sortCodes}">
                                                <div class="col-md-12" th:if="${scode instanceof T(zw.co.esolutions.zpas.model.SortCode)}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Sort Code</th>
                                                            <td width="70%" th:id="'sortCode'+${scode.getId()}" th:if="${scode.sortCode}" th:text="${scode.sortCode}"></td>
                                                            <td width="70%" th:unless="${scode.sortCode}" th:text="''"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div id="contactPointsHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#contactPoints"
                                                aria-expanded="false" aria-controls="contactPoints"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Contact Points</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="contactPoints" class="collapse">
                                        <div class="card-body">
                                            <div class="row" th:each="contactPoint: ${financialInstitution.contactPoint}">
                                                <div class="col-md-12" th:if="${contactPoint instanceof T(zw.co.esolutions.zpas.model.PostalAddress)}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Address Type</th>
                                                            <td th:if="${contactPoint.addressType}" th:text="${contactPoint.addressType}"></td>
                                                            <td th:unless="${contactPoint.addressType}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Name</th>
                                                            <td width="70%" th:if="${contactPoint.streetName}" th:text="${contactPoint.streetName}"></td>
                                                            <td width="70%" th:unless="${contactPoint.streetName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Street Building Identification</th>
                                                            <td width="70%" th:if="${contactPoint.streetBuildingIdentification}" th:text="${contactPoint.streetBuildingIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.streetBuildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Code Identification</th>
                                                            <td width="70%" th:if="${contactPoint.postCodeIdentification}" th:text="${contactPoint.postCodeIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.postCodeIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Town Name</th>
                                                            <td width="70%" th:if="${contactPoint.townName}" th:text="${contactPoint.townName}"></td>
                                                            <td width="70%" th:unless="${contactPoint.townName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">State</th>
                                                            <td width="70%" th:if="${contactPoint.state}" th:text="${contactPoint.state}"></td>
                                                            <td width="70%" th:unless="${contactPoint.state}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Name</th>
                                                            <td width="70%" th:if="${contactPoint.buildingName}" th:text="${contactPoint.buildingName}"></td>
                                                            <td width="70%" th:unless="${contactPoint.buildingName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Floor</th>
                                                            <td width="70%" th:if="${contactPoint.floor}" th:text="${contactPoint.floor}"></td>
                                                            <td width="70%" th:unless="${contactPoint.floor}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Name</th>
                                                            <td width="70%" th:if="${contactPoint.districtName}" th:text="${contactPoint.districtName}"></td>
                                                            <td width="70%" th:unless="${contactPoint.districtName}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Region Identification</th>
                                                            <td width="70%" th:if="${contactPoint.regionIdentification}" th:text="${contactPoint.regionIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.regionIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">County Identification</th>
                                                            <td width="70%" th:if="${contactPoint.countyIdentification}" th:text="${contactPoint.countyIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.countyIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Post Office Box</th>
                                                            <td width="70%" th:if="${contactPoint.postOfficeBox}" th:text="${contactPoint.postOfficeBox}"></td>
                                                            <td width="70%" th:unless="${contactPoint.postOfficeBox}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Province</th>
                                                            <td width="70%" th:if="${contactPoint.province}" th:text="${contactPoint.province}"></td>
                                                            <td width="70%" th:unless="${contactPoint.province}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Department</th>
                                                            <td width="70%" th:if="${contactPoint.department}" th:text="${contactPoint.department}"></td>
                                                            <td width="70%" th:unless="${contactPoint.department}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Sub Department</th>
                                                            <td width="70%" th:if="${contactPoint.subDepartment}" th:text="${contactPoint.subDepartment}"></td>
                                                            <td width="70%" th:unless="${contactPoint.subDepartment}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Country</th>
                                                            <td width="70%" th:if="${contactPoint.country}" th:text="${contactPoint.country.name}"></td>
                                                            <td width="70%" th:unless="${contactPoint.country}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Suite Identification</th>
                                                            <td width="70%" th:if="${contactPoint.suiteIdentification}" th:text="${contactPoint.suiteIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.suiteIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Building Identification</th>
                                                            <td width="70%" th:if="${contactPoint.buildingIdentification}" th:text="${contactPoint.buildingIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.buildingIdentification}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Mail Delivery SubLocation</th>
                                                            <td width="70%" th:if="${contactPoint.mailDeliverySubLocation}" th:text="${contactPoint.mailDeliverySubLocation}"></td>
                                                            <td width="70%" th:unless="${contactPoint.mailDeliverySubLocation}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Block</th>
                                                            <td width="70%" th:if="${contactPoint.block}" th:text="${contactPoint.block}"></td>
                                                            <td width="70%" th:unless="${contactPoint.block}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Lot</th>
                                                            <td width="70%" th:if="${contactPoint.lot}" th:text="${contactPoint.lot}"></td>
                                                            <td width="70%" th:unless="${contactPoint.lot}" th:text="''"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">District Sub Division Identification</th>
                                                            <td width="70%" th:if="${contactPoint.districtSubDivisionIdentification}" th:text="${contactPoint.districtSubDivisionIdentification}"></td>
                                                            <td width="70%" th:unless="${contactPoint.districtSubDivisionIdentification}" th:text="''"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-12" th:if="${contactPoint instanceof T(zw.co.esolutions.zpas.model.PhoneAddress)}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Phone Number</th>
                                                            <td width="70%" th:if="${contactPoint.phoneNumber}" th:text="${contactPoint.phoneNumber}"></td>
                                                            <td width="70%" th:unless="${contactPoint.phoneNumber}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Fax Number</th>
                                                            <td width="70%" th:if="${contactPoint.faxNumber}" th:text="${contactPoint.faxNumber}"></td>
                                                            <td width="70%" th:unless="${contactPoint.faxNumber}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Mobile Number</th>
                                                            <td width="70%" th:if="${contactPoint.mobileNumber}" th:text="${contactPoint.mobileNumber}"></td>
                                                            <td width="70%" th:unless="${contactPoint.mobileNumber}" th:text="'No Value'"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-12" th:if="${contactPoint instanceof T(zw.co.esolutions.zpas.model.ElectronicAddress)}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Email Address</th>
                                                            <td width="70%" th:if="${contactPoint.emailAddress}" th:text="${contactPoint.emailAddress}"></td>
                                                            <td width="70%" th:unless="${contactPoint.emailAddress}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">URL Address</th>
                                                            <td width="70%" th:if="${contactPoint.uRLAddress}" th:text="${contactPoint.uRLAddress}"></td>
                                                            <td width="70%" th:unless="${contactPoint.uRLAddress}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Telex Address</th>
                                                            <td width="70%" th:if="${contactPoint.telexAddress}" th:text="${contactPoint.telexAddress}"></td>
                                                            <td width="70%" th:unless="${contactPoint.telexAddress}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">Teletex Address</th>
                                                            <td width="70%" th:if="${contactPoint.teletextAddress}" th:text="${contactPoint.teletextAddress}"></td>
                                                            <td width="70%" th:unless="${contactPoint.teletextAddress}" th:text="'No Value'"></td>
                                                        </tr>
                                                        <tr>
                                                            <th width="30%">ISDN Address</th>
                                                            <td width="70%" th:if="${contactPoint.iSDNAddress}" th:text="${contactPoint.iSDNAddress}"></td>
                                                            <td width="70%" th:unless="${contactPoint.iSDNAddress}" th:text="'No Value'"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-12">
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div id="validityPeriodHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#validityPeriod"
                                                aria-expanded="false" aria-controls="validityPeriod"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Validity Period</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="validityPeriod" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12" th:if="${financialInstitution.validityPeriod}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th width="30%">Validity Period</th>
                                                            <td width="70%" th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(financialInstitution.validityPeriod.fromDateTime)}
                                                            + '-' + ${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(financialInstitution.validityPeriod.toDateTime)}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Edit General Information Details Modal -->
<div class="modal fade" id="editGeneralInformationDetails" tabindex="-1" role="dialog" aria-labelledby="editGeneralInformationDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit General Information</strong></h6>
                <form class="" method="post" name="editGeneralInformationForm" id="editGeneralInformationDetailForm" th:action="@{/financial-institutions/edit/general/information/details}" th:object="${financialInstitution}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editGeneralInformationId">Id</label>
                                    <input type="text" class="form-control" id="editGeneralInformationId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">
                                    <div class="position-relative form-group">
                                        <label for="editPurpose">Purpose</label>
                                        <input name="purpose" id="editPurpose" type="text" class="form-control"/>

                                    </div>


                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Edit Organisation Identification Details Modal -->
<div class="modal fade" id="editOrganisationIdentificationDetails" tabindex="-1" role="dialog" aria-labelledby="editOrganisationIdentificationDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Organisation Identification Details</strong></h6>
                <form class="" method="post" name="editOrganisationIdentificationDetailForm" id="editOrganisationIdentificationDetailForm" th:action="@{/financial-institutions/edit/organisation/identification/details}" th:object="${identification}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editOrganisationIdentificationId">Id</label>
                                    <input type="text" class="form-control" id="editOrganisationIdentificationId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editBICFI">BIC FI Identifier</label>
                                        <input type="text" class="form-control"  id="editBICFI" name="bICFI" required>

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editAnyBIC">Any BIC Identifier</label>
                                        <input type="text" class="form-control"  id="editAnyBIC" name="anyBIC" required>

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editLegalName">Legal Name</label>
                                        <input type="text" class="form-control"  id="editLegalName" name="legalName" required>

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editTradingName">Trading Name</label>
                                        <input type="text" class="form-control"  id="editTradingName" name="tradingName" required>

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editShortName">Short Name</label>
                                        <input type="text" class="form-control"  id="editShortName" name="shortName" required>

                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<!-- Edit Tax Details Modal -->
<div class="modal fade" id="editTaxDetails" tabindex="-1" role="dialog" aria-labelledby="editTaxDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Tax Details</strong></h6>
                <form class="" method="post" name="editTaxDetailForm" id="editTaxDetailForm" th:action="@{/financial-institutions/edit/tax/details}" th:object="${tax}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editTaxId">Id</label>
                                    <input type="text" class="form-control" id="editTaxId" name="id">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editBICFI">BIC FI Identifier</label>
                                        <input type="text" class="form-control"  id="editBICFIs" name="bICFI" required>

                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/financial_institutions/edit_financial_institution.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/financial_institutions/fi.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
