<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>View Employees
                                <div class="page-title-subheading">
                                </div>
                            </div>
                        </div>
                        <span style="display: none" id="globalPersonId"
                              th:text="${personId}"></span>
                        <span style="display: none" id="globalEmployingPartyRoleId"
                              th:text="${employingPartyRoleId}"></span>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <!--<button class="btn-shadow btn btn-primary">Add Employee</button>-->

                                <a class="btn btn-primary" href="#" data-toggle="modal"
                                   data-target="#addEmployeeModal" id="addEmployeeButton">
                                    <span><i class="fa fa-plus"></i></span> Add Employee
                                </a>

                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Client Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/clients/create-page}">
                                                <i class="nav-link-icon lnr-users"></i>
                                                <span>
                                                        Create Client
                                                    </span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/clients/view/all}">
                                                <i class="nav-link-icon lnr-users"></i>
                                                <span>
                                                        View Clients
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-title-actions">

                                    <div class="d-inline-block dropdown">
                                        <button style="display: none" id="displayRemovedPersonModalButton" data-toggle="modal" data-target="#removedPersonModal"></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div th:if="${persons}" class="main-card mb-3 card">
                    <span style="display: none" id="employingPartyRoleIdSpan" th:text="${employingPartyRoleId}"></span>
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${persons}">
                                <td th:text="${person.getName()}"></td>
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(person.getDateCreated()))}"></td>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(person.getEntityStatus())}">status</td>
                                <td class="text-center">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button class="btn btn-primary" th:id="${person.id}" data-toggle="tooltip" title="Remove Employee" onclick="removeEmployee(this.id)">
                                            <i class="fa fa-window-close"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${persons}" class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-header">
                            <h4>No Employees were found.</h4>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--  remove employee modal -->
<div class="modal fade" id="removedPersonModal" tabindex="-1" role="dialog"
     aria-labelledby="removedPersonLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="row"><h5 class="menu-header-title text-capitalize text-primary">Employee Removed</h5></div>
                        <!--<div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">Last Week</button>
                                <button class="btn btn-outline-dark">All Month</button>
                            </div>idCardNumberValidationModal
                        </div>-->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info fade show" role="alert" id="removedPersonMsg"></div>
                        </div>
                    </div>
                </div>

                <div class="d-block clearfix card-footer">
                    <div class="float-left">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--add employee modal-->
<div class="modal fade" id="addEmployeeModal" role="dialog"
     aria-labelledby="addEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--<h6 class="modal-title"><strong>New Mandate Holder</strong></h6>-->

                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">New Employee</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">Employees</button>
                            </div>
                        </div>
                    </div>

                    <form class="" action="/zpas/clients/add/employee" method="post" name="addEmployeeForm"
                          id="addEmployeeForm">
                        <div class="form-wizard-content">
                            <div>
                                <div class="card-body">
                                    <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                    <div class="col-md-12" style="display:none;">
                                        <div class="position-relative form-group">
                                            <input id="employingPartyRoleId" required name="employingPartyRoleId" type="text"
                                                   class="form-control">
                                        </div>
                                        <!--<div class="position-relative form-group">
                                            <input id="personId" required name="personId"
                                                   type="text"
                                                   class="form-control">
                                        </div>-->
                                    </div>
                                    <div class="col-md-12">

                                        <div class="position-relative form-group">
                                            <label for="personId">Employee</label>
                                            <select name="personId" id="personId" style="width: 100%"
                                                    class="form-control">
                                                <!--<option value="AK">Alaska</option>-->
                                            </select>
                                            <!--<small class="form-text text-muted">
                                                Specifies each role linked to a mandate and played by a party in that
                                                context.
                                            </small>-->
                                        </div>
                                        <!--<div class="position-relative form-group">
                                            <label for="mandateHolderType">Role</label>
                                            <select type='select' class='custom-select' id="mandateHolderType"
                                                    name="mandateHolderType">
                                                <option value='INITIATE'> INITIATE</option>
                                                <option value='AUTHORISE'> AUTHORISE</option>
                                                <option value='BOTH'> BOTH</option>
                                            </select>
                                            <small class="form-text text-muted"> Specifies the role played by the
                                                mandate holder.
                                            </small>
                                        </div>-->
                                    </div>

                                    <div class="position-relative form-group">
                                        <div class="d-block clearfix card-footer">
                                            <div class="float-left">
                                                <button type="button"
                                                        class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm"
                                                        data-dismiss="modal">Close
                                                </button>
                                            </div>
                                            <div class="float-right">
                                                <button type="button"
                                                        class="btn-wide btn btn-link btn-sm refresh-remove-mh-button">
                                                    Refresh
                                                </button>
                                                <a id="addEmployeeLink" href="#"
                                                   style="display: none"><span>click</span></a>
                                                <button type="button" id="submitAddEmployee"
                                                        class="btn-wide btn-shadow btn btn-primary btn-sm"
                                                        data-dismiss="modal">Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>

<!--Remove Person from Employing Party Role-->
<script>
    function removeEmployee(personId) {
        var employingPartyRoleId = $("#employingPartyRoleIdSpan").text();

        var requestData = JSON.stringify({
            employingPartyRoleId: employingPartyRoleId,
            personId: personId
        });

        $.ajax({
            url: "/zpas/clients/employer/remove/person" ,
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: requestData,
            success: function (data) {
                console.log("The message response is " + JSON.stringify(data));
                if (data.code === "05") {
                    console.log("The person has not been removed");

                } else {
                    $("#displayRemovedPersonModalButton").click();
                    $("#removedPersonMsg").html(data.msg);
                }
            },
            error: function (data) {
                console.log("An error occurred while removing the employee " + data);
            }
        });
    }
</script>
<script>
    $("#personId").select2({
        minimumInputLength: 1,
        placeholder: "Search for a person",
        allowClear: true,
        ajax: {
            url: "/zpas/clients/search/persons/",
            dataType: "json",
            contentType: "application/json",
            delay: 250,
            data: function (params) {
                var employingPartyRoleId = $("#globalEmployingPartyRoleId").val();

                var queryParameters = {
                    search: params.term,
                    employingPartyRoleId: employingPartyRoleId
                };
                return queryParameters;
            },
            processResults: function (data) {
                formattedData = [];
                $.each(data, function (idx, dataItem) {
                    var d = {
                        id: dataItem.personId,
                        text: dataItem.personFullName + " [" + dataItem.nationalId + "]"
                    };
                    formattedData.push(d);
                });
                return {
                    results: formattedData
                };
            }
        }
    });


    $("#addEmployeeButton").click(function () {
        var personId = $("#globalPersonId").text();
        var employingPartyRoleId = $("#globalEmployingPartyRoleId").text();

        $("#personId").val(personId);
        $("#employingPartyRoleId").val(employingPartyRoleId);

    });

    $("#submitAddEmployee").click(function () {
        console.log('Adding the employee');
        $("#addEmployeeForm").submit();
    });

    </script>


</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
