<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }
        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Payment Investigation Case
                                <div class="page-title-subheading">Case Details.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Actions
                                </button>
                                <a class="btn btn-primary" th:href="'/zpas/resolution/center'"><i class="fa fa-history"></i> Go To Home</a>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <!--<li class="nav-item" th:if="${isPaymentCancellationAction}">-->
                                        <li class="nav-item" th:if="${investigationCase.getUnderlyingPayment()}">
                                            <a class="nav-link" th:href="'/zpas/payments/view/' + ${investigationCase.getUnderlyingPayment().get(0).getId()}">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>View Payment</span>
                                            </a>

                                        </li>


                                        <!--<li class="nav-item">
                                            <a class="nav-link" id="claimNoneReceiptModalBtn" data-toggle="modal"
                                               data-target="#createPaymentRequestModal">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>View  Non Receipt</span>

                                            </a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${investigationCase}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <span id="investigationCaseIdSpan" style="display: none;" th:text="${investigationCase.getId()}"></span>
                                <a href="#" id="investigationCaseActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right">
                                    <button data-toggle="modal" data-target="#caseStatusInformationModal"
                                            class="mb-2 mr-2 btn btn-warning"><i class="fa fa-chart-line" aria-hidden="true"></i> Case Status History
                                    </button>
                                    <button data-toggle="modal" data-target="#paymentStatusHistoryModal"
                                            class="mb-2 mr-2 btn btn-primary"><i class="fa fa-bars" aria-hidden="true"></i> Payment Status
                                    </button>
                                    <button data-toggle="modal" data-target="#investigationResolutionModal" th:if="${investigationCase.getInvestigationResolution()}"
                                            class="mb-2 mr-2 btn btn-primary"><i class="fa fa-window-restore" aria-hidden="true"></i>
                                        View Resolution
                                    </button>
                                    <!--<span th:unless="${investigationCase.getLatestInvestigationCaseStatus() != null}">

                                        <span th:unless="${investigationCase.getLatestInvestigationCaseStatus().getCaseStatus().equals(T(zw.co.esolutions.zpas.enums.CaseStatusCode).Closed)}">
                                            <button id="reject-case" class="mb-2 mr-2 btn btn-danger" data-toggle="modal" data-target="#rejectCaseModal">
                                                    <i class="fa fa-times"></i>
                                               Reject Investigation Case
                                            </button>
                                        </span>
                                    </span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${investigationCase}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Investigation Case Information</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${investigationCase.getDateCreated()}">
                                                <th scope="row">Date Created</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(investigationCase.getDateCreated()))}"></td>
                                            </tr>
                                            <tr th:if="${investigationCase.getId() != null}">
                                                <th scope="row">Reference</th>
                                                <td th:text="${investigationCase.getId()}"></td>
                                            </tr>
                                            <tr th:if="${investigationCase.getCaseType() != null}">
                                                <th scope="row">Case Type</th>
                                                <td th:text="${investigationCase.getCaseType()}"></td>
                                            </tr>
                                            <tr th:if="${investigationCase.getLatestInvestigationCaseStatus() != null}">
                                                <th scope="row">Case Status</th>
                                                <td th:text="${investigationCase.getLatestInvestigationCaseStatus().getCaseStatus().name()}"></td>
                                            </tr>
                                            <tr th:if="${investigationCase.getCancellationReason() != null}">
                                                <th scope="row">Cancellation Reason</th>
                                                <td th:text="${investigationCase.getCancellationReason().name()}"></td>
                                            </tr>
                                            <tr th:if="${investigationCase.getIncorrectInformationReason() != null}">
                                                <th scope="row">Incorrect Information Reason</th>
                                                <td th:text="${investigationCase.getIncorrectInformationReason().name()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Missing Cover Indication</th>
                                                <td th:text="${investigationCase.getMissingCoverIndication()}"></td>
                                            </tr>

                                            <tr th:if="${investigationCase.getIdentification() != null}">
                                                <th scope="row">Identification</th>
                                                <td th:text="${investigationCase.getIdentification()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${(investigationCase.getUnderlyingPayment() != null) and (investigationCase.getUnderlyingPayment().size() > 0)}">
                                                <th scope="row">Payment Reference</th>
                                                <td>
                                                    <a th:href="'/zpas/payments/view/' + ${investigationCase.getUnderlyingPayment().get(0).getId()}" th:text="${investigationCase.getUnderlyingPayment().get(0).getId()}"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Case Creator</th>
                                                <td th:text="${caseCreatorName}"></td>
                                            </tr>
                                            <tr th:if="${isDebitAuthorisationReq}">
                                                <th scope="row">Amount To Be Debited</th>
                                                <td th:text="${amountToBeDebited}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${isDebitAuthorisationReq}">
                    <div class="col-md-12">
                        <div class="text-right">
                            <button id="authoriseDebitButn" class="mb-2 mr-2 btn btn-primary" data-toggle="modal" data-target="#debitAuthorisationResponseModal">
                                <i class="fa fa-money-bill"></i>
                                Accept/Reject Debit
                            </button>
                        </div>
                    </div>
                </div>
                <div th:unless="${investigationCase}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find investigation Case.</h2>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--Start Debit Authorisation Response Modal-->
<div class="modal fade" id="debitAuthorisationResponseModal" tabindex="-1" role="dialog" aria-labelledby="debitAuthorisationResponseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="reqTitle">Debit Authorisation Response</strong></h6>
                <form class="" id="debitAuthForm" method="post" th:action="@{/investigation-case/debit-authorisation}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">

                                <div class="position-relative form-group" id="authorisationStringRadio">
                                    <label>Accept Recall?</label>
                                    <input type="radio" value="Yes" name="authorisationString">Yes
                                    <input type="radio" checked value="No" name="authorisationString">No
                                </div>

                                <div class="position-relative form-group">
                                    <label for="reason">Reason</label>
                                    <input class="form-control" id="reason" name="reason" type="text">
                                </div>

                                <div id="acceptRecallHidden" style="display: none">
                                    <div class="position-relative form-group">
                                        <label for="valueDateToDebitString">Value Date To Debit</label>
                                        <input class="form-control" id="valueDateToDebitString" name="valueDateToDebitString" type="date" th:value="${T(java.time.LocalDate).now()}">
                                    </div>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="paymentInvestigationCaseId" th:value="${investigationCase.id}" name="paymentInvestigationCaseId" type="hidden">
                                    <input class="form-control" id="paymentInvestigationCaseIdentification" th:value="${investigationCase.identification}" name="paymentInvestigationCaseIdentification" type="hidden">
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="assignmentIdentification" th:value="${investigationCase.assignmentIdentification}" name="assignmentIdentification" type="hidden">
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Debit Authorisation Response Modal-->

<!--Start Reject Case Modal Modal-->
<div class="modal fade" id="rejectCaseModal" tabindex="-1" role="dialog" aria-labelledby="rejectCaseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Investigation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" id="rejectCaseForm" method="post" th:action="@{/resolution/center/case/update}" th:object="${investigationCaseStatusDTO}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group">
                                    <label th:for="rejectionReasonV2Code"><span style="color: #ff1428">*</span> Rejection Reason Code </label>
                                    <select name="rejectionReasonV2Code" id="rejectionReasonV2Code" class="form-control" required>
                                        <option th:each="rejectionReasonV2Code: ${rejectionReasonV2Codes}"
                                                th:value="${rejectionReasonV2Code.name()}"
                                                th:text="${rejectionReasonV2Code.name()}"></option>
                                    </select>
                                    <small class="form-text text-muted">Specifies the rejection reason for the investigation status.</small>
                                </div>

                                <div class="position-relative form-group">
                                    <label for="narrative"><span style="color: #ff1428">*</span> Narrative</label>
                                    <input id="narrative" required name="narrative" type="text" class="form-control">
                                    <small class="form-text text-muted">Specifies the narrative of the rejection.</small>
                                </div>


                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" th:value="${investigationCase.id}" name="paymentInvestigationCaseId">
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="caseStatusCode"  name="caseStatusCode" value="Closed">
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="statusCode"  name="statusCode" value="Rejected">
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="instructionProcessingStatus"  name="instructionProcessingStatus" value="Rejected">
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="cancellationProcessingStatusCode"  name="cancellationProcessingStatusCode" value="Rejected">
                                </div>


                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <!--<button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal">
                                            Cancel
                                        </button>-->
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Reject Case Modal-->

<!--Send Proof of Payment Modal -->
<div class="modal fade" id="sendProofOfPaymentModal" tabindex="-1" role="dialog"
     aria-labelledby="sendProofOfPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendProofOfPaymentModalLabel">Proof Of Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="proofOfPaymentForm" th:if="${payment}" th:action="@{/messaging/proof-of-payment}">
                    <input style="display: none;" type="text" id="paymentId" name="paymentId"
                           th:value="${payment.getId()}"/>
                    <div class="form-group">
                        <label for="recipientName" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" name="recipientName" id="recipientName"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email"/>
                    </div>
                </form>
                <p th:unless="${payment}">No Payment found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="proofOfPaymentCloseButton" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="sendProofOfPaymentButton" class="btn btn-primary" data-dismiss="modal">Send
                    PoP
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Send Proof of Payment Modal -->

<!--Case Status Information Modal -->
<div class="modal fade" id="caseStatusInformationModal" tabindex="-1" role="dialog"
     aria-labelledby="caseStatusInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Investigation Case Status Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h5 class="card-title">Statuses</h5>
                <div class="table-responsive" th:if="${investigationCase}">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payment Status</th>
                            <th>Status Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="caseStatus: ${investigationCase.getStatus()}">
                            <th scope="row" th:if="${caseStatus.getDateCreated()}"
                                th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(caseStatus.getDateCreated()))}"></th>
                            <th scope="row" th:unless="${caseStatus.getDateCreated()}" th:text="'---'"></th>

                            <td th:if="${caseStatus.getCaseStatus()}"
                                th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(caseStatus.getCaseStatus().name())}"></td>
                            <td th:unless="${caseStatus.getCaseStatus()}" th:text="''"></td>

                            <td th:if="${caseStatus.statusReason}">
                                <ul>
                                    <li th:each="statusReason: ${caseStatus.statusReason}" th:text="${statusReason.reason}"></li>
                                </ul>
                            </td>
                            <td th:unless="${caseStatus.statusReason}" th:text="''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:if="${investigationCase.getStatus() == null}">No Case Status found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Case Status Information Modal -->

<!--Payment Status History Modal -->
<div class="modal fade" id="paymentStatusHistoryModal" tabindex="-1" role="dialog"
     aria-labelledby="paymentStatusHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Status History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Statuses</h5>
                <div class="table-responsive" th:if="${investigationCase.getUnderlyingPayment() != null and investigationCase.getUnderlyingPayment().size() > 0}">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payment Status</th>
                            <th>Status Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="paymentStatus: ${investigationCase.getUnderlyingPayment().get(0).getPaymentStatus()}">
                            <th scope="row" th:if="${paymentStatus.getDateCreated()}"
                                th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentStatus.getDateCreated()))}"></th>
                            <th scope="row" th:unless="${paymentStatus.getDateCreated()}" th:text="'---'"></th>

                            <td th:if="${paymentStatus.getStatus()}"
                                th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(paymentStatus.getStatus().name())}"></td>
                            <td th:unless="${paymentStatus.getStatus()}" th:text="''"></td>

                            <td th:if="${paymentStatus.getLatestStatusReason() != null}"
                                th:text="${paymentStatus.getLatestStatusReason().getReason()}">
                            </td>
                            <td th:unless="${paymentStatus.getLatestStatusReason() != null}" th:text="''">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:if="${investigationCase.getPaymentStatus() == null}">No Payment Status found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Payment Status History Modal -->

<!--Payment Status History Modal -->
<div class="modal fade" id="investigationResolutionModal" tabindex="-1" role="dialog"
     aria-labelledby="resolutionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resolution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">Resolution</h5>
                <div class="table-responsive" th:if="${paymentInvestigationCaseResolutions}">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Code</th>
                            <th>Reference</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="resolution: ${paymentInvestigationCaseResolutions}">
                            <th scope="row" th:if="${resolution.getDateCreated()}"
                                th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(resolution.getDateCreated()))}"></th>
                            <th scope="row" th:unless="${resolution.getDateCreated()}" th:text="'---'"></th>

                            <td th:if="${resolution.getInvestigationStatus()}"
                                th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(resolution.getInvestigationStatus().name())}"></td>
                            <td th:unless="${resolution.getInvestigationStatus()}" th:text="''"></td>

                            <td th:if="${resolution.getInvestigationCaseReference()}"
                                th:text="${resolution.getInvestigationCaseReference()}">

                            </td>
                            <td th:unless="${resolution.getInvestigationCaseReference()}" th:text="''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p th:if="${paymentInvestigationCaseResolutions == null}">No Investigation Resolution found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Payment Status History Modal -->


<!-- Signature -->
<div class="modal fade" id="signatures" tabindex="-1" role="dialog"
     aria-labelledby="signaturesLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">Signature Details</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark" id="signedBtn">Signed</button>
                                <button class="btn btn-outline-dark" id="pendingBtn">Pending</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive signed-table">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="signaturesSignedTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Date Signed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">No one has signed yet.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive pending-table" style="display: none">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="signaturesPendingTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3" class="text-center">There are no pending signatories.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-block clearfix card-footer">

                    <div class="float-right">
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of signature-->


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/zpas/js/investigations/investigationcase.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>

<script>
    $("#debitAuthForm").submit(function () {
        console.log("Testing the submit debit auth ..");
        $("#authoriseDebitButn").hide();
    });
</script>
<!--End of scripts-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
