<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Resolution Center</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">
    <style>
        .rep_problem-title {
            font-size: 30px;
        }

        .ph1-consumer-report .rep_problem-title, .ph1-merchant-report .rep_problem-title {
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #2c2e2f;
            margin: 0;
            padding-bottom: 26px;
        }

        h1, .vx_text-1 {
            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: 300;
            text-transform: none;
            font-family: 'PayPal-Sans-Big', sans-serif;
        }

        /**
        * For search block
        */
        .dropdown.dropdown-lg .dropdown-menu {
            margin-top: -1px;
            padding: 6px 20px;
        }

        .input-group-btn .btn-group {
            display: flex !important;
        }

        .btn-group .btn {
            border-radius: 0;
            margin-left: -1px;
        }

        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .btn-group .form-horizontal .btn[type="submit"] {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .form-horizontal .form-group {
            margin-left: 0;
            margin-right: 0;
        }

        .form-group .form-control:last-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        @media screen and (min-width: 768px) {
            #adv-search {
                width: 500px;
                margin-top: 20%;
                /*margin: 0 auto;*/
            }

            .dropdown.dropdown-lg {
                position: static !important;
            }

            .dropdown.dropdown-lg .dropdown-menu {
                min-width: 500px;
            }
        }
    </style>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>


        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Resolution Center
                                <div class="page-title-subheading">Manage investigation case


                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="main-card mb-3 card" th:if="${paymentInvestigationCases}">
                                <div class="card-body">
                                    <a class="btn btn-primary" style="display: none" href="#"
                                       id="BtnToTriggerCase" data-toggle="modal"
                                       data-target="#investigationCaseStatus"></a>
                                    <a class="btn btn-primary" style="display: none" href="#"
                                       id="BtnToTriggerResolution" data-toggle="modal"
                                       data-target="#investigationCaseResolution"></a>
                                    <table style="width: 100%;" id="example"
                                           class="table table-hover table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Case Id</th>
                                            <th>Case Type</th>
                                            <th>Cancellation Reason</th>
                                            <th>Creation Date</th>
                                            <th>Resolution</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="investigationCase : ${paymentInvestigationCases}">
                                            <td>
                                                <a th:href="'/zpas/resolution/center/view/' + ${investigationCase.getId()}"
                                                   th:text="${investigationCase.getId()}"></a>
                                            </td>
                                            <td th:text="${investigationCase.getCaseType()}">Case Type</td>
                                            <td th:text="${investigationCase.getCancellationReason()}">
                                                Cancellation Reason
                                            </td>
                                            <td th:text="${formatter.format(investigationCase.getDateCreated())}">
                                                Creation Date
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>




<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>

<!--Notifaction and profile menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End-->

<script>

</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
