<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Edit Currency
                                <div class="page-title-subheading">Edit Currency details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Edit Currency</h5>
                            <form id="currencyForm" class="col-md-10 mx-auto" th:action="@{/currency/update/{id}(id=${currency.id})}" th:object="${currency}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="name">Currency Name</label>
                                            <input name="number" id="name" type="text" class="form-control" th:value="${currency.name}" th:field="*{name}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="name">Code</label>
                                            <input name="name" id="code" type="text" class="form-control" th:value="${currency.code}" th:field="*{code}"  readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="startDate">Start Date</label>
                                            <input name="startDate" id="startDate" type="text" class="form-control"
                                                   th:value="${T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(currency.startDate).toLocalDate()}"
                                                   data-toggle="datepicker-year"><!--th:field="*{startDate}" -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="endDate">End Date</label>
                                            <input name="endDate" id="endDate" type="text" class="form-control"
                                                   th:value="${T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(currency.endDate).toLocalDate()}"
                                                   data-toggle="datepicker-year"><!--th:field="*{endDate}" -->
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="rateType">Status</label>
                                            <select class="mb-2 form-control" id="rateType" th:field="*{entityStatus}">
                                                <div th:each="st : ${statuses}">
                                                    <option th:value="${st}" th:text="${st.name()}"></option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="position-relative form-group form-check">
                                            <input th:if="${currency.defaultCurrency}" th:value="${currency.defaultCurrency}" name="defaultCurrency" id="defaultCurrency" type="checkbox" class="form-check-input" checked>
                                            <input th:unless="${currency.defaultCurrency}" name="defaultCurrency" id="defaultCurrency" type="checkbox" class="form-check-input">
                                            <label for="defaultCurrency" class="form-check-label">Default Currency</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <a type="button" th:href="'/zpas/currency/manage'" class="btn btn-primary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#currencies-link").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
