<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>View Currency</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>View Currency
                                <div class="page-title-subheading">Currency is valid from start date to end date.</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <a class="btn btn-warning"
                                   sec:authorize="hasAuthority('ROLE_VIEW_CURRENCY')"
                                   th:href="@{/currency/manage}">
                                        <span>
                                            <i class="fa fa-sticky-note"></i>
                                        </span>
                                    Manage Currencies
                                </a>
                            </div>

                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary"
                                   sec:authorize="hasAuthority('ROLE_UPDATE_CURRENCY')"
                                   th:href="@{/currency/edit/{id}(id=${currency.getId()})}">
                                        <span>
                                            <i class="fa fa-pen"></i>
                                        </span>
                                    Edit
                                </a>
                            </div>

                            <div class="d-inline-block dropdown">
                                <a class="btn btn-danger"
                                   sec:authorize="hasAuthority('ROLE_DELETE_CURRENCY')"
                                   th:href="@{/currency/delete/{id}(id=${currency.getId()})}">
                                        <span>
                                            <i class="fa fa-times"></i>
                                        </span>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="accountIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#accountIdentification"
                                                aria-expanded="true" aria-controls="accountIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">CURRENCY CODE INFORMATION</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="currencyIdentification" aria-labelledby="currencyIdentificationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row" >
                                                <table class="mb-0 table" style="border: none">
                                                    <tr>
                                                        <th>Currency Name</th>
                                                        <td th:text="${currency.getName()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Currency Code</th>
                                                        <td th:text="${currency.getCode()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Default Currency</th>
                                                        <td th:if="${currency.getDefaultCurrency()}" th:text="Yes"></td>
                                                        <td th:unless="${currency.getDefaultCurrency()}" th:text="No"></td>
                                                    </tr>

                                                    <tr th:if="${currency.getDateCreated()}">
                                                        <th>Date Created</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(currency.getDateCreated()))}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Start Date</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(currency.getStartDate()))}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>End Date</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(currency.getEndDate()))}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Currency Status</th>
                                                        <td th:text="${currency.getEntityStatus()}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#currencies-link").addClass("mm-active");
</script>

</body>
</html>