<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">
    <style>
        .table-borderless td,
        .table-borderless th {
            border: 0;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Tax Authorities
                                <div class="page-title-subheading">
                                    Details for the Tax Authorities
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block">


                                <a class="btn btn-primary"
                                        th:href="@{/tax-authority}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    Add Tax Authority
                                </a>
                                <!--<a class="btn btn-primary"
                                        th:href="@{/accounts/view/{id}(id=${cashAccountId})}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Account
                                </a>-->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="taxAuthority :${taxAuthorities}">
                                <td>
                                    <a class="btn btn-primary"
                                       th:href="${'/tax-authority/'+ taxAuthority.getId()}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-link fa-w-20"></i>
                                        </span>

                                    </a>
                                </td>
                                <td th:text="${taxAuthority.getName()}"></td>
                                <td th:text="${taxAuthority.getCode()}"></td>
                                <td th:id="'status'+${taxAuthority.getId()}"
                                    th:text="${taxAuthority.getEntityStatus().name().replace('_',' ')}"></td>
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(taxAuthority.dateCreated))}"></td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
</script>
<!--<script type="text/javascript" src="/zpas/js/main.js"></script>-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
