<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Tax Authority
                                <div class="page-title-subheading">Details for the tax authority</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block">
                                <span th:if="${taxAuthority.getEntityStatus().name() != 'DELETED'}">
                                <span th:if="${taxAuthority.getEntityStatus().name() != 'INACTIVE'}">
                                <a class="btn btn-primary" th:href="${'/tax-authority/edit/' + taxAuthority.getId()}">
                                        <span>
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    Edit
                                </a>
                                <span th:if="${taxAuthority.getEntityStatus().name() != 'ACTIVE'}">
                                <span th:if="${taxAuthority.getEntityStatus().name() != 'DISAPPROVED'}">
                                <a class="btn btn-success"
                                   th:href="${'/tax-authority/approve/' + taxAuthority.getId()}">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span>
                                    Approve
                                </a>
                                <a class="btn btn-warning" th:href="${'/tax-authority/reject/' + taxAuthority.getId()}">
                                        <span>
                                            <i class="fa fa-window-close"></i>
                                        </span>
                                    Disapprove
                                </a>
                                </span>
                                </span>
                                <a class="btn btn-danger" th:href="${'/tax-authority/delete/' + taxAuthority.getId()}">
                                        <span>
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    Delete
                                </a>
                                    </span>
                                    </span>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/tax-authority/all'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>
                                <div class="d-inline-block dropdown">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"
                                            class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                        More Actions
                                    </button>

                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                         class="dropdown-menu dropdown-menu-right">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="modal"
                                                   data-target="#createTaxAuthorityPaymentOfficeModal">
                                                    <i class="nav-link-icon lnr-inbox"></i>
                                                    <span>Add Payment Office</span>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <!--<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Signature Control</span>
                        </a>
                    </li>
                    &lt;!&ndash;<li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Rule Items</span>
                        </a>
                    </li>&ndash;&gt;
                </ul>-->

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="offset-2 col-md-8">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${taxAuthority!=null}">
                                                    <tr>
                                                        <th>Name</th>
                                                        <td th:text="${taxAuthority.getName()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Code</th>
                                                        <td th:text="${taxAuthority.getCode()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Account Number</th>
                                                        <td th:text="${taxAuthority.getAccountNumber()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Bank</th>
                                                        <td id="bank" th:text="${taxAuthority.getBank()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Party</th>
                                                        <td id="partyId"
                                                            th:if="${taxAuthority.getLinkedPartyTaxAuthority()}"
                                                            th:text="${taxAuthority.getLinkedPartyTaxAuthority().getId()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${taxAuthority.getId()}"
                                                            th:text="${taxAuthority.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(taxAuthority.dateCreated))}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${paymentOffices}">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Payment offices for <span
                                                th:text="${taxAuthority.getName()}"></span></h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date Added</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="paymentOffice :${paymentOffices}">
                                                <td th:text="${paymentOffice.getName()}"></td>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(paymentOffice.getDateCreated()))}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<!-- Create Tax Authority Payment Office Modal -->
<div class="modal fade" id="createTaxAuthorityPaymentOfficeModal" tabindex="-1" role="dialog"
     aria-labelledby="createTaxAuthorityPaymentOfficeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaxAuthorityPaymentOfficeModalLabel">Tax Authority Payment Office</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createTaxAuthorityPaymentOfficeForm" th:action="@{/tax-authority/payment-offices}"
                      method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" name="name" id="name"
                               th:value="${taxAuthority.getName()}" required/>
                        <input type="text" style="display: none;" name="taxAuthorityId" id="taxAuthorityId"
                               th:value="${taxAuthority.getId()}"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="$('#createTaxAuthorityPaymentOfficeForm').submit()"
                        class="btn btn-primary" data-dismiss="modal">Submit
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Ent Create Tax Authority Payment Office Modal -->

<!-- Create College Modal -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<!--<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>-->
<script>
    $("#signatories-link").addClass("mm-active");
    $(document).ready(function () {
        var partyId = $("#partyId").text();
        $.ajax({
            url: "/zpas/tax-authority/get/partyId/" + partyId,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log("Number of party info:", data);
                $("#partyId").html(data.name);
            },
            error: function (data) {
                console.log("An error occurred. Message was ");
            }
        });

        var bankId = $("#bank").text();
        $.ajax({
            url: "/zpas/tax-authority/get/partyId/" + bankId,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log("Number of party info:", data);
                $("#bank").html(data.name);
            },
            error: function (data) {
                console.log("An error occurred. Message was ");
            }
        });



    });
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
