<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Create User Role
                                <div class="page-title-subheading">Capture Role Details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Create User Role</h5>
                            <form th:if="${session.highestUserRoleLevel.equals('SYSTEM')}" id="signupForm" class="col-md-10 mx-auto" method="post" action="/zpas/userrole" th:object="${userrole}">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Role Name"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="roleLevel">Role Level</label>
                                    <select name="roleLevel" id="roleLevel" class="form-control" required>
                                        <option value="">Select</option>
                                        <option th:each="roleLevel: ${roleLevels}"
                                                th:text="${roleLevel.name().replace('_', ' ')}"
                                                th:value="${roleLevel.name()}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a type="button" th:href="'/zpas/userrole/manage'" class="btn btn-primary">Cancel</a>
                                </div>
                            </form>
                            <p th:unless="${session.highestUserRoleLevel.equals('SYSTEM')}">Your profile is not allowed to create User Roles</p>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#profiles-link").addClass("mm-active");
    $("#profiles-link-roles").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
