<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Role
                                <div class="page-title-subheading">Manage Role
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">
                                    <a class="btn btn-primary" id="enversAuditViewButton" href="#" data-toggle="modal" data-target="#enversAuditView">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> Audit Log
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${message}">
                    <div class="col-lg-12">
                        <p th:text="${message}"></p>
                    </div>
                </div>
                <div class="row" th:if="${error}">
                    <div class="col-lg-12">
                        <p class="text-danger" th:text="${error}"></p>
                    </div>
                </div>

                <div class="row" sec:authorize="hasAuthority('ROLE_MANAGE_ACCESS_RIGHTS')">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">
                                    <button data-toggle="modal" data-target="#refreshAccessRightsModal"
                                            class="mb-2 mr-2 btn btn-primary">Refresh Access Rights
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <span style="display: none" id="userRoleIdSpan" th:text="${userrole.id}"></span>
                    <div class="card-body"><h5 class="card-title">Manage Role</h5>
                        <table class="mb-0 table table-borderless">
                            <tbody>
                            <tr>
                                <th>Name</th>
                                <td th:text="${userrole.name}"></td>
                            </tr>
                            <tr>
                                <th>Role Level</th>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(userrole.roleLevel.name())}"></td>
                            </tr>

                            <tr>
                                <th>Status</th>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(userrole.entityStatus)}"></td>
                            </tr>

                            <tr>
                                <th>Date Created</th>
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy').format(userrole.dateCreated)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Privilege</th>
                                <th>Enable</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userRolePrivilege: ${userRolePrivileges}">
                                <td th:text="${userRolePrivilege.privilegeName.replace('_', ' ')}"></td>
                                <td>
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" th:checked="${userRolePrivilege.privilegeEnabled}"
                                               th:id="${userRolePrivilege.privilegeId}" th:onclick="handlePrivilegeAction(this.id)" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${userRolePrivilege.privilegeId}"
                                               th:id="'label' + ${userRolePrivilege.privilegeId}"
                                               th:if="${userRolePrivilege.privilegeEnabled}">&nbsp;Revoke this privilege</label>
                                        <label class="custom-control-label" th:for="${userRolePrivilege.privilegeId}"
                                               th:id="'label' + ${userRolePrivilege.privilegeId}"
                                               th:unless="${userRolePrivilege.privilegeEnabled}">&nbsp;Grant this privilege</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Privilege</th>
                                <th>Enable</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>

<!--Confirmation Modal -->
<div class="modal fade" id="refreshAccessRightsModal" tabindex="-1" role="dialog"
     aria-labelledby="refreshAccessRightsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="refreshAccessRightsModalLabel">Refresh Access Rights</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage">This action will add any new access rights found in the sources. It's
                intended for Super User only. No modifications to your configured roles will be attempted. Your system
                security is guaranteed. Proceed?</p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <a style="display: none" id="refreshPrivilegesLink" th:href="@{/privileges/refresh(roleId = ${userrole.id})}"><span>click me</span></a>
                <button role="button" class="btn btn-primary" id="refreshPrivilegesBtn" data-dismiss="modal">Yes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<!-- Envers Audit View-->

<div class="modal fade" id="enversAuditView" tabindex="-1" role="dialog"
     aria-labelledby="enversAuditViewLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title"><strong>Audit Log</strong></h5>

                <div class="row mt-2 mb-2">
                    <div class="col-md-12">
                        <table class="mb-0 table table-bordered" id="enversAuditViewTable">
                        </table>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="text-right">
                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                data-dismiss="modal"><i class="fa fa-window-close"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/enversaudit/user_role.js"></script>
<script>
    $("#refreshPrivilegesBtn").on("click", function () {
        console.log("Refreshing privileges.");
        $("#refreshPrivilegesLink").find("span").click();
    });

    function handlePrivilegeAction(privilegeId) {
        var userRoleId = $("#userRoleIdSpan").text();
        var checkBox = $("#" + privilegeId);
        var enabled = checkBox.prop("checked");
        var requestData = JSON.stringify({
            userRoleId: userRoleId,
            privilegeId: privilegeId
        });
        if(enabled) {
            privilegeGrantOrRevokeAjaxCall("/zpas/userrole/add/privilege", requestData);
            $("#label" + privilegeId).text("Revoke this privilege");
        } else {
            privilegeGrantOrRevokeAjaxCall("/zpas/userrole/remove/privilege", requestData);
            $("#label" + privilegeId).text("Grant this privilege");
        }
    }

    function privilegeGrantOrRevokeAjaxCall(url, requestData) {
        $.ajax({
            url: url,
            method: "post",
            dataType: "json",
            contentType: "application/json",
            data: requestData,
            success: function(data) {
                console.log("Privilege action was successful. Affected Role is: ", JSON.stringify(data));
            },
            error: function(data) {
                console.log("Privilege action was successful. Affected Role is: ", JSON.stringify(data));
                window.location.reload;
            }
        }).done(function() {
            console.log("Done");
        });
    }
    $("#profiles-link").addClass("mm-active");
    $("#profiles-link-roles").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
