<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Role
                                <div class="page-title-subheading">Manage Role
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">
                                    <button data-toggle="modal" data-target="#refreshAccessRightsModal"
                                            class="mb-2 mr-2 btn btn-primary">Refresh Access Rights
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <span style="display: none" id="userRoleIdSpan" th:text="${userrole.id}"></span>
                    <div class="card-body"><h5 class="card-title">Manage Role</h5>
                        <table class="mb-0 table table-borderless">
                            <tbody>
                            <tr>
                                <th>Name</th>
                                <td th:text="${userrole.name}"></td>
                            </tr>
                            <tr>
                                <th>Role Level</th>
                                <td th:text="${userrole.roleLevel.name().replace('_', ' ')}"></td>
                            </tr>

                            <tr>
                                <th>Status</th>
                                <td th:text="${userrole.entityStatus}"></td>
                            </tr>

                            <tr>
                                <th>Date Created</th>
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(userrole.dateCreated)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Privilege</th>
                                <th>Enable</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userRolePrivilege: ${userRolePrivileges}">
                                <td th:text="${userRolePrivilege.privilegeName.privilegeEnabled.replace('_', ' ')}"></td>
                                <td>
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" th:checked="${userRolePrivilege.privilegeEnabled}"
                                               th:id="${userRolePrivilege.privilegeId}" th:onclick="handlePrivilegeAction(this.id)" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${userRolePrivilege.privilegeId}"
                                               th:id="'label' + ${userRolePrivilege.privilegeId}"
                                               th:if="${userRolePrivilege.privilegeEnabled}">&nbsp;Revoke this privilege</label>
                                        <label class="custom-control-label" th:for="${userRolePrivilege.privilegeId}"
                                               th:id="'label' + ${userRolePrivilege.privilegeId}"
                                               th:unless="${userRolePrivilege.privilegeEnabled}">&nbsp;Grant this privilege</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Privilege</th>
                                <th>Enable</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
