<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Account Registration</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Register Account
                                <div class="page-title-subheading">Capture Account Information
                                </div>
                            </div>
                        </div>

                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <a class="btn btn-primary" th:href="@{/clients/details/{id}(id=${rolePlayerId})}">
                                        <span>
                                            <i class="fa fa-history"></i>
                                        </span> Back to Account Owner Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">

                                        <form id="smartwizard" th:action="@{/accounts/register/{rolePlayerId}(rolePlayerId=${rolePlayerId})}" method="post">
                                            <ul class="forms-wizard">
                                                <li>
                                                    <a href="#step-1">
                                                        <em>1</em><span>Account Identification Information</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-2">
                                                        <em>2</em><span>General Information</span>
                                                    </a>
                                                </li>
                                                <!--<li>
                                                    <a href="#step-3">
                                                        <em>3</em><span>Account Status Information</span>
                                                    </a>
                                                </li>-->
                                                <li>
                                                    <a href="#step-3">
                                                        <em>3</em><span>Finish Wizard</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="form-wizard-content">

                                                <!--Step 1: Account Identification-->
                                                <div id="step-1">

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="number">Account Number <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <input name="number" id="number" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="name">Account Name <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <input name="name" id="name" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="virtualCode">Virtual Code <span style="color: #ff1428">*</span></label>
                                                                <input name="virtualCode" id="virtualCode" type="text" class="form-control">
                                                                <small id="virtualCodeInfoErrors" class="form-text text-danger">Virtual Id is required.</small>
                                                                <small id="virtualCodeInfo" class="form-text text-success"></small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="bBAN">BBAN</label>
                                                                <input name="bBAN" id="bBAN" placeholder="Basic Bank Acc No." type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="iBAN">IBAN <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <input name="iBAN" id="iBAN" placeholder="International Bank Acc No." type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="uPIC">UPIC</label>
                                                                <input name="uPIC" id="uPIC" placeholder="Universal Payment Id Code." type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Proprietary Identification Information-->
                                                    <div id="accordion4" class="accordion-wrapper mb-3">
                                                        <div class="card">
                                                            <div id="headingFour" class="card-header b-radius-0 ">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                                                                        class="text-left m-0 p-0 btn btn-block">
                                                                    <span class="form-heading">Proprietary Identification Info<p>Specify account identification as according to the proprietary scheme.</p></span>
                                                                </button>
                                                            </div>

                                                            <div data-parent="#accordion4" id="collapseFour"
                                                                 class="collapse show" aria-labelledby="headingFour">
                                                                <div class="card-body">
                                                                    <div class="form-row">
                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="proprietaryIdentificationId">Identification</label>
                                                                                <input name="proprietaryIdentificationId" id="proprietaryIdentificationId" type="text" class="form-control">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="proprietaryIdentificationIssueDate">Issue Date</label>
                                                                                <input name="proprietaryIdentificationIssueDate" id="proprietaryIdentificationIssueDate" type="date" class="form-control"
                                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:min="${T(java.time.OffsetDateTime).now().minusDays(1).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                                            </div>
                                                                        </div>

                                                                        <!--<div class="form-group row last">-->
                                                                            <!--<label class="control-label text-right col-md-3">End Date</label>-->
                                                                            <!--<div class="col-md-6">-->
                                                                                <!--<input class="form-control" type="datetime-local" name="endDate" id="endDate"-->
                                                                                       <!--value="@dateSimpleformatterForInput.format(DateUtil.toOffsetDateTime(ruleCoverAmountDTO.getEndDate))"-->
                                                                                       <!--min="@OffsetDateTime.now().plus(Period.ofDays(1)).format(dateSimpleformatterForInput)" required>-->
                                                                            <!--</div>-->
                                                                        <!--</div>-->

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="proprietaryIdentificationExpiryDate">Expiry Date</label>
                                                                                <input name="proprietaryIdentificationExpiryDate" id="proprietaryIdentificationExpiryDate" type="date" class="form-control"
                                                                                       min="@OffsetDateTime.now().plus(Period.ofDays(1)).format(dateSimpleformatterForInput)" >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Cost Reference Pattern Information-->
                                                    <div id="accordion5" class="accordion-wrapper mb-3">
                                                        <div class="card">
                                                            <div id="headingFive" class="card-header b-radius-0 ">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                                                        aria-controls="collapseFive" class="text-left m-0 p-0 btn btn-block">
                                                                    <span class="form-heading">Cost Reference Pattern Info<p>Specify the template describing the mask of the structure for the format of the accounting account identifier; for example "AABBBBCC" where AA represents the country, BBBB the service classification, CC the sales area.</p></span>
                                                                </button>
                                                            </div>

                                                            <div data-parent="#accordion5" id="collapseFive" class="collapse show" aria-labelledby="headingFive">
                                                                <div class="card-body">
                                                                    <div class="form-row">
                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="costReferencePatternId">Identification</label>
                                                                                <input name="costReferencePatternId" id="costReferencePatternId" type="text" class="form-control">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="costReferencePatternIssueDate">Issue Date</label>
                                                                                <input name="costReferencePatternIssueDate" id="costReferencePatternIssueDate" type="date" class="form-control"
                                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:min="${T(java.time.OffsetDateTime).now().minusDays(1).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="costReferencePatternExpiryDate">Expiry Date</label>
                                                                                <input name="costReferencePatternExpiryDate" id="costReferencePatternExpiryDate" type="date" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Step 2: General info-->

                                                <div id="step-2">

                                                    <!--    <input name="clientId" th:field="${clientId}" id="clientId" type="hidden" class="form-control"> -->

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="cashAccountType">Account Type <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <select name="cashAccountType" id="cashAccountType"
                                                                        class="form-control">
                                                                    <option value=""><--Select an option--></option>
                                                                    <option th:each="cashAccountType: ${cashAccountTypes}"
                                                                            th:value="${cashAccountType}"
                                                                            th:text="${cashAccountType.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="level">Account Level <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <select name="level" id="level"
                                                                        class="form-control">
                                                                    <option value=""><--Select an option--></option>
                                                                    <option th:each="accountLevel: ${accountLevels}"
                                                                            th:value="${accountLevel}"
                                                                            th:text="${accountLevel.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="purpose">Account Purpose</label>
                                                                <input name="purpose" id="purpose" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="baseCurrency">Base Currency <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <select name="baseCurrency" id="baseCurrency"
                                                                        class="form-control">
                                                                    <!--<option value=""><--Select an option</option> -->
                                                                    <option th:each="currency: ${currencies}"
                                                                            th:selected="${currency.defaultCurrency}"
                                                                            th:value="${currency.getCode()}"
                                                                            th:text="${currency.getCode()}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="reportingCurrency">Reporting Currency <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <select name="reportingCurrency" id="reportingCurrency"
                                                                        class="form-control">
                                                                    <!--<option value=""><--Select an option</option> -->
                                                                    <option th:each="currency: ${currencies}"
                                                                            th:selected="${currency.defaultCurrency}"
                                                                            th:value="${currency.getCode()}"
                                                                            th:text="${currency.getCode()}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="settlementCurrency">Settlement Currency <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <select name="settlementCurrency" id="settlementCurrency"
                                                                        class="form-control">
                                                                    <!--<option value=""><--Select an option</option> -->
                                                                    <option th:each="currency: ${currencies}"
                                                                            th:selected="${currency.defaultCurrency}"
                                                                            th:value="${currency.getCode()}"
                                                                            th:text="${currency.getCode()}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="openingDate">Opening Date <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <input name="openingDate" id="openingDate" type="date" class="form-control"
                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                       th:min="${T(java.time.OffsetDateTime).now().minusDays(1).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="liveDate">Live Date <span
                                                                        style="color: #ff1428">*</span></label>
                                                                <input name="liveDate" id="liveDate" type="date" class="form-control">
                                                                <small class="form-text text-muted">Date of the first movement on the account.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">
                                                                <label for="closingDate">Closing Date</label>
                                                                <input name="closingDate" id="closingDate" type="date" class="form-control">
                                                                <small class="form-text text-muted">Date on which the account and related services cease effectively to be operational for the account owner.</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Account Type Information-->
                                                    <div id="accordion3" class="accordion-wrapper mb-3">
                                                        <div class="card">
                                                            <div id="headingThree" class="card-header b-radius-0 ">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                                                        class="text-left m-0 p-0 btn btn-block">
                                                                    <span class="form-heading">Account Type Info<p>Specify information relating to the type of the account.</p></span>
                                                                </button>
                                                            </div>

                                                            <div data-parent="#accordion3" id="collapseThree"
                                                                 class="collapse show" aria-labelledby="headingThree">
                                                                <div class="card-body">
                                                                    <div class="form-row">
                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="identification">Identification</label>
                                                                                <input name="identification" id="identification" type="text" class="form-control">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="issueDate">Issue Date</label>
                                                                                <input name="issueDate" id="issueDate" type="date" class="form-control"
                                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:min="${T(java.time.OffsetDateTime).now().minusDays(1).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="expiryDate">Expiry Date</label>
                                                                                <input name="expiryDate" id="expiryDate" type="date" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Reported Period Information-->
                                                    <div id="accordion2" class="accordion-wrapper mb-3">
                                                        <div class="card">
                                                            <div id="headingTwo" class="card-header b-radius-0 ">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                                                        class="text-left m-0 p-0 btn btn-block">
                                                                    <span class="form-heading">Report Period<p>Specify the period for which the movements in the account are reported.</p></span>
                                                                </button>
                                                            </div>

                                                            <div data-parent="#accordion2" id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                                                                <div class="card-body">
                                                                    <div class="form-row">
                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="fromDateTime">From Date</label>
                                                                                <input name="fromDateTime" id="fromDateTime" type="date" class="form-control"
                                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:min="${T(java.time.OffsetDateTime).now().minusYears(200).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:max="${T(java.time.OffsetDateTime).now().minusYears(16).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="toDateTime">To Date</label>
                                                                                <input name="toDateTime" id="toDateTime" type="date" class="form-control"
                                                                                       th:value="${T(java.time.OffsetDateTime).now().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:min="${T(java.time.OffsetDateTime).now().minusYears(200).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}"
                                                                                       th:max="${T(java.time.OffsetDateTime).now().minusYears(16).format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="position-relative form-group">
                                                                                <label for="numberOfDays">No. Of Days</label>
                                                                                <input name="numberOfDays" id="numberOfDays" type="number" class="form-control">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Step 3 tab-->
                                                <!--<div id="step-3">

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="status">Account Status</label>
                                                                <select name="status" id="status" class="form-control">
                                                                    <option><&#45;&#45;Select an option&ndash;&gt;</option>
                                                                    <option th:each="accountStatusCode: ${accountStatusCodes}"
                                                                            th:value="${accountStatusCode}"
                                                                            th:text="${accountStatusCode.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="managementStatus">Management Status</label>
                                                                <select name="managementStatus" id="managementStatus" class="form-control">
                                                                    <option><&#45;&#45;Select an option&ndash;&gt;</option>
                                                                    <option th:each="managementStatusCode: ${accountManagementStatusCodes}"
                                                                            th:value="${managementStatusCode}"
                                                                            th:text="${managementStatusCode.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="entryStatus">Entry Status</label>
                                                                <select name="entryStatus" id="entryStatus" class="form-control">
                                                                    <option><&#45;&#45;Select an option&ndash;&gt;</option>
                                                                    <option th:each="entryStatusCode: ${entryStatusCodes}"
                                                                            th:value="${entryStatusCode}"
                                                                            th:text="${entryStatusCode.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="balanceStatus">Balance Status</label>
                                                                <select name="balanceStatus" id="balanceStatus" class="form-control">
                                                                    <option><&#45;&#45;Select an option&ndash;&gt;</option>
                                                                    <option th:each="balanceStatusCode: ${balanceStatusCodes}"
                                                                            th:value="${balanceStatusCode}"
                                                                            th:text="${balanceStatusCode.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group form-check">
                                                                <input name="blocked" id="blocked" type="checkbox" class="form-check-input">
                                                                <label for="blocked" class="form-check-label">Blocked</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="position-relative form-group">

                                                                <label th:for="blockedReason">Blocked Reason</label>
                                                                <select name="blockedReason" id="blockedReason" class="form-control">
                                                                    <option><&#45;&#45;Select an option&ndash;&gt;</option>
                                                                    <option th:each="blockedReasonCode: ${reasonBlockedCodes}"
                                                                            th:value="${blockedReasonCode}"
                                                                            th:text="${blockedReasonCode.name()}">
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>-->

                                                <!--Step 3 tab-->
                                                <div id="step-3">
                                                    <div class="no-results">
                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                                            <div class="swal2-success-circular-line-left"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                            <span class="swal2-success-line-tip"></span>
                                                            <span class="swal2-success-line-long"></span>
                                                            <div class="swal2-success-ring"></div>
                                                            <div class="swal2-success-fix"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                            <div class="swal2-success-circular-line-right"
                                                                 style="background-color: rgb(255, 255, 255);"></div>
                                                        </div>
                                                        <div class="results-subtitle mt-4">Finished!</div>
                                                        <div class="results-title">You arrived at the last form wizard
                                                            step!
                                                        </div>
                                                        <div class="mt-3 mb-3"></div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                        <div class="divider"></div>
                                        <div class="clearfix">
                                            <button type="button" id="reset-btn" class="btn-shadow float-left btn btn-link">Clear</button>
                                            <button type="button" id="next-btn" class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">Next</button>
                                            <button type="button" id="prev-btn" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" src="/zpas/js/account/create_account.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
</script>
</body>
</html>
