<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-error-text {
            color: red;
        }
    </style>
    <title>My Accounts</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>My Accounts
                                <div class="page-title-subheading">Your accounts with various financial institutions.
                                </div>
                            </div>
                        </div>
                        <!--div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Buttons
                                </button>

                            </div>
                        </div-->
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div>
                            <!--<h2>Results</h2> -->
                            <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Financial Institution</th>
                                    <th>Account Name</th>
                                    <th>Account No.</th>
                                    <th>Basic Bank Acc No.</th>
                                    <th>International Bank Acc No.</th>
                                    <th>Balance</th>
                                    <th width="25%">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}">
                                    <td th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.fiName}">Text ...
                                    </td>
                                    <td th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.accName}">Text ...
                                    </td>
                                    <td th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.accNo}">Text ...
                                    </td>
                                    <td th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.getBBan()}">Text...
                                    </td>
                                    <td th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.getIBan()}">Text...
                                    </td>
                                    <td th:data-thing="${account.id}" th:if="${account.getBalance() != null}" onclick="viewAccountDetails(this.getAttribute('data-thing'));"
                                        th:text="${account.getCurrency() + account.getBalance()}">Text...
                                    </td>
                                    <td th:data-thing="${account.id}" th:unless="${account.getBalance() != null}" onclick="viewAccountDetails(this.getAttribute('data-thing'));">--</td>
                                    <td>
                                        <div class="dropdown d-inline-block">
                                            <button type="button" aria-haspopup="true" aria-expanded="false"
                                                    data-toggle="dropdown"
                                                    class="mb-2 mr-2 dropdown-toggle btn btn-primary">Initiate from this
                                                account
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true"
                                                 class="dropdown-menu-xl dropdown-menu">
                                                <div class="dropdown-menu-header">
                                                    <div class="dropdown-menu-header-inner bg-primary">
                                                        <div class="menu-header-image opacity-1"
                                                             style="background-image: url('assets/images/dropdown-header/abstract3.jpg');">

                                                        </div>
                                                        <div class="menu-header-content text-left">
                                                            <h5 class="menu-header-title">Payment Options</h5>
                                                            <h6 class="menu-header-subtitle">Pay from or to this account</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="nav flex-column">
                                                    <li class="nav-item-header nav-item">Bulk Payments</li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/upload(accountId = ${account.id})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-chat"> </i>
                                                            <span>Upload Bulk Payment</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/create(accountId = ${account.id})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                                            <span>Create Bulk Payment</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item-header nav-item">Single Payments</li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/make-payment(accountId = ${account.id}, type = ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).INDIVIDUAL.name()})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-config"> </i>
                                                            <span>Credit Transfer</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/make-payment(accountId = ${account.id}, type = ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).TAX_PAYMENT.name()})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-coffee"> </i>
                                                            <span>Tax Payment</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/make-payment(accountId = ${account.id}, type = ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).ZIMRA_PAYMENT.name()})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-coffee"> </i>
                                                            <span>ZIMRA Payment</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/make-payment(accountId = ${account.id}, type = ${T(zw.co.esolutions.zpas.utilities.enums.MakePaymentRequestType).MERCHANT_PAYMENT.name()})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-box2"> </i>
                                                            <span>Merchant Payment</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item-divider nav-item"></li>
                                                    <li class="nav-item-header nav-item">Payment Requests</li>
                                                    <li class="nav-item">
                                                        <a th:href="@{/payments/requests(accountId = ${account.id})}" class="nav-link">
                                                            <i class="nav-link-icon pe-7s-chat"> </i>
                                                            <span>Request payment to this acc</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
    $("#accounts-link-search").addClass("mm-active");
</script>

<script>
    function viewAccountDetails(accountId) {
        console.log("accountId: " + accountId);
        window.location.href = "/zpas/accounts/view/" + accountId;
    }
</script>

</body>
</html>