<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-error-text{
            color: red;
        }
    </style>
    <title>Search Accounts</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Search for Accounts
                                <div class="page-title-subheading"><!--Capture details for the Client-->
                                </div>
                            </div>
                        </div>
                        <!--div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Buttons
                                </button>

                            </div>
                        </div-->
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form method="post" class="forms-wizard-vertical" action="/zpas/accounts/search" th:object="${accounts}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <!--label for="searchInput" class="">Enter Given Name</label -->
                                        <input name="search" id="searchInput" placeholder="Search by acc no, acc name, bban, iban or upic" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                <!--    <div class="pull-right"> -->
                                        <button type="submit" id="searchButton" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                <!--    </div> -->
                                </div>
                            </div>
                        </form>

                        <div>
                            <h2>Search Results</h2>
                            <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Account Name</th>
                                    <th>Account No.</th>
                                    <th>Basic Bank Acc No.</th>
                                    <th>International Bank Acc No.</th>
                                    <!--<th>Universal Payment Id Code.</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}" th:data-thing="${account.id}" onclick="viewAccountDetails(this.getAttribute('data-thing'));">
                                    <td th:text="${account.identification.name}">Text ...</td>
                                    <td th:text="${account.identification.number}">Text ...</td>
                                    <td th:text="${account.identification.BBAN}">Text ...</td>
                                    <td th:text="${account.identification.IBAN}">Text...</td>
                                    <!--<td th:text="${account.identification.UPIC}">Text...</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
    $("#accounts-link-search").addClass("mm-active");
</script>

<script>
    function viewAccountDetails(accountId) {
        window.location.href = "/zpas/accounts/view/" + accountId;
    }
</script>

</body>
</html>