<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Accounts Upload
                                <div class="page-title-subheading">Details for the accounts file</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block">
                                <button class="btn btn-success">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-check"></i>
                                        </span>
                                    Approve
                                </button>
                                <button class="btn btn-warning">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-window-close"></i>
                                        </span>
                                    Disapprove
                                </button>
                                <button class="btn btn-danger">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    Delete
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-8">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Information</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Rule Items</span>
                        </a>
                    </li>-->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${uploadAccounts!=null}">
                                                    <tr>
                                                        <th>Description</th>
                                                        <td th:text="${uploadAccounts.getPurpose()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${uploadAccounts.getId()}"
                                                            th:text="${uploadAccounts.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${formatter.format(uploadAccounts.getDateCreated())}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-lg-4">
                                <div class="main-card mb-3 mb-6 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Actions</h5>
                                        <span style="display:none;" id="editUrl"
                                              th:text="${signatureCondition.getId()}"></span>
                                        <span th:if="${signatureCondition.getEntityStatus().name() != 'DELETED'}">
                                        <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block"
                                                th:onclick="editPage()">
                                            <i class="fa fa-edit btn-icon-wrapper"> </i> Edit</button>
                                            <span th:if="${signatureCondition.getEntityStatus().name() != 'ACTIVE'}">
                                        <button class="mb-2 mr-2 btn btn-success btn-block"
                                                th:id="'ApproveBtn'+${signatureCondition.getId()}"
                                                onclick="approve_signature_condition(this.id)">
                                            <i class="fa fa-check btn-icon-wrapper"> </i> Approve</button>
                                            </span>
                                            <span th:if="${signatureCondition.getEntityStatus().name() != 'DISAPPROVED'}">
                                                <button class="mb-2 mr-2 btn btn-warning btn-block"
                                                        th:id="'RejectBtn'+${signatureCondition.getId()}"
                                                        onclick="reject_signature_condition(this.id)">
                                                    <i class="fa fa-window-close btn-icon-wrapper"> </i> Disapprove</button>
                                            </span>
                                                <button class="mb-2 mr-2 btn btn-danger btn-sm btn-block"
                                                        th:id="'DeleteBtn'+${signatureCondition.getId()}"
                                                        onclick="delete_signature_condition(this.id)">
                                                    <i class="fa fa-trash btn-icon-wrapper"> </i> Delete</button>
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<!-- Create College Modal -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>

<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->

</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
