<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Digital Signature Control
                                <div class="page-title-subheading">Details for the Signature Condition</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!--<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                                    class="btn-shadow mr-3 btn btn-dark">
                                <i class="fa fa-star"></i>
                            </button>-->
                            <div class="d-inline-block">
                                <button class="btn btn-success"

                                   th:id="'ApproveBtn'+${signatureCondition.getId()}"
                                   onclick="approve_signature_condition(this.id)">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-check"></i>
                                        </span>
                                    Approve
                                </button>
                                <button class="btn btn-warning"
                                   th:id="'RejectBtn'+${signatureCondition.getId()}"
                                   onclick="reject_signature_condition(this.id)">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-window-close"></i>
                                        </span>
                                    Disapprove
                                </button>
                                <button class="btn btn-danger"
                                   th:id="'DeleteBtn'+${signatureCondition.getId()}"
                                   onclick="delete_signature_condition(this.id)">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    Delete
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-8">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Signature Control</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Rule Items</span>
                        </a>
                    </li>-->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${signatureCondition!=null}">
                                                    <tr>
                                                        <th>Description</th>
                                                        <td th:text="${signatureCondition.getDescription()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Signatory Right Indicator</th>
                                                        <td th:text="${signatureCondition.getSignatoryRightIndicator()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Required Signature Number</th>
                                                        <td th:text="${signatureCondition.getRequiredSignatureNumber()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Signature Order Indicator</th>
                                                        <td th:text="${signatureCondition.getSignatureOrderIndicator()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Signature Order</th>
                                                        <td th:text="${signatureCondition.getSignatureOrder()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${signatureCondition.getId()}"
                                                            th:text="${signatureCondition.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${formatter.format(signatureCondition.getDateCreated())}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-lg-4">
                                <div class="main-card mb-3 mb-6 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Actions</h5>
                                        <span style="display:none;" id="editUrl"
                                              th:text="${signatureCondition.getId()}"></span>
                                        <span th:if="${signatureCondition.getEntityStatus().name() != 'DELETED'}">
                                        <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block"
                                                th:onclick="editPage()">
                                            <i class="fa fa-edit btn-icon-wrapper"> </i> Edit</button>
                                            <span th:if="${signatureCondition.getEntityStatus().name() != 'ACTIVE'}">
                                        <button class="mb-2 mr-2 btn btn-success btn-block"
                                                th:id="'ApproveBtn'+${signatureCondition.getId()}"
                                                onclick="approve_signature_condition(this.id)">
                                            <i class="fa fa-check btn-icon-wrapper"> </i> Approve</button>
                                            </span>
                                            <span th:if="${signatureCondition.getEntityStatus().name() != 'DISAPPROVED'}">
                                                <button class="mb-2 mr-2 btn btn-warning btn-block"
                                                        th:id="'RejectBtn'+${signatureCondition.getId()}"
                                                        onclick="reject_signature_condition(this.id)">
                                                    <i class="fa fa-window-close btn-icon-wrapper"> </i> Disapprove</button>
                                            </span>
                                                <button class="mb-2 mr-2 btn btn-danger btn-sm btn-block"
                                                        th:id="'DeleteBtn'+${signatureCondition.getId()}"
                                                        onclick="delete_signature_condition(this.id)">
                                                    <i class="fa fa-trash btn-icon-wrapper"> </i> Delete</button>
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<!-- Create College Modal -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script>
    $("#signatories-link").addClass("mm-active");
</script>
<script>
    function goToEdit(id) {

    }

    function approve_signature_condition(id) {
        var final_id = id.replace(/ApproveBtn/g, '');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_signature_condition(id) {
        var final_id = id.replace(/RejectBtn/g, '');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_signature_condition(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#createRuleItemForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/signature-condition/ruleitem/create',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        $('#status' + response.object.id).text(response.object.entityStatus.replace(/_/g, ' '));
                        $('#name' + response.object.id).text(response.object.name);
                    } else {
                        //Notification
                    }
                    $('#createRuleItemModal').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script>
    function editPage() {
        var signatureConditionId = $("#editUrl").text();
        window.location.href = "/signature-condition/edit/" + signatureConditionId;
    }

    function delete_ruleitem(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/ruleitem/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
