<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Digital Signature Control
                                <div class="page-title-subheading">
                                    Details for the Signature Conditions
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!--<button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                                    class="btn-shadow mr-3 btn btn-dark">
                                <i class="fa fa-star"></i>
                            </button>-->
                            <div class="d-inline-block">
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    New Signature Condition
                                </button>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Signatory Right Indicator</th>
                                <th>Signature Order Indicator</th>
                                <th>Required Signature No.</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="signatureCondition :${signatureConditions}">
                                <td style="color: #4f4fff ; cursor: pointer;" th:id="${signatureCondition.getId()}"
                                    class="pointer_section">
                                    Go To
                                </td>
                                <td th:text="${signatureCondition.getSignatoryRightIndicator()}"></td>
                                <td th:text="${signatureCondition.getSignatureOrderIndicator()}"></td>
                                <td th:text="${signatureCondition.getRequiredSignatureNumber()}"></td>
                                <td th:id="'status'+${signatureCondition.getId()}"
                                    th:text="${signatureCondition.getEntityStatus().name().replace('_',' ')}"></td>
                                <td th:text="${formatter.format(signatureCondition.getDateCreated())}"></td>
                                <td>
                                    <span th:if="${signatureCondition.getEntityStatus().name() != 'DELETED'}">

                                       <span th:if="${signatureCondition.getEntityStatus().name() != 'ACTIVE'}">
                                            <button type="button" class="btn btn-primary"
                                                    th:id="'ApproveBtn'+${signatureCondition.getId()}"
                                                    data-toggle="tooltip"
                                                    title="Approve" onclick="approve_signature_condition(this.id)">
                                        <i class="fa fa-check"></i></button>
                                       </span>

                                        <span th:if="${signatureCondition.getEntityStatus().name() != 'DISAPPROVED'}">
                                            <button type="button" class="btn btn-warning" data-toggle="tooltip"
                                                    title="Disapprove" th:id="'RejectBtn'+${signatureCondition.getId()}"
                                                    onclick="reject_signature_condition(this.id)">
                                                <i class="fa fa-window-close"></i></button>
                                        </span>


                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
                                            th:id="'DeleteBtn'+${signatureCondition.getId()}"
                                            onclick="delete_signature_condition(this.id)"><i
                                            class="fa fa-trash"></i></button>
                                    </span>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script>
    $("#signatories-link").addClass("mm-active");
</script>
<script>

    $("#example td.pointer_section ").click(function () {
        goToPage($(this).attr("id"));
    });

    function goToPage(id) {
        window.location.href = "/signature-condition/" + id;
    }

    function approve_signature_condition(id) {
        var final_id = id.replace(/ApproveBtn/g, '');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_signature_condition(id) {
        var final_id = id.replace(/RejectBtn/g, '');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_signature_condition(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/signature-condition/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
