<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Documents
                                <div class="page-title-subheading">Documents</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Document Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${documents}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Document Status</th>
                                <th>Type</th>
                                <th>Uploaded date</th>
                                <th>Related Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="document: ${documents}">
                                <td th:if="${document.documentIdentification}">
                                    <a th:href="'/zpas/documents/' + ${document.getId()}"
                                       th:text="${document.documentIdentification.identification}"></a>
                                </td>
                                <td>
                                    <a th:href="'/zpas/documents/' + ${document.getId()}"
                                       th:text="${document.status}"></a>
                                </td>
                                <td th:if="${document.type}" th:text="${document.type}"></td>
                                <td th:unless="${document.type}" th:text="''"></td>
                                <td th:if="${document.getDateCreated()}"
                                    th:text="${T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(document.getDateCreated())}"></td>
                                <td th:unless="${document.getDateCreated()}"
                                    th:text="''"></td>
                                <td th:if="${document.getRemittedAmount()}">
                                    <span th:if="${document.getRemittedAmount().getCurrency()}" th:text="${document.getRemittedAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${document.getRemittedAmount().getCurrency()}" th:text="''"></span>
                                    <span th:if="${document.getRemittedAmount().getAmount()}" th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(document.getRemittedAmount().getAmount().doubleValue())}"></span>
                                    <span th:unless="${document.getRemittedAmount().getAmount()}" th:text="''"></span>
                                </td>
                                <td th:unless="${document.getRemittedAmount()}" th:text="''"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Document Name</th>
                                <th>Document Status</th>
                                <th>Type</th>
                                <th>Uploaded date</th>
                                <th>Related Amount</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${documents}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find documents.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#documents-link").addClass("mm-active");
    $("#documents-link-view").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
