<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Payment
                                <div class="page-title-subheading">Document Details.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Actions</h5>
                                <div class="pull-right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${document}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Payment Information</h5>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${document.documentIdentification}">
                                                <th scope="row">Document Name</th>
                                                <td th:text="${document.documentIdentification.identification}"></td>
                                            </tr>
                                            <tr th:if="${document.status}">
                                                <th scope="row">Document Status</th>
                                                <td th:text="${document.status}"></td>
                                            </tr>
                                            <tr th:if="${document.type}">
                                                <th scope="row">Type</th>
                                                <td th:text="${document.type}"></td>
                                            </tr>
                                            <tr th:if="${document.getDateCreated()}">
                                                <th scope="row">Uploaded date</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(document.getDateCreated())}"></td>
                                            </tr>
                                            <tr th:if="${document.getRemittedAmount()}">
                                                <th scope="row">Remitted Amount</th>
                                                <td th:if="${document.getRemittedAmount()}" th:text="${document.getRemittedAmount().getCurrency().getCodeName()} + ' ' + ${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(document.getRemittedAmount().getAmount().doubleValue())}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${document}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find document.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#documents-link").addClass("mm-active");
    $("#documents-link-view").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
