<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Notification Configuration
                                <div class="page-title-subheading">
                                    Manage notification configurations
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block">
                                <!--<button type="button" class="btn-shadow btn btn-primary" data-toggle="modal"
                                        data-target="#createConfigurationModal">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    New Configuration
                                </button>-->
                                <a class="btn btn-primary"
                                   th:href="${'/clients/details/' + partyId}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-history"></i>
                                        </span>
                                    Go To Party
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Email</th>
                                <th>SMS</th>
                                <th>Bell</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notificationConfiguration :${notificationConfigs}" th:id="'row'+${notificationConfiguration.getId()}">
                                <td th:id="'type'+${notificationConfiguration.getId()}" th:text="${notificationConfiguration.getNotificationType().name()}"></td>
                                <td th:id="'email'+${notificationConfiguration.getId()}" th:text="${notificationConfiguration.getEmail()}"></td>
                                <td th:id="'sms'+${notificationConfiguration.getId()}" th:text="${notificationConfiguration.getSms()}"></td>
                                <td th:id="'bell'+${notificationConfiguration.getId()}" th:text="${notificationConfiguration.getBell()}"></td>
                                <td th:text="${formatter.format(notificationConfiguration.getDateCreated())}"></td>
                                <td>
                                    <span th:if="${notificationConfiguration.getEntityStatus().name() != 'DELETED'}">
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip"
                                                title="Edit" onclick="edit_notificationconfiguration(this.id)" th:id="'EditBtn'+${notificationConfiguration.getId()}">
                                            <i class="fa fa-edit"></i></button>

                                    </span>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Create Configuration Modal -->
<div class="modal fade" id="createConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="createConfigurationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>New Configuration</strong></h6>
                <form class="" method="post" th:action="@{/notificationconfiguration}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">



                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Edit Configuration Modal -->
<div class="modal fade" id="editConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="editConfigurationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Configuration</strong></h6>
                <form class="" method="post" name="editConfigurationForm" id="editConfigurationForm" th:action="@{/notificationconfiguration/edit}" th:object="${notificationConfiguration}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="type">Type</label>
                                    <input  type="text" readonly class="form-control" id="type" name="type" required>
                                </div>
                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>
                                <div class="position-relative form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               id="email"
                                               name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="position-relative form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               id="sms"
                                               name="sms">
                                        <label for="sms">Sms</label>
                                    </div>
                                </div>
                                <div class="position-relative form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               id="bell"
                                               name="bell">
                                        <label for="bell">Bell</label>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" th:id="editButtonSubmit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<script>

    function edit_notificationconfiguration(final_id) {
        var id = final_id.replace(/EditBtn/g,'');
        console.log('The reject id is ' + final_id);

        console.log('Edit notificationconfiguration id ' + id);
        var notificationconfigurationType = $("#type" + id).text();
        var notificationconfigurationSms = $("#sms" + id).text();
        var notificationconfigurationEmail = $("#email" + id).text();
        var notificationconfigurationBell = $("#bell" + id).text();



        $("#editId").val(id);
        $("#type").val(notificationconfigurationType);
        console.log("The sms | " + notificationconfigurationSms + " | email | " + notificationconfigurationEmail + " | bell | " + notificationconfigurationBell);
        if(notificationconfigurationSms == "true") {
            $("#sms").prop("checked", true);
        }
        if(notificationconfigurationEmail == "true") {
            $("#email").prop("checked", true);
        }
        if(notificationconfigurationBell == "true") {
            $("#bell").prop("checked", true);
        }
        $('#editConfigurationModal').modal('show');
    }

    function fire_ajax_submit() {

        var search = {};
        search["username"] = $("#username").val();

        // $("#btn-search").prop("disabled", true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/zpas/api/search",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + JSON.stringify(data, null, 4) + "</pre>";
                $('#feedback').html(json);

                console.log("SUCCESS : ", data);
                $("#btn-search").prop("disabled", false);

            },
            error: function (e) {

                var json = "<h4>Ajax Response</h4><pre>"
                    + e.responseText + "</pre>";
                $('#feedback').html(json);

                console.log("ERROR : ", e);
                $("#btn-search").prop("disabled", false);

            }
        });

    }
    function delete_notificationconfiguration(id) {
        var final_id = id.replace(/DeleteBtn/g,'');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/notificationconfiguration/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $("#row" + final_id).remove();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editConfigurationForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/notificationconfiguration/edit',
                $(this).serialize(),
                function (response) {
                console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        $('#email' + response.object.id).text(response.object.email);
                        $('#sms' + response.object.id).text(response.object.sms);
                        $('#bell' + response.object.id).text(response.object.bell);
                    } else {
                        //Notification
                    }
                    $('#editConfigurationModal').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>


</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
