<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-error-text {
            color: red;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 300px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
    <title>Mandate Registration</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Add Mandate
                                <span id="accountOwnerPersonId" style="display: none" th:text="${accountOwnerPersonId}"></span>
                                <div class="page-title-subheading">Capture details for the cash account Mandate
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="row">
                                <div class="col-md-10">
                                    <a class="btn btn-primary"
                                       th:href="${'/cash-account-mandate/all/' + cashAccount.getId()}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-history"></i>
                                        </span>
                                        Go To Home
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <!--<div class="header-dots">
                                        <div class="dropdown">
                                            <button type="button" aria-haspopup="true" aria-expanded="false"
                                                    data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
                            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <span class="icon-wrapper-bg bg-primary"></span>
                                <i class="icon text-primary ion-android-apps"></i>
                            </span>
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true"
                                                 class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
                                                <div class="dropdown-menu-header">
                                                    <div class="dropdown-menu-header-inner bg-plum-plate">
                                                        <div class="menu-header-image"
                                                             style="background-image: url('assets/images/dropdown-header/abstract4.jpg');"></div>
                                                        <div class="menu-header-content text-white">
                                                            <small class="menu-header-title"
                                                                   th:text="${cashAccount.identification.name}"></small>
                                                            <br>
                                                            <small class="menu-header-subtitle">Account information
                                                                which is
                                                                managed by a contract
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-menu grid-menu-xl grid-menu-2col">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive-sm">
                                                                <table class="table table-responsive-sm">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th class="text-sm-center"
                                                                            style="font-size: small">
                                                                            International Bank Acc No.
                                                                        </th>
                                                                        <td class="text-sm-center"
                                                                            style="font-size: small"
                                                                            th:text="${cashAccount.identification.IBAN}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center"
                                                                            style="font-size: small">
                                                                            Basic Bank Acc No.
                                                                        </th>
                                                                        <td class="text-sm-center"
                                                                            style="font-size: small"
                                                                            th:text="${cashAccount.identification.BBAN}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center"
                                                                            style="font-size: small">
                                                                            Universal Payment Id Code
                                                                        </th>
                                                                        <td class="text-sm-center"
                                                                            style="font-size: small"
                                                                            th:text="${cashAccount.identification.UPIC}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center"
                                                                            style="font-size: small">
                                                                            Account Number
                                                                        </th>
                                                                        <td class="text-sm-center"
                                                                            style="font-size: small"
                                                                            th:text="${cashAccount.identification.number}"></td>
                                                                    </tr>
                                                                    &lt;!&ndash;<tr>
                                                                        <th class="text-sm-left" style="font-size: small">Account Name</th>
                                                                        <td class="text-sm-right" style="font-size: small" th:text="${cashAccount.identification.name}"></td>
                                                                    </tr>&ndash;&gt;
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                &lt;!&ndash;<ul class="nav flex-column">
                                                    <li class="nav-item-divider nav-item"></li>
                                                    <li class="nav-item-btn text-center nav-item">
                                                        <button class="btn-shadow btn btn-primary btn-sm">Close</button>
                                                    </li>
                                                </ul>&ndash;&gt;
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical"
                              action="/zpas/cash-account-mandate" th:object="${cashAccountMandate}">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>General Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-6">
                                        <em>2</em><span>Account Contract</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>3</em><span>Mandate Holders</span>
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="#step-3">
                                        <em>4</em><span>Mandate Status</span>
                                    </a>
                                </li>-->
                                <li>
                                    <a href="#step-4">
                                        <em>4</em><span>Signature Conditions</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-5">
                                        <em>5</em><span>Period</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-8">
                                        <em>6</em><span>Finish Wizard</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="fiFormElements" class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="mandateIdentification"><span
                                                            style="color: #ff1428">*</span> Identification
                                                        Number</label>
                                                    <input id="mandateIdentification" readonly
                                                           th:value="${mandateIdentification}"
                                                           name="mandateIdentification" type="text" class="form-control"
                                                    >
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Unique and unambiguous
                                                        identification of the mandate.
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="description"><span style="color: #ff1428">*</span>
                                                        Description</label>
                                                    <input id="description" required name="description" type="text"
                                                           class="form-control" th:field="*{description}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Full name of an agreement,
                                                        annexes and amendments in place between the principals.
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="version"><span style="color: #ff1428">*</span>
                                                        Version</label>
                                                    <input id="version" required name="version" type="text"
                                                           class="form-control" th:field="*{version}">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted">Version number of a contract or
                                                        of a legal agreement.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="mandateHolderIds">Mandate Holder(s)</label>
                                            <select name="mandateHolderIds" id="mandateHolderIds" style="width: 100%" multiple="multiple"
                                                    class="form-control">
                                                <!--<option value="AK">Alaska</option>-->
                                            </select>
                                            <small class="form-text text-muted">Specifies each role linked to a
                                                mandate and played by a party in that context.
                                            </small>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                    <label> Roles </label>
                                                    <table class="mb-0 table table-sm mt-2" id="mandateRoleTable">
                                                        <!--<tr>
                                                            <td>Anotida Maditsha</td>
                                                            <td>
                                                                <select type="select" class="custom-select">
                                                                    <option th:each="mandateHolderType: ${mandateHolderTypes}"
                                                                            th:value="${mandateHolderType.name()}"
                                                                            th:text="${mandateHolderType.name()}"></option>
                                                                </select>
                                                            </td>
                                                        </tr>-->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="display: none">
                                            <div class="position-relative form-group">
                                                <input id="mandateHolderRolesTemp" name="mandateHolderRolesTemp" type="text"
                                                       class="form-control">
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div id="step-6">
                                    <div class="card-body">
                                        <div class="form-row">

                                            <div class="col-md-12" style="display: none">
                                                <div class="position-relative form-group">
                                                    <label for="cashAccountId">Cash Account</label>
                                                    <input id="cashAccountId" name="cashAccountId"
                                                           th:value="${cashAccountId}" type="text" class="form-control">
                                                    <div class="invalid-feedback">You will not be able to see this</div>
                                                    <small class="form-text text-muted"></small>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="transactionChannelCode"><span
                                                            style="color: #ff1428">*</span>
                                                        Transaction Channel Code</label>
                                                    <input id="transactionChannelCode" readonly
                                                           th:value="${transactionChannelCode}" required
                                                           name="transactionChannelCode" type="text"
                                                           class="form-control">
                                                    <small class="form-text text-muted">Specifies the means by which the
                                                        account owner submits the open account form.
                                                    </small>
                                                </div>
                                            </div>

                                            <!--<div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label th:for="transactionChannelCode">Transaction Channel</label>
                                                    <select name="transactionChannelCode" id="transactionChannelCode"
                                                            class="form-control">

                                                        <option th:each="transactionChannelCode: ${transactionChannelCodes}"
                                                                th:value="${transactionChannelCode.name()}"
                                                                th:text="${transactionChannelCode.name()}"></option>
                                                    </select>
                                                    <small class="form-text text-muted">Specifies the means by which the
                                                        account owner submits the open account form.
                                                    </small>
                                                </div>
                                            </div>-->
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="requestDate"><span style="color: #ff1428">*</span>
                                                        Request Date </label>
                                                    <input name="requestDate" id="requestDate" type="date"
                                                           class="form-control"
                                                           th:field="*{requestDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Date of the request.</small>
                                                </div>
                                            </div>
                                            <!--<div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="accountContractFromDate"><span
                                                            style="color: #ff1428">*</span> Validity From </label>
                                                    <input name="accountContractFromDate" id="accountContractFromDate"
                                                           type="text"
                                                           class="form-control"
                                                           data-toggle="datepicker-year"
                                                           th:field="*{accountContractFromDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Date and time at which the range
                                                        starts.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label for="accountContractToDate"><span
                                                            style="color: #ff1428">*</span> Validity To </label>
                                                    <input name="accountContractToDate" id="accountContractToDate"
                                                           type="text"
                                                           class="form-control"
                                                           data-toggle="datepicker-year"
                                                           th:field="*{accountContractToDate}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Date and time at which the range
                                                        ends.
                                                    </small>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>

                                </div>
                                <div id="step-4">
                                    <div class="card-body">
                                        <div class="position-relative form-group">
                                            <div class="form-check">

                                                <input type="checkbox" class="form-check-input"
                                                       id="signatoryRightIndicator"
                                                       name="signatoryRightIndicator">
                                                <label for="signatoryRightIndicator">Signatory Right
                                                    Indicator</label>
                                                <div class="valid-feedback">Sweet! that name is available</div>
                                                <small class="form-text text-muted">Indicates whether the
                                                    signature of the account owner is required to authorise
                                                    transactions on the account.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="position-relative form-group">
                                            <div class="form-check">

                                                <input type="checkbox" class="form-check-input"
                                                       id="signatureOrderIndicator"
                                                       name="signatureOrderIndicator">
                                                <label for="signatureOrderIndicator">Signature Order
                                                    Indicator</label>
                                                <div class="valid-feedback">Sweet! that name is available</div>
                                                <small class="form-text text-muted">Indicator whether a certain
                                                    order of signatures has to be respected or not.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="requiredSignatureNumber"><span
                                                    style="color: #ff1428">*</span> Required Signature
                                                Number</label>
                                            <input type="number" class="form-control"
                                                   id="requiredSignatureNumber" name="requiredSignatureNumber"
                                                   required>
                                            <div class="valid-feedback">Sweet! that name is available</div>
                                            <small class="form-text text-muted">Number of account owners or
                                                related parties required to authorise transactions on the
                                                account.
                                            </small>
                                        </div>

                                        <!--<select class="js-example-basic-multiple" name="states[]" multiple="multiple">-->
                                        <!--<option value="AL">Alabama</option>-->

                                        <!--<option value="WY">Wyoming</option>-->
                                        <!--</select>-->


                                        <div id="signatureOrderDiv" style="display: none"
                                             class="position-relative form-group">
                                            <label for="signatureOrder"><span
                                                    style="color: #ff1428;">*</span>
                                                Signature Order</label><br>
                                            <select name="signatureOrder" id="signatureOrder" style="width: 100%;" multiple="multiple" class="form-control">
                                                <!--<option value="AK">Alaska</option>-->
                                            </select>
                                            <small class="form-text text-muted">Indicates the order in which the
                                                mandate holders are allowed to sign.
                                            </small>
                                        </div>

                                        <!--<div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="selectMultiSignatureOrder" class=""><span style="color: #ff1428">*</span>Signature Order</label>
                                                <select multiple="" name="selectMultiSignatureOrder" id="selectMultiSignatureOrder"
                                                        class="form-control">
                                                </select>
                                                <small class="form-text text-muted">Indicates the order in which the
                                                mandate holders are allowed to sign.</small>
                                            </div>
                                        </div>-->

                                    </div>
                                </div>
                                <div id="step-5">
                                    <div class="card-body">

                                        <div class="form-row">

                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="fromDateTime"><span style="color: #ff1428">*</span> From
                                                        Date</label>
                                                    <input name="fromDateTime" id="fromDateTime" type="datetime-local"
                                                           class="form-control"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Date and time at which the
                                                        mandate
                                                        starts.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="toDateTime"><span style="color: #ff1428">*</span> To
                                                        Date</label>
                                                    <input name="toDateTime" id="toDateTime" type="datetime-local"
                                                           class="form-control"
                                                           th:field="*{toDateTime}"/>
                                                    <div class="valid-tooltip">Sweet! that name is available</div>
                                                    <small class="form-text text-muted">Date and time at which the
                                                        mandate ends.
                                                    </small>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div id="step-8">
                                    <div class="card-body">
                                        <h4>Confirm Details</h4>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                    <h6 id="confirmTitle">General Information</h6>
                                                    <table class="mb-0 table table-bordered mt-2" id="confirmTable">
                                                        <tr>
                                                            <td>Identification</td>
                                                            <td id="mandateIdentificationtd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Description</td>
                                                            <td id="descriptiontd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Version</td>
                                                            <td id="versiontd"></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2" class="divider"><strong>Party</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mandate Holder(s)</td>
                                                            <td id="mandateHolderIdstd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="divider"><strong>Signature
                                                                Condition</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Signatory Right Indicator</td>
                                                            <td id="signatoryRightIndicatortd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Signatory Order Indicator</td>
                                                            <td id="signatureOrderIndicatortd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Required Signature Number</td>
                                                            <td id="requiredSignatureNumbertd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Signature Order</td>
                                                            <td id="signatureOrdertd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="divider"><strong>Account
                                                                Contract</strong></td>
                                                        </tr>

                                                        <tr>
                                                            <td>Transactional Channel</td>
                                                            <td id="transactionalChannelCodetd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Request Date</td>
                                                            <td id="requestDatetd"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <td>Contract From</td>
                                                            <td id="accountContractFromDatetd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Contract To</td>
                                                            <td id="accountContractToDatetd"></td>
                                                        </tr>-->

                                                        <tr>
                                                            <td colspan="2" class="divider"><strong>Mandate
                                                                Period</strong></td>
                                                        </tr>

                                                        <tr>
                                                            <td>From</td>
                                                            <td id="fromDateTimetd"></td>
                                                        </tr>

                                                        <tr>
                                                            <td>To</td>
                                                            <td id="toDateTimetd"></td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-6 ml-6">
                                                    <button type="submit"
                                                            class="btn-shadow btn-wide btn btn-success btn-lg">
                                                        <i class="fa fa-save"></i>
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3 mb-3"></div>
                                    </div>
                                    <!--
                                                                        <div class="validation-error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</div>
                                    -->
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/mandate/create.mandate.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
</body>

</html>