<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Mandate</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <span style="display: none" id="globalCashAccountMandateId"
                                  th:text="${cashAccountMandate.getId()}"></span>
                            <span style="display: none" id="globalCashAccountId"
                                  th:text="${cashAccount.getId()}"></span>
                            <div>Mandate
                                <div class="page-title-subheading">Details for cash account mandate.</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">


                                <!--<div class="header-dots">-->
                                <span th:if="${cashAccountMandate.getEntityStatus().name() != 'DELETED'}">
                                    <a class="btn btn-primary" href="#" data-toggle="modal"
                                       data-target="#addMandateHolderModal" id="addMandateHolderButton">
                                        <span><i class="fa fa-plus"></i></span> Add Mandate Holder
                                    </a>
                                    <a class="btn btn-warning" href="#" data-toggle="modal"
                                       data-target="#removeMandateHolderModal" id="removeMandateHolderButton">
                                        <span><i class="fa fa-adjust"></i></span> Remove Mandate Holder
                                    </a>
                                    <span th:if="${cashAccountMandate.getEntityStatus().name() != 'ACTIVE'}">
                                        <span th:if="${cashAccountMandate.getEntityStatus().name() != 'DISAPPROVED'}">
                                                <a class="btn btn-success"
                                                   th:href="${'/zpas/cash-account-mandate/approve/' + cashAccountMandate.getId() + '/account/' + cashAccount.getId()}">
                                                    <span><i class="fa fa-check"></i></span>
                                                    Approve
                                                </a>


                                                <a class="btn btn-warning" href="#" data-toggle="modal"
                                                   data-target="#rejectOrDeleteMandate" id="rejectMandate">
                                                    <span><i class="fa fa-window-close"></i></span>
                                                        Disapprove
                                                </a>
                                        </span>
                                    </span>

                                    <a class="btn btn-danger" id="deleteMandate" href="#"
                                       data-target="#rejectOrDeleteMandate" data-toggle="modal">
                                        <span><i class="fa fa-trash"></i></span>
                                            Delete
                                    </a>
                                </span>
                                <a class="btn btn-primary"
                                   th:href="${'/zpas/cash-account-mandate/all/' + cashAccount.getId()}">
                                    <span><i class="fa fa-history"></i></span>
                                    Go To Home
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="row" th:if="${message}">
                    <div class="col-md-12">
                        <div th:text="${message}" class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>
                <div class="row" th:if="${error}">
                    <div class="col-md-12">
                        <div th:text="${error}" class="alert alert-danger fade show" role="alert"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div id="accordion" class="accordion-wrapper mb-3">
                            <div class="card">
                                <div id="generalInformationHeading" class="card-header">
                                    <button type="button" data-toggle="collapse"
                                            data-target="#generalInformation"
                                            aria-expanded="true" aria-controls="generalInformation"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">General Information</h5>
                                    </button>
                                </div>
                                <div data-parent="#accordion" id="generalInformation"
                                     aria-labelledby="generalInformationHeading" class="collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="mb-0 table table-bordered">
                                                    <tr>
                                                        <th>Identification</th>
                                                        <td th:id="'identification'+${cashAccountMandate.getId()}"
                                                            th:text="${cashAccountMandate.getMandateIdentification()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Description</th>
                                                        <td th:id="'description'+${cashAccountMandate.getId()}"
                                                            th:text="${cashAccountMandate?.getDescription()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Version</th>
                                                        <td th:id="'version'+${cashAccountMandate.getId()}"
                                                            th:text="${cashAccountMandate?.getVersion()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${cashAccountMandate.getId()}"
                                                            th:text="${cashAccountMandate.getEntityStatus().name()}"></td>
                                                    </tr>
                                                    <tr th:if="${cashAccountMandate.getEntityStatus().name() == 'DELETED'} OR ${cashAccountMandate.getEntityStatus().name() == 'DISAPPROVED'}">
                                                        <th>Reason</th>
                                                        <td th:text="${cashAccountMandate.getMandateStatus().stream().findFirst().get().getStatusDescription()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${formatter.format(cashAccountMandate.getDateCreated())}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td class="text-right">
                                                                    <span style="display: none"
                                                                          th:id="'EditGeneralDetailID'"
                                                                          th:text="${cashAccountMandate.getId()}"></span>
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#editGeneralDetails"
                                                                    id="EditGeneralDetail">
                                                                <i class="fa fa-edit"></i></button>
                                                        </td>
                                                    </tr>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="partyRoleHeading" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#partyRole"
                                            aria-expanded="false" aria-controls="partyRole"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Mandate Role</h5></button>
                                </div>
                                <div data-parent="#accordion" id="partyRole" class="collapse">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="mb-0 table table-bordered">
                                                    <tr class="mandate-row" th:id="${partyRole.getId()}"
                                                        th:each="partyRole: ${cashAccountMandate.getMandatePartyRole()}">
                                                        <th th:id="'TITLE'+${partyRole.getId()}">Name</th>
                                                        <td th:text="${partyRole.getId()}"
                                                            th:id="'ID'+${partyRole.getId()}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="accountContractHeading" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#accountContract"
                                            aria-expanded="false" aria-controls="accountContract"
                                            class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">Account Contract</h5></button>
                                </div>
                                <div data-parent="#accordion" id="accountContract" class="collapse">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12"
                                                 th:each="accountContract: ${cashAccountMandate.getCashAccountContract()}">
                                                <table class="mb-0 table table-bordered">

                                                    <tr>
                                                        <th>Transaction Channel</th>
                                                        <td th:id="'transactionChannel'+${accountContract.getId()}"
                                                            th:text="${accountContract.getTransactionChannel()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Request Date</th>
                                                        <td th:id="'requestDate'+${accountContract.getId()}"
                                                            th:text="${formatter.format(accountContract.getRequestDate())}"></td>
                                                    </tr>
                                                    <!--<tr>
                                                        <th>Contract Period</th>
                                                        <td>
                                                            <table class="mb-0 table table-bordered"
                                                                   th:each="period: ${accountContract.getValidityPeriod()}">
                                                                <tr>
                                                                    <th>From</th>
                                                                    <td th:text="${formatter.format(period.getFromDateTime())}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>To</th>
                                                                    <td th:text="${formatter.format(period.getToDateTime())}"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>-->
                                                    <!--<tr>
                                                        <th></th>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="tooltip"
                                                                    title="Edit"
                                                                    onclick="edit_accountcontract(this.id)"
                                                                    th:id="'EditBtn'+${accountContract.getId()}">
                                                                <i class="fa fa-edit"></i></button>
                                                        </td>
                                                    </tr>-->

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div id="mandateStatusHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#mandateStatus"
                                                aria-expanded="false" aria-controls="mandateStatus"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Mandate Status</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="mandateStatus" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12"
                                                     th:each="mandateStatus: ${cashAccountMandate.getMandateStatus()}">
                                                    <table class="mb-0 table table-bordered">
                                                        <tr>
                                                            <th>Accepted</th>
                                                            <td th:text="${mandateStatus.getAccepted()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td th:text="${mandateStatus.getStatusDescription()}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="card">
                                    <div id="signatureConditionHeading" class="b-radius-0 card-header">
                                        <button type="button" data-toggle="collapse"
                                                data-target="#signatureCondition"
                                                aria-expanded="false" aria-controls="signatureCondition"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Signature Conditions</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="signatureCondition" class="collapse">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12"
                                                     th:each="signatureCondition: ${cashAccountMandate.getSignatureConditions()}">
                                                    <span id="signatureConditionIdC" style="display: none"
                                                          th:text="${signatureCondition.getId()}"></span>
                                                    <table class="mb-0 table table-bordered">

                                                        <tr>
                                                            <th>Signatory Right Indicator</th>
                                                            <td id="signatoryRightIndicatorC"
                                                                th:text="${signatureCondition.getSignatoryRightIndicator()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Required Signature Number</th>
                                                            <td id="requiredSignatureNumberC"
                                                                th:text="${signatureCondition.getRequiredSignatureNumber().intValue()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Signature Order Indicator</th>
                                                            <td id="signatureOrderIndicatorC"
                                                                th:text="${signatureCondition.getSignatureOrderIndicator()}"></td>
                                                        </tr>
                                                        <tr th:if="${signatureCondition.getSignatureOrderIndicator()}">
                                                            <th>Signature Order</th>
                                                            <td id="signatureOrderC"
                                                                th:text="${signatureCondition.getSignatureOrder()}"></td>
                                                            <td id="globalSignatureCondition" style="display: none" th:text="${signatureCondition.getSignatureOrder()}"></td>
                                                        </tr>
                                                        <!--<tr>
                                                            <th>Status</th>
                                                            <td th:id="'status'+${signatureCondition.getId()}"
                                                                th:text="${signatureCondition.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                        </tr>-->
                                                        <tr>
                                                            <th>Date Created</th>
                                                            <td th:text="${formatter.format(signatureCondition.getDateCreated())}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th></th>
                                                            <td class="text-right">
                                                                <button type="button" class="btn btn-primary"
                                                                        data-target="#editSignatoryCondition"
                                                                        data-toggle="modal"
                                                                        id="EditSignatureCondition">
                                                                    <i class="fa fa-edit"></i></button>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div id="periodHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#period"
                                                aria-expanded="false" aria-controls="period"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Period</h5></button>
                                    </div>
                                    <div data-parent="#accordion" id="period" aria-labelledby="periodHeading"
                                         class="collapse">
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12"
                                                             th:each="period: ${cashAccountMandate.getValidityPeriod()}">
                                                            <table class="mb-0 table table-bordered">
                                                                <tr>
                                                                    <th>From</th>
                                                                    <td th:text="${formatter.format(period.getFromDateTime())}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>To</th>
                                                                    <td th:text="${formatter.format(period.getToDateTime())}"></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-dots">
                            <div class="dropdown">
                                <button type="button" aria-haspopup="true" aria-expanded="false"
                                        data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
                            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <span class="icon-wrapper-bg bg-primary"></span>
                                <i class="icon text-primary ion-android-apps"></i>
                            </span>
                                </button>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-menu-header">
                                        <div class="dropdown-menu-header-inner bg-plum-plate">
                                            <div class="menu-header-image"
                                                 style="background-image: url('assets/images/dropdown-header/abstract4.jpg');"></div>
                                            <div class="menu-header-content text-white">
                                                <small class="menu-header-title"
                                                       th:text="${cashAccount.identification.name}"></small>
                                                <br>
                                                <small class="menu-header-subtitle">Account
                                                    information which is
                                                    managed by a contract
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-menu grid-menu-xl grid-menu-2col">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive-sm">
                                                    <table class="table table-responsive-sm">
                                                        <tbody>
                                                        <tr>
                                                            <th class="text-sm-center"
                                                                style="font-size: small">
                                                                International Bank Acc No.
                                                            </th>
                                                            <td class="text-sm-center"
                                                                style="font-size: small"
                                                                th:text="${cashAccount.identification.IBAN}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-sm-center"
                                                                style="font-size: small">
                                                                Basic Bank Acc No.
                                                            </th>
                                                            <td class="text-sm-center"
                                                                style="font-size: small"
                                                                th:text="${cashAccount.identification.BBAN}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-sm-center"
                                                                style="font-size: small">
                                                                Universal Payment Id Code
                                                            </th>
                                                            <td class="text-sm-center"
                                                                style="font-size: small"
                                                                th:text="${cashAccount.identification.UPIC}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-sm-center"
                                                                style="font-size: small">
                                                                Account Number
                                                            </th>
                                                            <td class="text-sm-center"
                                                                style="font-size: small"
                                                                th:text="${cashAccount.identification.number}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>

<!-- Edit College Modal -->
<div class="modal fade" id="editGeneralDetails" tabindex="-1" role="dialog"
     aria-labelledby="editGeneralDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="row"><h5 class="menu-header-title text-capitalize text-primary">Edit General Details </h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">General Details</button>
                                <button class="btn btn-outline-dark" disabled>Account Contract</button>
                            </div>
                        </div>
                    </div>

<!--                <h6 class="modal-title"><strong>Edit General Details</strong></h6>-->
                <form class="" method="post" name="editGeneralDetailForm" id="editGeneralDetailForm"
                      th:action="@{/zpas/cash-account-mandate/edit/generaldetails}" th:object="${cashAccountMandate}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for="editName">Description</label>
                                    <input type="text" class="form-control"
                                           th:value="${cashAccountMandate.getDescription()}" id="editName"
                                           name="description" required>
                                    <small class="form-text text-muted"> Full name of an agreement, annexes and
                                        amendments in place between the principals.
                                    </small>
                                </div>
                                <div class="position-relative form-group">
                                    <label for="mandateIdentification">Identification Number</label>
                                    <input id="mandateIdentification"
                                           th:value="${cashAccountMandate.getMandateIdentification()}"
                                           name="mandateIdentification" type="text" class="form-control"
                                           th:field="*{mandateIdentification}">
                                    <small class="form-text text-muted">Unique and unambiguous identification of the
                                        mandate.
                                    </small>
                                </div>

                                <div class="position-relative form-group">
                                    <label for="version">Version</label>
                                    <input id="version" th:value="${cashAccountMandate.getVersion()}" name="version"
                                           type="text" class="form-control" th:field="*{version}">
                                    <small class="form-text text-muted">Version number of a contract or of a legal
                                        agreement.
                                    </small>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>


                                <div class="position-relative form-group">

                                    <div class="d-block clearfix card-footer">
                                        <div class="float-left">
                                            <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                        <div class="float-right">
                                            <button  type="button" data-dismiss="modal" class="btn-wide btn-shadow btn btn-primary btn-sm" id="generalDetailsSbmtBtn">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit College Modal -->
<div class="modal fade" id="editAccountContract" tabindex="-1" role="dialog"
     aria-labelledby="editAccountContractLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Account Contract</strong></h6>
                <form class="" method="post" name="editAccountContractForm" id="editAccountContractForm"
                      th:action="@{/zpas/cash-account-mandate/edit/accountcontract}" th:object="${cashAccountContract}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="col-md-12" style="display: none">
                                    <div class="position-relative form-group">
                                        <input type="text" class="form-control" id="editContractId" name="id">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="accountContractDescription">Contract Description</label>
                                        <input id="accountContractDescription" required name="description" type="text"
                                               class="form-control">
                                        <div class="invalid-feedback">You will not be able to see this</div>
                                        <small class="form-text text-muted"> Full name of an agreement.</small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="accountContractVersion">Contract Version</label>
                                        <input id="accountContractVersion" required name="version" type="text"
                                               class="form-control">
                                        <div class="invalid-feedback">You will not be able to see this</div>
                                        <small class="form-text text-muted"> Version number of a contract or of a legal
                                            agreement.
                                        </small>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Edit Signatory Condition Modal -->
<div class="modal fade" id="editSignatoryCondition" tabindex="-1" role="dialog"
     aria-labelledby="editSignatoryConditionLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">Edit Signatory Condition</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="btn btn-outline-dark"disabled >Mandate Holders</button>
                                <button class="active btn btn-outline-dark" >Signature Conditions</button>
                            </div>
                        </div>
                    </div>

                <!--<h6 class="modal-title"><strong>Edit Signatory Condition</strong></h6>-->
                <form class="" method="post" name="editSignatureConditionForm" id="editSignatureConditionForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="col-md-12">
                                    <div class="position-relative form-group" style="display: none">
                                        <label for="signatureConditionId">Id</label>
                                        <input type="text" class="form-control" id="signatureConditionId" name="id"
                                               required>
                                        <small class="form-text text-muted">
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <div class="form-check">

                                            <input type="checkbox" class="form-check-input" id="signatoryRightIndicator" name="signatoryRightIndicator">
                                            <label for="signatoryRightIndicator">Signatory Right Indicator</label>
                                            <small class="form-text text-muted">Indicates whether the signature of the
                                                account owner is required to authorise transactions on the account.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="signatureOrderIndicator" name="signatureOrderIndicator">
                                            <label for="signatureOrderIndicator">Signature Order Indicator</label>
                                            <small class="form-text text-muted">Indicator whether a certain order of
                                                signatures has to be respected or not.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="requiredSignatureNumber">Required Signature Number</label>
                                        <input type="number" class="form-control" id="requiredSignatureNumber" name="requiredSignatureNumber" required>
                                        <small class="form-text text-muted">Number of account owners or related parties
                                            required to authorise transactions on the account.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <!--<div class="position-relative form-group">
                                        <label for="signatureOrder">Signature Order</label>
                                        <input type="text" class="form-control" id="signatureOrder" name="signatureOrder">
                                        <small class="form-text text-muted">Indicates the order in which the mandate
                                            holders are allowed to sign.
                                        </small>
                                    </div>-->

                                    <div class="position-relative form-group">
                                        <label for="signatureOrder">Signature Order</label><br>
                                        <select name="signatureOrder" id="signatureOrder" style="width: 100%;" multiple="multiple" class="form-control">
                                            <!--<option value="AK">Alaska</option>-->
                                        </select>
                                        <small class="form-text text-muted">Indicates the order in which the
                                            mandate holders are allowed to sign.
                                        </small>
                                    </div>
                                </div>

                                <div class="position-relative form-group">

                                    <div class="d-block clearfix card-footer">
                                        <div class="float-left">
                                            <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                        <div class="float-right">
                                            <button  type="button" data-dismiss="modal" class="btn-wide btn-shadow btn btn-primary btn-sm" id="signatureConditionSmtBtn">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Reject Cash Account Mandate -->
<div class="modal fade" id="rejectOrDeleteMandate" tabindex="-1" role="dialog"
     aria-labelledby="rejectOrDeleteMandateLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="rejectOrDeleteMandateTitle"></strong></h6>
                <form class="" method="post" name="rejectOrDeleteMandateForm" id="rejectOrDeleteMandateForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12" style="display:none;">
                                    <div class="position-relative form-group">
                                        <input id="rejectOrDeleteMandateId" required name="id" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label for="rejectOrDeleteMandateStatusDescription">Reason</label>
                                        <input id="rejectOrDeleteMandateStatusDescription" required
                                               name="statusDescription" type="text"
                                               class="form-control">
                                        <small class="form-text text-muted"> Specifies the state or the
                                            condition.
                                        </small>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <a id="rejectOrDeleteMandatLink" href="#"
                                           style="display: none"><span>click</span></a>
                                        <button style="display: none" type="button" id="submitRejectMandate"
                                                data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                        <button style="display: none" type="button" id="submitDeleteMandate"
                                                data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Add Mandate Holder Modal-->
<div class="modal fade" id="addMandateHolderModal" role="dialog"
     aria-labelledby="addMandateHolderLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--<h6 class="modal-title"><strong>New Mandate Holder</strong></h6>-->

                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div><h5 class="menu-header-title text-capitalize text-primary">New Mandate Holder</h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">Mandate Holders</button>
                                <button class="btn btn-outline-dark" disabled>Signature Conditions</button>
                            </div>
                        </div>
                    </div>

                    <form class="" action="/zpas/cash-account-mandate/add/holder" method="post" name="addMandateHolderForm"
                          id="addMandateHolderForm">
                        <div class="form-wizard-content">
                            <div>
                                <div class="card-body">
                                    <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                    <div class="col-md-12" style="display:none;">
                                        <div class="position-relative form-group">
                                            <input id="cashAccountId" required name="cashAccountId" type="text"
                                                   class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <input id="cashAccountMandateId" required name="cashAccountMandateId"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="position-relative form-group">
                                            <label for="rolePlayerId">Mandate Holder</label>
                                            <select name="rolePlayerId" id="rolePlayerId" style="width: 100%"
                                                    class="form-control">
                                                <!--<option value="AK">Alaska</option>-->
                                            </select>
                                            <small class="form-text text-muted">
                                                Specifies each role linked to a mandate and played by a party in that
                                                context.
                                            </small>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="mandateHolderType">Role</label>
                                            <select type='select' class='custom-select' id="mandateHolderType"
                                                    name="mandateHolderType">
                                                <option value='INITIATE'> INITIATE</option>
                                                <option value='AUTHORISE'> AUTHORISE</option>
                                                <option value='BOTH'> BOTH</option>
                                            </select>
                                            <small class="form-text text-muted"> Specifies the role played by the
                                                mandate holder.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="position-relative form-group">
                                        <div class="d-block clearfix card-footer">
                                            <div class="float-left">
                                                <button type="button"
                                                        class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm"
                                                        data-dismiss="modal">Close
                                                </button>
                                            </div>
                                            <div class="float-right">
                                                <button type="button"
                                                        class="btn-wide btn btn-link btn-sm refresh-remove-mh-button">
                                                    Refresh
                                                </button>
                                                <a id="addMandateHolderLink" href="#"
                                                   style="display: none"><span>click</span></a>
                                                <button type="button" id="submitAddMandateHolder"
                                                        class="btn-wide btn-shadow btn btn-primary btn-sm"
                                                        data-dismiss="modal">Submit
                                                </button>
                                            </div>
                                        </div>
                                        <!--<div class="text-right">
                                            <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                    data-dismiss="modal"> Cancel
                                            </button>
                                            <a id="addMandateHolderLink" href="#"
                                               style="display: none"><span>click</span></a>
                                            <button type="button" id="submitAddMandateHolder" data-dismiss="modal"
                                                    class="btn-shadow btn-wide btn btn-success btn-sm">
                                                Submit
                                            </button>
                                        </div>-->
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Remove Mandate Holder Modal-->
<div class="modal fade" id="removeMandateHolderModal" tabindex="-1" role="dialog"
     aria-labelledby="removeMandateHolderLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!--                <h6 class="modal-title"><strong>Mandate Holder(s)</strong></h6>-->


                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="row"><h5 class="menu-header-title text-capitalize text-primary">Mandate
                            Holder </h5></div>

                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-outline-dark">Mandate Holders</button>
                                <button class="btn btn-outline-dark" disabled>Signature Conditions</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover"
                               id="mandateHolderTable">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Date Registered</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row mb-2 mt-1" id="responseMandateHolderRemovalMsgDiv" style="display: none">
                    <div class="col-md-12">
                        <div class="alert alert-info fade show" role="alert" id="responseMandateHolderRemovalMsg"></div>
                    </div>
                </div>


                <div class="d-block clearfix card-footer">
                    <div class="float-left">
                        <button id="closeRemoveMHModalBtn"
                                class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                    <div class="float-right">
                        <button class="btn-wide btn btn-link btn-sm refresh-remove-mh-button">Refresh</button>
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm" id="newMHBtn">Add New Entry</button>
                    </div>
                </div>


                <!--<table class="mb-0 table table-bordered" id="mandateHolderTable"></table>-->
                <!--<div class="col-md-12">
                    <div class="text-right">
                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/zpas/js/mandate/mandate.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>

<script>
    var formattedData = [];

    function addUniqueMandateHolder(mandateHolder) {
        var accountOwnerPersonId = $("#accountOwnerPersonId").text();
        console.log("The account owner person id is " + accountOwnerPersonId.toString() + " and the mandate id is " + mandateHolder.id);
        for (i = 0; i < formattedData.length; i++) {
            if (formattedData[i].id == mandateHolder.id) {
                return;
            }
        }
        if (mandateHolder.id == accountOwnerPersonId.toString()) {
            console.log("Return without adding to the results");
            return;
        }
        formattedData.push(mandateHolder);
        return {};
    }

    $("#rolePlayerId").select2({
        minimumInputLength: 1,
        placeholder: "Search for a person",
        allowClear: true,
        ajax: {
            url: "/zpas/cash-account-mandate/search/persons/",
            dataType: "json",
            contentType: "application/json",
            delay: 250,
            data: function (params) {
                var cashAccountId = $("#globalCashAccountId").val();

                var queryParameters = {
                    search: params.term,
                    cashAccountId: cashAccountId
                };
                return queryParameters;
            },
            processResults: function (data) {
                formattedData = [];
                $.each(data, function (idx, dataItem) {
                    var d = {
                        id: dataItem.personId,
                        text: dataItem.personFullName + " [" + dataItem.nationalId + "]"
                    };
                    formattedData.push(d);
                });
                return {
                    results: formattedData
                };
            }
        }
    });

    $("#addMandateHolderButton").click(function () {
        var cashAccountMandateId = $("#globalCashAccountMandateId").text();
        var cashAccountId = $("#globalCashAccountId").text();

        $("#cashAccountMandateId").val(cashAccountMandateId);
        $("#cashAccountId").val(cashAccountId);

    });

    $("#submitAddMandateHolder").click(function () {
        console.log('Adding the mandate holder');
        $("#addMandateHolderForm").submit();
    });

    $("#removeMandateHolderButton").click(function () {
        var cashAccountId = $("#globalCashAccountId").html();
        get_mandate_holders(cashAccountId);
    });

    function get_mandate_holders(cashAccountId) {
        console.log('Get the mandate holders ... with id ' + cashAccountId);
        $.ajax({
            url: "/zpas/cash-account-mandate/get/mandate/all/holders/" + cashAccountId,
            dataType: "json",
            contentType: "application/json",
            method: "get",
            success: function (persons) {
                console.log("Number of mandate infos:", persons.length);
                html = '';
                var i = 1;
                $.each(persons, function (index, person) {
                    console.log("Person Info:", JSON.stringify(person));
                    var badge;
                    if (person.extra === "AUTHORISE") {
                        badge = 'badge-info';
                    } else if (person.extra === "BOTH") {
                        badge = 'badge-warning';
                    } else {
                        badge = 'badge-success';
                    }
                    html += "<tr id='row" + person.id + "'>" +
                        "<td class='text-center text-muted'>" + i + "</td>" +
                        "<td><div class='widget-heading'>" + person.name + "</div></td>" +
                        "<td class='text-center'> <div class='badge badge-pill pl-2 pr-2 '" + badge + "'>" + person.extra + "</div></td>" +
                        "<td class='text-center'>" + person.date + "</td>" +
                        "<td class='text-center'><button style='cursor: pointer; cursor: hand;' class='btn btn-primary fa fa-window-close' id='" + person.id + "' href='#' onclick='removeMandateHolder(this.id)'></button></td></tr>";
                    i = i + 1;
                });
                $("#mandateHolderTable tbody > tr").remove();
                $("#mandateHolderTable tbody").append(html);
            },
            error: function (data) {
                console.log("An error occurred. Message was ", JSON.stringify(data));
            }
        }).done(function () {
            console.log("Done filling in mandate information");
        });
    }

    function removeMandateHolder(id) {
        console.log("Removing the mandate holder of id " + id);
        var cashAccountmandateId = $("#globalCashAccountMandateId").html();
        var cashAccountId = $("#globalCashAccountId").html();

        $.ajax({
            url: "/zpas/cash-account-mandate/remove/holder/" + id + "/" + cashAccountmandateId + "/" + cashAccountId,
            dataType: "json",
            contentType: "application/json",
            method: "get",
            success: function (data) {
                console.log("Remove message | :" + data);

                $("#responseMandateHolderRemovalMsgDiv").show();
                $("#responseMandateHolderRemovalMsg").html(data.message);

                var rowId = "row" + id;

                $("table#mandateHolderTable tr#"+rowId).remove();
            },
            error: function (data) {
                console.log("An error occurred. Message was ", JSON.stringify(data));
            }
        }).done(function () {
            console.log("Done");
        });
    }

    $('.refresh-remove-mh-button').click(function () {
        location.reload();
    });

    $("#newMHBtn").click(function () {
        $("#closeRemoveMHModalBtn").click();
        $("#addMandateHolderButton").click();
    });

    /*Signature order implementation*/
    $("#signatureOrder").select2();

    function get_signatories() {
        var cashAccountId = $("#globalCashAccountId").html();
        console.log('Get the mandate signatories ... with id ' + cashAccountId);
        $.ajax({
            url: "/zpas/cash-account-mandate/get/mandate/holders/" + cashAccountId,
            dataType: "json",
            contentType: "application/json",
            method: "get",
            success: function (persons) {
                console.log("Number of mandate infos:", persons.length);
                $('#signatureOrder').children('option').remove();

                var globalSignatureOrderStr = $("#globalSignatureCondition").text();
                var globalsignatureOrdeIds = globalSignatureOrderStr.split(",");

                $.each(persons, function (index, person) {
                    console.log("Person Info:", JSON.stringify(person));

                    if(globalsignatureOrdeIds.includes(person.id)) {
                        $("#signatureOrder").append("<option selected value='" + person.id + "'>" + person.name + "</option>");
                    } else {
                        $("#signatureOrder").append("<option value='" + person.id + "'>" + person.name + "</option>");
                    }

                });
            },
            error: function (data) {
                console.log("An error occurred. Message was ", JSON.stringify(data));
            }
        }).done(function () {
            console.log("Done filling in mandate information");
        });
    }
</script>
<!--End of scripts-->

</body>
</html>