<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">
    <style>
        .table-borderless td,
        .table-borderless th {
            border: 0;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Digital Signature Control
                                <div class="page-title-subheading">
                                    Details for the Cash Account Mandates
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block">

                                    <span th:if="${!isActive}">
                                <a class="btn btn-primary"
                                        th:href="@{/cash-account-mandate/create/{cashAccountId}(cashAccountId=${cashAccountId})}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
                                    Add Mandate
                                </a>
                                        </span>
                                <a class="btn btn-primary"
                                        th:href="@{/accounts/view/{id}(id=${cashAccountId})}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Account
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-12">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right">
                                    <div class="header-dots">
                                        <div class="dropdown">
                                            <button type="button" aria-haspopup="true" aria-expanded="false"
                                                    data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
                            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <span class="icon-wrapper-bg bg-primary"></span>
                                <i class="icon text-primary ion-android-apps"></i>
                            </span>
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true"
                                                 class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
                                                <div class="dropdown-menu-header">
                                                    <div class="dropdown-menu-header-inner bg-plum-plate">
                                                        <div class="menu-header-image"
                                                             style="background-image: url('assets/images/dropdown-header/abstract4.jpg');"></div>
                                                        <div class="menu-header-content text-white">
                                                            <small class="menu-header-title"
                                                                   th:text="${cashAccount.identification.name}"></small>
                                                            <br>
                                                            <small class="menu-header-subtitle">Account information which is
                                                                managed by a contract
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-menu grid-menu-xl grid-menu-2col">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive-sm">
                                                                <table class="table table-responsive-sm table-borderless">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th class="text-sm-center" style="font-size: small">
                                                                            International Bank Acc No.
                                                                        </th>
                                                                        <td class="text-sm-center" style="font-size: small"
                                                                            th:text="${cashAccount.identification.IBAN}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center" style="font-size: small">
                                                                            Basic Bank Acc No.
                                                                        </th>
                                                                        <td class="text-sm-center" style="font-size: small"
                                                                            th:text="${cashAccount.identification.BBAN}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center" style="font-size: small">
                                                                            Universal Payment Id Code
                                                                        </th>
                                                                        <td class="text-sm-center" style="font-size: small"
                                                                            th:text="${cashAccount.identification.UPIC}"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-sm-center" style="font-size: small">
                                                                            Account Number
                                                                        </th>
                                                                        <td class="text-sm-center" style="font-size: small"
                                                                            th:text="${cashAccount.identification.number}"></td>
                                                                    </tr>
                                                                    <!--<tr>
                                                                        <th class="text-sm-left" style="font-size: small">Account Name</th>
                                                                        <td class="text-sm-right" style="font-size: small" th:text="${cashAccount.identification.name}"></td>
                                                                    </tr>-->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--<ul class="nav flex-column">
                                                    <li class="nav-item-divider nav-item"></li>
                                                    <li class="nav-item-btn text-center nav-item">
                                                        <button class="btn-shadow btn btn-primary btn-sm">Close</button>
                                                    </li>
                                                </ul>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Identification</th>
                                <th>Description</th>
                                <th>Version</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cashAccountMandate :${cashAccountMandates}">
                                <td>
                                    <a class="btn btn-primary"
                                       th:href="${'/cash-account-mandate/'+ cashAccountMandate.getId() +'/account/' + cashAccountId}">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-link fa-w-20"></i>
                                        </span>

                                    </a>
                                </td>
                                <td th:text="${cashAccountMandate.getMandateIdentification()}"></td>
                                <td th:text="${cashAccountMandate.getDescription()}"></td>
                                <td th:text="${cashAccountMandate.getVersion()}"></td>
                                <td th:id="'status'+${cashAccountMandate.getId()}"
                                    th:text="${cashAccountMandate.getEntityStatus().name().replace('_',' ')}"></td>
                                <td th:text="${formatter.format(cashAccountMandate.getDateCreated())}"></td>
                                <td>
                                    <!--<span th:if="${cashAccountMandate.getEntityStatus().name() != 'DELETED'}">

                                       <span th:if="${cashAccountMandate.getEntityStatus().name() != 'ACTIVE'}">
                                            <button type="button" class="btn btn-primary"
                                                    th:id="'ApproveBtn'+${cashAccountMandate.getId()}"
                                                    data-toggle="tooltip"
                                                    title="Approve" onclick="approve_cash_account_mandate(this.id)">
                                        <i class="fa fa-check"></i></button>
                                       </span>

                                        <span th:if="${cashAccountMandate.getEntityStatus().name() != 'DISAPPROVED'}">
                                            <button type="button" class="btn btn-warning" data-toggle="tooltip"
                                                    title="Disapprove" th:id="'RejectBtn'+${cashAccountMandate.getId()}"
                                                    onclick="reject_cash_account_mandate(this.id)">
                                                <i class="fa fa-window-close"></i></button>
                                        </span>


                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
                                            th:id="'DeleteBtn'+${cashAccountMandate.getId()}"
                                            onclick="delete_cash_account_mandate(this.id)"><i
                                            class="fa fa-trash"></i></button>
                                    </span>-->

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>

<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#accounts-link").addClass("mm-active");
</script>
<script>

    $("#example td.pointer_section ").click(function () {
        goToPage($(this).attr("id"));
    });

    function goToPage(id) {
        window.location.href = "/cash-account-mandate/" + id;
    }

    function goToCreate(id) {
        window.location.href = "/cash-account-mandate/create/" + id;
    }

    function approve_cash_account_mandate(id) {
        var final_id = id.replace(/ApproveBtn/g, '');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/cash-account-mandate/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_cash_account_mandate(id) {
        var final_id = id.replace(/RejectBtn/g, '');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/cash-account-mandate/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_cash_account_mandate(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/cash-account-mandate/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
<!--<script type="text/javascript" src="/zpas/js/main.js"></script>-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
