<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Payment Investigation Case</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>


        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Payment Investigation Case
                                <div class="page-title-subheading">Lodge an investigation case
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 offset-2">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><!--<h5 class="card-title">Details</h5>-->
                            <form class="" method="post" th:action="@{/investigation-case/register}">
                                <input style="display: none;" type="text" th:value="${paymentReference}" name="paymentId">
                                <div class="form-wizard-content">
                                    <div id="step-122">
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${paymentInvestigationCase!=null}">
                                                    <tr>
                                                        <th>Payment Reference</th>
                                                        <td th:text="${paymentReference}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Payment Type Code</th>
                                                        <td th:text="${paymentTypeCode}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Amount</th>
                                                        <td th:text="${amount}"></td>
                                                    </tr>

                                                </table>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label th:for="cancellationReason">Cancellation Reason Code</label>
                                                <select name="cancellationReason" id="cancellationReason"
                                                        class="form-control">
                                                    <option th:each="cancellationReason: ${cancellationReasons}"
                                                            th:value="${cancellationReason}"
                                                            th:text="${cancellationReason.name()}">
                                                    </option>
                                                </select>
                                                <small class="form-text text-muted"><i>Specifies the type of investigation case</i>
                                                </small>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label th:for="cancellationReason">Investigation Party role</label>
                                                <select name="cancellationReason" id="cancellationReason"
                                                        class="form-control">
                                                    <option th:each="cancellationReason: ${cancellationReasons}"
                                                            th:value="${cancellationReason}"
                                                            th:text="${cancellationReason.name()}">
                                                    </option>
                                                </select>
                                                <small class="form-text text-muted"><i>Specifies the type of investigation case</i>
                                                </small>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label for="caseType">Case Type</label>
                                                <input type="text" class="form-control" id="caseType"
                                                       name="caseType" required>
                                                <div class="valid-feedback">Sweet! that name is available</div>
                                                <small class="form-text text-muted"><i>Indicates the reason for cancellation</i>
                                                </small>
                                            </div>


                                            <div class="position-relative form-group">
                                                <div class="text-right">
                                                    <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm">Cancel</button>
                                                    <button  type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#payments-link").addClass("mm-active");
</script>
<!--<script type="text/javascript" src="/zpas/js/financial_institutions/contact_points.js"></script>-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
