<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Manage Payment Investigation Cases
                                <div class="page-title-subheading">Choose between regular React Bootstrap tables or
                                    advanced dynamic ones.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form method="get" class="forms-wizard-vertical" action="/zpas/investigation-case/search" th:object="${search}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <input name="search" id="searchInput" placeholder="Search by case type, payment ref, case status" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button type="submit" id="searchButton" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                </div>
                            </div>
                        </form>
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Case Type</th>
                                <th>Cancellation Reason</th>
                                <th>Investigation Case Id</th>
                                <th>Creation Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="investigationCase : ${investigationCases}" th:data-thing="${investigationCase.getId()}" onclick="viewPaymentInvestigationCaseDetails(this.getAttribute('data-thing'));"> <!--.getUnderlyingPayment().get(0)-->
                                <td th:text="${investigationCase.getCaseType()}">Case Type</td>
                                <td th:text="${investigationCase.getCancellationReason()}">Cancellation Reason</td>
                                <td th:text="${investigationCase.getId()}">Case Id</td>
                                <td th:text="${investigationCase.getLastUpdated()}">Creation Date</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    function viewPaymentDetails(paymentId) {
        window.location.href = "/payments/view/" + paymentId;
    }

    function viewPaymentInvestigationCaseDetails(paymentInvestigationCaseId) {
        window.location.href = "/investigation-case/view/" + paymentInvestigationCaseId;
    }
</script>

</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
