<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Payment Investigation Case</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Payment Investigation case
                                <div class="page-title-subheading">Details for the Payment Investigation Case</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block">
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/signature-condition/home'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>


                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <!--<a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Payment Investigation Case</span>
                        </a>-->

                        <button class="btn btn-primary" data-toggle="modal" data-target="#debitAuthorisationResponseModal">
                                        <span>
                                            <i class="fa fa-money-bill"></i>
                                        </span> Authorise Debit
                        </button>
                    </li>
                    <!--<li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Rule Items</span>
                        </a>
                    </li>-->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${paymentInvestigationCase!=null}">
                                                    <tr>
                                                        <th>Payment Reference</th>
                                                        <td th:text="${paymentInvestigationCase.getId()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Case Type</th>
                                                        <td th:text="${paymentInvestigationCase.getCaseType()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Cancellation Reason</th>
                                                        <td th:text="${paymentInvestigationCase.getCancellationReason()}"></td>
                                                    </tr>


                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${paymentInvestigationCase.getId()}"
                                                            th:text="${paymentInvestigationCase.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${formatter.format(paymentInvestigationCase.getDateCreated())}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="main-card mb-3 mb-6 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Actions</h5>
                                        <span style="display:none;" id="editUrl"
                                              th:text="${paymentInvestigationCase.getId()}"></span>
                                        <span th:if="${paymentInvestigationCase.getEntityStatus().name() != 'DELETED'}">
                                        <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block"
                                                th:onclick="editPage()">
                                            <i class="fa fa-edit btn-icon-wrapper"> </i> Edit
                                        </button>
                                            <span th:if="${paymentInvestigationCase.getEntityStatus().name() != 'ACTIVE'}">
                                        <button class="mb-2 mr-2 btn btn-success btn-block"
                                                th:id="'ApproveBtn'+${paymentInvestigationCase.getId()}"
                                                onclick="approve_signature_condition(this.id)">
                                            <i class="fa fa-check btn-icon-wrapper"> </i> Approve
                                        </button>
                                            </span>
                                            <span th:if="${paymentInvestigationCase.getEntityStatus().name() != 'DISAPPROVED'}">
                                                <button class="mb-2 mr-2 btn btn-warning btn-block"
                                                        th:id="'RejectBtn'+${paymentInvestigationCase.getId()}"
                                                        onclick="reject_signature_condition(this.id)">
                                                    <i class="fa fa-window-close btn-icon-wrapper"> </i> Disapprove
                                                </button>
                                            </span>
                                                <button class="mb-2 mr-2 btn btn-danger btn-sm btn-block"
                                                        th:id="'DeleteBtn'+${paymentInvestigationCase.getId()}"
                                                        onclick="delete_signature_condition(this.id)">
                                                    <i class="fa fa-trash btn-icon-wrapper"> </i> Delete
                                                </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--Start Debit Authorisation Response Modal-->
<div class="modal fade" id="debitAuthorisationResponseModal" tabindex="-1" role="dialog" aria-labelledby="debitAuthorisationResponseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="reqTitle">Debit Authorisation Response</strong></h6>
                <form class="" method="post" th:action="@{/investigation-case/debit-authorisation}">
                    <div class="form-wizard-content">
                        <div id="step-122">
                            <div class="card-body">

                                <div class="position-relative form-group" id="authorisationStringRadio">
                                    <label>Accept Recall?</label>
                                    <input type="radio" value="Yes" name="authorisationString">Yes
                                    <input type="radio" checked value="No" name="authorisationString">No
                                </div>

                                <div class="position-relative form-group">
                                    <label for="reason">Reason</label>
                                    <input class="form-control" id="reason" name="reason" type="text">
                                </div>

                                <div id="acceptRecallHidden" style="display: none">
                                    <div class="position-relative form-group">
                                        <label for="valueDateToDebitString">Value Date To Debit</label>
                                        <input class="form-control" id="valueDateToDebitString" name="valueDateToDebitString" type="date" th:value="${T(java.time.LocalDate).now()}">
                                    </div>
                                </div>

                                <div class="position-relative form-group" style="display: none">
                                    <input class="form-control" id="paymentInvestigationCaseId" th:value="${paymentInvestigationCase.id}" name="paymentInvestigationCaseId" type="hidden">
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Debit Authorisation Response Modal-->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<!-- Create College Modal -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#payments-link").addClass("mm-active");
</script>
<script>

    $("#authorisationStringRadio :radio").on("change", function () {
        var value = this.value;
        console.log("The value is " + value);
        if(value === "Yes"){
            $("#acceptRecallHidden").show();
        }else {
            $("#acceptRecallHidden").hide();
        }
    });

    /*$(document).ready(function () {
        $('#valueDateToDebitString').datetimepicker({
            format: 'dd/mm/yyyy',
            pickTime: false,
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });*/

    /*$('#authorisationString').change(function () {
        // this will contain a reference to the checkbox
        if (this.checked) {
            // the checkbox is now checked
            $("#acceptRecallHidden").show();
        } else {
            // the checkbox is no longer checked
            $("#acceptRecallHidden").hide();
        }
    });*/

    function goToEdit(id) {

    }

    function approve_investigation_case(id) {
        var final_id = id.replace(/ApproveBtn/g, '');
        console.log('The approve id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/investigation-case/approve/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_investigation_case(id) {
        var final_id = id.replace(/RejectBtn/g, '');
        console.log('The reject id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/investigation-case/reject/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_investigation_case(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/investigation-case/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#createRuleItemForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/investigation-case/ruleitem/create',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        $('#status' + response.object.id).text(response.object.entityStatus.replace(/_/g, ' '));
                        $('#name' + response.object.id).text(response.object.name);
                    } else {
                        //Notification
                    }
                    $('#createRuleItemModal').modal('hide');
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script>
    function editPage() {
        var signatureConditionId = $("#editUrl").text();
        window.location.href = "/investigation-case/edit/" + signatureConditionId;
    }

    function delete_ruleitem(id) {
        var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + final_id);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/investigation-case/ruleitem/delete/" + final_id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#status' + final_id).text(data.object.replace(/_/g, ' '));
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
