<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Beneficiaries
                                <div class="page-title-subheading">Add a beneficiary
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-2">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form class="" method="post" th:action="@{/beneficiaries/create}">
                                <input style="display: none;" type="text" th:value="${beneficiary}" name="beneficiaryId">
                                <div class="form-wizard-content">
                                    <div id="step-122">
                                        <div class="card-body">
                                            <div class="position-relative form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name"
                                                       name="name" required>
                                                <div class="valid-feedback">Sweet! that name is available</div>
                                                <small class="form-text text-muted"><i>Name for beneficiary</i>
                                                </small>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label for="bank">Bank</label>
                                                <select name="bank" id="bank" class="form-control">
                                                    <option th:each="financialInstitution: ${financialInstitutions}"
                                                            th:text="${financialInstitution.getName()}"
                                                            th:value="${financialInstitution.getName()}"></option>
                                                </select>
                                                <small class="form-text text-muted"><i>Beneficiary bank</i>
                                                </small>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label for="accountNumber" class="">Account Number</label>
                                                <input type="text" class="form-control" id="accountNumber" name="accountNumber" required>
                                            </div>

                                            <div class="position-relative form-group">
                                                <label for="nationalId" class="">National ID</label>
                                                <input type="text" class="form-control" id="nationalId" name="nationalId" required>
                                            </div>


                                            <div class="position-relative form-group">
                                                <div class="text-right">
                                                    <button type="button"
                                                            class="btn-shadow btn-wide btn btn-link btn-sm">Cancel
                                                    </button>
                                                    <button type="submit"
                                                            class="btn-shadow btn-wide btn btn-success btn-sm">Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
   $("#beneficiaries-link").addClass("mm-active");
   $("#beneficiaries-link-create").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
