<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>View Beneficiary</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>View Beneficiary
                                <div class="page-title-subheading">Beneficiary Details</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!-- START-->
                            <span style="display:none;" id="beneficiaryIdSpan"
                                  th:text="${beneficiary.getId()}"></span>
                            <span style="display:none;" id="editUrl"
                                  th:text="${beneficiary.getId()}"></span>
                            <span th:if="${beneficiary.getEntityStatus().name() != 'DELETED'}">
                                        <button class="mb-2 mr-2 btn btn-primary btn-lg btn-block d-inline-block dropdown"
                                                onclick="edit_beneficiary_details(this.id)"
                                                sec:authorize="hasAuthority('ROLE_UPDATE_BENEFICIARY')" th:id="'EditBtn'+${beneficiary.getId()}">
                                            <i class="fa fa-edit btn-icon-wrapper"> </i> Edit</button>

                                            <span th:if="${beneficiary.getEntityStatus().name() != 'ACTIVE' && beneficiary.getEntityStatus().name() != 'DISAPPROVED'}">
                                        <button class="mb-2 mr-2 btn btn-success btn-block"
                                                data-toggle="modal" data-target="#confirmApproveBeneficiaryModal"
                                                sec:authorize="hasAuthority('ROLE_APPROVE_BENEFICIARY')"
                                                th:id="'ApproveBtn'+${beneficiary.getId()}">
                                            <i class="fa fa-check btn-icon-wrapper"> </i> Approve</button>
                                            </span>
                                            <span th:if="${beneficiary.getEntityStatus().name() != 'DISAPPROVED' && beneficiary.getEntityStatus().name() != 'ACTIVE'}">
                                                <button class="mb-2 mr-2 btn btn-warning btn-block d-inline-block dropdown"
                                                        data-toggle="modal" data-target="#confirmRejectBeneficiaryModal"
                                                        sec:authorize="hasAuthority('ROLE_REJECT_BENEFICIARY')"
                                                        th:id="'RejectBtn'+${beneficiary.getId()}">
                                                    <i class="fa fa-window-close btn-icon-wrapper"> </i> Disapprove</button>
                                            </span>
                                                <button class="mb-2 mr-2 btn btn-danger btn-sm btn-block d-inline-block dropdown"
                                                        data-toggle="modal" data-target="#confirmDeleteBeneficiaryModal"
                                                        sec:authorize="hasAuthority('ROLE_DELETE_BENEFICIARY')"
                                                        th:id="'DeleteBtn'+${beneficiary.getId()}">
                                                    <i class="fa fa-trash btn-icon-wrapper"> </i> Delete</button>
                            </span>

                           <!--Make a link to make payment and bind destination account details-->
                            <form method="get" th:action="@{/payments/make-payment}">
                                <input style="display: none" name="beneficiaryId" th:value="${beneficiary.getId()}">

                                <span th:if="${beneficiary.getEntityStatus().name() == 'ACTIVE'}">
                                        <button class="mb-2 mr-2 btn btn-success btn-block" type="submit"
                                                th:id="'Pay'+${beneficiary.getId()}">
                                            <i class="fa fa-check btn-icon-wrapper"> </i> Make Payment</button>
                            </span>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="accountIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse" data-target="#accountIdentification"
                                                aria-expanded="true" aria-controls="accountIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">BENEFICIARY INFORMATION</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="beneficiaryIdentification" aria-labelledby="currencyIdentificationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row" >
                                                <table class="mb-0 table" style="border: none">
                                                    <tr>
                                                        <th>Name</th>
                                                        <td th:id="'name'+${beneficiary.getId()}" th:text="${beneficiary.getName()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Bank</th>
                                                        <td th:id="'bank'+${beneficiary.getId()}" th:text="${beneficiary.getBank()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Number</th>
                                                        <td th:id="'accountNumber'+${beneficiary.getId()}" th:text="${beneficiary.getAccountNumber()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>National ID</th>
                                                        <td th:id="'nationalId'+${beneficiary.getId()}" th:text="${beneficiary.getNationalId()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'entityStatus'+${beneficiary.getId()}" th:text="${beneficiary.getEntityStatus()}"></td>
                                                    </tr>

                                                    <tr th:if="${beneficiary.getDateCreated()}">
                                                        <th>Date Created</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(beneficiary.dateCreated))}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>
<!-- Edit Hub Config Modal -->
<div class="modal fade" id="editBeneficiaryDetails" tabindex="-1" role="dialog" aria-labelledby="editBeneficiaryDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Beneficiary Details</strong></h6>
                <form class="" method="post" name="editBeneficiaryDetailForm" id="editBeneficiaryDetailForm" th:action="@{/beneficiaries/edit/}" th:object="${beneficiary}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editName">Name</label>
                                        <input type="text" class="form-control"  id="editName" name="name" required>

                                    </div>


                                    <div class="position-relative form-group">
                                        <label for="editBank">Bank</label>
                                        <select name="bank" id="editBank" class="form-control">
                                            <option th:each="financialInstitution: ${financialInstitutions}"
                                                    th:text="${financialInstitution.getName()}"
                                                    th:value="${financialInstitution.getName()}"></option>
                                        </select>
                                        <small class="form-text text-muted"><i>Bank for the beneficiary</i>
                                        </small>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editAccountNumber">Account Number</label>
                                        <input type="text" class="form-control"  id="editAccountNumber" name="accountNumber">

                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editNationalId">National ID</label>
                                        <input type="text" class="form-control"  id="editNationalId" name="nationalId">

                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!--Show Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteBeneficiaryModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteBeneficiaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteBeneficiaryModalLabel">Delete Beneficiary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to delete Beneficiary?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="delete_beneficiary()" data-dismiss="modal">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Delete Modal -->

<!--Show Confirm Approve Modal -->
<div class="modal fade" id="confirmApproveBeneficiaryModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmApproveBeneficiaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmApproveBeneficiaryModalLabel">Approve Beneficiary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: green">Are you sure you want to approve Beneficiary?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="approve_beneficiary()" data-dismiss="modal">Yes, Approve</button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Approve Modal -->

<!--Show Confirm Reject Modal -->
<div class="modal fade" id="confirmRejectBeneficiaryModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmRejectBeneficiaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRejectBeneficiaryModalLabel">Reject Beneficiary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to reject beneficiary?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="reject_beneficiary()" data-dismiss="modal">Yes, Reject</button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Reject Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>

<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
   // $("#hubconfigs-link").addClass("mm-active");
</script>
<script>
    function goToEdit(id) {

    }

    function approve_beneficiary() {
        var beneficiaryId = $("#beneficiaryIdSpan").text();

        console.log('The approve id is ' + beneficiaryId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/beneficiaries/approve/" + beneficiaryId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    //$('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#entityStatus' + beneficiaryId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_beneficiary() {
        //var final_id = id.replace(/RejectBtn/g, '');
        var beneficiaryId = $("#beneficiaryIdSpan").text();

        console.log('The reject id is ' + beneficiaryId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zas/beneficiaries/reject/" + beneficiaryId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + beneficiaryId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_beneficiary() {
        var beneficiaryId = $("#beneficiaryIdSpan").text();
        // var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + beneficiaryId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/beneficiaries/delete/" + beneficiaryId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + beneficiaryId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

<script>
    function editPage() {
        var id = $("#editUrl").text();
        window.location.href = "/zpas/beneficiaries/edit/" + id;
    }

</script>

<script th:inline="javascript">

    function edit_beneficiary_details(final_id) {
        var id = final_id.replace(/EditBtn/g,'');
        console.log('The beneficiary id is ' + final_id);

        console.log('hub beneficiary id ' + id);

        $("#editId").val(id);

        //Getting the hub config details from the view
        var name = $("#name"+id).text();
        var bank = $("#bank"+id).text();
        var accountNumber = $("#accountNumber"+id).text();
        var nationalId = $("#nationalId"+id).text();

        //Setting the hub config details in the modal form
        $("#editName").val(name);
        $("#editBank").val(bank);
        $("#editAccountNumber").val(accountNumber);
        $("#editNationalId").val(nationalId);

        $('#editBeneficiaryDetails').modal('show');
    }

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editBeneficiaryDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/beneficiaries/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#name' + response.object.id).text(response.object.name);
                        $('#bank' + response.object.id).text(response.object.bank);
                        $('#accountNumber' + response.object.id).text(response.object.accountNumber);
                        $('#nationalId' + response.object.id).text(response.object.nationalId);
                        $('#entityStatus' + response.object.id).text(response.object.entityStatus);

                    } else {
                        //Notification
                    }
                    $('#editBeneficiaryDetails').modal('hide');
                    location.reload();
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script>
    $("#beneficiaries-link-manage").addClass("mm-active");
</script>
</body>
</html>