<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Merchants</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>


        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Merchant
                                <div class="page-title-subheading">Capture details for the merchant
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-2">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><!--<h5 class="card-title">Details</h5>-->
                            <form class="" method="post" th:action="@{/merchant}">
                                <div class="form-wizard-content">
                                    <div id="step-122">
                                        <div class="card-body">
                                            <div class="position-relative form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                                <small class="form-text text-muted">Unambiguous name of the merchant.
                                                </small>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="code">Code</label>
                                                <input type="text" class="form-control" id="code" name="code" required>
                                                <small class="form-text text-muted">Code that uniquely identifies the merchant.
                                                </small>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="bank">Bank</label>
                                                <select name="bank" id="bank" class="form-control">
                                                    <option th:each="financialInstitution: ${financialInstitutions}"
                                                            th:text="${financialInstitution.getName()}"
                                                            th:value="${financialInstitution.getName()}"></option>
                                                </select>
                                                <small class="form-text text-muted"><i>Bank for the merchant</i>
                                                </small>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="accountNumber">Account Number</label>
                                                <input type="text" class="form-control" id="accountNumber" name="accountNumber" required>
                                                <small class="form-text text-muted">The account number of the merchant.
                                                </small>
                                            </div>

                                            <div class="form-group">
                                                <label for="linkedMerchantId">Party</label>
                                                <select name="linkedMerchantId" id="linkedMerchantId" style="width: 100%"
                                                        class="form-control" required>
                                                    <!--<option value="AK">Alaska</option>-->
                                                </select>
                                                <small class="form-text text-muted">Party which is associated with this merchant.
                                                </small>
                                            </div>

                                            <!--<div class="position-relative form-group">
                                                <label for="linkedPartyTaxAuthority">Party</label>
                                                <input type="text" class="form-control" id="linkedPartyTaxAuthority" name="linkedPartyTaxAuthority" required>
                                                <small class="form-text text-muted">Bank for the merchant
                                                </small>
                                            </div>-->



                                            <div class="position-relative form-group">
                                                <div class="text-right">
                                                    <button type="button" th:onclick="window.location.href='/zpas/merchant'" class="btn-shadow btn-wide btn btn-link btn-sm">Cancel</button>
                                                    <button  type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/zpas/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#merchant-link").addClass("mm-active");

    var formattedData = [];

    $("#linkedMerchantId").select2({
        minimumInputLength: 1,
        placeholder: "Search for a person",
        allowClear: true,
        ajax: {
            url: "/zpas/merchant/search/persons/",
            dataType: "json",
            contentType: "application/json",
            delay: 250,
            data: function (params) {

                var queryParameters = {
                    search: params.term
                };
                return queryParameters;
            },
            processResults: function (data) {
                // formattedData = [];
                $.each(data, function (idx, dataItem) {
                    var d = {
                        id: dataItem.personId,
                        text: dataItem.personFullName
                    };
                    formattedData.push(d);
                });
                return {
                    results: formattedData
                };
            }
        }
    });

</script>
<!--<script type="text/javascript" src="/zpas/js/financial_institutions/contact_points.js"></script>-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
