<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Merchant</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
    <link rel="stylesheet" type="text/css" href="/zpas/css/jquery.dataTables.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">
    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">
        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Search for Merchant
                                <div class="page-title-subheading"><!--Capture details for the Client-->
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form method="get" class="forms-wizard-vertical" action="/zpas/merchant/search" th:object="${merchants}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <input name="search" id="searchInput" placeholder="Search for merchant" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" id="searchButton" class="btn btn-primary"><i class="fa fa-search"></i> Search </button>
                                </div>
                            </div>

                            <div>
                                <h2>Search Results</h2>
                                <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Account Number</th>
                                        <th>Bank</th>
                                        <th>Party</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="merchant : ${merchants}" th:data-thing="${merchant.id}" onclick="viewMerchantDetails(this.getAttribute('data-thing'));">
                                        <td th:text="${merchant.getName()}">Name</td>
                                        <td th:text="${merchant.getCode()}">Code</td>
                                        <td th:text="${merchant.getAccountNumber()}">Account Number</td>
                                        <td th:text="${merchant.getBank()}">Bank</td>
                                        <td th:text="${merchant.getLinkedMerchantId().getMerchants().get(0).getName()}">Party</td>
                                        <td th:text="${merchant.getEntityStatus()}">Entity Staus</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
   // $("#clients-link").addClass("mm-active");
  //  $("#clients-link-search-client").addClass("mm-active");
</script>

<script>
    function viewMerchantDetails(id) {
        window.location.href = "/merchant/" + id;
    }
</script>


</body>

</html>