<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Party Merchant Account</title>
    <section th:replace="main/general.html :: headIncludes">

    </section>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>View Party Merchant Account
                                <div class="page-title-subheading">Party Merchant Account Details</div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <!-- START-->
                            <span style="display:none;" id="partyMerchantAccountIdSpan"
                                  th:text="${partyMerchantAccount.getId()}"></span>
                            <span style="display:none;" id="editUrl"
                                  th:text="${partyMerchantAccount.getId()}"></span>

                            <div class="d-inline-block dropdown">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-10">

                                            <span th:if="${partyMerchantAccount.getEntityStatus().name() != 'DELETED'}">
                                                <span th:if="${partyMerchantAccount.getEntityStatus().name() != 'ACTIVE'}">
                                                    <a class="btn btn-success" data-toggle="modal"
                                                       data-target="#confirmApprovePartyMerchantAccountModal"
                                                       th:id="'ApproveBtn'+${partyMerchantAccount.getId()}">
                                                            <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                                                <i class="fa fa-check"></i>
                                                            </span>
                                                        Approve
                                                    </a>
                                                </span>
                                                <!--
                                                <span th:if="${partyMerchantAccount.getEntityStatus().name() != 'DISAPPROVED'}">
                                                    <a class="btn btn-warning" data-toggle="modal" data-target="#confirmRejectPartyMerchantAccountModal" th:id="'RejectBtn'+${partyMerchantAccount.getId()}">
                                                            <span>
                                                                <i class="fa fa-window-close"></i>
                                                            </span>
                                                        Disapprove
                                                    </a>
                                                </span>
                                                -->
                                                <a class="btn btn-danger" data-toggle="modal" data-target="#confirmDeletePartyMerchantAccountModal" th:id="'DeleteBtn'+${partyMerchantAccount.getId()}">
                                                    <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                    Delete
                                                </a>
                                            </span>
                                            <a class="btn btn-primary"
                                               th:href="${'/party-merchant-accounts/manage'}">
                                        <span> <!--class="btn-icon-wrapper pr-2 opacity-7"-->
                                            <i class="fa fa-history"></i>
                                        </span>
                                                Go To Home
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- END-->
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <div class="card">
                                    <div id="accountIdentificationHeading" class="card-header">
                                        <button type="button" data-toggle="collapse"
                                                data-target="#accountIdentification"
                                                aria-expanded="true" aria-controls="accountIdentification"
                                                class="text-left m-0 p-0 btn btn-link btn-block">
                                            <h5 class="m-0 p-0">Party Merchant Account Information</h5>
                                        </button>
                                    </div>
                                    <div data-parent="#accordion" id="partyMerchantAccountIdentification"
                                         aria-labelledby="currencyIdentificationHeading" class="collapse show">
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table" style="border: none">
                                                    <tr>
                                                        <th>Name</th>
                                                        <td th:id="'identification'+${partyMerchantAccount.getId()}"
                                                            th:text="${partyMerchantAccount.getIdentification()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Account Number</th>
                                                        <td th:id="'accountNumber'+${partyMerchantAccount.getId()}"
                                                            th:text="${partyMerchantAccount.getAccountNumber()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'entityStatus'+${partyMerchantAccount.getId()}"
                                                            th:text="${partyMerchantAccount.getEntityStatus()}"></td>
                                                    </tr>

                                                    <tr th:if="${partyMerchantAccount.getDateCreated()}">
                                                        <th>Date Created</th>
                                                        <td th:text="${T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(partyMerchantAccount.getDateCreated())}"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">
            </div>
        </div>
    </div>
</div>
<!-- Edit Hub Config Modal -->
<div class="modal fade" id="editPartyMerchantAccountDetails" tabindex="-1" role="dialog"
     aria-labelledby="editPartyMerchantAccountDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Party Merchant Account Details</strong></h6>
                <form class="" method="post" name="editPartyMerchantAccountDetailForm"
                      id="editPartyMerchantAccountDetailForm" th:action="@{/party-merchant-accounts/edit/}"
                      th:object="${partyMerchantAccount}">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none;">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editIdentification">Identification</label>
                                        <input type="text" class="form-control" id="editIdentification"
                                               name="identification" required>

                                    </div>


                                    <div class="position-relative form-group">
                                        <label for="editAccountNumber">Account Number</label>
                                        <input type="text" class="form-control" id="editAccountNumber"
                                               name="accountNumber">

                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!--Show Confirm Delete Modal -->
<div class="modal fade" id="confirmDeletePartyMerchantAccountModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeletePartyMerchantAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeletePartyMerchantAccountModalLabel">Delete Party Merchant
                    Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to delete party merchant account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="delete_party_merchant_account()"
                        data-dismiss="modal">Yes, Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Delete Modal -->

<!--Show Confirm Approve Modal -->
<div class="modal fade" id="confirmApprovePartyMerchantAccountModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmApprovePartyMerchantAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmApprovePartyMerchantAccountModalLabel">Approve Party Merchant
                    Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: green">Are you sure you want to approve party merchant account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="approve_party_merchant_account()"
                        data-dismiss="modal">Yes, Approve
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Approve Modal -->

<!--Show Confirm Reject Modal -->
<div class="modal fade" id="confirmRejectPartyMerchantAccountModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmRejectPartyMerchantAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRejectPartyMerchantAccountModalLabel">Reject Party Merchant
                    Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red">Are you sure you want to reject party merchant account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="reject_party_merchant_account()"
                        data-dismiss="modal">Yes, Reject
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Show Confirm Reject Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    // $("#hubconfigs-link").addClass("mm-active");
</script>
<script>
    function goToEdit(id) {

    }

    function approve_party_merchant_account() {
        var partyMerchantAccountId = $("#partyMerchantAccountIdSpan").text();

        console.log('The approve id is ' + partyMerchantAccountId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/party-merchant-accounts/approve/" + partyMerchantAccountId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    //$('#status' + final_id).text(data.object.replace(/_/g, ' '));
                    $('#entityStatus' + partyMerchantAccountId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function reject_party_merchant_account() {
        //var final_id = id.replace(/RejectBtn/g, '');
        var partyMerchantAccountId = $("#partyMerchantAccountIdSpan").text();

        console.log('The reject id is ' + partyMerchantAccountId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/party-merchant-accounts/reject/" + partyMerchantAccountId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + partyMerchantAccountId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function delete_party_merchant_account() {
        var partyMerchantAccountId = $("#partyMerchantAccountIdSpan").text();
        // var final_id = id.replace(/DeleteBtn/g, '');
        console.log('The delete id is ' + partyMerchantAccountId);
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/zpas/party-merchant-accounts/delete/" + partyMerchantAccountId,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);
                if (data.responseCode === '00') {
                    console.log('Narrative | ' + data.narrative);
                    $('#entityStatus' + partyMerchantAccountId).text(data.object.replace(/_/g, ' '));
                    location.reload();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>

<script>
    function editPage() {
        var id = $("#editUrl").text();
        window.location.href = "/party-merchant-accounts/edit/" + id;
    }

</script>

<script th:inline="javascript">

    function edit_party_merchant_account_details(final_id) {
        var id = final_id.replace(/EditBtn/g, '');
        console.log('The partyMerchantAccount id is ' + final_id);

        console.log('hub partyMerchantAccount id ' + id);

        $("#editId").val(id);

        //Getting the details from the view
        var identification = $("#identification" + id).text();
        var accountNumber = $("#accountNumber" + id).text();


        //Setting the hub config details in the modal form
        $("#editIdentification").val(identification);
        $("#editAccountNumber").val(accountNumber);

        $('#editPartyMerchantAccountDetails').modal('show');
    }

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#editPartyMerchantAccountDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/party-merchant-accounts/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#identification' + response.object.id).text(response.object.identification);
                        $('#accountNumber' + response.object.id).text(response.object.accountNumber);
                        $('#entityStatus' + response.object.id).text(response.object.entityStatus);

                    } else {
                        //Notification
                    }
                    $('#editPartyMerchantAccountDetails').modal('hide');
                    location.reload();
                }
            );
            return false;
        });
    });
    /*]]>*/
</script>
<script>
    //$("#beneficiaries-link-manage").addClass("mm-active");
</script>
</body>
</html>