<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-warm-flame">
                                </i>
                            </div>
                            <div>Merchant
                                <div class="page-title-subheading">Details for the merchant</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block">
                                <span th:if="${merchant.getEntityStatus().name() != 'DELETED'}">
                                <a class="btn btn-primary" th:href="${'/merchant/edit/' + merchant.getId()}">
                                        <span>
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    Edit
                                </a>
                                <span th:if="${merchant.getEntityStatus().name() != 'ACTIVE'}">
                                <span th:if="${merchant.getEntityStatus().name() != 'DISAPPROVED'}">
                                <a class="btn btn-success" th:href="${'/merchant/approve/' + merchant.getId()}">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span>
                                    Approve
                                </a>
                                <a class="btn btn-warning" th:href="${'/merchant/reject/' + merchant.getId()}">
                                        <span>
                                            <i class="fa fa-window-close"></i>
                                        </span>
                                    Disapprove
                                </a>
                                </span>
                                </span>
                                <a class="btn btn-danger" th:href="${'/merchant/delete/' + merchant.getId()}">
                                        <span>
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    Delete
                                </a>
                                    </span>
                                <button type="button" class="btn-shadow btn btn-primary"
                                        th:onclick="window.location.href='/zpas/merchant/all'">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-history fa-w-20"></i>
                                        </span>
                                    Go To Home
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${notification!=null}">
                    <div class="col-md-8">
                        <div th:if="${notification.getType()=='success'}" th:text="${notification.getMessage()}"
                             class="alert alert-success fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='error'}" th:text="${notification.getMessage()}"
                             class="alert alert-danger fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='warning'}" th:text="${notification.getMessage()}"
                             class="alert alert-warning fade show" role="alert"></div>
                        <div th:if="${notification.getType()=='info'}" th:text="${notification.getMessage()}"
                             class="alert alert-info fade show" role="alert"></div>
                    </div>
                </div>

                <!--<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">

                            <span>Signature Control</span>
                        </a>
                    </li>
                    &lt;!&ndash;<li class="nav-item">
                        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Rule Items</span>
                        </a>
                    </li>&ndash;&gt;
                </ul>-->

                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="row">
                                                <table class="mb-0 table table-borderless"
                                                       th:if="${merchant!=null}">
                                                    <tr>
                                                        <th>Name</th>
                                                        <td th:text="${merchant.getName()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Code</th>
                                                        <td th:text="${merchant.getCode()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Account Number</th>
                                                        <td th:text="${merchant.getAccountNumber()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Bank</th>
                                                        <td th:text="${merchant.getBank()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Party</th>
                                                        <td id="partyId" th:text="${merchant.getLinkedMerchantId().getId()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td th:id="'status'+${merchant.getId()}"
                                                            th:text="${merchant.getEntityStatus().name().replaceAll('_', ' ')}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Created</th>
                                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(merchant.dateCreated))}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<!-- Create College Modal -->
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<!--<script rel="javascript" type="text/javascript" src="/zpas/js/bootstrap.min.js"></script>-->
<script>
    $("#merchant-link").addClass("mm-active");
    $(document).ready(function () {
        var partyId = $("#partyId").text();
        $.ajax({
            url: "/zpas/merchant/get/partyId/" + partyId,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log("Number of merchant info:", data);
                $("#partyId").html(data.name);
            },
            error: function (data) {
                console.log("An error occurred. Message was ");
            }
        });

    });
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
