<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-display1 icon-gradient bg-premium-dark">
                                </i>
                            </div>
                            <div>
                                Upload Debit Order Batch
                                <div class="page-title-subheading">
                                    Upload debit orders from an Excel or SFI file.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form id="smartwizard3" method="post" class="forms-wizard-vertical"
                              action="/zpas/debit-orders/upload" enctype="multipart/form-data">
                            <input style="display: none" type="text" id="phonesJson" name="phonesJson">
                            <input style="display: none" type="text" id="addressesJson" name="addressesJson">
                            <input style="display: none" type="text" id="postalAddressesJson"
                                   name="postalAddressesJson">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Batch Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Batch File</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Upload</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="card-body">
                                        <div class="position-relative form-group" th:if="${account}">
                                            <label for="targetAccount" class="">Select Account</label>
                                            <select name="targetAccount" id="targetAccount" class="form-control" readonly>
                                                <option th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionName()} + ')'"
                                                        th:value="${account.getIdentification().number}" selected></option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group" th:unless="${account}">
                                            <label for="targetAccount" class="">Select Account</label>
                                            <select name="targetAccount" id="targetAccount" class="form-control">
                                                <option th:each="clientAccount: ${clientAccounts}"
                                                        th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionName()} + ')'"
                                                        th:value="${clientAccount.identification.number}"></option>
                                            </select>
                                        </div>
                                        <!--<div class="position-relative form-group">
                                            <label for="currencyCode" class="">Currency Code</label>
                                            <input name="currencyCode" id="currencyCode" placeholder="Enter Currency Code" type="text" class="form-control">
                                            <small>e.g ZWL</small>
                                        </div>-->

                                        <div class="position-relative form-group">
                                            <label for="currencyCode">Currency Code <span
                                                    style="color: #ff1428">*</span></label>
                                            <select name="currencyCode" id="currencyCode"
                                                    class="form-control">
                                                <!--<option value=""><--Select an option</option> -->
                                                <option th:each="currency: ${currencies}"
                                                        th:selected="${currency.defaultCurrency}"
                                                        th:value="${currency.getCode()}"
                                                        th:text="${currency.getCode()}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="description" class="">Description</label>
                                            <textarea name="description" id="description" class="form-control"></textarea>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="processingDate" class="">Processing Date</label>
                                            <input name="processingDate" id="processingDate" type="datetime-local" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div id="step-2">
                                    <div class="card">
                                        <div class="position-relative form-group">
                                            <label for="debitOrdersFile" class="">Debit Order Batch File</label>
                                            <input name="debitOrdersFile" id="debitOrdersFile" type="file"
                                                   class="form-control-file"
                                                   data-max-file-size="100M" accept=".csv,.xls,.xlsx,.xml,.zip,.sfi">
                                            <small class="form-text text-muted">
                                                Pick a file. Only SFI, XML and CSV formats supported.
                                            </small>
                                        </div>

                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right"
                                                 style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Batch Ready for upload</div>
                                        <div class="results-title">If you are sure your information is correct, you can
                                            upload your batch now.
                                        </div>
                                        <div class="mt-3 mb-3"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn-shadow btn-wide btn btn-success btn-lg">
                                                Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" id="reset-btn22" class="btn-shadow float-left btn btn-link">
                                Clear
                            </button>
                            <button type="button" id="next-btn22"
                                    class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">
                                Next
                            </button>
                            <button type="button" id="prev-btn22"
                                    class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">
                                Previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#debit-orders-link").addClass("mm-active");
    $("#debit-orders-link-upload").addClass("mm-active");
    $("#debit-orders-link-manage").addClass("mm-active");

    $("#priority").on("change", function () {
        console.log("priority changed. Value is: ", this.value);
        if (this.value == 'High') {
            $("#priorityMessage").show();
        } else {
            $("#priorityMessage").hide();
        }
    });
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
