<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Debit Orders
                                <div class="page-title-subheading">Debit Order Batch Details.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${debitOrderBatch}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <span id="debitOrderBatchNumberSpan" style="display: none;"
                                      th:text="${debitOrderBatch.getBatchNumber()}"></span>
                                <span id="debitOrdersIdSpan" style="display: none;"
                                      th:text="${debitOrderBatch.getId()}"></span>
                                <a href="#" id="debitOrderActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right" th:if="${debitOrderBatch}">
                                    <!--<button data-toggle="modal" data-target="#paymentStatusHistoryModal"
                                            class="mb-2 mr-2 btn btn-primary">Status History
                                    </button>-->
                                    <a th:href="@{/debitorderreport/{batchId}(batchId=${debitOrderBatch.getId()})}"
                                       class="mb-2 mr-2 btn btn-success" target="_blank">Debit Order Report
                                    </a>
                                    <button th:if="${debitOrderBatch.getDebitOrderStatus().equals(T(zw.co.esolutions.zpas.enums.DebitOrderStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="submitDebitOrderTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Submit For Approval
                                    </button>
                                    <button
                                            th:if="${debitOrderBatch.getDebitOrderStatus().equals(T(zw.co.esolutions.zpas.enums.DebitOrderStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="approveDebitOrderTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Approve
                                    </button>
                                    <!--<button
                                            th:if="${debitOrderBatch.getDebitOrderStatus().equals(T(zw.co.esolutions.zpas.enums.DebitOrderStatus).PENDING_FI_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="initiateDebitOrderTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Initiate
                                    </button>-->
                                    <button
                                            th:if="${debitOrderBatch.getDebitOrderStatus().equals(T(zw.co.esolutions.zpas.enums.DebitOrderStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="rejectDebitOrderTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Reject
                                    </button>
                                    <button
                                            th:if="${debitOrderBatch.getDebitOrderStatus().equals(T(zw.co.esolutions.zpas.enums.DebitOrderStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="deleteDebitOrderTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div th:if="${debitOrderBatch}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Debit Order Information</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${debitOrderBatch.getBatchNumber()}">
                                                <th scope="row">Batch Number</th>
                                                <td th:text="${debitOrderBatch.getBatchNumber()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getBankSortCode()}">
                                                <th scope="row">Bank Sort Code</th>
                                                <td th:text="${debitOrderBatch.getBankSortCode()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getClientName()}">
                                                <th scope="row">Client Name</th>
                                                <td th:text="${debitOrderBatch.getClientName()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getReceiverID()}">
                                                <th scope="row">Destination BICFI</th>
                                                <td th:text="${debitOrderBatch.getReceiverID()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getTargetAccount()}">
                                                <th scope="row">Destination Account</th>
                                                <td th:text="${debitOrderBatch.getTargetAccount()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getTotalAmount()}">
                                                <th scope="row">Total Amount</th>
                                                <td class="text-left" th:if="${debitOrderBatch.getTotalAmount()}">
                                                    <span th:if="${debitOrderBatch.getCurrencyCode()}"
                                                          th:text="${debitOrderBatch.getCurrencyCode()} + ${moneyUtil.convertCentsToDollarsPatternNoCurrency(debitOrderBatch.getTotalAmount().longValue())}">
                                                    </span>
                                                    <span th:unless="${debitOrderBatch.getCurrencyCode()}"
                                                          th:text="'' + ${moneyUtil.convertCentsToDollarsPatternNoCurrency(debitOrderBatch.getTotalAmount().longValue())}">
                                                    </span>
                                                    <!--<span th:text="${moneyUtil.convertCentsToDollarsPatternNoCurrency(debitOrderBatch.getTotalAmount().longValue())}"></span>-->
                                                </td>
                                            </tr>



                                        <!--    <tr th:if="${debitOrderBatch.getTotalAmount()}">
                                                <th scope="row">Total Amount</th>
                                                <td th:text="${debitOrderBatch.getCurrencyCode()} + ${moneyUtil.convertCentsToDollarsPatternNoCurrency(debitOrderBatch.getTotalAmount().longValue())}"></td>
                                            </tr>
-->

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>

                                            <tr th:if="${debitOrderBatch.getDebitOrderStatus()}">
                                                <th scope="row">Debit Order Status</th>
                                                <td th:text="${debitOrderBatch.getDebitOrderStatus()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getFileID()}">
                                                <th scope="row">File ID</th>
                                                <td th:text="${debitOrderBatch.getFileID()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getProcessingDate()}">
                                                <th scope="row">Processing Date</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd-MM-yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(debitOrderBatch.getProcessingDate()))}"></td>
                                            </tr>

                                            <!--<tr th:if="${debitOrderBatch.getStatus()}">
                                                <th scope="row">Status</th>
                                                <td th:text="${debitOrderBatch.getStatus()}"></td>
                                            </tr>-->

                                            <!--<tr th:if="${debitOrderBatch.getCurrencyCode()}">
                                                <th scope="row">Currency Code</th>
                                                <td th:text="${debitOrderBatch.getCurrencyCode()}"></td>
                                            </tr>-->

                                            <tr th:if="${debitOrderBatch.getDescription()}">
                                                <th scope="row">Description</th>
                                                <td th:text="${debitOrderBatch.getDescription()}"></td>
                                            </tr>

                                            <tr th:if="${debitOrderBatch.getNarrative()}">
                                                <th scope="row">Narrative</th>
                                                <td th:text="${debitOrderBatch.getNarrative()}"></td>
                                            </tr>


                                            <tr th:if="${debitOrderBatch.getDateCreated()}">
                                                <th scope="row">Date Created</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd-MM-yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(debitOrderBatch.getDateCreated()))}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:unless="${debitOrderBatch}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find payment.</h2>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example"
                               class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Source BICFI</th>
                                <th>Source Name</th>
                                <th>Source Account</th><!--
                                <th>Destination BICFI</th>-->
                                <th>Currency Code</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Narrative</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row"
                                th:each="debitOrderBatchItem: ${debitOrderBatch.getDebitOrderBatchItems()}"
                                th:id="${debitOrderBatchItem.getId()}">
                                <!--<td>
                                    <a th:href="'/zpas/debitOrderBatchItems/view/' + ${debitOrderBatchItem.getId()}"
                                       th:text="${debitOrderBatchItem.getReference()}"></a>
                                </td>-->
                                <td th:text="${debitOrderBatchItem.getReference()}"></td>
                                <td th:text="${debitOrderBatchItem.getSourceBICFI()}"></td>
                                <td th:text="${debitOrderBatchItem.getSourceName()}"></td>
                                <td th:text="${debitOrderBatchItem.getSourceAccount()}"></td><!--
                                <td th:text="${debitOrderBatchItem.getDestinationSortCode()}"></td>
                                <td th:text="${debitOrderBatchItem.getDestinationAccount()}"></td>-->
                                <td th:text="${debitOrderBatchItem.getAmountCurrencyCode()}"></td>
                                <td th:text="${moneyUtil.convertCentsToDollarsPatternNoCurrency(debitOrderBatchItem.getAmount().longValue())}"></td>
                                <td th:text="${debitOrderBatchItem.getDescription()}"></td>
                                <td th:text="${debitOrderBatchItem.getNarrative()}"></td>
                                <td th:text="${debitOrderBatchItem.getItemStatus().name()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Reference</th>
                                <th>Source BICFI</th>
                                <th>Source Name</th>
                                <th>Source Account</th><!--
                                <th>Destination BICFI</th>-->
                                <th>Currency Code</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Narrative</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script type="text/javascript" src="/zpas/js/debitorders/debitorders.js"></script>

<!--End of scripts-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
