<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                </i>
                            </div>
                            <div>Debit Order Batches
                                <div class="page-title-subheading">Debit Order Batches</div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Debit Order Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <!--<li class="nav-item">
                                            <a class="nav-link" th:href="@{/payments/make-payment}">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>Make Payment</span>
                                            </a>
                                        </li>-->
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/debit-orders/upload}">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>Upload Debit Order Batch</span>
                                            </a>
                                        </li>
                                        <!--<li class="nav-item" data-toggle="modal"
                                            data-target="#filterPaymentsModal">
                                            <a class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>Filter/Search Payments</span>
                                            </a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${debitOrderBatches}" class="main-card mb-3 card">
                    <div class="card-header">
                        <h6 class="modal-title">Search Debit Order Batches</h6>
                      <!--  <div class="pull-right">
                            <a th:ref="@{/debit-orders/recent}" class="btn btn-primary">Recent Debit Orders</a>
                        </div>-->
                    </div>
                    <div class="card-body">
                        <form id="searchForm" class="" method="post" th:action="@{/debit-orders/}">
                            <div class="position-relative form-group">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <input class="form-control my-0 py-1 red-border" name="searchTerm"
                                           id="searchTerm" type="text"
                                           placeholder="Search by batch number, target account or status"
                                           aria-label="Search" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text red lighten-3" id="searchIcon"><i
                                                class="fas fa-search text-grey" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="input-group-append">
                                        <span>&nbsp;&nbsp;</span>
                                        <span class="input-group-text red lighten-3" data-toggle="modal"
                                              data-target="#filterPaymentsModal">
                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div th:if="${debitOrderBatches}" class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Batch Number</th>
                                <th>Processing Date</th>
                                <th>File ID</th>
                                <th>Client Name</th>
                                <th>Total Amount</th>
                                <th>Narrative</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="payment-row" th:each="debitOrderBatch: ${debitOrderBatches}"
                                th:id="${debitOrderBatch.getId()}">
                                <td>
                                    <a th:href="'/zpas/debit-orders/view/' + ${debitOrderBatch.getId()}"
                                       th:text="${debitOrderBatch.getBatchNumber()}"></a>
                                </td>
                                <td th:if="${debitOrderBatch.getProcessingDate()}">
                                    <span th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(debitOrderBatch.getProcessingDate()))}"></span>
                                </td>
                                <td th:unless="${debitOrderBatch.getProcessingDate()}">
                                    <span th:text="'---'"></span>
                                </td>
                                <td th:text="${debitOrderBatch.getFileID()}"></td>
                                <td th:text="${debitOrderBatch.getClientName()}"></td>
                                <!--                                <td th:text="${debitOrderBatch.getTargetAccount()}"></td>-->
                                <td th:text="${debitOrderBatch.getTotalAmount()}"></td>
                                <td th:text="${debitOrderBatch.getDescription()}"></td>
                                <td th:text="${debitOrderBatch.getDebitOrderStatus().name()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Batch Number</th>
                                <th>Processing Date</th>
                                <th>File ID</th>
                                <th>Client Name</th>
                                <th>Total Amount</th>
                                <th>Narrative</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div th:unless="${debitOrderBatches}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find debit order batches.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<!-- Filter Batches Modal-->
<div class="modal fade" id="filterPaymentsModal" tabindex="-1" role="dialog"
     aria-labelledby="filterPaymentsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title">Filter Batches</h6>
                <form class="" method="get" th:action="@{/debit-orders/search}">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <div class="position-relative form-group">
                                        <label for="startDate" class="">From</label>
                                        <input name="startDate" id="startDate" type="datetime-local" class="form-control">
                                        <small class="form-text text-danger">
                                            Filter debit order batches by their creation date.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <div class="position-relative form-group">
                                        <label for="endDate" class="">To</label>
                                        <input name="endDate" id="endDate" type="datetime-local" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative form-group">
                            <div class="text-right">
                                <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                        data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                    Filter
                                </button>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Batches Modal-->
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/payments/payments.js"></script>
<script>
    $("#debit-orders-link").addClass("mm-active");
    $("#debit-orders-link-manage").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
