<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-display1 icon-gradient bg-premium-dark">
                                </i>
                            </div>
                            <div>
                                Make a NSSA Payment
                                <div class="page-title-subheading">
                                    Capture the details or upload files (SFI, CSV or Excel).
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form method="post" class="forms-wizard-vertical" th:action="${'/zpas/nssa/payments'}" enctype="multipart/form-data">
                            <input style="display: none" type="text" id="itemsJson" name="itemsJson">

                            <div class="position-relative form-group row">
                                <div class="col-md-4" th:if="${account}">
                                    <label for="accountId" class="">Select Account</label>
                                    <select name="accountId" id="accountId" class="form-control" readonly>
                                        <option th:text="${account.identification.name} + ' (' + ${account.identification.number} + ' - ' + ${account.getFinancialInstitutionName()} + ')'"
                                                th:value="${clientAccount.id}" selected></option>
                                    </select>
                                </div>
                                <div class="col-md-4" th:unless="${account}">
                                    <label for="accountId" class="">Select Account</label>
                                    <select name="accountId" id="accountId" class="form-control">
                                        <option th:each="clientAccount: ${clientAccounts}"
                                                th:text="${clientAccount.identification.name} + ' (' + ${clientAccount.identification.number} + ' - ' + ${clientAccount.getFinancialInstitutionName()} + ')'"
                                                th:value="${clientAccount.id}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="apwcs" class="">APWCS</label>
                                    <input name="apwcs" id="apwcs" type="number" step="0.01" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label for="clientReference" class="">Client Reference</label>
                                    <textarea name="clientReference" id="clientReference" class="form-control"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="month">Contribution Month</label>
                                    <input name="month" id="month" type="month"
                                           class="form-control"/>
                                    <small class="form-text text-muted">Month for this contribution.</small>
                                </div>
                                <div class="col-md-4">
                                    <label for="scheduleFile" class="">Contributions File</label>
                                    <input name="scheduleFile" id="scheduleFile" type="file"
                                           class="form-control-file"
                                           data-max-file-size="100M" accept=".csv,.sfi">
                                    <small class="form-text text-muted">
                                        Pick a file. Only SFI and CSV formats supported.
                                    </small>
                                </div>
                            </div>
                            <div class="position-relative form-group row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>
<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#payments-link").addClass("mm-active");
    $("#nssa-payments-link-create").addClass("mm-active");
</script>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
