<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>Create Employee
                                <div class="page-title-subheading">Capture Employee details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button style="display: none" id="displaySSNErrorModalButton" data-toggle="modal" data-target="#ssnValidationModal"></button>

                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <span display="none" id="employeeIdSpan" th:text="${employeeId}"></span>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Create Employee</h5>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="/zpas/nssa-clients/employees" th:object="${employee}">
                                <div class="form-group"
                                     th:if="${T(zw.co.esolutions.zpas.utilities.enums.RoleLevel).CLIENT.name().equals(session.highestUserRoleLevel)}">
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label th:for="title"><span style="color: red">* </span>Title</label>
                                        <select id="title" name="title" class="form-control">
                                            <option th:each="title: ${titles}"
                                                    th:value="${title}"
                                                    th:text="${title.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ssn"><span style="color: red">* </span>SSN</label>
                                            <div>
                                                <input type="text" class="form-control" id="ssn" name="ssn"
                                                       placeholder="SSN" required>
                                                <span id="ssnAlertMsg" style="display: none; color: red;"><p>ssn invalid</p></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="firstName"><span style="color: red">* </span>First name</label>
                                            <div>
                                                <input type="text" class="form-control" id="firstName" name="firstName"
                                                       placeholder="First name" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="lastName"><span style="color: red">* </span>Last Name</label>
                                            <div>
                                                <input type="text" class="form-control" id="lastName" name="lastName"
                                                       placeholder="Last Name" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="otherNames">Other Names</label>
                                            <div>
                                                <input type="text" class="form-control" id="otherNames" name="otherNames"
                                                       placeholder="Other Names"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label th:for="gender"><span style="color: red">* </span>Gender</label>
                                            <select id="gender" name="gender" class="form-control">
                                                <option th:each="gender: ${genders}"
                                                        th:value="${gender}"
                                                        th:text="${gender.name()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="dateOfBirth"><span style="color: red">* </span>Date Of Birth</label>
                                        <input name="dateOfBirthString" id="dateOfBirth" type="date" class="form-control" required>
                                        <small class="form-text text-muted">Client's Date Of Birth</small>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label th:for="maritalStatus"><span style="color: red">* </span>Marital Status</label>
                                            <select id="maritalStatus" name="maritalStatus" class="form-control">
                                                <option th:each="maritalStatus: ${maritalStatuses}"
                                                        th:value="${maritalStatus}"
                                                        th:text="${maritalStatus.name()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="maidenName">Maiden Name</label>
                                            <div>
                                                <input type="text" class="form-control" id="maidenName" name="maidenName"
                                                       placeholder="Marital Status"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nationality"><span style="color: red">* </span>Nationality</label>
                                            <div>
                                                <input type="text" class="form-control" id="nationality" name="nationality"
                                                       placeholder="nationality" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nationalId"><span style="color: red">* </span>National ID</label>
                                            <div>
                                                <input type="nationalId" class="form-control" id="nationalId" name="nationalId" placeholder="National ID" required>
                                                <small id="identityCardNumberError" class="text-danger"></small>
                                                <small id="identityCardNumberInfo" class="text-success"></small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="birthCertificateNumber">Birth Certificate Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="birthCertificateNumber" name="birthCertificateNumber"
                                                       placeholder="Birth Cirtificate Number"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="citizenship">Citizenship</label>
                                            <div>
                                                <input type="text" class="form-control" id="citizenship" name="citizenship"
                                                       placeholder="Citizenship"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="passportNumber">Passport Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="passportNumber" name="passportNumber"
                                                       placeholder="Passport Number"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="driversLicenceNumber">Drivers Licence Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="driversLicenceNumber" name="driversLicenceNumber"
                                                       placeholder="Drivers Licence Number"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="occupationCategory"><span style="color: red">* </span>Occupation Category</label>
                                            <div>
                                                <input type="text" class="form-control" id="occupationCategory" name="occupationCategory"
                                                       placeholder="Occupation Category" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="occupation"><span style="color: red">* </span>Occupation</label>
                                            <div>
                                                <input type="text" class="form-control" id="occupation" name="occupation"
                                                       placeholder="Occupation" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="worksNumber">Work's Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="worksNumber" name="worksNumber"
                                                       placeholder="Work's number"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="businessPartnerNumber">Business Partner Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="businessPartnerNumber" name="businessPartnerNumber"
                                                       placeholder="Business Partner Number"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="workStationCity">Work Station City</label>
                                            <div>
                                                <input type="text" class="form-control" id="workStationCity" name="workStationCity"
                                                       placeholder="Work Station City"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ministry">Ministry</label>
                                            <div>
                                                <input type="text" class="form-control" id="ministry" name="ministry"
                                                       placeholder="Ministry"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label th:for="natureOfEmployment"><span style="color: red">* </span>Nature Of Employment Status</label>
                                            <select id="natureOfEmployment" name="natureOfEmployment" class="form-control">
                                                <option th:each="natureOfEmployment: ${naturesOfEmployment}"
                                                        th:value="${natureOfEmployment}"
                                                        th:text="${natureOfEmployment.name()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label th:for="statusOfEmployment"><span style="color: red">* </span>Status Of Employment</label>
                                            <select id="statusOfEmployment" name="statusOfEmployment" class="form-control">
                                                <option th:each="statusOfEmployment: ${statusesOfEmployment}"
                                                        th:value="${statusOfEmployment}"
                                                        th:text="${statusOfEmployment.name()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="employmentStartDate"><span style="color: red">* </span>Employment Start Date</label>
                                            <div>
                                                <input type="date" class="form-control" id="employmentStartDate" name="employmentStartDateString"
                                                       placeholder="Employment Start Date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="salaryOnCommencement"><span style="color: red">* </span>Salary On Commencement</label>
                                            <div>
                                                <input type="number" class="form-control" id="salaryOnCommencement" name="salaryOnCommencement" min="0"
                                                       placeholder="Salary On Commencement" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="flatName1">Flat Name 1</label>
                                            <div>
                                                <input type="text" class="form-control" id="flatName1" name="flatName1"
                                                       placeholder="Flat Name 1"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="flatName2">Flat Name 2</label>
                                            <div>
                                                <input type="text" class="form-control" id="flatName2" name="flatName2"
                                                       placeholder="Flat Name 2"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="streetNumber">Street Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="streetNumber" name="streetNumber"
                                                       placeholder="Street Number"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="streetName">Street Name</label>
                                            <div>
                                                <input type="text" class="form-control" id="streetName" name="streetName"
                                                       placeholder="Street Name"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="suburb">Suburb</label>
                                            <div>
                                                <input type="text" class="form-control" id="suburb" name="suburb"
                                                       placeholder="Suburb"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cityTown">City Or Town</label>
                                            <div>
                                                <input type="text" class="form-control" id="cityTown" name="cityTown"
                                                       placeholder="City Or Town"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="emailAddress"><span style="color: red">* </span>Email Address</label>
                                            <div>
                                                <input type="text" class="form-control" id="emailAddress" name="emailAddress"
                                                       placeholder="Email Address" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="boxBag">Box Or Bag</label>
                                            <div>
                                                <input type="text" class="form-control" id="boxBag" name="boxBag"
                                                       placeholder="Box Or Bag"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phoneNumber"><span style="color: red">* </span>Phone Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                                       placeholder="Phone Number" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="mobileNumber">Mobile Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                                                       placeholder="Mobile Number"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="website">Website</label>
                                            <div>
                                                <input type="text" class="form-control" id="website" name="website"
                                                       placeholder="Website"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="contactPerson">Contact Person</label>
                                            <div>
                                                <input type="text" class="form-control" id="contactPerson" name="contactPerson"
                                                       placeholder="Contact Person"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>

                                    <a type="button" class="btn btn-primary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ssnValidationModal" tabindex="-1" role="dialog"
     aria-labelledby="ssnValidationLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="row"><h5 class="menu-header-title text-capitalize text-primary">SSN Exists</h5></div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <tr>
                                <th>First Name</th>
                                <td id="firstNameValidation"></td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td id="lastNameValidation"></td>
                            </tr>
                            <tr>
                                <th>SSN</th>
                                <td id="ssnValidation"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info fade show" role="alert" id="ssnValidationMsg"></div>
                        </div>
                    </div>
                </div>


                <div class="d-block clearfix card-footer">
                    <div class="float-left">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                    <div class="float-right">
                        <!--<button class="btn-wide btn-shadow btn btn-primary btn-sm">View Person</button>
                        <button class="btn-wide btn-shadow btn btn-primary btn-sm">View Account</button>-->
                        <a class="btn btn-primary" style="color: white;" onclick="viewEmployee()">
                                        <span>
                                            <i class="fa fa-file-excel"></i>
                                        </span> View Employee
                        </a>
                    </div>
                </div>


                <!--<table class="mb-0 table table-bordered" id="mandateHolderTable"></table>-->
                <!--<div class="col-md-12">
                    <div class="text-right">
                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script type="text/javascript" src="/zpas/js/select2/select2.min.js"></script>

<script>
    <!--Validate the employee ssn-->
    $("#ssn").change("focusout", function () {

        var ssn = this.value;
        console.log("The captured value is " + ssn);

        $.ajax({
            url: "/zpas/nssa-clients/validate/" + ssn,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log("The ssn response is " + JSON.stringify(data));
                if (data == false) {

                    console.log("The ssn is not in the system. Continue ...");

                } else {
                    $.getJSON("/zpas/nssa-clients/retrieve/employee-by-ssn/" + ssn, {
                        ajax:true
                    }, function (data) {
                        $("#displaySSNErrorModalButton").click();
                        $("#ssnValidationMsg").html(data.message);

                        $("#firstNameValidation").html(data.firstName);
                        $("#lastNameValidation").html(data.lastName);
                        $("#ssnValidation").html(data.ssn);
                        $("#employeeIdSpan").html(data.employeeId);
                    });
                }
            },
            error: function (data) {
                console.log("An error occurred while validating the ssn " + data);
            }
        });
    });

    $('#ssn').change("focusout",function () {
        var ssn = this.value;
        console.log('log value from page: '+ssn);
        $.getJSON('/zpas/nssa-clients/validate/ssn-format/'+ssn, {ajax: true}, function(data) {
            if(data ==false){
                $('#submitButton').attr("disabled", true);
                $('#ssnAlertMsg').show();
                console.log('ssn is invalid');
            }else {
                $('#submitButton').attr("disabled", false);
                $('#ssnAlertMsg').hide();
                console.log('ssn is valid');
            }
        });

    })
</script>
<script>
    function viewEmployee() {
        var employeeId = $("#employeeIdSpan").text();

        console.log("Employee Id is :" + employeeId);

        document.location.href = "/zpas/nssa-clients/details/" + employeeId ;

    }
</script>

<script>
    $("#nationalId").on("input", function() {
        var nationalId = this.value;
        if(nationalId) {
            $.ajax({
                url: "/zpas/api/json/validation/national-id",
                method: "get",
                contentType: "application/json",
                dataType: "json",
                data: {
                    nationalId: nationalId
                },
                success: function (data) {
                    if (data.valid) {
                        $("#identityCardNumberInfo").text("National ID number is valid");
                        $("#identityCardNumberError").text("");
                        $("#submitButton").prop("disabled", false);

                    } else {
                        $("#identityCardNumberInfo").text("");
                        $("#identityCardNumberError").text("National ID \"" + nationalId + "\" is invalid");
                        $("#submitButton").prop("disabled", true);
                    }
                },
                error: function (data) {
                    console.log("An error occurred. Failed to get National Id number validation response. Error: ", JSON.stringify(data));
                }
            });
        } else {
            $("#identityCardNumberError").text("This field is required.");
            $("#submitButton").prop("disabled", true);
        }
    });
</script>

</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
