<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Contribution Schedule
                                <div class="page-title-subheading">Contribution Schedule.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                            <div class="d-inline-block dropdown">

                                <span style="display: none" id="contributionScheduleIdForModal" th:text="${contributionSchedule.id}"></span>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>Back</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${contributionSchedule}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <span id="contributionScheduleIdSpan" style="display: none;" th:text="${contributionSchedule.getId()}"></span>
                                <span th:if="${contributionSchedule.month}" id="contributionMonthSpan" style="display: none;" th:text="${T(java.time.format.DateTimeFormatter).ofPattern('MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(contributionSchedule.getMonth()))}"></span>
                                <span th:unless="${contributionSchedule.month}" id="contributionMonthSpan" style="display: none;" th:text="${'Not Specified'}"></span>
                                <a href="#" id="contributionScheduleActionLink" style="display: none;"><span>click</span></a>
                                <div class="pull-right" th:if="${contributionSchedule}">
                                    <button th:if="${contributionSchedule.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="submitContributionScheduleTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Submit For Approval
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_APPROVE_PAYMENT')"
                                            th:if="${contributionSchedule.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="approveContributionScheduleTriggerButton"
                                            class="mb-2 mr-2 btn btn-primary">Approve
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_REJECT_PAYMENT')"
                                            th:if="${contributionSchedule.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="rejectContributionScheduleTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Reject
                                    </button>
                                    <button sec:authorize="hasAuthority('ROLE_DELETE_PAYMENT')"
                                            th:if="${contributionSchedule.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                            data-toggle="modal" data-target="#confirmationModal"
                                            id="deleteContributionScheduleTriggerButton"
                                            class="mb-2 mr-2 btn btn-danger">Delete
                                    </button>
                                    <a th:href="'/zpas/nssa/history/all'">Back</a>
                                </div>
                                <div class="pull-right" th:unless="${contributionSchedule}">
                                    <a th:href="'/zpas/nssa/payments/history/all'">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${contributionSchedule}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Contribution Schedule Information</h5>
                                <div class="row">
                                    <div class="offset-2 col-lg-8">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${contributionSchedule.paymentReference}">
                                                <th scope="row">Related Payment Reference</th>
                                                <td>
                                                    <a th:href="'/zpas/payments/view/' + ${contributionSchedule.getPaymentId()}"
                                                       th:text="${contributionSchedule.paymentReference}"></a>
                                                </td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.destinationBank}">
                                                <th scope="row">Destination Bank</th>
                                                <td th:text="${contributionSchedule.destinationBank}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.entityStatus}">
                                                <th scope="row">Status</th>
                                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(contributionSchedule.entityStatus)}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.clientReference}">
                                                <th scope="row">Client Reference</th>
                                                <td th:text="${contributionSchedule.clientReference}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.account}">
                                                <th scope="row">Source Account</th>
                                                <td th:text="${contributionSchedule.account.getName() + ' (' + contributionSchedule.account.getNumber() + ')'}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Number of items</th>
                                                <td th:text="${contributionSchedule.contributionScheduleItems.size()}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getMonth()}">
                                                <th scope="row">Contribution Month</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(contributionSchedule.getMonth()))}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getDateCreated()}">
                                                <th scope="row">Created On</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(contributionSchedule.getDateCreated()))}"></td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getReceiptNumber()}">
                                                <th scope="row">Receipt Number</th>
                                                <td>
<!--                                                    <a th:href="${nssaContributionsSystemBaseUrl} + '/nssa-clients/download/' + ${contributionSchedule.getReceiptFileName()}">Download Receipt [<span th:text="${contributionSchedule.getReceiptNumber()}"></span>]</a>-->
                                                    <a th:href="'/zpas/api/nssa/receipt/download/' + ${contributionSchedule.getReceiptFileName()}">Download Receipt [<span th:text="${contributionSchedule.getReceiptNumber()}"></span>]</a>
                                                </td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getAmount()}">
                                                <th scope="row">Total Amount</th>
                                                <td>
                                                    <div th:if="${contributionSchedule.getAmount()}">
                                                        <span th:if="${contributionSchedule.getAmount().getCurrency()}"
                                                              th:text="${contributionSchedule.getAmount().getCurrency().getCodeName()}"></span>
                                                        <span th:if="${contributionSchedule.getAmount().getAmount()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionSchedule.getAmount().getAmount().doubleValue())}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getPobs()}">
                                                <th scope="row">POBS</th>
                                                <td>
                                                    <div th:if="${contributionSchedule.getAmount()}">
                                                        <span th:if="${contributionSchedule.getAmount().getCurrency()}"
                                                              th:text="${contributionSchedule.getAmount().getCurrency().getCodeName()}"></span>
                                                        <span th:if="${contributionSchedule.getPobs()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionSchedule.getPobs())}"></span>
                                                    </div>
                                                    <div th:unless="${contributionSchedule.getAmount()}">
                                                        <span th:if="${contributionSchedule.getPobs()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionSchedule.getPobs())}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr th:if="${contributionSchedule.getApwcs()}">
                                                <th scope="row">APWCS</th>
                                                <td>
                                                    <div th:if="${contributionSchedule.getAmount()}">
                                                        <span th:if="${contributionSchedule.getAmount().getCurrency()}"
                                                              th:text="${contributionSchedule.getAmount().getCurrency().getCodeName()}"></span>
                                                        <span th:if="${contributionSchedule.getApwcs() != null}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionSchedule.getApwcs())}"></span>
                                                    </div>
                                                    <div th:unless="${contributionSchedule.getAmount()}">
                                                        <span th:if="${contributionSchedule.getApwcs() != null}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionSchedule.getApwcs())}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${contributionSchedule}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find Contribution Schedule.</h2>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>National ID</th>
                                <th>SSN</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="contributionSchedule-row"
                                th:each="contributionScheduleItem: ${contributionSchedule.contributionScheduleItems}"
                                th:id="${contributionScheduleItem.getId()}">
                                <td>
                                    <a th:href="'/zpas/nssa/payments/view/' + ${contributionScheduleItem.getId()}"
                                       th:text="${contributionScheduleItem.getEmployee().getFullName()}"></a>
                                </td>
                                <td th:text="${contributionScheduleItem.nationalId}"></td>
                                <td th:text="${contributionScheduleItem.ssn}"></td>
                                <td class="text-right" th:if="${contributionScheduleItem.getAmount()}">
                                    <span th:if="${contributionScheduleItem.getAmount().getCurrency()}"
                                          th:text="${contributionScheduleItem.getAmount().getCurrency().getCodeName()}"></span>
                                    <span th:unless="${contributionScheduleItem.getAmount().getCurrency()}"
                                          th:text="''"></span>
                                    <span th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionScheduleItem.getAmount().getAmount().doubleValue())}"></span>
                                </td>
                                <td th:text="${T(zw.co.esolutions.zpas.utilities.util.StringUtil).formatCamelCaseToSpacedString(contributionScheduleItem.getEntityStatus())}"></td>
                                <td>
                                    <a th:href="'/zpas/nssa/payments/view/item/' + ${contributionScheduleItem.getId()}"
                                       th:text="'Details'"></a>
                                </td>

                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>National ID</th>
                                <th>SSN</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<!--Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
                <span id="actionSpan" style="display: none;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmActionButton" class="btn btn-primary" data-dismiss="modal">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End Confirmation Modal -->

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<script type="text/javascript" src="/zpas/js/nssa/schedules.js"></script>
<!--End of scripts-->
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
