<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="main/general.html :: headIncludes">
    <style>
        /* Signature table styles */

        hr.style-three {
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

        hr.style-three:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
    </style>

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                                </i>
                            </div>
                            <div>Contribution Schedule Item
                                <div class="page-title-subheading">Contribution Schedule Item.
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">


                            <div class="d-inline-block dropdown">

                                <span style="display: none" id="contributionScheduleItemIdForModal" th:text="${contributionScheduleItem.id}"></span>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>Back</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${message}">
                            <h5 th:text="${message}"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:if="${error}">
                            <h5 class="text-danger" th:text="${error}"/>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${contributionScheduleItem}">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="pull-right" th:if="${contributionScheduleItem}">
                                    <a th:href="'/zpas/nssa/payments/view/' + ${contributionScheduleItem.contributionSchedule.getId()}">Back</a>
                                </div>
                                <div class="pull-right" th:unless="${contributionScheduleItem}">
                                    <a th:href="'/zpas/nssa/payments/view/' + ${contributionScheduleItem.contributionSchedule.getId()}">View Contribution Schedule</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${contributionScheduleItem}" class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">Contribution Schedule Information</h5>
                                <div class="row">
                                    <div class="offset-2 col-lg-8">
                                        <table class="mb-0 table table-bordered">
                                            <tbody>
                                            <tr th:if="${contributionScheduleItem.contributionSchedule}">
                                                <th scope="row">Related Payment Reference</th>
                                                <td>
                                                    <a th:href="'/zpas/nssa/payments/view/' + ${contributionScheduleItem.contributionSchedule.getId()}"
                                                       th:text="'View Contribution Schedule'"></a>
                                                </td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.employee.getFullName()}">
                                                <th scope="row">Employee Name</th>
                                                <td th:text="${contributionScheduleItem.employee.getFullName()}"></td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.nationalId}">
                                                <th scope="row">National ID</th>
                                                <td th:text="'National ID'"></td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.ssn}">
                                                <th scope="row">SSN</th>
                                                <td th:text="${contributionScheduleItem.ssn}"></td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.contributionSchedule}">
                                                <th scope="row">Contribution Month</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('MMMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(contributionScheduleItem.contributionSchedule.getMonth()))}"></td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.getDateCreated()}">
                                                <th scope="row">Created On</th>
                                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(contributionScheduleItem.getDateCreated()))}"></td>
                                            </tr>
                                            <tr th:if="${contributionScheduleItem.contributionSchedule.getAmount()}">
                                                <th scope="row">Amount</th>
                                                <td>
                                                    <div th:if="${contributionScheduleItem.contributionSchedule}">
                                                        <span th:if="${contributionScheduleItem.contributionSchedule.getAmount().getCurrency()}"
                                                              th:text="${contributionScheduleItem.contributionSchedule.getAmount().getCurrency().getCodeName()}"></span>
                                                        <span th:if="${contributionScheduleItem.getPobs()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionScheduleItem.getPobs())}"></span>
                                                    </div>
                                                    <div th:unless="${contributionScheduleItem.contributionSchedule}">
                                                        <span th:if="${contributionScheduleItem.getPobs()}"
                                                              th:text="${T(zw.co.esolutions.zpas.utilities.util.MoneyUtil).convertDollarsToPattern(contributionScheduleItem.getPobs())}"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${contributionScheduleItem}" class="row">
                    <div class="col-md-12">
                        <div>
                            <h2>Sorry, could not find Contribution Schedule Item.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<script type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/zpas/js/sweetalert/sweetalert.min.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
</body>
</html>
