<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>View Employee Details
                                <div class="page-title-subheading">View Employee Details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <!--<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Employee Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/profile/manage}">
                                                <i class="nav-link-icon lnr-list"></i>
                                                <span>
                                                        Manage Profiles
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->


                                <a id="approveEmployeeLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-primary"
                                   th:if="${employee.getEntityStatus() != null and (employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT) ||
                                   employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_EDIT_APPROVAL) || employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL))}"
                                   data-toggle="modal" data-target="#approveEmployeeModal">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span> Approve
                                </a>
                                <a id="rejectEmployeeLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-warning"
                                   th:if="${employee.getEntityStatus() != null and (employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT) ||
                                   employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_EDIT_APPROVAL) ||
                                   employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL))}"
                                   data-toggle="modal" data-target="#rejectEmployeeModal">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Reject
                                </a>

                                <!--and (employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL) ||
                                   employee.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT))-->
                                <a id="deleteEmployeeLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-danger"
                                   th:if="${employee.getEntityStatus() != null }"
                                   data-toggle="modal" data-target="#deleteEmployeeModal">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Delete
                                </a>

                                <!--<button data-toggle="modal" data-target="#createEmployeeDependentModal" class="mb-2 mr-2 btn btn-primary">
                                    Add Dependent
                                </button>
                                <button type="button" class="btn mr-2 mb-2 btn-primary" role="button"
                                        data-toggle="modal" data-target="#editEmployeeDetails" id="editEmployeeButton">
                                    Edit
                                </button>-->
                                <a href="#" data-toggle="modal" data-target="#createEmployeeDependentModal" class="btn btn-primary">
                                        Add Dependent
                                </a>
                                <a href="#" data-toggle="modal" data-target="#editEmployeeDetails" id="editEmployeeButton" class="btn btn-primary">
                                        Edit Employee
                                </a>


                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Employee Details</h5>
                        <span id="employeeId" th:text="${employee.id}" style="display: none"></span>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="mb-0 table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <td th:id="'title' + ${employee.getId()}"
                                            th:text="${employee.title}"></td>
                                    </tr>

                                    <tr>
                                        <th>SSN</th>
                                        <td th:id="'ssn' + ${employee.getId()}" th:text="${employee.ssn}"></td>
                                    </tr>

                                    <tr>
                                        <th>First Name</th>
                                        <td th:id="'firstName' + ${employee.getId()}"
                                            th:text="${employee.firstName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Last Name</th>
                                        <td th:id="'lastName' + ${employee.getId()}"
                                            th:text="${employee.lastName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Other Names</th>
                                        <td th:id="'otherNames' + ${employee.getId()}"
                                            th:text="${employee.otherNames}"></td>
                                    </tr>

                                    <tr>
                                        <th>Gender</th>
                                        <td th:id="'gender' + ${employee.getId()}"
                                            th:text="${employee.gender}"></td>
                                    </tr>

                                    <!--<tr>
                                        <th>Date Of Birth</th>
                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(employee.dateOfBirth))}"></td>

                                    </tr>-->

                                    <tr>
                                        <th>Marital Status</th>
                                        <td th:id="'maritalStatus' + ${employee.getId()}"
                                            th:text="${employee.maritalStatus}"></td>
                                    </tr>

                                    <tr>
                                        <th>Maiden Name</th>
                                        <td th:id="'maidenName' + ${employee.getId()}"
                                            th:text="${employee.maidenName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Nationality</th>
                                        <td th:id="'nationality' + ${employee.getId()}"
                                            th:text="${employee.nationality}"></td>
                                    </tr>


                                    <tr>
                                        <th>National ID</th>
                                        <td th:id="'nationalId' + ${employee.getId()}"
                                            th:text="${employee.nationalId}"></td>
                                    </tr>

                                    <tr>
                                        <th>Birth Certificate Number</th>
                                        <td th:id="'birthCertificateNumber' + ${employee.getId()}"
                                            th:text="${employee.birthCertificateNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Citizenship</th>
                                        <td th:id="'citizenship' + ${employee.getId()}"
                                            th:text="${employee.citizenship}"></td>
                                    </tr>

                                    <tr>
                                        <th>Passport Number</th>
                                        <td th:id="'passportNumber' + ${employee.getId()}"
                                            th:text="${employee.passportNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Drivers Licence Number</th>
                                        <td th:id="'driversLicenceNumber' + ${employee.getId()}"
                                            th:text="${employee.driversLicenceNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td th:id="'entityStatus' + ${employee.getId()}"
                                            th:text="${employee.entityStatus}"></td>
                                    </tr>

                                   <!-- <tr>
                                        <th>Date Created</th>
                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(employee.dateCreated))}"></td>
                                    </tr>-->

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="mb-0 table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Occupation Category</th>
                                        <td th:id="'occupationCategory' + ${employee.getId()}"
                                            th:text="${employee.occupationCategory}"></td>
                                    </tr>

                                    <tr>
                                        <th>Occupation</th>
                                        <td th:id="'occupation' + ${employee.getId()}"
                                            th:text="${employee.occupation}"></td>
                                    </tr>

                                    <tr>
                                        <th>Worker's Number</th>
                                        <td th:id="'worksNumber' + ${employee.getId()}"
                                            th:text="${employee.worksNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Work Station City</th>
                                        <td th:id="'workStationCity' + ${employee.getId()}"
                                            th:text="${employee.workStationCity}"></td>
                                    </tr>

                                    <tr>
                                        <th>Ministry</th>
                                        <td th:id="'ministry' + ${employee.getId()}"
                                            th:text="${employee.ministry}"></td>
                                    </tr>

                                    <tr>
                                        <th>Nature Of Employment</th>
                                        <td th:id="'natureOfEmployment' + ${employee.getId()}"
                                            th:text="${employee.natureOfEmployment}"></td>
                                    </tr>

                                    <tr>
                                        <th>Status Of Employment</th>
                                        <td th:id="'statusOfEmployment' + ${employee.getId()}"
                                            th:text="${employee.statusOfEmployment}"></td>
                                    </tr>

                                    <!--<tr>
                                        <th>Employment Start Date</th>
                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(employee.employmentStartDate))}"></td>
                                    </tr>-->

                                    <tr>
                                        <th>Salary On Commencement</th>
                                        <td th:id="'salaryOnCommencement' + ${employee.getId()}"
                                            th:text="${employee.salaryOnCommencement}"></td>
                                    </tr>

                                    <tr>
                                        <th>Flat Name 1</th>
                                        <td th:id="'flatName1' + ${employee.getId()}"
                                            th:text="${employee.flatName1}"></td>
                                    </tr>

                                    <tr>
                                        <th>Flat Name 2</th>
                                        <td th:id="'flatName2' + ${employee.getId()}"
                                            th:text="${employee.flatName2}"></td>
                                    </tr>

                                    <tr>
                                        <th>Street Number</th>
                                        <td th:id="'streetNumber' + ${employee.getId()}"
                                            th:text="${employee.streetNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Street Name</th>
                                        <td th:id="'streetName' + ${employee.getId()}"
                                            th:text="${employee.streetName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Suburb</th>
                                        <td th:id="'suburb' + ${employee.getId()}" th:text="${employee.suburb}"></td>
                                    </tr>

                                    <tr>
                                        <th>City Or Town</th>
                                        <td th:id="'cityTown' + ${employee.getId()}"
                                            th:text="${employee.cityTown}"></td>
                                    </tr>

                                    <tr>
                                        <th>Email Address</th>
                                        <td th:id="'emailAddress' + ${employee.getId()}"
                                            th:text="${employee.emailAddress}"></td>
                                    </tr>

                                    <tr>
                                        <th>Box Or Bag</th>
                                        <td th:id="'boxBag' + ${employee.getId()}" th:text="${employee.boxBag}"></td>
                                    </tr>

                                    <tr>
                                        <th>Phone Number</th>
                                        <td th:id="'phoneNumber' + ${employee.getId()}"
                                            th:text="${employee.phoneNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Mobile Number</th>
                                        <td th:id="'mobileNumber' + ${employee.getId()}"
                                            th:text="${employee.mobileNumber}"></td>
                                    </tr>

                                    <tr>
                                        <th>Website</th>
                                        <td th:id="'website' + ${employee.getId()}" th:text="${employee.website}"></td>
                                    </tr>

                                    <tr>
                                        <th>Contact Person</th>
                                        <td th:id="'contactPerson' + ${employee.getId()}"
                                            th:text="${employee.contactPerson}"></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6>Employee Dependents</h6>
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>SSN</th>
                                <th>National ID</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="contributionSchedule-row"
                                th:each="employeeDependent: ${employeeDependents}"
                                th:id="${employeeDependent.getId()}">
                                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(employeeDependent.getDateCreated()))}"></td>
                                <td th:text="${employeeDependent.getFirstName()}"></td>
                                <td th:text="${employeeDependent.getLastName()}"></td>
                                <td th:text="${employeeDependent.getSsn()}"></td>
                                <td>
                                    <a th:href="'/zpas/nssa-clients/view/employee/dependent/' + ${employeeDependent.getId()}"
                                       th:text="${employeeDependent.getNationalId()}"></a>
                                </td>
                                <!--<td th:text="${employeeDependent.getNationalId()}"></td>-->
                                <td th:text="${employeeDependent.getEntityStatus()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Date Created</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>SSN</th>
                                <th>National ID</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>


<!--Start of Employee Dependent Modal-->
<div class="modal fade" id="createEmployeeDependentModal" tabindex="-1" role="dialog"
     aria-labelledby="createEmployeeDependentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createEmployeeDependentModalLabel">Add Employee Dependent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form class="col-md-10 mx-auto" method="post" action="/zpas/nssa-clients/employee/dependents">
                            <div class="form-group"
                                 th:if="${T(zw.co.esolutions.zpas.utilities.enums.RoleLevel).CLIENT.name().equals(session.highestUserRoleLevel)}">
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label th:for="dependentType"><span style="color: red">* </span>select dependent type</label>
                                            <select id="dependentType" name="dependentType" class="form-control">
                                                <option th:each="dependentType: ${dependentTypes}"
                                                        th:value="${dependentType}"
                                                        th:text="${dependentType}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label th:for="title"><span style="color: red">* </span>Title</label>
                                        <select id="title" name="title" class="form-control">
                                            <option th:each="title: ${titles}"
                                                    th:value="${title}"
                                                    th:text="${title}"></option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="lastName"><span style="color: red">* </span>Last Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   placeholder="Last Name" required>
                                        </div>
                                        <div>
                                            <input type="text" style="display: none" id="employeeid" name="employeeid" th:value="${employee.getId()}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstName"><span style="color: red">* </span>First Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                   placeholder="First Name" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="otherNames">Other Names</label>
                                        <div>
                                            <input type="text" class="form-control" id="otherNames" name="otherNames"
                                                   placeholder="Other Names"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label th:for="gender"><span style="color: red">* </span>Gender</label>
                                            <select id="gender" name="gender" class="form-control">
                                                <option th:each="gender: ${genders}"
                                                        th:value="${gender}"
                                                        th:text="${gender}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dateOfBirth"><span style="color: red">* </span>Date Of Birth</label>
                                        <input name="dateOfBirthString" id="dateOfBirth" type="date" class="form-control" required>
                                        <small class="form-text text-muted">Client's Date Of Birth</small>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nationality"><span style="color: red">* </span>Nationality</label>
                                        <div>
                                            <input type="text" class="form-control" id="nationality" name="nationality"
                                                   placeholder="Nationality" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="nationalId"><span style="color: red">* </span>National ID</label>
                                            <div>
                                                <input type="text" class="form-control" id="nationalId" name="nationalId"
                                                       placeholder="Nation ID" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <!--<div class="form-group">
                                        <label>Education</label>
                                        <div>
                                            <span><p>YES</p></span><input type="radio" class="form-control" id="isEducated" name="education"
                                                   placeholder="Education" value="TRUE"/>
                                            <span><p>NO</p></span><input type="radio" class="form-control" id="notEducated" name="education"
                                                   placeholder="Education" value="FALSE"/>
                                        </div>
                                    </div>-->
                                    <fieldset class="position-relative form-group">
                                        <label for="nationalId">Is Educated</label>
                                        <div class="position-relative form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" id="isEducated" name="education" placeholder="Education" value="TRUE"> YES
                                            </label>
                                        </div>
                                        <div class="position-relative form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" id="notEducated" name="education" placeholder="Education" value="FALSE">NO
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-4">
                                    <!--<div class="form-group">
                                        <label>Disabled</label>
                                        <div>
                                            <span><p>YES</p></span><input type="radio" class="form-control" id="isDisabled" name="disable"
                                                   placeholder="Disabled" value="TRUE"/>
                                            <span><p>NO</p></span><input type="radio" class="form-control" id="notDisabled" name="disable"
                                                   placeholder="Disabled" value="FALSE"/>
                                        </div>
                                    </div>-->
                                    <fieldset class="position-relative form-group">
                                        <label for="nationalId">Disabled</label>
                                        <div class="position-relative form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" id="isDisabled" name="disable"
                                                       placeholder="Disabled" value="TRUE"> YES
                                            </label>
                                        </div>
                                        <div class="position-relative form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" id="notDisabled" name="disable"
                                                       placeholder="Disabled" value="FALSE">NO
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="ssn">SSN</label>
                                            <div>
                                                <input type="text" class="form-control" id="ssn" name="ssn"
                                                       placeholder="SSN"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dateOfMarriage">Date Of Marriage</label>
                                        <input name="dateOfMarriageString" id="dateOfMarriage" type="date" class="form-control"/>
                                        <small class="form-text text-muted">Dependent's Date Of Marriage</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="passportNumber">Passport Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="passportNumber" name="passportNumber"
                                                   placeholder="Passport Number"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="driversLicence">Drivers Licence</label>
                                        <div>
                                            <input type="text" class="form-control" id="driversLicence" name="driversLicence"
                                                   placeholder="Drivers Licence"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--End of Employee Dependent Modal-->

<div class="modal fade" id="approveEmployeeModal" tabindex="-1" role="dialog"
     aria-labelledby="approveEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="approveEmployeeTitle">Confirm Approve</strong></h6>
                <form class="" method="post" name="approveEmployeeForm" id="approveEmployeeForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to approve?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitApproveEmployee" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nssa-clients/approve/{id}(id=${employee.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectEmployeeModal" tabindex="-1" role="dialog"
     aria-labelledby="rejectEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="rejectEmployeeTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectEmployeeForm" id="rejectEmployeeForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitRejectEmployee" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nssa-clients/reject/{id}(id=${employee.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="deleteEmployeeTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectEmployeeForm" id="deleteEmployeeForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitDeleteEmployee" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nsaa-clients/delete/{id}(id=${employee.id})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Start of edit employee modal-->
<div class="modal fade" id="editEmployeeDetails" tabindex="-1" role="dialog" aria-labelledby="editEmployeeDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Employee Details</strong></h6>
                <form class="" method="post" name="editEmployeeDetailForm" id="editEmployeeDetailForm"
                      action="/zpas/nssa-clients/employees/edit">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label th:for="editTitle"><span style="color: red">* </span>Title</label>
                                        <select id="editTitle" name="title" class="form-control">
                                            <option th:each="title: ${titles}"
                                                    th:value="${title}"
                                                    th:text="${title.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="editSSN"><span style="color: red">* </span>SSN</label>
                                        <div>
                                            <input type="text" class="form-control" id="editSSN" name="ssn"
                                                   placeholder="SSN" required>
                                        </div>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editLastName">Last Names</label>
                                        <input type="text" class="form-control" id="editLastName" name="lastName"
                                               required>
                                        <small class="form-text text-muted"> Last Name
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editFirstName">First Names</label>
                                        <input type="text" class="form-control" id="editFirstName" name="firstName"
                                               required>
                                        <small class="form-text text-muted"> First Names
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editOtherNames">Other Names</label>
                                        <div>
                                            <input type="text" class="form-control" id="editOtherNames" name="otherNames"
                                                   placeholder="Other Names"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="form-group">
                                        <label th:for="editGender"><span style="color: red">* </span>Gender</label>
                                        <select id="editGender" name="gender" class="form-control">
                                            <option th:each="gender: ${genders}"
                                                    th:value="${gender}"
                                                    th:text="${gender.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="editMaritalStatus"><span style="color: red">* </span>Marital Status</label>
                                        <select id="editMaritalStatus" name="maritalStatus" class="form-control">
                                            <option th:each="maritalStatus: ${maritalStatuses}"
                                                    th:value="${maritalStatus}"
                                                    th:text="${maritalStatus.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="editMaidenName">Maiden Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="editMaidenName" name="maidenName"
                                                   placeholder="Marital Status"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editNationalId"><span style="color: red">* </span>National ID</label>
                                        <div>
                                            <input type="nationalId" class="form-control" id="editNationalId" name="nationalId" placeholder="National ID" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editBirthCertificateNumber">Birth Certificate Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="editBirthCertificateNumber" name="birthCertificateNumber"
                                                   placeholder="Birth Cirtificate Number"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editCitizenship">Citizenship</label>
                                        <div>
                                            <input type="text" class="form-control" id="editCitizenship" name="citizenship"
                                                   placeholder="Citizenship"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editPassportNumber">Passport Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="editPassportNumber" name="passportNumber"
                                                   placeholder="Passport Number"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editDriversLicenceNumber">Drivers Licence Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="editDriversLicenceNumber" name="driversLicenceNumber"
                                                   placeholder="Drivers Licence Number"/>
                                        </div>
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for="editEmailAddress"><span style="color: red">* </span>Email Address</label>
                                        <input type="email" class="form-control" id="editEmailAddress" name="emailAddress" required>
                                        <small class="form-text text-muted"> Email Address
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editOccupationCategory"><span style="color: red">* </span>Occupation Category</label>
                                        <div>
                                            <input type="text" class="form-control" id="editOccupationCategory" name="occupationCategory"
                                                   placeholder="Occupation Category" required>
                                        </div>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editOccupation"><span style="color: red">* </span>Occupation</label>
                                        <input type="text" class="form-control" id="editOccupation" name="occupation" required>
                                        <small class="form-text text-muted"> Occupation
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editWorksNumber">Work's Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="editWorksNumber" name="worksNumber"
                                                   placeholder="Work's number"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editWorkStationCity">Work Station City</label>
                                        <div>
                                            <input type="text" class="form-control" id="editWorkStationCity" name="workStationCity"
                                                   placeholder="Work Station City"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editMinistry">Ministry</label>
                                        <div>
                                            <input type="text" class="form-control" id="editMinistry" name="ministry"
                                                   placeholder="Ministry"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="editNatureOfEmployment"><span style="color: red">* </span>Nature Of Employment Status</label>
                                        <select id="editNatureOfEmployment" name="natureOfEmployment" class="form-control">
                                            <option th:each="natureOfEmployment: ${naturesOfEmployment}"
                                                    th:value="${natureOfEmployment}"
                                                    th:text="${natureOfEmployment.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="editStatusOfEmployment"><span style="color: red">* </span>Status Of Employment</label>
                                        <select id="editStatusOfEmployment" name="statusOfEmployment" class="form-control">
                                            <option th:each="statusOfEmployment: ${statusesOfEmployment}"
                                                    th:value="${statusOfEmployment}"
                                                    th:text="${statusOfEmployment.name()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="editSalaryOnCommencement"><span style="color: red">* </span>Salary On Commencement</label>
                                        <div>
                                            <input type="text" class="form-control" id="editSalaryOnCommencement" name="salaryOnCommencement"
                                                   placeholder="Salary On Commencement" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="position-relative form-group">
                                        <label for="editMobileNumber">Mobile Number</label>
                                        <input type="number" class="form-control" id="editMobileNumber"
                                               name="mobileNumber" >
                                        <small class="form-text text-muted"> Mobile Number
                                        </small>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editPhoneNumber"><span style="color: red">* </span>Phone Number</label>
                                        <input type="number" class="form-control" id="editPhoneNumber"
                                               name="phoneNumber" required>
                                        <small class="form-text text-muted"> Phone Number
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editDateOfBirth"><span style="color: red">* </span>Date Of Birth</label>
                                        <input name="dateOfBirthString" id="editDateOfBirth" type="date" class="form-control" required>
                                        <small class="form-text text-muted">Client's Date Of Birth</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editEmploymentStartDate"><span style="color: red">* </span>Employment Start Date</label>
                                        <div>
                                            <input type="date" class="form-control" id="editEmploymentStartDate" name="employmentStartDateString"
                                                   placeholder="Employment Start Date" required>
                                        </div>
                                    </div>

                                </div>


                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#profiles-link").addClass("mm-active");
    $("#profiles-link-users").addClass("mm-active");
</script>

<script>
    $("#submitApproveEmployee").click(function () {
        var id = $("#employeeId").text();
        $("#approveEmployeeLink").prop("href", "/zpas/nssa-clients/approve/" + id);
        $("#approveEmployeeLink").find("span").click();
    });

    $("#submitRejectEmployee").click(function () {
        var id = $("#employeeId").text();
        $("#rejectEmployeeLink").prop("href", "/zpas/nssa-clients/reject/" + id);
        $("#rejectEmployeeLink").find("span").click();
    });

    $("#submitDeleteEmployee").click(function () {
        var id = $("#employeeId").text();
        $("#deleteEmployeeLink").prop("href", "/zpas/nssa-clients/delete/" + id);
        $("#deleteEmployeeLink").find("span").click();
    });
</script>

<script th:inline="javascript">

    $("#editEmployeeButton").on("click", function() {
        var id = $("#employeeId").text();

        console.log('employee id ' + id);

        $("#editId").val(id);

        var title = $("#title" + id).text();
        var ssn = $("#ssn" + id).text();
        var lastName = $("#lastName" + id).text();
        var firstName = $("#firstName" + id).text();
        var otherNames = $("#otherNames" + id).text();
        var gender = $("#gender" + id).text();
        var maritalStatus = $("#maritalStatus" + id).text();
        var maidenName = $("#maidenName" + id).text();
        var nationalId = $("#nationalId" + id).text();
        var birthCertificateNumber = $("#birthCertificateNumber" + id).text();
        var passportNumber = $("#passportNumber" + id).text();
        var driversLicenceNumber = $("#driversLicenceNumber" + id).text();
        var occupationCategory = $("#occupationCategory" + id).text();
        var worksNumber = $("#worksNumber" + id).text();
        var workStationCity = $("#workStationCity" + id).text();
        var ministry = $("#ministry" + id).text();
        var natureOfEmployment = $("#natureOfEmployment" + id).text();
        var statusOfEmployment = $("#statusOfEmployment" + id).text();
        var salaryOnCommencement = $("#salaryOnCommencement" + id).text();
        var emailAddress = $("#emailAddress" + id).text();
        var occupation = $("#occupation" + id).text();
        var mobileNumber = $("#mobileNumber" + id).text();
        var phoneNumber = $("#phoneNumber" + id).text();
        var dateOfBirthString = $("#dateOfBirth" + id).text();
        var employmentStartDateString = $("#employmentStartDate" + id).text();

        console.log(" date Of birth and employment start date are: " + dateOfBirthString + employmentStartDateString);


        $("#editTitle").val(title);
        $("#editSSN").val(ssn);
        $("#editLastName").val(lastName);
        $("#editFirstName").val(firstName);
        $("#editOtherNames").val(otherNames);
        $("#editGender").val(gender);
        $("#editMaritalStatus").val(maritalStatus);
        $("#editMaidenName").val(maidenName);
        $("#editNationalId").val(nationalId);
        $("#editBirthCertificateNumber").val(birthCertificateNumber);
        $("#editPassportNumber").val(passportNumber);
        $("#editDriversLicenceNumber").val(driversLicenceNumber);
        $("#editOccupationCategory").val(occupationCategory);
        $("#editWorksNumber").val(worksNumber);
        $("#editWorkStationCity").val(workStationCity);
        $("#editMinistry").val(ministry);
        $("#editNatureOfEmployment").val(natureOfEmployment);
        $("#editStatusOfEmployment").val(statusOfEmployment);
        $("#editSalaryOnCommencement").val(salaryOnCommencement);
        $("#editEmailAddress").val(emailAddress);
        $("#editOccupation").val(occupation);
        $("#editMobileNumber").val(mobileNumber);
        $("#editPhoneNumber").val(phoneNumber);
        $("#editDateOfBirth").val(dateOfBirthString);
        $("#editEmploymentStartDate").val(employmentStartDateString);
    });

    $(document).ready(function () {
        $("#editEmployeeDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/nssa-clients/employees/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#title' + response.object.id).text(response.object.title);
                        $('#ssn' + response.object.id).text(response.object.ssn);
                        $('#lastName' + response.object.id).text(response.object.lastName);
                        $('#firstName' + response.object.id).text(response.object.firstName);
                        $('#otherNames' + response.object.id).text(response.object.otherNames);
                        $('#gender' + response.object.id).text(response.object.gender);
                        $('#maritalStatus' + response.object.id).text(response.object.maritalStatus);
                        $('#maidenName' + response.object.id).text(response.object.maidenName);
                        $('#nationalId' + response.object.id).text(response.object.nationalId);
                        $('#birthCertificateNumber' + response.object.id).text(response.object.birthCertificateNumber);
                        $('#passportNumber' + response.object.id).text(response.object.passportNumber);
                        $('#driversLicenceNumber' + response.object.id).text(response.object.driversLicenceNumber);
                        $('#occupationCategory' + response.object.id).text(response.object.occupationCategory);
                        $('#worksNumber' + response.object.id).text(response.object.worksNumber);
                        $('#workStationCity' + response.object.id).text(response.object.workStationCity);
                        $('#ministry' + response.object.id).text(response.object.ministry);
                        $('#natureOfEmployment' + response.object.id).text(response.object.natureOfEmployment);
                        $('#statusOfEmployment' + response.object.id).text(response.object.statusOfEmployment);
                        $('#salaryOnCommencement' + response.object.id).text(response.object.salaryOnCommencement);
                        $('#emailAddress' + response.object.id).text(response.object.emailAddress);
                        $('#occupation' + response.object.id).text(response.object.occupation);
                        $('#mobileNumber' + response.object.id).text(response.object.mobileNumber);
                        $('#phoneNumber' + response.object.id).text(response.object.phoneNumber);
                        $('#status' + response.object.id).text(response.object.status);
                        $('#dateOfBirth' + response.object.id).text(response.object.dateOfBirthString);
                        $('#employmentStartDate' + response.object.id).text(response.object.employmentStartDateString);
                    } else {
                        //Notification
                    }
                    // $('#editEmployeeDetails').modal('hide');
                    //location.reload();
                }
            );
            window.location.reload();
            // $('#editEmployeeDetails').modal('hide');
            return false;
        });
    });
</script>

</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
