<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head th:replace="main/general.html :: headIncludes">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div th:insert="main/general.html :: header" class="app-header header-shadow">

    </div>
    <div th:insert="main/general.html :: themeSettings" class="ui-theme-settings">

    </div>
    <div class="app-main">
        <div th:insert="main/general.html :: sideBar" class="app-sidebar sidebar-shadow">

        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="lnr-map text-info">
                                </i>
                            </div>
                            <div>View Employee Details
                                <div class="page-title-subheading">View Employee Details
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">

                            <div class="d-inline-block dropdown">
                                <!--<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                    Employee Actions
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/profile/manage}">
                                                <i class="nav-link-icon lnr-list"></i>
                                                <span>
                                                        Manage Profiles
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->

                                <a id="approveEmployeeDependentLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-primary"
                                   sec:authorize="hasAuthority('ROLE_APPROVE_CLIENT')"
                                   th:if="${employeeDependent.getEntityStatus() != null and employeeDependent.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT) ||
                                   employeeDependent.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_EDIT_APPROVAL)}"
                                   data-toggle="modal" data-target="#approveEmployeeDependentModal">
                                        <span>
                                            <i class="fa fa-check"></i>
                                        </span> Approve
                                </a>
                                <a id="rejectEmployeeDependentLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-warning"
                                   sec:authorize="hasAuthority('ROLE_REJECT_CLIENT')"
                                   th:if="${employeeDependent.getEntityStatus() != null and employeeDependent.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                   data-toggle="modal" data-target="#rejectEmployeeDependentModal">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Reject
                                </a>
                                <a id="deleteEmployeeDependentLink" href="#" style="display: none"><span>click</span></a>
                                <a href="#" class="btn btn-danger"
                                   sec:authorize="hasAuthority('ROLE_DELETE_CLIENT')"
                                   th:if="${employeeDependent.getEntityStatus() != null and employeeDependent.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).PENDING_APPROVAL) ||
                                   employeeDependent.getEntityStatus().equals(T(zw.co.esolutions.zpas.utilities.enums.EntityStatus).DRAFT)}"
                                   data-toggle="modal" data-target="#deleteEmployeeDependentModal">
                                        <span>
                                            <i class="fa fa-ban"></i>
                                        </span> Delete
                                </a>

                                <!--<button type="button" class="btn mr-2 mb-2 btn-primary" role="button"
                                        data-toggle="modal" data-target="#editEmployeeDependentDetails" id="editEmployeeDependentButton">
                                    Edit
                                </button>-->
                                <a href="#" data-toggle="modal" data-target="#editEmployeeDependentDetails" id="editEmployeeDependentButton" class="btn btn-primary">
                                    Edit Dependent
                                </a>

                                <a th:href="'/zpas/nssa-clients/details/' + ${employeeDependent.employeeid}">
                                    View Employee
                                </a>


                            </div>
                        </div>
                    </div>
                </div>

                <!--###=================================================================================================###-->
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Employee Dependent Details</h5>
                        <span id="employeeDependentId" th:text="${employeeDependent.id}" style="display: none"></span>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="mb-0 table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Dependent Type</th>
                                        <td th:id="'dependentType' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.dependentType}"></td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td th:id="'lastname' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.lastName}"></td>
                                    </tr>

                                    <tr>
                                        <th>First Name</th>
                                        <td th:id="'firstName' + ${employeeDependent.getId()}" th:text="${employeeDependent.firstName}"></td>
                                    </tr>

                                    <tr>
                                        <th>Other Names</th>
                                        <td th:id="'otherNames' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.otherNames}"></td>
                                    </tr>

                                    <tr>
                                        <th>Gender</th>
                                        <td th:id="'gender' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.gender}"></td>
                                    </tr>

                                    <tr>
                                        <th>Nationality</th>
                                        <td th:id="'nationality' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.nationality}"></td>
                                    </tr>

                                    <tr>
                                        <th>Citizenship</th>
                                        <td th:id="'citizenship' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.citizenship}"></td>
                                    </tr>

                                    <tr>
                                        <th>Date Of Birth</th>
                                        <td th:id="'dateOfBirth' + ${employeeDependent.getId()}" th:text="${employeeDependent.dateOfBirth}"></td>
                                    </tr>

                                    <tr>
                                        <th>SSN</th>
                                        <td th:id="'ssn' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.ssn}"></td>
                                    </tr>

                                    <tr>
                                        <th>Title</th>
                                        <td th:id="'title' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.title}"></td>
                                    </tr>

                                    <tr>
                                        <th>Passport Number</th>
                                        <td th:id="'passportNumber' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.passportNumber}"></td>
                                    </tr>


                                    <tr>
                                        <th>Drivers Licence</th>
                                        <td th:id="'driversLicence' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.driversLicence}"></td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td th:id="'entityStatus' + ${employeeDependent.getId()}"
                                            th:text="${employeeDependent.entityStatus}"></td>
                                    </tr>

                                    <tr>
                                        <th>Date Created</th>
                                        <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('dd MMM yyyy HH:mm').format(T(zw.co.esolutions.zpas.utilities.util.DateUtil).toLocalDateTime(employeeDependent.dateCreated))}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--###=================================================================================================###-->

            </div>
            <div th:insert="main/general.html :: footer" class="app-wrapper-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveEmployeeDependentModal" tabindex="-1" role="dialog"
     aria-labelledby="approveEmployeeDependentLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="approveEmployeeDependentTitle">Confirm Approve</strong></h6>
                <form class="" method="post" name="approveEmployeeDependentForm" id="approveEmployeeDependentForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to approve?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitApproveEmployeeDependent" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nssa-clients/approve/employee-dependent/{id}(id=${employeeDependent.employeeid})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectEmployeeDependentModal" tabindex="-1" role="dialog"
     aria-labelledby="rejectEmployeeDependentLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="rejectEmployeeDependentTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectEmployeeDependentForm" id="rejectEmployeeDependentForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitRejectEmployeeDependent" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nssa-clients/reject/employee-dependent/{id}(id=${employeeDependent.employeeid})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEmployeeDependentModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteEmployeeDependentLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong id="deleteEmployeeDependentTitle">Confirm Reject</strong></h6>
                <form class="" method="post" name="rejectEmployeeDependentForm" id="deleteEmployeeDependentForm">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">
                                <!--<h5 id="rejectOrDeleteMandateSubTitle"></h5>-->
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <h6>Are you sure you want to reject?</h6>
                                    </div>
                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">No
                                        </button>
                                        <button type="button" id="submitDeleteEmployeeDependent" data-dismiss="modal"
                                                class="btn-shadow btn-wide btn btn-success btn-sm"
                                                th:href="@{/nsaa-clients/delete/employee-dependent/{id}(id=${employeeDependent.employeeid})}">
                                            Yes
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- edit employee dependent details modal-->
<div class="modal fade" id="editEmployeeDependentDetails" tabindex="-1" role="dialog" aria-labelledby="editEmployeeDependentDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="modal-title"><strong>Edit Employee Dependent Details</strong></h6>
                <form class="" method="post" name="editEmployeeDependentDetailForm" id="editEmployeeDependentDetailForm" action="/zpas/nssa-clients/employee-dependents/edit">
                    <div class="form-wizard-content">
                        <div>
                            <div class="card-body">

                                <div class="position-relative form-group" style="display: none">
                                    <label for="editId">Id</label>
                                    <input type="text" class="form-control" id="editId" name="id" required>
                                    <small class="form-text text-muted"></small>
                                </div>

                                <div class="card-body">

                                    <div class="form-group">
                                        <label th:for="editDependentType"><span style="color: red">* </span>select dependent type</label>
                                        <select id="editDependentType" name="dependentType" class="form-control">
                                            <option th:each="dependentType: ${dependentTypes}"
                                                    th:value="${dependentType}"
                                                    th:text="${dependentType}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="editLastName">Last Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="editLastName" name="lastName"
                                                   placeholder="Last Name"/>
                                        </div>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editFirstName">First Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="editFirstName" name="firstName"
                                                   placeholder="First Name"/>
                                        </div>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="editOtherNames">Other Names</label>
                                        <div>
                                            <input type="text" class="form-control" id="editOtherNames" name="otherNames"
                                                   placeholder="Other Names"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="editGender"><span style="color: red">* </span>Gender</label>
                                        <select id="editGender" name="gender" class="form-control">
                                            <option th:each="gender: ${genders}"
                                                    th:value="${gender}"
                                                    th:text="${gender}"></option>
                                        </select>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="editDateOfBirth"><span style="color: red">* </span>Date Of Birth</label>
                                        <input name="dateOfBirthString" id="editDateOfBirth" type="date" class="form-control"/>
                                        <small class="form-text text-muted">Client's Date Of Birth</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editNationality">Nationality</label>
                                        <div>
                                            <input type="text" class="form-control" id="editNationality" name="nationality"
                                                   placeholder="Nationality"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editNationalId">National ID</label>
                                        <div>
                                            <input type="text" class="form-control" id="editNationalId" name="nationalId"
                                                   placeholder="Nation ID"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editSSN">SSN</label>
                                        <div>
                                            <input type="text" class="form-control" id="editSSN" name="ssn"
                                                   placeholder="SSN"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label th:for="editTitle"><span style="color: red">* </span>Title</label>
                                        <select id="editTitle" name="title" class="form-control">
                                            <option th:each="title: ${titles}"
                                                    th:value="${title}"
                                                    th:text="${title}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="editDateOfMarriage">Date Of Marriage</label>
                                        <input name="dateOfMarriageString" id="editDateOfMarriage" type="date" class="form-control"/>
                                        <small class="form-text text-muted">Dependent's Date Of Marriage</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="editPassportNumber">Passport Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="editPassportNumber" name="passportNumber"
                                                   placeholder="Passport Number"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editDriversLicence">Drivers Licence</label>
                                        <div>
                                            <input type="text" class="form-control" id="editDriversLicence" name="driversLicence"
                                                   placeholder="Drivers Licence"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="position-relative form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn-shadow btn-wide btn btn-link btn-sm"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn-shadow btn-wide btn btn-success btn-sm">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="main/general.html :: appDrawer" class="app-drawer-wrapper">

</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script rel="javascript" type="text/javascript" src="/zpas/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/zpas/js/main.js"></script>
<!--Scripts for notification and dynamic menu-->
<script src="/zpas/js/alerts/sockjs-0.3.4.min.js"></script>
<script src="/zpas/js/alerts/stomp.min.js"></script>
<script type="text/javascript" src="/zpas/js/alerts/notification.js"></script>
<script type="text/javascript" src="/zpas/js/general/general.js"></script>
<!--End of scripts-->
<script>
    $("#profiles-link").addClass("mm-active");
    $("#profiles-link-users").addClass("mm-active");
</script>

<script>
    $("#submitApproveEmployeeDependent").click(function () {
        var id = $("#employeeDependentId").text();
        $("#approveEmployeeDependentLink").prop("href", "/zpas/nssa-clients/approve/employee-dependent/" + id);
        $("#approveEmployeeDependentLink").find("span").click();
    });

    $("#submitRejectEmployeeDependent").click(function () {
        var id = $("#employeeDependentId").text();
        $("#rejectEmployeeDependentLink").prop("href", "/zpas/nssa-clients/reject/employee-dependent/" + id);
        $("#rejectEmployeeDependentLink").find("span").click();
    });

    $("#submitDeleteEmployeeDependent").click(function () {
        var id = $("#employeeDependentId").text();
        $("#deleteEmployeeDependentLink").prop("href", "/zpas/nssa-clients/delete/employee-dependent/" + id);
        $("#deleteEmployeeDependentLink").find("span").click();
    });

</script>

<script th:inline="javascript">

    $("#editEmployeeDependentButton").on("click", function() {
        var id = $("#employeeDependentId").text();

        console.log('employee dependent id ' + id);

        $("#editId").val(id);

        var dependentType = $("#dependentType" + id).text();
        var lastName = $("#lastName" + id).text();
        var firstName = $("#firstName" + id).text();
        var otherNames = $("#otherNames" + id).text();
        var gender = $("#gender" + id).text();
        var dateOfBirthString = $("#dateOfBirthString" + id).text();
        var nationality = $("#nationality" + id).text();
        var nationalId = $("#nationalId" + id).text();
        var ssn = $("#ssn" + id).text();
        var title = $("#title" + id).text();
        var dateOfMarriage = $("#dateOfMarriage" + id).text();
        var passportNumber = $("#passportNumber" + id).text();
        var driversLicenceNumber = $("#driversLicenceNumber" + id).text();

        $("#editDependentType").val(dependentType);
        $("#editLastName").val(lastName);
        $("#editFirstName").val(firstName);
        $("#editOtherNames").val(otherNames);
        $("#editGender").val(gender);
        $("#editDateOfBirth").val(dateOfBirthString);
        $("#editNationality").val(nationality);
        $("#editNationalId").val(nationalId);
        $("#editSSN").val(ssn);
        $("#editTitle").val(title);
        $("#editDateOfMarriage").val(dateOfMarriage);
        $("#editPassportNumber").val(passportNumber);
        $("#editDriversLicenceNumber").val(driversLicenceNumber);
    });

    $(document).ready(function () {
        $("#editEmployeeDetailForm").submit(function (e) {
            e.preventDefault();
            $.post('/zpas/nssa-clients/employee-dependents/edit',
                $(this).serialize(),
                function (response) {
                    console.log("Response | " + JSON.stringify(response));
                    // when there are an error then show error
                    if (response.responseCode === '00') {
                        //Notification
                        console.log("Success");
                        $('#dependentType' + response.object.id).text(response.object.dependentType);
                        $('#lastName' + response.object.id).text(response.object.lastName);
                        $('#firstName' + response.object.id).text(response.object.firstName);
                        $('#otherNames' + response.object.id).text(response.object.otherNames);
                        $('#gender' + response.object.id).text(response.object.gender);
                        $('#dateOfBirth' + response.object.id).text(response.object.dateOfBirthString);
                        $('#nationality' + response.object.id).text(response.object.nationality);
                        $('#ssn' + response.object.id).text(response.object.ssn);
                        $('#title' + response.object.id).text(response.object.title);
                        $('#dateOfMarriage' + response.object.id).text(response.object.dateOfMarriageString);
                        $('#passportNumber' + response.object.id).text(response.object.passportNumber);
                        $('#driversLicenceNumber' + response.object.id).text(response.object.driversLicenceNumber);

                    } else {
                        //Notification
                    }
                    // $('#editEmployeeDetails').modal('hide');
                    //location.reload();
                }
            );
            window.location.reload();
            // $('#editEmployeeDetails').modal('hide');
            return false;
        });
    });
</script>


</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 14:55:54 GMT -->
</html>
